---
http_interactions:
- request:
    method: get
    uri: https://beta-engine.energytransitionmodel.com/api/v3/scenarios/763642
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_ivvHWmN6B5KkmCGa
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"10f7a3789c518ad49e0f283cb67a06c1"
    body:
      encoding: UTF-8
      string: '{"id":763642,"created_at":"2017-11-23T00:20:13.000Z","updated_at":"2017-11-23T00:20:13.000Z","user_values":{},"end_year":2050,"keep_compatible":false,"private":false,"area_code":"nl","source":"Mechanical
        Turk","balanced_values":{},"metadata":{},"start_year":2015,"coupling":false,"owner":null,"scaling":null,"template":null,"url":"https://beta-engine.energytransitionmodel.com/api/v3/scenarios/763642"}'
  recorded_at: Thu, 14 Dec 2023 02:16:12 GMT
- request:
    method: post
    uri: https://beta-engine.energytransitionmodel.com/api/v3/scenarios
    body:
      encoding: UTF-8
      string: '{"scenario":{"source":"ETM","scenario_id":763642}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer access_ivvHWmN6B5KkmCGa
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4484c80a907cb10bdf18804458a13eb0"
    body:
      encoding: UTF-8
      string: '{"id":2510672,"created_at":"2023-12-14T02:16:12.000Z","updated_at":"2023-12-14T02:16:12.000Z","user_values":{},"end_year":2050,"keep_compatible":false,"private":false,"area_code":"nl","source":"ETM","balanced_values":{},"metadata":{},"start_year":2015,"coupling":false,"owner":null,"scaling":null,"template":763642,"url":"https://beta-engine.energytransitionmodel.com/api/v3/scenarios/2510672"}'
  recorded_at: Thu, 14 Dec 2023 02:16:12 GMT
recorded_with: VCR 6.0.0
