---
http_interactions:
- request:
    method: get
    uri: https://beta-engine.energytransitionmodel.com/api/v3/scenarios/828362
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_DJBcvN1TKKLZWzhX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a7c2277abe528ba207a849aae4e47b2e"
    body:
      encoding: UTF-8
      string: '{"id":828362,"created_at":"2018-03-09T00:07:46.000Z","updated_at":"2018-03-09T00:07:47.000Z","user_values":{},"end_year":2050,"keep_compatible":false,"private":false,"area_code":"nl","source":"Mechanical
        Turk","balanced_values":{},"metadata":{},"start_year":2015,"coupling":false,"owner":null,"scaling":null,"template":null,"url":"https://beta-engine.energytransitionmodel.com/api/v3/scenarios/828362"}'
  recorded_at: Thu, 14 Dec 2023 02:16:12 GMT
- request:
    method: post
    uri: https://beta-engine.energytransitionmodel.com/api/v3/scenarios
    body:
      encoding: UTF-8
      string: '{"scenario":{"source":"ETM","scenario_id":828362}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer access_DJBcvN1TKKLZWzhX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"eee5df1aac5e4792248545d0758daed5"
    body:
      encoding: UTF-8
      string: '{"id":2510671,"created_at":"2023-12-14T02:16:12.000Z","updated_at":"2023-12-14T02:16:12.000Z","user_values":{},"end_year":2050,"keep_compatible":false,"private":false,"area_code":"nl","source":"ETM","balanced_values":{},"metadata":{},"start_year":2015,"coupling":false,"owner":null,"scaling":null,"template":828362,"url":"https://beta-engine.energytransitionmodel.com/api/v3/scenarios/2510671"}'
  recorded_at: Thu, 14 Dec 2023 02:16:12 GMT
recorded_with: VCR 6.0.0
