---
http_interactions:
- request:
    method: post
    uri: https://beta.engine.energytransitionmodel.com/api/v3/scenarios/merge
    body:
      encoding: UTF-8
      string: '{"scenarios":[{"scenario_id":"925863","weight":"1.0"},{"scenario_id":"925864","weight":"2.0"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dc8fb9aa641313035fffcb4c0648ca24"
    body:
      encoding: UTF-8
      string: '{"id":2179001,"created_at":"2022-12-19T19:33:41.000Z","updated_at":"2022-12-19T19:33:41.000Z","user_values":{},"end_year":2050,"keep_compatible":false,"private":false,"area_code":"nl","source":"ETEngine
        Merger","balanced_values":{},"metadata":{},"start_year":2015,"template":null,"esdl_exportable":false,"url":"https://beta.engine.energytransitionmodel.com/api/v3/scenarios/2179001"}'
  recorded_at: Mon, 19 Dec 2022 19:33:41 GMT
recorded_with: VCR 6.0.0
