---
http_interactions:
- request:
    method: post
    uri: https://beta-engine.energytransitionmodel.com/api/v3/scenarios/merge
    body:
      encoding: UTF-8
      string: '{"scenarios":[{"scenario_id":"925863","weight":"1.0"},{"scenario_id":"925864","weight":"2.0"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"aa5402c900cbb310076d738821fccd86"
    body:
      encoding: UTF-8
      string: '{"id":2660736,"created_at":"2025-02-28T09:35:56.000Z","updated_at":"2025-02-28T09:35:56.000Z","user_values":{},"end_year":2050,"keep_compatible":false,"private":false,"area_code":"nl","source":"ETEngine
        Merger","balanced_values":{},"metadata":{},"active_couplings":[],"start_year":2015,"inactive_couplings":[],"users":[],"scaling":null,"template":null,"url":"https://beta-engine.energytransitionmodel.com/api/v3/scenarios/2660736"}'
  recorded_at: Fri, 28 Feb 2025 09:35:56 GMT
recorded_with: VCR 6.0.0
