%h2 Interface map

%a(href="#" onclick="$('ul.slides').toggle(); return false;") toggle slides
%a(href="#" onclick="$('ul.sliders').toggle(); return false;") toggle sliders

%ul#interface_map
  - Tab.frontend.each do |tab|
    %li
      = tab.key
      %ul
        - tab.sidebar_items.sort_by(&:position).each do |sidebar_item|
          %li
            =sidebar_item.key
            %ul.slides
              - sidebar_item.slides.sort_by(&:position).each do |slide|
                %li
                  = slide.key
                  %ul.sliders
                    - slide.sliders.sort_by(&:position).each do |slider|
                      %li= slider.key

