---
http_interactions:
- request:
    method: get
    uri: https://beta-engine.energytransitionmodel.com/api/v3/areas/PV24_flevoland.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9db5f27d680ba34046653a59d7deaaea"
    body:
      encoding: ASCII-8BIT
      string: '{"area":"PV24_flevoland","id":903,"parent_id":903,"group":"province","analysis_year":2016,"has_agriculture":true,"has_buildings":true,"has_climate":true,"has_coastline":true,"has_cold_network":false,"has_electricity_storage":true,"has_employment":true,"has_fce":true,"has_industry":true,"has_lignite":false,"has_merit_order":true,"has_metal":true,"has_mountains":false,"has_old_technologies":true,"has_other":true,"has_solar_csp":false,"has_import_export":true,"use_network_calculations":true,"use_merit_order_demands":true,"has_aggregated_chemical_industry":false,"has_detailed_chemical_industry":true,"has_coal_oil_for_heating_built_environment":false,"buildings_insulation_employment_constant":0.0093,"households_insulation_employment_constant":0.014,"co2_emission_1990_aviation_bunkers":4.6046,"co2_emission_1990_marine_bunkers":34.95619,"co2_percentage_free":0.85,"co2_price":0.0078,"ccs_cost_in_industry":90.0,"economic_multiplier":1.0,"employment_fraction_production":0.5,"employment_local_fraction":0.2,"man_hours_per_man_year":1800.0,"lv_net_spare_capacity":0.25,"lv_net_total_costs_present":16147958.5,"lv_net_costs_per_capacity_step":18320.0,"lv_net_capacity_per_step":0.02,"mv_net_spare_capacity":0.25,"mv_net_total_costs_present":13877151.83,"mv_net_costs_per_capacity_step":138000.0,"mv_net_capacity_per_step":0.2,"hv_net_spare_capacity":0.25,"hv_net_total_costs_present":8154719.042,"hv_net_costs_per_capacity_step":72800.0,"hv_net_capacity_per_step":0.2,"lv_mv_trafo_spare_capacity":0.25,"lv_mv_trafo_total_costs_present":5752710.215,"lv_mv_trafo_costs_per_capacity_step":4000.0,"lv_mv_trafo_capacity_per_step":0.02,"mv_hv_trafo_spare_capacity":0.25,"mv_hv_trafo_total_costs_present":4844387.549,"mv_hv_trafo_costs_per_capacity_step":50000.0,"mv_hv_trafo_capacity_per_step":0.2,"interconnection_net_costs_present":0.0,"offshore_net_costs_present":0.0,"flh_solar_pv_solar_radiation_max":1361.35634547,"hydrogen_electrolysis_solar_pv_capacity_ratio":0.427,"insulation_detached_houses_low_share":0.0,"insulation_detached_houses_medium_share":0.9816886363636365,"insulation_detached_houses_high_share":0.018311363636363594,"insulation_apartments_low_share":0.1700687500000001,"insulation_apartments_medium_share":0.8299312499999999,"insulation_apartments_high_share":0.0,"insulation_semi_detached_houses_low_share":0.1151153846153847,"insulation_semi_detached_houses_medium_share":0.8848846153846153,"insulation_semi_detached_houses_high_share":0.0,"insulation_corner_houses_low_share":0.0,"insulation_corner_houses_medium_share":0.96045,"insulation_corner_houses_high_share":0.03954999999999997,"insulation_terraced_houses_low_share":0.17434193548387092,"insulation_terraced_houses_medium_share":0.8256580645161291,"insulation_terraced_houses_high_share":0.0,"insulation_detached_houses_start_value":23.805699999999998,"insulation_semi_detached_houses_start_value":23.006999999999998,"insulation_apartments_start_value":26.557799999999997,"insulation_corner_houses_start_value":24.8193,"insulation_terraced_houses_start_value":25.5954,"insulation_buildings_start_value":50.97859999999999,"typical_roof_surface_corner_house_available_for_pv":3.33e-05,"typical_roof_surface_terraced_house_available_for_pv":3.25e-05,"typical_roof_surface_detached_house_available_for_pv":6.17e-05,"typical_roof_surface_semi_detached_house_available_for_pv":4.58e-05,"typical_roof_surface_apartment_available_for_pv":1.90666666666667e-05,"typical_useful_demand_space_heating_corner_house":0.0444436934929221,"typical_useful_demand_space_heating_detached_house":0.069849301483813,"typical_useful_demand_space_heating_semi_detached_house":0.0539853183103173,"typical_useful_demand_space_heating_terraced_house":0.0384769640276346,"typical_useful_demand_space_heating_apartment":0.0273790433088697,"heat_demand_reduction_medium_insulation_corner_house":23.0,"heat_demand_reduction_medium_insulation_detached_house":23.0,"heat_demand_reduction_medium_insulation_semi_detached_house":26.0,"heat_demand_reduction_medium_insulation_terraced_house":31.0,"heat_demand_reduction_medium_insulation_apartments":32.0,"heat_demand_reduction_high_insulation_corner_house":69.0,"heat_demand_reduction_high_insulation_detached_house":67.0,"heat_demand_reduction_high_insulation_semi_detached_house":69.0,"heat_demand_reduction_high_insulation_terraced_house":69.0,"heat_demand_reduction_high_insulation_apartments":67.0,"heat_demand_reduction_high_insulation_buildings":74.0,"electric_vehicle_profile_1_share":1.0,"electric_vehicle_profile_2_share":0.0,"electric_vehicle_profile_3_share":0.0,"electric_vehicle_profile_4_share":0.0,"electric_vehicle_profile_5_share":0.0,"solar_pv_profile_1_share":1.0,"solar_pv_profile_2_share":0.0,"annual_infrastructure_cost_gas":31.175284437300967,"areable_land":983.44,"co2_emission_1990":1.590727,"coast_line":124.039,"interconnector_capacity":125.60290217507621,"total_land_area":1412.54,"number_of_buildings":20843.0,"number_of_cars":335882.0,"number_of_residences":162918.0,"number_of_inhabitants":404068.0,"offshore_suitable_for_wind":1180.115816,"residences_roof_surface_available_for_pv":6.350744,"buildings_roof_surface_available_for_pv":9.256761,"other_emission_agriculture":0.530054,"other_emission_built_environment":0.014818,"other_emission_transport":0.036459,"other_emission_industry_energy":0.190822,"number_of_detached_houses":16217.020638,"number_of_apartments":32926.053636000004,"number_of_semi_detached_houses":9363.223296,"number_of_corner_houses":26646.379326000002,"number_of_terraced_houses":77765.323104,"init":{},"base_dataset":"nl","scaling":{"area_attribute":"number_of_residences","value":162918,"base_value":7587964},"uses_deprecated_initializer_inputs":false,"derived":true,"last_updated_at":"2019-09-03T17:28:35.000+02:00","useable":true}'
  recorded_at: Thu, 05 Sep 2019 10:35:10 GMT
recorded_with: VCR 3.0.3
