---
http_interactions:
- request:
    method: get
    uri: https://beta.engine.energytransitionmodel.com/api/v3/areas/PV24_flevoland.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"645fff5c9f096092a786a278537430c2"
    body:
      encoding: UTF-8
      string: '{"area":"PV24_flevoland","id":108462,"parent_id":108462,"group":"province","analysis_year":2019,"has_agriculture":true,"has_buildings":true,"has_coastline":true,"has_cold_network":false,"has_electricity_storage":true,"has_employment":true,"has_industry":true,"has_lignite":false,"has_merit_order":true,"has_metal":true,"has_mountains":false,"has_old_technologies":true,"has_other":true,"has_solar_csp":false,"has_offshore_solar":true,"has_other_emissions_section":true,"has_import_export":true,"use_network_calculations":true,"use_merit_order_demands":true,"has_weather_curves":true,"has_aggregated_chemical_industry":false,"has_detailed_chemical_industry":true,"has_coal_oil_for_heating_built_environment":false,"buildings_insulation_employment_constant":0.0093,"households_insulation_employment_constant":0.014,"co2_emission_1990_aviation_bunkers":4.6046,"co2_emission_1990_marine_bunkers":34.95619,"co2_percentage_free":0.4,"co2_price":0.02483,"offshore_ccs_potential_mt_per_year":65.0,"economic_multiplier":1.0,"employment_fraction_production":0.5,"employment_local_fraction":0.2,"man_hours_per_man_year":1800.0,"lv_net_spare_capacity":0.25,"lv_net_total_costs_present":16047831.14,"lv_net_costs_per_capacity_step":18320.0,"lv_net_capacity_per_step":0.02,"mv_net_spare_capacity":0.25,"mv_net_total_costs_present":13791104.89,"mv_net_costs_per_capacity_step":138000.0,"mv_net_capacity_per_step":0.2,"hv_net_spare_capacity":0.25,"hv_net_total_costs_present":8104154.726,"hv_net_costs_per_capacity_step":72800.0,"hv_net_capacity_per_step":0.2,"lv_mv_trafo_spare_capacity":0.25,"lv_mv_trafo_total_costs_present":5717039.844,"lv_mv_trafo_costs_per_capacity_step":4000.0,"lv_mv_trafo_capacity_per_step":0.02,"mv_hv_trafo_spare_capacity":0.25,"mv_hv_trafo_total_costs_present":4814349.342,"mv_hv_trafo_costs_per_capacity_step":50000.0,"mv_hv_trafo_capacity_per_step":0.2,"interconnection_net_costs_present":0.0,"offshore_net_costs_present":0.0,"flh_solar_pv_solar_radiation_max":1361.3,"hydrogen_electrolysis_solar_pv_capacity_ratio":0.427,"insulation_detached_houses_low_share":0.0,"insulation_detached_houses_medium_share":0.9799977272727273,"insulation_detached_houses_high_share":0.02000227272727278,"insulation_apartments_low_share":0.1695812499999999,"insulation_apartments_medium_share":0.8304187500000001,"insulation_apartments_high_share":0.0,"insulation_semi_detached_houses_low_share":0.11439230769230768,"insulation_semi_detached_houses_medium_share":0.8856076923076923,"insulation_semi_detached_houses_high_share":0.0,"insulation_corner_houses_low_share":0.0,"insulation_corner_houses_medium_share":0.958995652173913,"insulation_corner_houses_high_share":0.04100434782608693,"insulation_terraced_houses_low_share":0.17210967741935485,"insulation_terraced_houses_medium_share":0.8278903225806451,"insulation_terraced_houses_high_share":0.0,"insulation_detached_houses_start_value":23.880100000000002,"insulation_semi_detached_houses_start_value":23.0258,"insulation_apartments_start_value":26.573400000000003,"insulation_corner_houses_start_value":24.8862,"insulation_terraced_houses_start_value":25.6646,"insulation_buildings_start_value":51.4885,"typical_roof_surface_corner_house_available_for_pv":3.33e-05,"typical_roof_surface_terraced_house_available_for_pv":3.25e-05,"typical_roof_surface_detached_house_available_for_pv":6.17e-05,"typical_roof_surface_semi_detached_house_available_for_pv":4.58e-05,"typical_roof_surface_apartment_available_for_pv":1.90666666666667e-05,"typical_useful_demand_space_heating_corner_house":0.0444436934929221,"typical_useful_demand_space_heating_detached_house":0.069849301483813,"typical_useful_deman[...]
