---
http_interactions:
- request:
    method: get
    uri: https://beta-engine.energytransitionmodel.com/api/v3/areas/GM0599_rotterdam.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f62fd3f971de47e8451c03a2a68c7897"
    body:
      encoding: UTF-8
      string: '{"area":"GM0599_rotterdam","id":121618,"parent_id":121618,"group":"municipality","analysis_year":2019,"has_agriculture":true,"has_buildings":true,"has_semi_detached_houses":true,"has_coastline":true,"has_cold_network":false,"has_electricity_storage":true,"has_employment":true,"has_industry":true,"has_lignite":false,"has_merit_order":true,"has_metal":true,"has_mountains":false,"has_old_technologies":true,"has_other":true,"has_solar_csp":false,"has_offshore_solar":true,"has_other_emissions_section":true,"has_import_export":true,"use_network_calculations":true,"use_merit_order_demands":true,"has_weather_curves":true,"has_aggregated_chemical_industry":false,"has_detailed_chemical_industry":true,"has_coal_oil_for_heating_built_environment":false,"has_aquathermal_potential_for_surface_water":false,"has_aquathermal_potential_for_waste_water":false,"has_aquathermal_potential_for_drink_water":false,"co2_emission_1990_aviation_bunkers":4.6046,"co2_emission_1990_marine_bunkers":34.95619,"co2_percentage_free":0.4,"co2_price":0.02483,"captured_biogenic_co2_price":0.02483,"offshore_ccs_potential_mt_per_year":65.0,"lv_net_spare_capacity":0.25,"lv_net_total_costs_present":56863390.2,"lv_net_costs_per_capacity_step":18320.0,"lv_net_capacity_per_step":0.02,"mv_net_spare_capacity":0.25,"mv_net_total_costs_present":48866975.95,"mv_net_costs_per_capacity_step":138000.0,"mv_net_capacity_per_step":0.2,"hv_net_spare_capacity":0.25,"hv_net_total_costs_present":28716012.05,"hv_net_costs_per_capacity_step":72800.0,"hv_net_capacity_per_step":0.2,"lv_mv_trafo_spare_capacity":0.25,"lv_mv_trafo_total_costs_present":20257582.76,"lv_mv_trafo_costs_per_capacity_step":4000.0,"lv_mv_trafo_capacity_per_step":0.02,"mv_hv_trafo_spare_capacity":0.25,"mv_hv_trafo_total_costs_present":17059017.06,"mv_hv_trafo_costs_per_capacity_step":50000.0,"mv_hv_trafo_capacity_per_step":0.2,"interconnection_net_costs_present":0.0,"offshore_net_costs_present":0.0,"flh_solar_pv_solar_radiation_max":1361.3,"hydrogen_electrolysis_solar_pv_capacity_ratio":0.427,"present_share_of_apartments_before_1945_in_useful_demand_for_space_heating":0.22913897,"present_share_of_apartments_1945_1964_in_useful_demand_for_space_heating":0.12289859,"present_share_of_apartments_1965_1984_in_useful_demand_for_space_heating":0.16001611,"present_share_of_apartments_1985_2004_in_useful_demand_for_space_heating":0.15184594,"present_share_of_apartments_2005_present_in_useful_demand_for_space_heating":0.06788882,"pre[...]
