---
http_interactions:
- request:
    method: get
    uri: https://beta-engine.energytransitionmodel.com/api/v3/scenarios/648695.json?detailed=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7a982ba738d3c9feede162fcf925644c"
    body:
      encoding: ASCII-8BIT
      string: '{"id":648695,"title":"ETM Test Scenario","area_code":"nl","start_year":2015,"end_year":2050,"description":null,"url":"https://beta-engine.energytransitionmodel.com/api/v3/scenarios/648695","ordering":null,"display_group":null,"scaling":null,"source":"ETM","template":null,"created_at":"2017-03-13T20:22:35.000+01:00","use_fce":false,"user_values":{}}'
  recorded_at: Tue, 03 Dec 2019 15:42:45 GMT
recorded_with: VCR 3.0.3
