---
http_interactions:
- request:
    method: post
    uri: https://beta-engine.energytransitionmodel.com/api/v3/scenarios.json
    body:
      encoding: UTF-8
      string: '{"scenario":{"scenario_id":12345,"title":"title","protected":true,"source":"ETM"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2fb9aea3ee114151b9724c9705aef112"
    body:
      encoding: ASCII-8BIT
      string: '{"id":1268742,"title":"title","area_code":"nl","start_year":2015,"end_year":2050,"url":"https://beta-engine.energytransitionmodel.com/api/v3/scenarios/1268742","ordering":null,"display_group":null,"scaling":null,"source":"ETM","template":null,"created_at":"2020-02-17T10:34:37.000+01:00"}'
  recorded_at: Mon, 17 Feb 2020 09:34:37 GMT
recorded_with: VCR 3.0.3
