---
http_interactions:
- request:
    method: get
    uri: https://beta-engine.energytransitionmodel.com/api/v3/scenarios/685806
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_BuRcy9y4YwZraDJf
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6ec818f3fca2b8cda405cadc609830f5"
    body:
      encoding: UTF-8
      string: '{"id":685806,"created_at":"2017-06-15T00:04:57.000Z","updated_at":"2017-06-15T00:04:58.000Z","user_values":{},"end_year":2050,"keep_compatible":false,"private":false,"area_code":"nl","source":"Mechanical
        Turk","balanced_values":{},"metadata":{},"start_year":2015,"coupling":false,"owner":null,"scaling":null,"template":null,"url":"https://beta-engine.energytransitionmodel.com/api/v3/scenarios/685806"}'
  recorded_at: Thu, 14 Dec 2023 02:16:59 GMT
- request:
    method: post
    uri: https://beta-engine.energytransitionmodel.com/api/v3/scenarios
    body:
      encoding: UTF-8
      string: '{"scenario":{"source":"ETM","scenario_id":685806}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer access_BuRcy9y4YwZraDJf
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"23a8db31f22ba5372faa89f21fc9ccac"
    body:
      encoding: UTF-8
      string: '{"id":2510675,"created_at":"2023-12-14T02:17:00.000Z","updated_at":"2023-12-14T02:17:00.000Z","user_values":{},"end_year":2050,"keep_compatible":false,"private":false,"area_code":"nl","source":"ETM","balanced_values":{},"metadata":{},"start_year":2015,"coupling":false,"owner":null,"scaling":null,"template":685806,"url":"https://beta-engine.energytransitionmodel.com/api/v3/scenarios/2510675"}'
  recorded_at: Thu, 14 Dec 2023 02:17:00 GMT
recorded_with: VCR 6.0.0
