- title "Release"

%p
  %strong="#{column_name}:"
  =h @area.send(column_name)

%p
  = link_to "Edit", edit_admin_area_path(@area)
  |
  = link_to "Destroy", [:admin, @area], :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", admin_areas_path
