%p= t("choose_country")
%select{:name => "area_code"}
  - area_links.each do |area_code|
    - if area_code == :separator
      %option(disabled='disabled') &mdash;
    - elsif area_code[:data]
      - if area_code[:data].any?
        %optgroup{:label => area_code[:text]}
          - area_code[:data].each do |sub_area_code|
            = country_option sub_area_code[:area_code], :test => sub_area_code[:test]
    - else
      = country_option area_code[:area_code], :test => area_code[:test], earliest: Api::Area.find_by_country_memoized(area_code[:area_code]).analysis_year + 1
