#resume-scenario
  %a{ href: Current.setting.last_etm_page || play_path }
    = t('continue').titleize
    %span.details
      %span.country{ class: area_css_class(Current.setting.area) }
        = current_area_name
      %span.period= Current.setting.end_year
      - if Current.setting.active_scenario_title.present?
        %span.country{ class: area_css_class(Current.setting.area) }
          = Current.setting.active_scenario_title
