#resume-scenario
  %a{ href: Current.setting.last_etm_page || play_path }
    %span.root-button
      = t('continue').titleize
      %span.fa.fa-chevron-right
      %span.fa.fa-chevron-right
    %span.title
      == #{t('intro.your_current_scenario')}&hellip;
    %span.details
      %span.country{ class: area_css_class(Current.setting.area) }
        = current_area_name
      %span.period= Current.setting.end_year
