%li
  - header = if %w{ actueel featured }.include?(group.downcase) 
    - t('scenario.featured_display_group')
  - elsif %w{ overig other }.include?(group.downcase)
    - t('scenario.general_display_group')
  - else 
    - group
  %strong #{ header }
- scenarios.each do |scenario|
  %li
    = link_to truncate(scenario.title, :length => 40).html_safe, scenario_path(scenario)