%li
  - group_key = group.is_a?(String) ? group.downcase : nil
  %strong= t("scenario.#{ group_key }", default: group)

- scenarios.each do |scenario|
  %li
    = link_to truncate(scenario.title, :length => 40).html_safe, scenario_path(scenario)
