- if has_active_scenario?
  %button.button.primary(type="submit" data-confirm="#{ t('newscenario') }")
    Start
    %span.right-icon

- else
  %button.button.primary(type="submit")
    Start
    %span.right-icon

  = hidden_field_tag :reset, '1'
