<header>
  <div class="inner">
    <h1>Your Scenario Results</h1>
    <p class="scenario-details">
      {% current_date %}
      <span class="bullet">&bull;</span>
      {% link_to_scenario %}
      <span class="bullet">&bull;</span>
      by Quintel<br />
      <span class="region {{ settings.area_code }}">
        {{ settings.area_name }}
      </span>
      <span class="bullet">&bull;</span>
      {{ settings.start_year }}
      to {{ settings.end_year }}
    </p>
  </div>
</header>

<main>
  <div class="retirement-banner">
    <p>
      <strong>Notice:</strong>
      The <u>Scenario report</u> and the <u>Energy mix</u> visuals are no longer supported by the Energy Transition Model (ETM).
      The ETM offers many new visualizations that may meet your needs.
      For more information, please contact
      <a href="mailto:info@energytransitionmodel.com">info@energytransitionmodel.com</a>.
    </p>
  </div>

  <div class="report-charts-row">
    <div class="report-chart-col">
      <h2>Energy overview</h2>
      {% chart sankey_energy_overview %}
        Overview of all energy flows in the scenario.
      {% endchart %}
    </div>

    <div class="report-chart-col">
      <h2>CO<sub>2</sub> emissions</h2>
      {% chart co2_emissions %}
        CO<sub>2</sub> emissions based on primary energy demand broken down by sector.
      {% endchart %}
    </div>

    <div class="report-chart-col">
      <h2>Electricity production</h2>
      {% chart source_of_electricity_production %}
        Electricity mix by source.
      {% endchart %}
    </div>

    <div class="report-chart-col">
      <h2>Hourly electricity production</h2>
      {% chart merit_order_hourly_supply %}
        Hourly electricity supply by source.
      {% endchart %}
    </div>
  </div>
</main>
