<header>
  <div class="inner">
    <h1>Resultaten van Jouw Scenario</h1>
    <p class="scenario-details">
      {% current_date %}
      <span class="bullet">&bull;</span>
      {% link_to_scenario %}
      <span class="bullet">&bull;</span>
      door Quintel<br />
      <span class="region {{ settings.area_code }}">
        {{ settings.area_name }}
      </span>
      <span class="bullet">&bull;</span>
      {{ settings.start_year }}
      tot {{ settings.end_year }}
    </p>
  </div>
</header>

<main>
  <div class="retirement-banner">
    <p>
      <strong>Melding:</strong>
      Het <u>Scenarioverslag</u> en de <u>Energiemix</u>-visualisaties worden niet langer ondersteund door het Energietransitiemodel (ETM).
      Het ETM biedt vele nieuwe visualisaties die mogelijk aan uw behoeften voldoen.
      Neem voor meer informatie contact op met
      <a href="mailto:info@energytransitionmodel.com">info@energytransitionmodel.com</a>.
    </p>
  </div>

  <div class="report-charts-row">
    <div class="report-chart-col">
      <h2>Energieoverzicht</h2>
      {% chart sankey_energy_overview %}
        Overzicht van alle energiestromen in het scenario.
      {% endchart %}
    </div>

    <div class="report-chart-col">
      <h2>CO<sub>2</sub>-uitstoot</h2>
      {% chart co2_emissions %}
        CO<sub>2</sub>-uitstoot gebaseerd op primair energiegebruik, uitgesplitst per sector.
      {% endchart %}
    </div>

    <div class="report-chart-col">
      <h2>Elektriciteitsproductie</h2>
      {% chart source_of_electricity_production %}
        Elektriciteitsmix per bron.
      {% endchart %}
    </div>

    <div class="report-chart-col">
      <h2>Uurlijkse elektriciteitsproductie</h2>
      {% chart merit_order_hourly_supply %}
        Uurlijks elektriciteitsaanbod per bron.
      {% endchart %}
    </div>
  </div>
</main>
