<header>
  <div class="inner">
    <h1>Scenariorapport</h1>
    <p class="scenario-details">
      {% current_date %}
      <span class="bullet">&bull;</span>
      {% link_to_scenario %}
      <span class="bullet">&bull;</span>
      uit het Energietransitiemodel<br/>
      <span class="region {{ settings.area_code }}">
        {{ settings.area_name }}
      </span>
      <span class="bullet">&bull;</span>
      {{ settings.start_year }}
      tot {{ settings.end_year }}
    </p>
  </div>
</header>

<main>
  <div class="retirement-notice">
    <span class="icon fa fa-magic"></span>
    <div>
      <p>
        Het <u>Scenariorapport</u> en de
        <a href="https://docs.energytransitionmodel.com/main/factsheet" target="_blank">
          <u>Energiemix infographic</u>
        </a>
        worden niet langer ondersteund door het Energietransitiemodel (ETM).
      </p>
      <p>
        Het ETM biedt vele nieuwe visualisaties die mogelijk beter aan uw behoeften voldoen.
        Hieronder vindt u een aantal grafiekvoorbeelden uit het brede aanbod van grafieken in het ETM.
      </p>
      <p>
        Neem voor vragen of suggesties contact op met
        <a href="mailto:info@energytransitionmodel.com">info@energytransitionmodel.com</a>.
      </p>
    </div>
  </div>

  <div class="report-charts-row">
    <div class="report-chart-col">
      <h2>Energieoverzicht</h2>
      {% chart sankey_energy_overview %}
        Overzicht van alle energiestromen in het scenario.
      {% endchart %}
    </div>

    <div class="report-chart-col">
      <h2>CO<sub>2</sub>-uitstoot</h2>
      {% chart co2_emissions %}
        CO<sub>2</sub>-uitstoot gebaseerd op primair energiegebruik, uitgesplitst per sector.
      {% endchart %}
    </div>

    <div class="report-chart-col">
      <h2>Elektriciteitsproductie</h2>
      {% chart source_of_electricity_production %}
        Elektriciteitsmix per bron.
      {% endchart %}
    </div>

    <div class="report-chart-col">
      <h2>Uurlijkse elektriciteitsproductie</h2>
      {% chart merit_order_hourly_supply %}
        Uurlijks elektriciteitsaanbod per bron.
      {% endchart %}
    </div>
  </div>
</main>
