<header>
  <div class="inner">
    <h1>Scenario report</h1>
    <p class="scenario-details">
      {% current_date %}
      <span class="bullet">&bull;</span>
      {% link_to_scenario %}
      <span class="bullet">&bull;</span>
      from the Energy Transition Model<br/>
      <span class="region {{ settings.area_code }}">
        {{ settings.area_name }}
      </span>
      <span class="bullet">&bull;</span>
      {{ settings.start_year }}
      to {{ settings.end_year }}
    </p>
  </div>
</header>

<main>
  <div class="retirement-notice">
    <span class="icon fa fa-magic"></span>
    <div>
      <p>
        The <u>Scenario report</u> and the
        <a href="https://docs.energytransitionmodel.com/main/factsheet" target="_blank">
          <u>Energy mix infographic</u>
        </a>
        are no longer supported by the Energy Transition Model (ETM).
      </p>
      <p>
        The ETM offers many new visualizations that may better meet your needs.
        Below you can find a few chart examples from the wide range of charts available across the ETM.
      </p>
      <p>
        For questions or suggestions, please contact
        <a href="mailto:info@energytransitionmodel.com">info@energytransitionmodel.com</a>.
      </p>
    </div>
  </div>

  <div class="report-charts-row">
    <div class="report-chart-col">
      <h2>Energy flow overview</h2>
      {% chart sankey_energy_overview %}
        Overview of all energy flows in the scenario.
      {% endchart %}
    </div>

    <div class="report-chart-col">
      <h2>CO<sub>2</sub> emissions</h2>
      {% chart co2_emissions %}
        CO<sub>2</sub> emissions based on primary energy demand broken down by sector.
      {% endchart %}
    </div>

    <div class="report-chart-col">
      <h2>Electricity production</h2>
      {% chart source_of_electricity_production %}
        Electricity mix by source.
      {% endchart %}
    </div>

    <div class="report-chart-col">
      <h2>Electricity production per hour</h2>
      {% chart merit_order_hourly_supply %}
        Hourly electricity supply by source.
      {% endchart %}
    </div>
  </div>
</main>
