---
http_interactions:
- request:
    method: post
    uri: https://beta-engine.energytransitionmodel.com/api/v3/scenarios.json
    body:
      encoding: UTF-8
      string: '{"scenario":{"scenario_id":648695}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ed3e3a4e7c86c8543d8765f9d668358f"
    body:
      encoding: ASCII-8BIT
      string: '{"id":1082090,"title":"API","area_code":"nl","start_year":2015,"end_year":2050,"url":"https://beta-engine.energytransitionmodel.com/api/v3/scenarios/1082090","ordering":null,"display_group":null,"scaling":null,"source":null,"template":648695,"created_at":"2019-06-14T15:54:17.000+02:00"}'
  recorded_at: Fri, 14 Jun 2019 13:54:17 GMT
recorded_with: VCR 3.0.3
