---
http_interactions:
- request:
    method: post
    uri: https://beta-engine.energytransitionmodel.com/api/v3/scenarios.json
    body:
      encoding: UTF-8
      string: '{"scenario":{"scenario_id":648695}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1c01667a591624eb9f295dbfc3ce923e"
    body:
      encoding: ASCII-8BIT
      string: '{"id":1082085,"title":"API","area_code":"nl","start_year":2015,"end_year":2050,"url":"https://beta-engine.energytransitionmodel.com/api/v3/scenarios/1082085","ordering":null,"display_group":null,"scaling":null,"source":null,"template":648695,"created_at":"2019-06-14T15:51:02.000+02:00"}'
  recorded_at: Fri, 14 Jun 2019 13:51:02 GMT
recorded_with: VCR 3.0.3
