---
http_interactions:
- request:
    method: post
    uri: https://beta-engine.energytransitionmodel.com/api/v3/scenarios.json
    body:
      encoding: UTF-8
      string: '{"scenario":{"scenario_id":648695}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"da04e539407e9d5ef45afeca693ee0ed"
    body:
      encoding: ASCII-8BIT
      string: '{"id":1397817,"title":"API","area_code":"nl","start_year":2015,"end_year":2050,"url":"https://beta-engine.energytransitionmodel.com/api/v3/scenarios/1397817","ordering":null,"display_group":null,"scaling":null,"source":null,"template":648695,"created_at":"2021-01-28T15:55:05.000Z","protected":false}'
  recorded_at: Thu, 28 Jan 2021 15:55:05 GMT
recorded_with: VCR 3.0.3
