{
  "parser": "babel-eslint",
  "env": {
    "es6": false,
    "browser": true
  },
  "extends": [
    "airbnb",
    "prettier"
  ],
  "globals": {
    "Backbone": true,
    "_": true,
    "jQuery": true,
    "$": true,
    "globals": true
  },
  "plugins": [
    "react",
    "jsx-a11y",
    "import",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-filename-extension": "off",

    "babel/arrow-parens": "off",
    "quote-props": ["error", "consistent-as-needed"],
    "no-var": "off",
    "strict": "off",
    "object-shorthand": "off",
    "func-names": "off",
    "prefer-template": "off",
    "prefer-arrow-callback": "off",
    "prefer-destructuring": "off",
    "prefer-rest-params": "off"
  }
}
