db/dumps
db/sphinx
config/development.sphinx.conf
config/initializers/hoptoad.rb
log/*
config/database.yml
config/config.yml
.yardoc
doc/*
public/tmp/*
public/packages/*
public/javascripts/all.js
public/javascripts/translations.js
public/javascripts/cache_*.js
public/stylesheets/*.css
public/system/*
public/flowplayer/*
tmp/*
public/images/converter_12*
import/*
public/assets
public/.DS_Store
etm*.sql
public/doc
vendor/bundle
.bundle
public/sprockets
*.tmproj
.powrc
.tmtags
.rvmrc
.DS_Store
coverage/*
spec/controllers/coverage/*
spec/models/coverage/*
