db/dumps
db/sphinx
config/development.sphinx.conf
log/*
config/database.yml
config/config.yml
.yardoc
doc/*
public/tmp/*
public/packages/*
public/assets/*
public/system/*
public/flowplayer/*
public/videos/*
tmp/*
import/*
etm*.sql
public/doc
vendor/bundle
.bundle
*.tmproj
.powrc
.tmtags
tags
.rvmrc
.DS_Store
coverage/*
spec/controllers/coverage/*
spec/models/coverage/*
.sass-cache/*
public/stylesheets/
public/javascripts/all.js
public/javascripts/i18n/translations.js
solr/data/*
solr/pids/*
