
# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore Byebug command history file.
.byebug_history

db/dumps
db/sphinx
config/development.sphinx.conf
config/database.yml
config/config.yml
config/email.yml
.yardoc
doc/*
public/tmp/*
public/packages/*
public/assets/*
public/system/*
public/flowplayer/*
public/videos/*
import/*
etm*.sql
public/doc
vendor/bundle
*.tmproj
.powrc
.tmtags
tags
.rvmrc
.rbenv-version
.DS_Store
coverage/*
spec/controllers/coverage/*
spec/models/coverage/*
.sass-cache/*
public/stylesheets/
public/javascripts/all.js
public/javascripts/i18n/translations.js
*.sublime-project
*.sublime-workspace

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
