
#panel.panel.panel_tree
  .header
    %div
      -#%label#search-label{:for => 'search'} Search
      %table
        %tr
          %td
            %input#search{:'data-search_scope' => 'converters'}

  .tree
    -#= cache("construction/converters/_list/") do
    %ul    
      - Converter.includes(:groups).each do |converter|
        %li.level_0{:'data-search' => [converter.id, converter.full_key].flatten.join(' ')}
          .content
            %h1
              %a{:href => edit_construction_converter_path(:id => converter)}
                %span.id== ##{converter.id}
                %span.key= converter.key
                %span.sector= Qernel::Converter::SECTORS[converter.sector_id]
                %span.use
                  = Qernel::Converter::USES[converter.use_id] if converter.use_id != 3
