<h1><%= t('user.forgot_password.mail.header') %></h1>

<p>
  <%= t('user.forgot_password.mail.text') %>
</p>

<%= link_to t('user.forgot_password.mail.button'), edit_password_reset_url(@user.perishable_token) %>
