<p>
  Beste ETM gebruiker, (ENGLISH VERSION BELOW)
</p>
<p>
  Enige tijd geleden heeft u een scenario gemaakt met het Energietransitiemodel. Sinds die tijd zijn er enkele ingrijpende verbeteringen doorgevoerd in het model. Het is mogelijk dat daardoor de uitkomsten van uw scenario zijn veranderd. Onderaan deze mail staat een toelichting van de aanpassingen aan het model.
</p>
<p>
  Quintel streeft ernaar om het Energietransitiemodel steeds te blijven verbeteren. Dit betekent echter dat het niet altijd mogelijk is om eerder gebouwde scenario's exact te handhaven. Wij hopen dat u hier begrip voor kunt opbrengen. 
</p>
<p>
  Vriendelijke groeten,
  <br>
  <br>
  Het ETM ontwikkelteam 
</p>
<p>
  Als u geen berichten meer van ons wilt ontvangen, kunt u zich via <strong><%= link_to 'deze link', @unsubscribe_link %></strong> uitschrijven voor toekomstige berichten.
</p>
<p>
  Enkele belangrijke verbeteringen: 
  <ol>
    <li>De technische en kostenparameters van alle WKK's in het ETM zijn aangepast volgens advies van 'Energy Matters'.</li>
    <li>De kosten van isolatie worden anders berekend en komen nu hoger uit.</li>
    <li>De kosten voor geëxporteerde elektriciteit uit wind en zon worden anders dan voorheen nu wel in rekening gebracht. Voorheen ging het ETM ervan uit dat hiervoor betaald werd door het buitenland. Dit is echter allerminst zeker.</li>
  </ol>
</p>
=========== ENGLISH VERSION ============
<p>
  Dear user of the ETM,
</p>
<p>
  Some time ago you have created a scenario with the Energy Transition Model. Since that time, we have made some significant improvements to the model. It is therefore possible that the results of your scenario have changed. At the bottom of the mail is an explanation of the changes to the model.
</p>
<p>
  Quintel strives to always keep improving the Energy Transition Model. This means, however, that it is not possible to exactly maintain previously built scenarios. We thank you for your understanding.
</p>
<p>
  Sincerely,
  <br> 
  <br>
  The ETM development team
</p>
<p>
  If you do not wish to receive these messages, you can unsubscribe from future mailings via <strong><%= link_to 'this link', @unsubscribe_link %></strong>.
</p>
<p>
  Some major improvements include:
  <ol>
    <li>The technical and cost parameters of all CHPs in the ETM have been adjusted following the advice of 'Energy Matters'.</li>
    <li>The cost of insulation are calculated differently and are now higher then before.</li>
    <li>The cost for exported electricity from wind and solar are no longer subtracted from the costs. Previously, the ETM assumed that exported electricity was paid for by foreign countries.</li>
  </ol>
</p>
