---
http_interactions:
- request:
    method: get
    uri: http://etengine.dev/api/v3//scenarios/123,123/batch
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - "\"c495e4e928569b69cb2150c45e702fed\""
    body:
      encoding: UTF-8
      string: "[{\"id\":123,\"title\":\"Martinus scenario run\",\"area_code\":\"nl\",\"start_year\":2011,\"end_year\":2030,\"url\":\"http://etengine.dev/api/v3/scenarios/123\",\"ordering\":null,\"display_group\":null,\"source\":null,\"template\":null,\"created_at\":\"2010-06-14T17:23:00.000+02:00\"},{\"id\":123,\"title\":\"Martinus
        scenario run\",\"area_code\":\"nl\",\"start_year\":2011,\"end_year\":2030,\"url\":\"http://etengine.dev/api/v3/scenarios/123\",\"ordering\":null,\"display_group\":null,\"source\":null,\"template\":null,\"created_at\":\"2010-06-14T17:23:00.000+02:00\"}]"
  recorded_at: Fri, 13 Dec 2013 09:39:06 GMT
- request:
    method: get
    uri: http://beta.et-engine.com/api/v3//scenarios/123,123/batch
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - "\"9a78168a4235bc3b386d28cd2e15a154\""
    body:
      encoding: UTF-8
      string: "[{\"id\":123,\"title\":\"Martinus scenario run\",\"area_code\":\"nl\",\"start_year\":2011,\"end_year\":2030,\"url\":\"http://beta.et-engine.com/api/v3/scenarios/123\",\"ordering\":null,\"display_group\":null,\"source\":null,\"template\":null,\"created_at\":\"2010-06-14T17:23:00.000+02:00\"},{\"id\":123,\"title\":\"Martinus
        scenario run\",\"area_code\":\"nl\",\"start_year\":2011,\"end_year\":2030,\"url\":\"http://beta.et-engine.com/api/v3/scenarios/123\",\"ordering\":null,\"display_group\":null,\"source\":null,\"template\":null,\"created_at\":\"2010-06-14T17:23:00.000+02:00\"}]"
  recorded_at: Tue, 11 Mar 2014 10:23:18 GMT
recorded_with: VCR 2.4.0
