---
http_interactions:
- request:
    method: get
    uri: https://beta-engine.energytransitionmodel.com/api/v3/scenarios/648695
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_whL4DA7KzLBER2ZP
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1620a809decf3f8004708dbe14f56f93"
    body:
      encoding: UTF-8
      string: '{"id":648695,"created_at":"2017-03-13T19:22:35.000Z","updated_at":"2019-12-05T09:14:10.000Z","user_values":{},"end_year":2050,"keep_compatible":true,"private":false,"area_code":"nl","source":"ETM","balanced_values":{},"metadata":{"title":"ETM
        Test Scenario"},"start_year":2015,"active_couplings":[],"inactive_couplings":[],"owner":null,"scaling":null,"template":null,"url":"https://beta-engine.energytransitionmodel.com/api/v3/scenarios/648695"}'
  recorded_at: Tue, 23 May 2023 11:10:35 GMT
- request:
    method: get
    uri: http://localhost:3002/api/v1/saved_scenarios/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_DcPHKr5tvAScywzR
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/html; charset=utf-8
      X-Web-Console-Session-Id:
      - 887871de4f90bea41590351ba4c1cfd0
      X-Web-Console-Mount-Point:
      - "/__web_console"
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\"
        />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n
        \ <meta name=\"turbo-visit-control\" content=\"reload\">\n  <title>Action
        Controller: Exception caught</title>\n  <style>\n    body {\n      background-color:
        #FAFAFA;\n      color: #333;\n      color-scheme: light dark;\n      supported-color-schemes:
        light dark;\n      margin: 0px;\n    }\n\n    body, p, ol, ul, td {\n      font-family:
        helvetica, verdana, arial, sans-serif;\n      font-size:   13px;\n      line-height:
        18px;\n    }\n\n    pre {\n      font-size: 11px;\n      white-space: pre-wrap;\n
        \   }\n\n    pre.box {\n      border: 1px solid #EEE;\n      padding: 10p[...]
