---
http_interactions:
- request:
    method: get
    uri: https://beta.engine.energytransitionmodel.com/api/v3/scenarios/648695
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_F97b9BVhunMF5QhJ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1620a809decf3f8004708dbe14f56f93"
    body:
      encoding: UTF-8
      string: '{"id":648695,"created_at":"2017-03-13T19:22:35.000Z","updated_at":"2019-12-05T09:14:10.000Z","user_values":{},"end_year":2050,"keep_compatible":true,"private":false,"area_code":"nl","source":"ETM","balanced_values":{},"metadata":{"title":"ETM
        Test Scenario"},"start_year":2015,"active_couplings":[],"inactive_couplings":[],"owner":null,"scaling":null,"template":null,"url":"https://beta.engine.energytransitionmodel.com/api/v3/scenarios/648695"}'
  recorded_at: Tue, 23 May 2023 11:10:32 GMT
- request:
    method: post
    uri: https://beta.engine.energytransitionmodel.com/api/v3/scenarios
    body:
      encoding: UTF-8
      string: '{"scenario":{"source":"ETM","scenario_id":648695}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer access_F97b9BVhunMF5QhJ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4d5295f8ff9f53481019aa7fbc0933d7"
    body:
      encoding: UTF-8
      string: '{"id":2259128,"created_at":"2023-05-23T11:10:34.000Z","updated_at":"2023-05-23T11:10:34.000Z","user_values":{},"end_year":2050,"keep_compatible":false,"private":false,"area_code":"nl","source":"ETM","balanced_values":{},"metadata":{},"start_year":2015,"active_couplings":[],"inactive_couplings":[],"owner":null,"scaling":null,"template":648695,"url":"https://beta.engine.energytransitionmodel.com/api/v3/scenarios/2259128"}'
  recorded_at: Tue, 23 May 2023 11:10:34 GMT
recorded_with: VCR 6.0.0
