<script id="node-details-template" type="text/template">
  <div class="popup_node_details">
    <h3><%= title %></h3>
    <% _.each(data, function(group) { %>
      <table class="node-detail">
        <tbody>
          <tr class="popup_node_details__subheader">
            <th><%= group[0] %></th>
            <th><%= end_year %></th>
          </tr>

          <% _.each(group[1], function(data, attr) { %>
            <tr>
              <td><%= data.name %></td>
              <td><%= Metric.node_detail_format(data.future, data.unit) %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    <% }) %>

    <div class="popup_node_details__stars">
      <% if(uses_coal_and_wood_pellets) { %>
        * The fuel input mix of this plant can be changed by your slider
        settings. Doing so changes both technical and cost parameters in
        this table.
      <% } %>
    </div>

    <% if(node_source_url) { %>
      <a class="download" href=<%=node_source_url%> >
        Download source analysis (XLSX)
      </a>
    <% } %>
  <div>
</script>
