<script id="dashboard-changer-template" type="text/template">

    <%= form_tag '/settings/dashboard', method: 'put' %>
        <h1>Choose your dashboard</h1>

        <dl>
            <% Constraint::GROUPS.each do |group| %>
                <dt><%= t(:"constraint_groups.#{group}") %></dt>
                <% constraints_for_group(group).each do |constraint| %>
                    <dd><label>
                        <input type="radio" name="dash[<%= group %>]" value="<%= constraint.key %>" />
                        <%= t(:"output.#{constraint.extended_title}").html_safe %>
                    </label></dd>
                <% end %>
            <% end %>
        </dl>

        <div class="commit">
            <div class="indicator"></div>
            <button class="save">Save Changes</button>
            <button class="cancel">Cancel</button>
        </div>
    </form>

</script>
