<script id="dashboard-changer-template" type="text/template">
    <%= form_tag '/settings/dashboard', method: 'put' %>
        <h1>Choose your dashboard</h1>

        <dl>
            <dt>Energy use</dt>
            <dd><label><input type="radio" name="dash[energy]" value="1" checked="checked" /> Primary energy use</label></dd>
            <dd><label><input type="radio" name="dash[energy]" value="0" /> Option B</label></dd>

            <dt>CO<sup>2</sup></dt>
            <dd><label><input type="radio" name="dash[emissions]" value="2" checked="checked" /> CO<sup>2</sup> emissions</label></dd>
            <dd><label><input type="radio" name="dash[emissions]" value="0" /> Option B</label></dd>
            <dd><label><input type="radio" name="dash[emissions]" value="0" /> Option C</label></dd>

            <dt>Energy import</dt>
            <dd><label><input type="radio" name="dash[imports]" value="3" checked="checked" /> Net foreign energy imports</label></dd>
            <dd><label><input type="radio" name="dash[imports]" value="0" /> Option B</label></dd>

            <dt>Costs</dt>
            <dd><label><input type="radio" name="dash[costs]" value="4" checked="checked" /> National cost</label></dd>
            <dd><label><input type="radio" name="dash[costs]" value="0" /> Cost per household</label></dd>

            <dt>Bio-footprint</dt>
            <dd><label><input type="radio" name="dash[bio]" value="5" checked="checked" /> Footprint of biomass applications</label></dd>
            <dd><label><input type="radio" name="dash[bio]" value="0" /> Option B</label></dd>

            <dt>Renewables</dt>
            <dd><label><input type="radio" name="dash[renewables]" value="6" checked="checked" /> Total share of renewable energy</label></dd>
            <dd><label><input type="radio" name="dash[renewables]" value="0" /> Option B</label></dd>
            <dd><label><input type="radio" name="dash[renewables]" value="0" /> Option C</label></dd>

            <dt>Goals</dt>
            <dd><label><input type="radio" name="dash[goals]" value="7" checked="checked" /> Goals met</label></dd>
            <dd><label><input type="radio" name="dash[goals]" value="0" /> Option B</label></dd>
        </dl>

        <div class="commit">
            <div class="indicator"></div>
            <button class="save">Save Changes</button>
            <button class="cancel">Cancel</button>
        </div>
    </form>
</script>
