.description= @constraint.description.try :short_content
#charts_wrapper
  .chart_holder{:style => 'height: 290px'}
    .chart_canvas{:id => "output_element_46",
                  :'data-chart_id' => 46}
