.constraint_box_content
  %p.tal
    = @constraint.description.try :short_content
  #charts_wrapper
    %div{ :id => "output_element_46", :style=>'height:230px;width:550px'}
:javascript
  charts.load(46, "output_element_46")
