.constraint_box_content
  -#%h1{:style => "font-size: 14px; text-align: left"} Renewables
  %p.tal
    =t("constraint.renewable").html_safe
  %div#charts_wrapper
    - @output_element = OutputElement.find(49)
    %div{ :id => "#{dom_id(@output_element)}",:style=>'height:250px'}
    %script=@output_element.call_jqplot_function
