.constraint_box_content
  %p.tal 
    =t("constraint.energy").html_safe
  #charts_wrapper
    %div{ :id => "output_element_45",:style=>'height:250px'}
:javascript
  #{ js_for_output_element(45, 'output_element_45') }
  App.call_api();