.constraint_box_content
  %p.tal
    = raw t("constraint.renewable")
  %div#charts_wrapper
    %div{ :id => "output_element_49",:style=>'height:250px'}

:javascript
  #{ js_for_output_element(49, 'output_element_49') }
  App.call_api();