.constraint_box_content
  %p.tal
    = @constraint.description.try :short_content
  #charts_wrapper
    %div{ :id => "output_element_118", :style=>'height:230px;width:550px'}
:javascript
  #{ js_for_output_element(118, 'output_element_118') }
  I18n.locale = #{I18n.locale.to_json};
  App.call_api();
