.constraint_box_content
  %p.tal
    = @constraint.description.try :short_content
  #charts_wrapper
    .chart_holder
      .chart_canvas#output_element_113
:javascript
  charts.load(113, 'output_element_113')
