.constraint_box_content
  %p.tal
    = @constraint.description.try :short_content
  #charts_wrapper
    %div{ :id => "output_element_113", :style => 'height:200px' }
:javascript
  charts.load(113, 'output_element_113')
