.constraint_box_content
  %p.tal
    = @constraint.description.try :short_content
  #charts_wrapper
    %div{ :id => "output_element_111", :style=>'height:230px;width:550px'}
:javascript
  charts.load(111, 'output_element_111')
