.constraint_box_content{:style => 'height: 390px'}
  %p.tal
    = @constraint.description.try :short_content
  #under_construction Under construction
  #charts_wrapper
    %div{ :id => "output_element_111", :style=>'height:230px;width:550px'}
:javascript
  #{ js_for_output_element(111, 'output_element_111') }
  App.call_api();