<div id="merit-order-table"></div>

<script type="text/template" id="merit-order-table-template">
  <table class="autostripe condensed">
    <thead>
      <tr>
        <th>Producer</th>
        <th>Profitable</th>
      </tr>
    </thead>
    <tbody>
      <%% _.each(series, function(serie){ %>
        <tr>
          <td><%%= serie.key %></th>
          <td><%%= serie.profitable %></td>
        </tr>
      <%% }) %>
    </tbody>
  </table>
</script>

<script>
  App.merit_order.format_table()
</script>
