.constraint_box_content
  %p.tal
    = @constraint.description.try :short_content

  %table.energy_imports
    %tr
      %th= Current.setting.start_year
      %th= Current.setting.end_year
    %tr
      %td
        .chart_canvas#output_element_47.half{:'data-chart_id' => 47}
      %td
        .chart_canvas#output_element_76.half{:'data-chart_id' => 76}
