.description= @constraint.description.try :short_content

%table.energy_imports
  %thead
    %tr
      %th= Current.setting.start_year
      %th= Current.setting.end_year
  %tbody
    %tr
      %td#left{:width => 200}
        .chart{:'data-chart_id' => 47, 'data-wrapper' => '#left'}
      %td#right{:width => 200}
        .chart{:'data-chart_id' => 76, 'data-wrapper' => '#right'}
