%table.energy_imports
  %thead
    %tr
      %th= Current.setting.start_year
      %th= Current.setting.end_year
  %tbody
    %tr
      %td#left
        .chart{ :'data-chart_id' => 'present_energy_imports', 'data-wrapper' => '#left' }
      %td#right
        .chart{ :'data-chart_id' => 'future_energy_imports', 'data-wrapper' => '#right' }
