.constraint_box_content
  %p.tal
    = @constraint.description.try :short_content
  #charts_wrapper
    %div{ :id => "output_element_45",:style=>'height:250px'}
:javascript
  charts.load(45, 'output_element_45')
