.constraint_box_content
  %p.tal
    = @constraint.description.try :short_content
  #charts_wrapper
    %div{ :id => "output_element_48", :style => 'height:200px' }
:javascript
  charts.load(48, 'output_element_48')
