---
http_interactions:
- request:
    method: get
    uri: https://beta-engine.energytransitionmodel.com/api/v3/areas.json?detailed=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dc34be7793deb2ade7c8e264eb6c9265"
    body:
      encoding: UTF-8
      string: '[{"area":"AT_austria","group":"country","analysis_year":2019,"has_agriculture":true,"has_buildings":true,"has_semi_detached_houses":true,"has_coastline":false,"has_cold_network":false,"has_electricity_storage":true,"has_employment":false,"has_industry":true,"has_lignite":false,"has_merit_order":true,"has_metal":true,"has_mountains":true,"has_old_technologies":true,"has_other":true,"has_solar_csp":true,"has_offshore_solar":false,"has_other_emissions_section":true,"has_import_export":true,"use_network_calculations":true,"use_merit_order_demands":true,"has_weather_curves":false,"has_aggregated_chemical_industry":false,"has_detailed_chemical_industry":true,"has_coal_oil_for_heating_built_environment":true,"has_aquathermal_potential_for_surface_water":false,"has_aquathermal_potential_for_waste_water":false,"has_aquathermal_potential_for_drink_water":false,"present_number_of_residences":4330099.0,"number_of_inhabitants":8858775.0,"base_dataset":"eu","scaling":{"area_attribute":"number_of_inhabitants","value":8858775,"base_value":500700753},"derived":true,"useable":true},{"area":"BEGM11002_antwerpen","group":"municipality","analysis_year":2022,"has_agriculture":true,"has_buildings":true,"has_semi_detached_houses":true,"has_coastline":false,"has_cold_network":false,"has_electricity_storage":true,"has_employment":false,"has_industry":true,"has_lignite":false,"has_merit_order":true,"has_metal":true,"has_mountains":true,"has_old_technologies":true,"has_other":true,"has_solar_csp":true,"has_offshore_solar":false,"has_other_emissions_section":true,"has_import_ex[...]
