%h2 Browse my Mondaine Drive

.browsing
  - @esdl_tree.each do |item|
    .base
      %div{class: "#{item['type']}__#{item['children']}", data: item}
        %span.fa{ class: "fa-#{item['type']}"}
        = item['text']
