.login_to_drive
  %a.button.login{href: esdl_suite_login_path}
    = t('esdl.mondaine_drive.sign_in')
/ %a{href: 'https://www.mondaine-suite.nl/', target:'_blank'}
/   = t('esdl.mondaine_drive.about')
/ .dot{ class: 'fa fa-circle' }
/ %a{href: 'https://www.mondaine-suite.nl/contact/', target:'_blank'}
/   = t('esdl.mondaine_drive.sign_up')
