<script type="text/template" id="chart-table-template">
  <table class="chart autostripe has-total" cellspacing="0">
    <thead>
      <tr>
        <td></td>
        <th class="left"><%= I18n.t("output_elements.common.unit") %></th>
        <th><%= startYear %></th>
        <th><%= endYear %></th>
      </tr>
    </thead>
    <tbody>
      <% _.each(data, function(row) {
          var unit = formatValue(row.present).split(' ')[1];
          var presentValue = formatValue(row.present).split(' ')[0];
          var futureValue = formatValue(row.future).split(' ')[0];
      %>
        <tr>
          <th><%= formatLabel(row.serie) %></th>
          <td class="left"><%= unit %></td>
          <td title="<%= formatTitle(row.present) %>"><%= presentValue %></td>
          <td title="<%= formatTitle(row.future) %>"><%= futureValue %></td>
        </tr>
      <% }) %>
    </tbody>
    <% if (totals.length > 0) {
        var totalUnit = formatValue(totals[0]).split(' ')[1];
        var totalPresentValue = formatValue(totals[0]).split(' ')[0];
        var totalFutureValue = formatValue(totals[1]).split(' ')[0];
    %>
      <tfoot>
        <tr>
          <th><%= I18n.t("output_elements.common.total") %></th>
          <td class="left"><%= totalUnit %></td>
          <td><%= totalPresentValue %></td>
          <td><%= totalFutureValue %></td>
        </tr>
      </tfoot>
    <% } %>
  </table>
</script>
