<script type="text/template" id="chart-table-template">
  <table class="chart autostripe has-total" cellspacing="0">
    <thead>
      <tr>
        <td></td>
        <th><%= startYear %></th>
        <th><%= endYear %></th>
      </tr>
    </thead>
    <tbody>
      <% _.each(data, function(row) { %>
        <tr>
          <th><%= formatLabel(row.serie) %></th>
          <td title="<%= formatTitle(row.present) %>"><%= formatValue(row.present) %></td>
          <td title="<%= formatTitle(row.future) %>"><%= formatValue(row.future) %></td>
        </tr>
      <% }) %>
    </tbody>
    <% if (totals.length > 0) { %>
      <tfoot>
        <tr>
          <th><%= I18n.t("output_elements.common.total") %></th>
          <td><%= formatValue(totals[0]) %></td>
          <td><%= formatValue(totals[1]) %></td>
        </tr>
      </tfoot>
    <% } %>
  </table>
</script>
