- if discarded_row.is_a? MultiYearChart
    = render partial: 'multi_year_charts/multi_year_chart_row', locals: {multi_year_chart_row: discarded_row}
- else
    = render partial: 'scenario_row', locals: {scenario_row: discarded_row}
