%h1= format_subscripts(saved_scenario.localized_title(I18n.locale))

= render partial: 'info', locals: { scenario: saved_scenario }

- if saved_scenario.localized_description(I18n.locale).presence
  .description
    = formatted_scenario_description(saved_scenario.localized_description(I18n.locale), allow_external_links: saved_scenario.featured?)

- if current_user&.admin? || @saved_scenario.viewer?(current_user)
  .bar

  = render partial: 'saved_scenario_versions/list', locals: { saved_scenario: @saved_scenario }
