= render partial: 'saved_scenarios/flash_notice'

= render partial: 'saved_scenarios/info', locals: { scenario: saved_scenario }
.bar
- if saved_scenario.localized_description(I18n.locale).presence
  .description#main-scenario-description
    = formatted_scenario_description(saved_scenario.localized_description(I18n.locale), allow_external_links: saved_scenario.featured?)
