<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
		<head>
				<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
				<title></title>
		</head>
		<body>
				<style>
						* {
								margin: 0px;
								padding: 0px;
						}

						body {
								color: #777777;
								font-family: "Verdana";
								font-size: 10px;
								background-color: #ffffff;
						}

						#wrapper {
								width: 541px;
								margin: auto;
								margin-top: 35px;
								margin-bottom: 40px;
								position: relative;
								background: white;
								border: 1px solid #808080;
						}

						#wrapper #content {
								padding: 0px 0px;
								font-size: 10px;
						}

						#wrapper #content p {

								margin: 15px;
								line-height: 150%;
						}

						#wrapper #colofon {
								top: 0px;
								right: 0px;
								position: absolute;
						}

						#wrapper #footer {
								margin-top: 35px;
								position: relative;
																border-top: 1px solid #808080;
						}
						#wrapper #header {
								margin-left: 0px;
								margin-bottom: 10px;
								border-bottom: 1px solid #808080;

						}
				</style>

				<div id="wrapper">
						<div id="content">

								<p>
								Het feedback formulier is ingevuld:<br/>
								<b>Naam:</b> <br/>
								<%= @options[:name] %> <br/>
								<b>Email:</b> <br/>
								<%= @options[:email] %> <br/>
								<b>Bericht:</b> <br/>
								<%= @options[:msg]  %>
								</p>
						</div>
						<div id="footer">
								<table style="width: 100%;
														  height: 81px;
														  background: #cbcbcb">
										<tr>
												<td>

														<a href="http://et-model.com"><img src="http://et-model.com/assets/layout/footer_mail.png" id="colofon"/></a>
												</td>
										</tr>
								</table>
						</div>
				</div>
		</body>
</html>
