.modal__backdrop
  .modal
    .modal__actions
      =link_to "","#", class: "modal__action--close fa fa-close", id: "close-modal"
    .modal__content

      %iframe{src: "http://localhost:3000/embeds/pico",
              title: "tweede",
              width: "704",
              height: "504",
      }
