!!!
%html
  %head
    %meta{ charset: "UTF-8" }
    %meta{ name: "viewport",
           content: "width=device-width, " + |
                    "initial-scale=1.0," + |
                    "maximum-scale=1.0, " + |
                      "user-scalable=0" } + |
    = stylesheet_link_tag :pico
    = javascript_include_tag :pico
    %link{ rel: "stylesheet",
           type: "text/css",
           href: "https://pico.geodan.nl/pico/minimap/lib/style.css" }
    %script{ type: "text/javascript",
             src: "https://pico.geodan.nl/pico/minimap/ol212/OpenLayers.js" }
    %script{ type: "text/javascript",
             src: "https://pico.geodan.nl/pico/minimap/lib/maps.js" }
    %script{ type: "text/javascript",
             src: "https://pico.geodan.nl/pico/config/pico-prod.js" }

  %body#body{ onload: "pico.main( #{@area.to_js} )" }
    %div{ picomodule: "https://pico.geodan.nl/pico/minimap/windmodule.html" }
    %a.pico__submit{ onclick: "pico.ready()" }
      = t("pico.ready").capitalize
