!!!
%html
  %head
    %meta{ charset: "UTF-8" }
    %meta{ name: "viewport",
           content: "width=device-width, " + |
                    "initial-scale=1.0," + |
                    "maximum-scale=1.0, " + |
                      "user-scalable=0" } |
    = stylesheet_link_tag :pico
    = stylesheet_link_tag :application
  %body

    %h1= t("embeds.unsupported_area.title")
    %a.pico__submit{ onclick:  |
      "window.parent.postMessage({action: 'closeModal'});" } |
      = t("embeds.unsupported_area.back")
