---
http_interactions:
- request:
    method: post
    uri: https://beta-engine.energytransitionmodel.com/api/v3/scenarios
    body:
      encoding: UTF-8
      string: '{"scenario":{"source":"ETM","area_code":"nl","end_year":2050}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer access_SQu9G7LYxXJ3S9Hv
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"843119c652d87c91656da4bbb3159beb"
    body:
      encoding: UTF-8
      string: '{"id":2255690,"created_at":"2023-05-15T10:08:09.000Z","updated_at":"2023-05-15T10:08:09.000Z","user_values":{},"end_year":2050,"keep_compatible":false,"private":false,"area_code":"nl","source":"ETM","balanced_values":{},"metadata":{},"start_year":2015,"owner":null,"active_couplings":[],"inactive_couplings":[],"scaling":null,"template":null,"url":"https://beta-engine.energytransitionmodel.com/api/v3/scenarios/2255690"}'
  recorded_at: Mon, 15 May 2023 10:08:09 GMT
- request:
    method: get
    uri: http://localhost:3002/api/v1/versions.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b333f2b38e283af4a4b94a9463c73f73"
    body:
      encoding: UTF-8
      string: '{"versions":[{"tag":"latest","model_url":"http://localhost:3001","engine_url":"http://localhost:3000","collections_url":"http://localhost:3005"},{"tag":"stable.01","model_url":"http://localhost:3001","engine_url":"http://localhost:3000","collections_url":"http://localhost:3005"},{"tag":"stable.02","model_url":"http://localhost:3001","engine_url":"http://localhost:3000","collections_url":"http://localhost:3005"}]}'
  recorded_at: Fri, 24 Jan 2025 13:06:39 GMT
recorded_with: VCR 6.0.0
