---
http_interactions:
- request:
    method: post
    uri: https://beta-engine.energytransitionmodel.com/api/v3/scenarios
    body:
      encoding: UTF-8
      string: '{"scenario":{"source":"ETM","area_code":"nl","end_year":2050}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer access_PvY2W1q3RtKKWJrE
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"172db4b1eddce4160afe8f34f018a063"
    body:
      encoding: UTF-8
      string: '{"id":2179527,"created_at":"2022-12-21T10:16:38.000Z","updated_at":"2022-12-21T10:16:38.000Z","user_values":{},"end_year":2050,"keep_compatible":false,"private":false,"area_code":"nl","source":"ETM","balanced_values":{},"metadata":{},"start_year":2015,"template":null,"esdl_exportable":false,"url":"https://beta-engine.energytransitionmodel.com/api/v3/scenarios/2179527"}'
  recorded_at: Wed, 21 Dec 2022 10:16:38 GMT
recorded_with: VCR 6.0.0
