---
http_interactions:
- request:
    method: post
    uri: https://beta-engine.energytransitionmodel.com/api/v3/scenarios.json
    body:
      encoding: UTF-8
      string: '{"scenario":{"source":"ETM","user_values":{"households_number_of_inhabitants":1.0},"area_code":"nl","end_year":2050}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dd2a939c1bfbc28effe6878ddace4db7"
    body:
      encoding: ASCII-8BIT
      string: '{"id":1317161,"title":"API","area_code":"nl","start_year":2015,"end_year":2050,"url":"https://beta-engine.energytransitionmodel.com/api/v3/scenarios/1317161","ordering":null,"display_group":null,"scaling":null,"source":"ETM","template":null,"created_at":"2020-06-16T14:54:46.000+02:00","read_only":false,"keep_compatible":false}'
  recorded_at: Tue, 16 Jun 2020 12:54:46 GMT
recorded_with: VCR 3.0.3
