---
http_interactions:
- request:
    method: post
    uri: https://beta-engine.energytransitionmodel.com/api/v3/scenarios
    body:
      encoding: UTF-8
      string: '{"scenario":{"read_only":true,"source":"ETM","area_code":"nl","end_year":2050}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer access_zXepLDRrM4vMNZPF
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"724e51ed4a1303628cdb9f4f74d03c34"
    body:
      encoding: UTF-8
      string: '{"id":2179000,"created_at":"2022-12-19T19:33:41.000Z","updated_at":"2022-12-19T19:33:41.000Z","user_values":{},"end_year":2050,"keep_compatible":false,"private":false,"area_code":"nl","source":"ETM","balanced_values":{},"metadata":{},"start_year":2015,"template":null,"esdl_exportable":false,"url":"https://beta-engine.energytransitionmodel.com/api/v3/scenarios/2179000"}'
  recorded_at: Mon, 19 Dec 2022 19:33:41 GMT
recorded_with: VCR 6.0.0
