%h2 Blackboxes

%p 
  %em
    A blackbox records the current state of the graph, queries and sliders. It stores all the results of the chart series and GQL queries at this moment t<sub>0</sub>. At a later point in time we can then compare the results
    We can now change something (e.g. the graph, sliders, GQL queries) and check if the whole model still behaves the same.

%p= link_to 'Create new Blackbox', new_admin_blackbox_path

%table{table_defaults}
  %thead
    %tr
      %th Name
      %th Graph
      %th Created
      %th
  %tbody
    - @blackboxes.each do |blackbox|
      %tr{cycles}
        %td= link_to blackbox.name, [:admin, blackbox]
        %td= blackbox.created_at.to_s(:datetime)
        %td
          = link_to 'Delete', admin_blackbox_path(blackbox), :method => 'delete', :confirm => 'Are you sure?'