%h2 Create new Blackbox of current Graph

- semantic_form_for [:admin, @blackbox] do |f|
  = f.inputs :name, :description

  = f.buttons

%p
  This blackbox will include the following scenarios:

%ul
  - BlackboxScenario.all.each do |scenario|
    %li= scenario.name