---
http_interactions:
- request:
    method: get
    uri: https://beta.engine.energytransitionmodel.com/api/v3/areas/nl.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cac01ad7420ca60b06cadc04d7ebe144"
    body:
      encoding: UTF-8
      string: '{"area":"nl","id":1,"parent_id":1,"group":"country","analysis_year":2015,"has_agriculture":true,"has_buildings":true,"has_coastline":true,"has_cold_network":false,"has_electricity_storage":true,"has_employment":true,"has_industry":true,"has_lignite":false,"has_merit_order":true,"has_metal":true,"has_mountains":false,"has_old_technologies":true,"has_other":true,"has_solar_csp":false,"has_offshore_solar":true,"has_other_emissions_section":true,"has_import_export":true,"use_network_calculations":true,"use_merit_order_demands":true,"has_weather_curves":true,"has_aggregated_chemical_industry":false,"has_detailed_chemical_industry":true,"has_coal_oil_for_heating_built_environment":false,"buildings_insulation_employment_constant":0.0093,"households_insulation_employment_constant":0.014,"co2_emission_1990_aviation_bunkers":4.6046,"co2_emission_1990_marine_bunkers":34.95619,"co2_percentage_free":0.85,"co2_price":0.0078,"offshore_ccs_potential_mt_per_year":41.95,"economic_multiplier":1.0,"employment_fraction_production":0.5,"employment_local_fraction":0.2,"man_hours_per_man_year":1800.0,"lv_net_spare_capacity":0.25,"lv_net_total_costs_present":838847167.7,"lv_net_costs_per_capacity_step":183200.0,"lv_net_capacity_per_step":0.2,"mv_net_spare_capacity":0.25,"mv_net_total_costs_present":720884284.7,"mv_net_costs_per_capacity_step":1380000.0,"mv_net_capacity_per_step":2.0,"hv_net_spare_capacity":0.25,"hv_net_total_costs_present":423617819.7,"hv_net_costs_per_capacity_step":7280000.0,"hv_net_capacity_per_step":20.0,"lv_mv_trafo_spare_capacity":0.25,"lv_mv_trafo_total_costs_present":298839303.5,"lv_mv_trafo_costs_per_capacity_step":40000.0,"lv_mv_trafo_capacity_per_step":0.2,"mv_hv_trafo_spare_capacity":0.25,"mv_hv_trafo_total_costs_present":251654150.3,"mv_hv_trafo_costs_per_capacity_step":500000.0,"mv_hv_trafo_capacity_per_step":2.0,"interconnection_net_costs_present":139550090.5,"offshore_net_costs_present":26607183.6,"flh_solar_pv_solar_radiation_max":1361.35634547,"hydrogen_electrolysis_solar_pv_capacity_ratio":0.427,"insulation_detached_houses_low_share":0.521739130434783,"insulation_detached_houses_medium_share":0.478260869565217,"insulation_detached_houses_high_share":0.0,"insulation_apartments_low_share":0.59375,"insulation_apartments_medium_share":0.40625,"insulation_apartments_high_share":0.0,"insulation_semi_detached_houses_low_share":0.5,"insulation_semi_detached_houses_medium_share":0.5,"insulation_semi_detached_houses_high_share":0.0,"insulation_corner_houses_low_share":0.608695652173913,"insulation_corner_houses_medium_share":0.391304347826087,"insulation_corner_houses_high_share":0.0,"insulation_terraced_houses_low_share":0.580645161290323,"insulation_terraced_houses_medium_share":0.419354838709677,"insulation_terraced_houses_high_share":0.0,"insulation_detached_houses_start_value":11.0,"insulation_semi_detached_houses_start_value":13.0,"insulation_apartments_start_value":13.0,"insulation_corner_houses_start_value":9.0,"insulation_terraced_houses_start_value":13.0,"insulation_buildings_start_value":28.8,"typical_roof_surface_corner_house_available_for_pv":3.33e-05,"typical_roof_surface_terraced_house_available_for_pv":3.25e-05,"typical_roof_surface_detached_house_available_for_pv":6.17e-05,"typical_roof_surface_semi_detached_house_available_for_pv":4.58e-05,"typical_roof_surface_apartment_available_for_pv":1.90666666666667e-05,"typical_useful_demand_space_heating_corner_house":0.0444436934929221,"typical_useful_demand_space_heating_detached_house":0.069849301483813,"typical_useful_demand_s[...]
