---
http_interactions:
- request:
    method: post
    uri: https://beta-engine.energytransitionmodel.com/api/v3/scenarios.json
    body:
      encoding: UTF-8
      string: '{"scenario":{"scenario_id":"648695"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"59e75b34e22addce19a467273f5b9924"
    body:
      encoding: ASCII-8BIT
      string: '{"id":655091,"title":"API","area_code":"nl","start_year":2015,"end_year":2050,"url":"https://beta-engine.energytransitionmodel.com/api/v3/scenarios/1076036","ordering":null,"display_group":null,"scaling":null,"source":null,"template":648695,"created_at":"2019-03-28T16:07:45.000+01:00"}'
  recorded_at: Mon, 03 Jun 2019 14:51:41 GMT
recorded_with: VCR 3.0.3
