.blackbox-results
  tr.hide-row
    display: none
    

#query_table
  td:hover
    background: #ffe
  td a
    text-decoration: none
    display: block
  td.result
    text-align: right
    a
      color: black
      font-family: courier
  td.new a
    color: #999
  td.total
    background: #eee
    font-size: 90%


table .hasgroup
  background: #666 !important
  color: #ddd
table .even .hasgroup
  background: #777 !important
  

table .hasnotgroup
  color: #ddd  

table#blueprint_converters *
  font-size: 11px
table#blueprint_converters .group, table#blueprint_converters .group * 
  font-size: 9px !important
  