#constraints_container
  width: 100%
  background-color: #fff
  #constraints
    background:
      image: url(../images/layout/divider-01.gif)
      color: #fff
      repeat: repeat-x
    min-width: 960px
    max-width: 1230px
    padding-left: 35px
    margin: 0 auto
    list-style: none
    z-index: 1051
    .constraint
      float: left
      cursor: pointer
      background: url(../images/layout/separator-02.gif) repeat-y
      width: 14%
      position: relative
    
      .arrow
        position: absolute
        right: -2px
        top: 18px
        width: 40px
        height: 40px
        margin: 0
        padding: 0
      .arrow_neutral
        background: url(../images/layout/arrow_none.png)
      .arrow_up
        top: 15px
        background-color: red
        background: url(../images/layout/arrow_up.png)
      .arrow_down
        top: 18px
        background-color: green
        background: url(../images/layout/arrow_down.png)
        
      img.questionmark
        position: absolute
        right: 5px
        top: 15px
        cursor: pointer
      
      .header
        float: left
        font-family: Georgia, "Times New Roman", Times, serif
        display: block
        color: #214367
        font-size: 15px
        width: 110px
        padding: 8px 0 4px 12px
        margin: 0
        height: 25px
      strong
        clear: left
        float: left
        display: block
        font-weight: normal
        color: #000
        padding: 0 0 10px 12px
        font-size: 24px
        // height: 26px
        width: 120px
    .first
      background: none
      
    h3
      font-family: Georgia, "Times New Roman", Times, serif
      font-weight: normal

  #dashboard_change
    background: #599fcf url(/images/layout/change_dashboard_button.png) center center no-repeat
    border-top-right-radius: 3px
    display: block
    height: 67px
    float: left
    margin: 0 -36px 0 0
    text-indent: -10000px
    width: 36px

    &:hover
      background-color: #478dc3
    &:active
      background-color: #3c81bb

#dashboard-changer
  padding: 40px 50px
  width: 550px

  h1
    background: url(/images/icons/dashboard.png) 160px 0 no-repeat
    border-bottom: 1px solid #ccc
    font: bold 16px 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif
    padding: 3px 0 20px 200px
    margin: -3px 0 21px

  sup
    line-height: 0

  dl
    font-size: 13px
    padding-top: 14px

    dt, dd
      padding: 0 0 2px

    dt
      font-weight: bold
      margin: -14px 370px 0 0
      text-align: right

    dd
      margin: -22px 0 22px 200px
      width: 350px

      label
        display: block
        white-space: nowrap

        input
          margin-top: 0px

  .commit
    border-top: 1px solid #ccc
    margin-top: -6px
    padding: 20px 0 0 200px

    .indicator
      background: url(/images/layout/ajax-loader-small.gif) 0 0 no-repeat
      display: none
      height: 24px
      float: left
      margin: 5px 21px 0 -45px
      width: 24px

    button
      background: #649ec6
      background: -webkit-linear-gradient(#7eb9e0, #518ab4)
      background: -moz-linear-gradient(#7eb9e0, #518ab4)
      background: -o-linear-gradient(#7eb9e0, #518ab4)

      border: 1px solid #4a7b9e
      border-bottom-color: #3c6582
      border-radius: 3px
      color: white
      font-size: 12px
      padding: 8px 12px 7px
      text-shadow: 0 -1px 0 #3c6582
      text-transform: uppercase

      &:active
        border-color: #3c6582
        background: #467da9
        background: -webkit-linear-gradient(#71afdb, #467da9)
        background: -moz-linear-gradient(#71afdb, #467da9)
        background: -o-linear-gradient(#71afdb, #467da9)

        box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3)

      &.cancel
        background: #eee
        background: -moz-linear-gradient(top, #f5f5f5, #ddd)
        background: -webkit-linear-gradient(top, #f5f5f5, #ddd)
        background: linear-gradient(top, #f5f5f5, #ddd)

        border-color: #aaa #afafaf #afafaf
        color: #333
        text-shadow: white 0 1px 0

        &:active
          border-color: #999
          background: #ddd
          background: -moz-linear-gradient(#e5e5e5, #ccc)
          background: -webkit-linear-gradient(#e5e5e5, #ccc)
          background: linear-gradient(#e5e5e5, #ccc)

#shadowbox-body
  height: 350px
//  overflow: hidden
  width: 560px

.constraint_box_content
  background-color: #DBE4F2
  width: 540px !important
  padding: 5px 10px
  background: none !important
  #charts_wrapper
    overflow: hidden
    text-align: center
    width: 440px
  ul
    margin: 0px
    padding: 0px
    list-style: none
    float: left
    clear: both
    li
      float: left      
  .name
    width: 250px
  .target
    text-align: right
    width: 80px
  .you
    text-align: right
    width: 80px
  .check
    text-align: right
    width: 20px

#constraint_1
  position: absolute
  // z-index: 1001
  #shadowbox-outer
    left: 0px
  #shadow-bg-arrow-tip
    position: absolute
    // z-index: 1002
#constraint_2
  #shadowbox-outer
    left: -150px
  #shadow-bg-arrow-tip
    left: 200px
#constraint_3
  #shadowbox-outer
    left: -200px
  #shadow-bg-arrow-tip
    left: 250px
#constraint_4
  #shadowbox-outer
    left: -200px
  #shadow-bg-arrow-tip
    left: 250px
#constraint_5
  #shadowbox-outer
    left: -200px
  #shadow-bg-arrow-tip
    left: 250px
#constraint_6
  #shadowbox-outer
    left: -300px
  #shadow-bg-arrow-tip
    left: 350px
#constraint_7, #constraint_8
  #shadowbox-outer
    right: 450px
  #shadow-bg-arrow-tip
    left: 450px

/* Hide the constraint_popup by moving it outside the window, instead of display: none, otherwise the jqplot doesn't draw correctly */

/*.constraint_popup
  position: absolute
  left: 0
  bottom: 8000px
  width: 600px
  height: 410px

  #shadowbox-outer
    position: relative
    bottom: 0px
    width: 600px
    height: 400px
    opacity: 0.01
  
  #shadowbox-inner
    width: 590px
    height: 390px
    float: left
    background-color: #DFE8F3
    border: 5px solid #FFF
   
    h3.shadowbox-title
      background-color: #63A1C9
      color: #fff
      margin: 0 0 0 0
      padding: 8px 10px*/
      
iframe.constraint_iframe
  width: 590px
  height: 350px
  border: 0
  overflow: hidden
