@mixin input-slider-button($position)
  background-position: -$position 2px

  &:hover
    background-position: -$position -28px

  &:active
    background-position: -$position -58px

  &.disabled
    background-position: -$position -88px
    cursor: default

$slider-box-height: 22px

.new-input-slider
  .slider-controls
    min-height: $slider-box-height

    // Clearfix.
    overflow: auto

  label, .reset, .decrease, .quinn, .increase, output, .show-info
    display: block
    float: left
    min-height: $slider-box-height
    margin-bottom: 5px

  label
    line-height: 15px
    width: 124px

  .quinn
    width: 120px

  .reset, .decrease, .increase, .show-info
    background: url(/images/slider/buttons.png) no-repeat
    cursor: pointer
    margin-left: 5px
    width: 20px

  .reset
    @include input-slider-button(0px)
    margin-left: 0
    min-height: $slider-box-height - 1px
    width: 21px

  .decrease
    @include input-slider-button(30px)

  .increase
    @include input-slider-button(60px)
    margin-left: 0
    margin-right: 5px

  .show-info
    @include input-slider-button(90px)

  output
    text-align: right
    width: 78px

  .info
    background: #eee
    border-top: 5px solid white
    border-bottom: 10px solid white
    clear: both
    display: none
    margin: 0 0 10px
    padding: 7px 10px

  &.info-box-visible
    .show-info
      @include input-slider-button(120px)
    .info
      display: block

  // Adjustment to vertical alignment of label and value text.
  label, output
    font-size: 12px
    padding-top: 1px
    min-height: $slider-box-height - 1px

  // Buttons are only visible on hovering the slider div.
  .reset, .decrease, .increase
    opacity: 0

  &:hover
    .reset, .decrease, .increase
      opacity: 1
