.new-input-slider
  // Clearfix.
  overflow: visible

  label, .left-buttons, .quinn, .right-buttons, .value, .show-info
    float: left
    margin-bottom: 5px
    height: 22px

  label
    width: 124px

  .left-buttons
    width: 40px

  .quinn
    width: 110px

  .right-buttons, .show-info
    width: 20px

  .value
    padding-right: 5px
    text-align: right
    width: 99px

  .info
    background: #eee
    clear: both
    margin: 0 0 10px
    padding: 7px 10px
    width: 418px - 20px

  // Adjustment to vertical alignment of label and value text.
  .label, .value
    font-size: 12px
    padding-top: 1px
    height: 21px
