.prediction
  width: 960px
  height: 650px
  .intro
  .slider_title
    margin: 1em 0
    font-size: 1.3em
    font-weight: bold
  .chart
    border:  1px solid red
    width: 350px
    height: 200px
    float: left
  .available_predictions
    width: 590px
    height: 200px
    border:  1px solid black
    float: left
    margin-left: 10px
    .item
      clear: left
      .color
        background: red
        width: 20px
        height: 5px
        float: left
        margin: 10px 10px
      input[type=radio]
        margin: 5px
        float: left
        .label
          float: left