.prediction
  font-family: 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif
  font-size: 12px
  width: 960px
  height: 650px
  .intro
  .slider_title
    margin: 1em 0
    font-size: 1.3em
    font-weight: bold
  .upper_block
    height: 200px
    .chart
      width: 400px
      height: 200px
      float: left
    .available_predictions
      width: 540px
      height: 200px
      float: left
      margin-left: 10px
      .item
        clear: left
        .color
          // background: red
          width: 20px
          height: 5px
          float: left
          margin: 10px 10px
        input[type=radio]
          margin: 5px
          float: left
          .label
            float: left
  .prediction_details
    clear: both
    margin-top: 10px
    width: 940px
    border: 2px solid #ccc
    padding: 5px
    .header
    .description
      line-height: 20px
    .measures
      margin-top: 20px
      table
        width: 940px
        border-collapse: collapse
        tr
          border: 1px solid #879EC2
          &.even
            background-color: #B8C6DC
          &.odd
            background-color: #fff
        td, th
          font-size: 12px
          padding: 5px
        th
          text-align: left
        .more_info
          a
            text-decoration: none
            font-size: 11px
            color: #ccc
          .inline_description
            display: none
            font-size: 11px
            font-style: italic
    .comments