.prediction
  font-family: 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif
  font-size: 12px
  width: 880px
  height: 650px
  padding: 20px
  
  h1
    font: 26px/28px Georgia, "Times New Roman", Times, serif
    padding: 0px 0px 5px
    margin: 0px
    border-bottom: 2px solid #aaa
  .upper_block
    height: 200px
    .chart
      width: 400px
      height: 200px
      float: left
    .available_predictions
      width: 470px
      height: 200px
      float: left
      ul
        padding: 0px
        margin: 0px
        list-style: none
        li.user_prediction
        
        li.active
          color: #fff
          background: url('/images/layout/bg-prediction-active.png') no-repeat
        li
          font-size: 12px
          width: 356px
          height: 32px
          padding: 6px
          margin: 8px 0 0
          color: #000
          .colour
            float: left
            width: 45px
            height: 5px
            padding-top: 8px
          span
            width: 42%
            float: left
        li:hover
          background: url('/images/layout/bg-prediction-active.png') no-repeat
          color: #FFF

  .prediction_details
    clear: both
    margin-top: 20px
    width: 870px
  
    h1
      font: italic 20px/22px Georgia, "Times New Roman", Times, serif 
    .buttons
      float: left
      padding: 8px 0
      input[type=button]
        float: right
        background-color: #63A1C9
        border: 0
        padding: 5px 10px
        color: white
        font-size: 10px
        margin-right: 10px
    .description
      font: italic
      clear: both
      line-height: 20px
      a
        color: #63A1C9
        text-decoration: none
      a:hover
        text-decoration: underline
    .measures
      margin-top: 20px
      table
        width: 870px
        border-collapse: collapse
        tr
          border: 1px solid #879EC2
          &.even
            background-color: #B8C6DC
          &.odd
            background-color: #fff
        td, th
          font-size: 12px
          padding: 5px
          vertical-align: top
        td.name
          width: 60%
        th
          text-align: left
        .more_info
          a
            text-decoration: none
            font-size: 11px
            color: #666
          .inline_description
            display: none
            font-size: 11px
            font-style: italic
    .share
      margin-top: 10px
      float: right
    .comments
      form
        padding: 5px
        background: #D6DDF1
        textarea
          width: 500px
          height: 60px
  .input label
    width: 60px
    float: left
    
@import comments