---
http_interactions:
- request:
    method: get
    uri: https://beta.engine.energytransitionmodel.com/api/v3/areas/BU00141102_de_hunze.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"140d4cacea63610660033796d5f9a698"
    body:
      encoding: UTF-8
      string: '{"area":"BU00141102_de_hunze","id":108379,"parent_id":108379,"group":"neighbourhood","analysis_year":2016,"has_agriculture":true,"has_buildings":true,"has_coastline":false,"has_cold_network":false,"has_electricity_storage":true,"has_employment":true,"has_industry":true,"has_lignite":false,"has_merit_order":true,"has_metal":true,"has_mountains":false,"has_old_technologies":true,"has_other":true,"has_solar_csp":false,"has_offshore_solar":true,"has_other_emissions_section":true,"has_import_export":true,"use_network_calculations":true,"use_merit_order_demands":true,"has_weather_curves":true,"has_aggregated_chemical_industry":false,"has_detailed_chemical_industry":true,"has_coal_oil_for_heating_built_environment":false,"buildings_insulation_employment_constant":0.0093,"households_insulation_employment_constant":0.014,"co2_emission_1990_aviation_bunkers":4.6046,"co2_emission_1990_marine_bunkers":34.95619,"co2_percentage_free":0.85,"co2_price":0.0078,"offshore_ccs_potential_mt_per_year":41.95,"economic_multiplier":1.0,"employment_fraction_production":0.5,"employment_local_fraction":0.2,"man_hours_per_man_year":1800.0,"lv_net_spare_capacity":0.25,"lv_net_total_costs_present":29144.75075,"lv_net_costs_per_capacity_step":1832.0,"lv_net_capacity_per_step":0.002,"mv_net_spare_capacity":0.25,"mv_net_total_costs_present":25046.27017,"mv_net_costs_per_capacity_step":1380.0,"mv_net_capacity_per_step":0.002,"hv_net_spare_capacity":0.25,"hv_net_total_costs_present":14718.09913,"hv_net_costs_per_capacity_step":728.0,"hv_net_capacity_per_step":0.002,"lv_mv_trafo_spare_capacity":0.25,"lv_mv_trafo_total_costs_present":10382.81745,"lv_mv_trafo_costs_per_capacity_step":400.0,"lv_mv_trafo_capacity_per_step":0.002,"mv_hv_trafo_spare_capacity":0.25,"mv_hv_trafo_total_costs_present":8743.425224,"mv_hv_trafo_costs_per_capacity_step":500.0,"mv_hv_trafo_capacity_per_step":0.002,"interconnection_net_costs_present":0.0,"offshore_net_costs_present":0.0,"flh_solar_pv_solar_radiation_max":1361.3,"hydrogen_electrolysis_solar_pv_capacity_ratio":0.427,"insulation_detached_houses_low_share":0.2608695652173913,"insulation_detached_houses_medium_share":0.7391304347826086,"insulation_detached_houses_high_share":0.0,"insulation_apartments_low_share":0.0,"insulation_apartments_medium_share":1.0,"insulation_apartments_high_share":0.0,"insulation_semi_detached_houses_low_share":0.3076923076923077,"insulation_semi_detached_houses_medium_share":0.6923076923076923,"insulation_semi_detached_houses_high_share":0.0,"insulation_corner_houses_low_share":0.08695652173913043,"insulation_corner_houses_medium_share":0.9130434782608696,"insulation_corner_houses_high_share":0.0,"insulation_terraced_houses_low_share":0.3225806451612903,"insulation_terraced_houses_medium_share":0.6774193548387097,"insulation_terraced_houses_high_share":0.0,"insulation_detached_houses_start_value":17.0,"insulation_semi_detached_houses_start_value":18.0,"insulation_apartments_start_value":32.0,"insulation_corner_houses_start_value":21.0,"insulation_terraced_houses_start_value":21.0,"insulation_buildings_start_value":46.0,"typical_roof_surface_corner_house_available_for_pv":3.33e-05,"typical_roof_surface_terraced_house_available_for_pv":3.25e-05,"typical_roof_surface_detached_house_available_for_pv":6.17e-05,"typical_roof_surface_semi_detached_house_available_for_pv":4.58e-05,"typical_roof_surface_apartment_available_for_pv":1.90666666666667e-05,"typical_useful_demand_space_heating_corner_house":0.0444436934929221,"typical_useful_demand_space_heating_detached_house":0.069849301483813,"typical_useful_demand_s[...]
