---
http_interactions:
- request:
    method: get
    uri: https://beta-engine.energytransitionmodel.com/api/v3/areas/BU00141102_de_hunze.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1c6fde7abd5eb0f9d6ced710dff3c759"
    body:
      encoding: ASCII-8BIT
      string: '{"area":"BU00141102_de_hunze","id":753,"parent_id":753,"group":"neighbourhood","analysis_year":2016,"has_agriculture":true,"has_buildings":true,"has_climate":true,"has_coastline":false,"has_cold_network":false,"has_electricity_storage":true,"has_employment":true,"has_fce":true,"has_industry":true,"has_lignite":false,"has_merit_order":true,"has_metal":true,"has_mountains":false,"has_old_technologies":true,"has_other":true,"has_solar_csp":false,"has_import_export":true,"use_network_calculations":true,"use_merit_order_demands":true,"has_aggregated_chemical_industry":false,"has_detailed_chemical_industry":true,"has_coal_oil_for_heating_built_environment":false,"buildings_insulation_employment_constant":0.0093,"households_insulation_employment_constant":0.014,"co2_emission_1990_aviation_bunkers":4.6046,"co2_emission_1990_marine_bunkers":34.95619,"co2_percentage_free":0.85,"co2_price":0.0078,"ccs_cost_in_industry":90.0,"economic_multiplier":1.0,"employment_fraction_production":0.5,"employment_local_fraction":0.2,"man_hours_per_man_year":1800.0,"lv_net_spare_capacity":0.25,"lv_net_total_costs_present":29144.75075,"lv_net_costs_per_capacity_step":1832.0,"lv_net_capacity_per_step":0.002,"mv_net_spare_capacity":0.25,"mv_net_total_costs_present":25046.27017,"mv_net_costs_per_capacity_step":1380.0,"mv_net_capacity_per_step":0.002,"hv_net_spare_capacity":0.25,"hv_net_total_costs_present":14718.09913,"hv_net_costs_per_capacity_step":728.0,"hv_net_capacity_per_step":0.002,"lv_mv_trafo_spare_capacity":0.25,"lv_mv_trafo_total_costs_present":10382.81745,"lv_mv_trafo_costs_per_capacity_step":400.0,"lv_mv_trafo_capacity_per_step":0.002,"mv_hv_trafo_spare_capacity":0.25,"mv_hv_trafo_total_costs_present":8743.425224,"mv_hv_trafo_costs_per_capacity_step":500.0,"mv_hv_trafo_capacity_per_step":0.002,"interconnection_net_costs_present":0.0,"offshore_net_costs_present":0.0,"flh_solar_pv_solar_radiation_max":1361.35634547,"hydrogen_electrolysis_solar_pv_capacity_ratio":0.427,"insulation_detached_houses_low_share":0.2608695652173913,"insulation_detached_houses_medium_share":0.7391304347826086,"insulation_detached_houses_high_share":0.0,"insulation_apartments_low_share":0.0,"insulation_apartments_medium_share":1.0,"insulation_apartments_high_share":0.0,"insulation_semi_detached_houses_low_share":0.3076923076923077,"insulation_semi_detached_houses_medium_share":0.6923076923076923,"insulation_semi_detached_houses_high_share":0.0,"insulation_corner_houses_low_share":0.08695652173913043,"insulation_corner_houses_medium_share":0.9130434782608696,"insulation_corner_houses_high_share":0.0,"insulation_terraced_houses_low_share":0.3225806451612903,"insulation_terraced_houses_medium_share":0.6774193548387097,"insulation_terraced_houses_high_share":0.0,"insulation_detached_houses_start_value":17.0,"insulation_semi_detached_houses_start_value":18.0,"insulation_apartments_start_value":32.0,"insulation_corner_houses_start_value":21.0,"insulation_terraced_houses_start_value":21.0,"insulation_buildings_start_value":46.0,"typical_roof_surface_corner_house_available_for_pv":3.33e-05,"typical_roof_surface_terraced_house_available_for_pv":3.25e-05,"typical_roof_surface_detached_house_available_for_pv":6.17e-05,"typical_roof_surface_semi_detached_house_available_for_pv":4.58e-05,"typical_roof_surface_apartment_available_for_pv":1.90666666666667e-05,"typical_useful_demand_space_heating_corner_house":0.0444436934929221,"typical_useful_demand_space_heating_detached_house":0.069849301483813,"typical_useful_demand_space_heating_semi_detached_house":0.0539853183103173,"typical_useful_demand_space_heating_terraced_house":0.0384769640276346,"typical_useful_demand_space_heating_apartment":0.0273790433088697,"heat_demand_reduction_medium_insulation_corner_house":23.0,"heat_demand_reduction_medium_insulation_detached_house":23.0,"heat_demand_reduction_medium_insulation_semi_detached_house":26.0,"heat_demand_reduction_medium_insulation_terraced_house":31.0,"heat_demand_reduction_medium_insulation_apartments":32.0,"heat_demand_reduction_high_insulation_corner_house":69.0,"heat_demand_reduction_high_insulation_detached_house":67.0,"heat_demand_reduction_high_insulation_semi_detached_house":69.0,"heat_demand_reduction_high_insulation_terraced_house":69.0,"heat_demand_reduction_high_insulation_apartments":67.0,"heat_demand_reduction_high_insulation_buildings":74.0,"electric_vehicle_profile_1_share":1.0,"electric_vehicle_profile_2_share":0.0,"electric_vehicle_profile_3_share":0.0,"electric_vehicle_profile_4_share":0.0,"electric_vehicle_profile_5_share":0.0,"solar_pv_profile_1_share":1.0,"solar_pv_profile_2_share":0.0,"annual_infrastructure_cost_gas":0.19231245693838292,"areable_land":0.0,"co2_emission_1990":0.007224948,"coast_line":0.0,"interconnector_capacity":0.7748125847724106,"total_land_area":0.49,"number_of_buildings":5.0,"number_of_cars":1140.0,"number_of_residences":1005.0,"number_of_inhabitants":2485.0,"offshore_suitable_for_wind":4.9,"residences_roof_surface_available_for_pv":0.02160402,"buildings_roof_surface_available_for_pv":0.000411521,"other_emission_agriculture":0.0,"other_emission_built_environment":0.0,"other_emission_transport":0.0,"other_emission_industry_energy":0.0,"number_of_detached_houses":113.0,"number_of_apartments":15.000000000000002,"number_of_semi_detached_houses":122.0,"number_of_corner_houses":189.0,"number_of_terraced_houses":566.0,"init":{},"base_dataset":"nl","scaling":{"area_attribute":"number_of_residences","value":1005,"base_value":7587964},"uses_deprecated_initializer_inputs":false,"derived":true,"last_updated_at":"2019-09-03T17:28:35.000+02:00","useable":true}'
  recorded_at: Thu, 05 Sep 2019 10:35:10 GMT
recorded_with: VCR 3.0.3
