---
http_interactions:
- request:
    method: post
    uri: https://beta-engine.energytransitionmodel.com/api/v3/scenarios.json
    body:
      encoding: UTF-8
      string: '{"scenario":{"scenario_id":648695}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4edb299c953458eeb308cfd19914e9fb"
    body:
      encoding: ASCII-8BIT
      string: '{"id":1400221,"title":"API","area_code":"nl","start_year":2015,"end_year":2050,"url":"https://beta-engine.energytransitionmodel.com/api/v3/scenarios/1400221","ordering":null,"display_group":null,"scaling":null,"source":null,"template":648695,"created_at":"2021-02-04T14:09:02.000Z","updated_at":"2021-02-04T14:09:02.000Z","read_only":false,"keep_compatible":false}'
  recorded_at: Thu, 04 Feb 2021 14:09:02 GMT
recorded_with: VCR 3.0.3
