---
http_interactions:
- request:
    method: get
    uri: https://beta-engine.energytransitionmodel.com/api/v3/areas.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fb4c880dd0d98e64f594eb8e6985d7ec"
    body:
      encoding: ASCII-8BIT
      string: '[{"area":"noorderplantsoen","id":12,"parent_id":12,"group":"neighbourhood","analysis_year":2013,"has_agriculture":false,"has_buildings":true,"has_climate":true,"has_coastline":true,"has_cold_network":false,"has_electricity_storage":true,"has_employment":true,"has_fce":true,"has_industry":false,"has_lignite":false,"has_merit_order":true,"has_metal":true,"has_mountains":false,"has_old_technologies":true,"has_other":false,"has_solar_csp":false,"has_import_export":true,"use_network_calculations":true,"use_merit_order_demands":true,"has_aggregated_chemical_industry":false,"has_detailed_chemical_industry":true,"has_aggregated_other_industry":false,"has_detailed_other_industry":true,"buildings_insulation_constant_1":0.73,"buildings_insulation_constant_2":0.13,"buildings_insulation_cost_constant":39402.4,"buildings_insulation_employment_constant":0.0093,"co2_emission_1990_aviation_bunkers":4.6046,"co2_emission_1990_marine_bunkers":34.95619,"co2_percentage_free":0.85,"co2_price":0.005,"economic_multiplier":1.0,"employment_fraction_production":0.5,"employment_local_fraction":0.2,"insulation_level_buildings_max":3.0,"insulation_level_buildings_min":0.6,"insulation_level_new_houses_max":3.0,"insulation_level_new_houses_min":1.8,"insulation_level_old_houses_max":3.0,"insulation_level_old_houses_min":0.5,"new_houses_insulation_constant_1":1.85,"new_houses_insulation_constant_2":0.05,"new_houses_insulation_cost_constant":7071.0,"new_houses_insulation_employment_constant":0.014,"old_houses_insulation_constant_1":0.66,"old_houses_insulation_constant_2":0.16,"old_houses_insulation_cost_constant":5962.7,"old_houses_insulation_employment_constant":0.014,"man_hours_per_man_year":1800.0,"technical_lifetime_insulation":30.0,"lv_net_spare_capacity":0.25,"lv_net_total_costs_present":25056.8050527761,"lv_net_costs_per_capacity_step":183200.0,"lv_net_capacity_per_step":0.2,"mv_net_spare_capacity":0.25,"mv_net_total_costs_present":21533.1918422294,"mv_net_costs_per_capacity_step":1380000.0,"mv_net_capacity_per_step":2.0,"hv_net_spare_capacity":0.25,"hv_net_total_costs_present":12653.6865516519,"hv_net_costs_per_capacity_step":7280000.0,"hv_net_capacity_per_step":20.0,"lv_mv_trafo_spare_capacity":0.25,"lv_mv_trafo_total_costs_present":8926.48680005147,"lv_mv_trafo_costs_per_capacity_step":40000.0,"lv_mv_trafo_capacity_per_step":0.2,"mv_hv_trafo_spare_capacity":0.25,"mv_hv_trafo_total_costs_present":7517.04151583282,"mv_hv_trafo_costs_per_capacity_step":500000.0,"mv_hv_trafo_capacity_per_step":2.0,"interconnection_net_costs_present":0.0,"offshore_net_costs_present":0.0,"flh_solar_pv_solar_radiation_max":"","electric_vehicle_profile_1_share":1.0,"electric_vehicle_profile_2_share":0.0,"electric_vehicle_profile_3_share":0.0,"solar_pv_profile_1_share":1.0,"solar_pv_profile_2_share":0.0,"annual_infrastructure_cost_gas":0.42121714019227047,"areable_land":0.04,"co2_emission_1990":0.01628849,"coast_line":0.833107663375646,"interconnector_capacity":1.6970525276341475,"land_available_for_solar":8.4865223319229,"number_of_buildings":60.0,"number_of_cars":930.0,"number_of_residences":2161.0,"number_of_inhabitants":3948.0,"number_of_new_residences":152.0,"number_of_old_residences":2009.0,"offshore_suitable_for_wind":14.385493639803375,"onshore_suitable_for_wind":7.988911035643896,"residences_roof_surface_available_for_pv":0.029930796,"buildings_roof_surface_available_for_pv":0.00083102626561777,"other_emission_agriculture":0.0,"other_emission_built_environment":0.0,"other_emission_transport":0.0,"other_emission_industry_energy":0.0,"base_dataset":"nl2013","scaling":{"area_attribute":"number_of_residences","value":2161,"base_value":7449298,"has_agriculture":"","has_industry":"","has_energy":""},"geo_id":"BU00140004","uses_deprecated_initializer_inputs":true,"comments":"HOUSEHOLDS\nCooking","derived":true,"last_updated_at":"2018-06-21T14:37:49.000+02:00","useable":true},{"area":"om_gelderland","id":102,"parent_id":102,"group":"province","analysis_year":2015,"has_agriculture":true,"has_buildings":true,"has_climate":true,"has_coastline":true,"has_cold_network":false,"has_electricity_storage":true,"has_employment":true,"has_fce":true,"has_industry":true,"has_lignite":false,"has_merit_order":true,"has_metal":true,"has_mountains":false,"has_old_technologies":true,"has_other":true,"has_solar_csp":false,"has_import_export":true,"use_network_calculations":true,"u[...]
