= render partial: 'saved_scenarios/flash_notice'

= render partial: 'collection_info', locals: { collection: collection }
.bar
  .description#main-scenario-description
    A view of the coupled saved scenarios or interpolated scenario
