#overlay_container
  %h1= raw t(@description.title)

  %p
    - if @description.content
      = raw @description.content
    - else
      %small (Nederlandse tekst nog niet beschikbaar)
      %br
      = raw @description.content_en

    -#= @description.content.gsub('<a ', '<a target="_blank" ') || "Lorem"
    %div{:style => 'clear:both'} &nbsp;

- if @description.content.andand.include?("player")  || @description.content.andand.include?("object")
  %script flowplayer("player", "/flash/flowplayer-3.2.6.swf");


