#overlay_container
  - if @description.title
    %h1= raw t(@description.title)

  %p
    - if @description.content
      = raw @description.content
    - else
      %small (Nederlandse tekst nog niet beschikbaar)
      %br
      = raw @description.content_en

    %div{:style => 'clear:both'} &nbsp;

- if @description.embeds_player?
  %script flowplayer("player", "/flash/flowplayer-3.2.6.swf");


