#overlay_container
  %h1= I18n.t(@chart.title_for_description)

  %p
    - if @description.blank?
      No description available yet
    - else
      = @description
    %div{:style => 'clear:both'} &nbsp;

- if @chart.description_embeds_player?
  %script flowplayer("player", "/flash/flowplayer-3.2.6.swf");


