%h2 Tabs
%table.default
  %thead
    %tr
      %th Id
      %th Key
      %th Ordering
      %th Sidebar items
  %tbody
    - @interface.tabs.each do |tab|
      %tr{:class => cycle('even', 'odd')}
        %td= tab.id
        %td= link_to tab.key, edit_admin_tab_path(tab.id)
        %td= tab.position
        %td= link_to tab.sidebar_items.count,  admin_tab_sidebar_items_path(tab)
%a{:href => new_admin_tab_path} new tab
