---
http_interactions:
- request:
    method: get
    uri: https://beta-engine.energytransitionmodel.com/api/v3/scenarios/1604100.json?detailed=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a9c68da52cee18a79d6890fe81706635"
    body:
      encoding: UTF-8
      string: '{"id":1604100,"title":null,"area_code":"nl","start_year":2015,"end_year":2050,"description":null,"url":"https://beta-engine.energytransitionmodel.com/api/v3/scenarios/1604100","ordering":null,"display_group":null,"scaling":null,"source":"ETEngine
        Admin UI","template":null,"created_at":"2022-02-28T12:31:10.000Z","updated_at":"2022-02-28T12:55:52.000Z","read_only":true,"protected":true,"keep_compatible":true,"esdl_exportable":null,"user_values":{},"metadata":{}}'
  recorded_at: Sat, 10 Dec 2022 16:35:33 GMT
recorded_with: VCR 6.0.0
