%h1 Unsubscribed succesfully

- if @allow_news_changed
  %p You have been unsubscribed successfully from the mailing list.

- else
  %p You have <strong>already</strong> been unsubscribed successfully from the mailing list.

%p You will not receive any more emails.
