---
http_interactions:
- request:
    method: get
    uri: http://beta.et-engine.com/api/v3/areas.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: "[{\"area\":\"nl\",\"id\":1,\"parent_id\":1,\"analysis_year\":2011,\"has_agriculture\":true,\"has_buildings\":true,\"has_climate\":true,\"has_coastline\":true,\"has_cold_network\":false,\"has_electricity_storage\":true,\"has_employment\":true,\"has_fce\":true,\"has_industry\":true,\"has_lignite\":false,\"has_merit_order\":true,\"has_metal\":true,\"has_mountains\":false,\"has_old_technologies\":false,\"has_other\":true,\"has_solar_csp\":false,\"has_import_export\":true,\"use_network_calculations\":true,\"annual_infrastructure_cost_electricity\":1810.0,\"annual_infrastructure_cost_gas\":1452.0,\"areable_land\":19175.5,\"buildings_insulation_constant_1\":0.73,\"buildings_insulation_constant_2\":0.13,\"buildings_insulation_cost_constant\":39402.4,\"buildings_insulation_employment_constant\":0.0093,\"capacity_buffer_decentral_in_mj_s\":20000.0,\"capacity_buffer_in_mj_s\":1600.0,\"co2_emission_1990\":152.52136,\"co2_percentage_free\":0.85,\"co2_price\":0.00441,\"coast_line\":451.0,\"economic_multiplier\":1.0,\"employment_fraction_production\":0.5,\"employment_local_fraction\":0.2,\"export_electricity_primary_demand_factor\":1.0,\"import_electricity_primary_demand_factor\":1.82,\"insulation_level_buildings_max\":3.0,\"insulation_level_buildings_min\":0.6,\"insulation_level_new_houses_max\":3.0,\"insulation_level_new_houses_min\":1.8,\"insulation_level_old_houses_max\":3.0,\"insulation_level_old_houses_min\":0.5,\"land_available_for_solar\":19175.489,\"man_hours_per_man_year\":1800.0,\"new_houses_insulation_constant_1\":1.85,\"new_houses_insulation_constant_2\":0.05,\"new_houses_insulation_cost_constant\":7071.0,\"new_houses_insulation_employment_constant\":0.014,\"number_of_buildings\":392358.0,\"number_of_residences\":7386743.0,\"number_of_inhabitants\":16655799.0,\"number_of_new_residences\":1647243.7,\"number_of_old_residences\":5739499.3,\"offshore_suitable_for_wind\":16000.0,\"old_houses_insulation_constant_1\":0.66,\"old_houses_insulation_constant_2\":0.16,\"old_houses_insulation_cost_constant\":5962.7,\"old_houses_insulation_employment_constant\":0.014,\"onshore_suitable_for_wind\":11379.0,\"residences_roof_surface_available_for_pv\":266.7,\"buildings_roof_surface_available_for_pv\":133.3,\"technical_lifetime_insulation\":30.0,\"capacity_credit_wind_constant_p1\":1115.0,\"capacity_credit_wind_constant_p2\":41870.0,\"capacity_credit_wind_constant_q1\":3358.0,\"queries\":{},\"useable\":true},{\"area\":\"de\",\"id\":2,\"parent_id\":2,\"analysis_year\":2011,\"has_agriculture\":false,\"has_buildings\":true,\"has_climate\":false,\"has_coastline\":true,\"has_cold_network\":false,\"has_electricity_storage\":false,\"has_employment\":false,\"has_fce\":false,\"has_industry\":true,\"has_lignite\":true,\"has_merit_order\":false,\"has_metal\":true,\"has_mountains\":true,\"has_old_technologies\":true,\"has_other\":true,\"has_solar_csp\":true,\"has_import_export\":true,\"use_network_calcula[...]
