#arrow_box_households{:style=>'top: 550px;'}
  = t("intro.section")
#shadowbox-outer{:style => "width: 70%; margin: 0px 0px 40px 25%;"}
  = render :partial => 'shared/shadowbox_frame'
  #shadowbox-inner{:style => "padding: 20px 40px 40px 40px; float: left;" }
    #shadowbox-content{:style => ""}
      #text_wide
        = t_db("intro_cost")
  .clear
#arrow_box_constraints
  = t("intro.results")