root_page: '/transition_price'
whitelist_file: "config/whitelists/transition_price_sliders.yml"
save_button: true
max_scenarios: 1
header_logo: /images/layout/transitieprijs_logo.png
hoptoad_api_key: '1d5a09b7fdf676e3ff69d20eba322caa'
api_url: http://localhost:3100/api/v1