---
http_interactions:
- request:
    method: post
    uri: https://beta-engine.energytransitionmodel.com/api/v3/scenarios.json
    body:
      encoding: UTF-8
      string: '{"scenario":{"scenario_id":"12345","read_only":true,"keep_compatible":true,"source":"ETM"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4f74133258d6a53392c01bcd51a11521"
    body:
      encoding: ASCII-8BIT
      string: '{"id":1317774,"title":"API","area_code":"nl","start_year":2015,"end_year":2050,"url":"https://beta-engine.energytransitionmodel.com/api/v3/scenarios/1317774","ordering":null,"display_group":null,"scaling":null,"source":"ETM","template":null,"created_at":"2020-06-18T11:17:42.000Z","read_only":true,"keep_compatible":true}'
  recorded_at: Thu, 18 Jun 2020 11:17:42 GMT
- request:
    method: post
    uri: https://beta-engine.energytransitionmodel.com/api/v3/scenarios.json
    body:
      encoding: UTF-8
      string: '{"scenario":{"scenario_id":"12345","read_only":true,"keep_compatible":true,"source":"ETM"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a154482bb35ac5ad495545dea798d539"
    body:
      encoding: ASCII-8BIT
      string: '{"id":1317776,"title":"API","area_code":"nl","start_year":2015,"end_year":2050,"url":"https://beta-engine.energytransitionmodel.com/api/v3/scenarios/1317776","ordering":null,"display_group":null,"scaling":null,"source":"ETM","template":null,"created_at":"2020-06-18T11:18:54.000Z","read_only":true,"keep_compatible":true}'
  recorded_at: Thu, 18 Jun 2020 11:18:54 GMT
recorded_with: VCR 3.0.3
