--- 
http_interactions: 
- request: 
    method: get
    uri: http://etengine.dev/api/v3/scenarios/templates.json
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"231ee2b9c9a57beb0f6aa42db66e8a1c\""
    body: 
      encoding: US-ASCII
      string: "[{\"id\":1,\"title\":\"Referentiescenario 2030 gebaseerd op deelnemers 'Watt Nu?!'\",\"area_code\":\"nl\",\"end_year\":2030,\"description\":\"<span class='nl'>\\n<p>Dit Referentiescenario geeft een overzicht van de ambities van 24 prominente Nederlanders die in het kader van het televisieprogramma 'Watt Nu?!' hun visie hebben gegeven op de energietoekomst van Nederland in 2030.</p>\\n</span>\\n<span class='en'>\\n<p>The Reference scenario gives an overview of the ambitions of 24 prominent people from the Netherlands, who created a vision on the energy future of the Netherlands for the television program \\\"Watt Nu?!\\\".</p>\\n</span>\\n\",\"url\":\"http://etengine.dev/api/v3/scenarios/1\"},{\"id\":80,\"title\":\"Watt Nu - Jolande Sap\",\"area_code\":\"nl\",\"end_year\":2030,\"description\":\"<span class='nl'>\\n<p>Dit scenario is gemaakt door Jolande Sap (Lijsttrekker GroenLinks) voor het televisieprogramma 'Watt Nu?!'. Als u dit scenario opent kunt u zien welke instellingen Mevr. Sap gedaan heeft. De uitzending zelf kunt u nakijken op <a href='http://rtl.nl/xl/#/u/32f8fbaf-fbc2-30b0-9762-435bdae07afa' target='_new'>RTL XL</a></p>\\n<p>J[...]
- request: 
    method: get
    uri: http://etengine.dev/api/v3/areas/de.json
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"a53c7a3675c8c3da09818f22c3835d54\""
    body: 
      encoding: US-ASCII
      string: "{\"co2_price\":0.00805,\"man_hours_per_man_year\":1800.0,\"man_year_per_mj_insulation_per_year\":1.22916e-08,\"annual_infrastructure_cost_electricity\":0.0,\"areable_land\":189324.0,\"available_land\":357021.0,\"capacity_buffer_decentral_in_mj_s\":0.0,\"capacity_buffer_in_mj_s\":0.0,\"co2_emission_1990\":948.09,\"co2_emission_electricity_1990\":335.78,\"co2_percentage_free\":0.85,\"coast_line\":2196.0,\"country\":\"de\",\"created_at\":\"2010-05-19T14:55:43Z\",\"current_electricity_demand_in_mj\":1,\"el_export_capacity\":13300.0,\"el_import_capacity\":18300.0,\"entity\":\"\",\"export_electricity_primary_demand_factor\":1.0,\"has_agriculture\":false,\"has_buildings\":true,\"has_coastline\":true,\"has_industry\":true,\"has_lignite\":true,\"has_mountains\":true,\"has_old_technologies\":true,\"has_other\":true,\"has_solar_csp\":true,\"heat_recovery\":0.2,\"id\":2,\"import_electricity_primary_demand_factor\":1.82,\"insulation_level_existing_houses\":1.0,\"insulation_level_new_houses\":2.5,\"insulation_level_buildings\":1.0,\"km_per_car\":17452.1,\"km_per_truck\":319729.0,\"land_available_for_solar\":132527.0,\"market_share_daylight_control\":0.205,\"market_share_motion_detection\":0.265,\"number_households\":40076000.0,\"number_inhabitants\":82329800.0,\"offshore_suitable_for_wind\":1010.0,\"onshore_suitable_for_wind\":23665.0,\"parent_id\":2,\"percentage_of_new_houses\":14.0,\"recirculation\":0.1,\"roof_surface_available_pv\":1344.0,\"roof_surface_available_pv_buildings\":1000.0,\"updated_at\":\"2011-01-17T10:53:04Z\",\"use_network_calculations\":false,\"ventilation_rate\":2.5,\"area\":\"de\",\"number_of_existing_households\":34465360.0}"
  recorded_at: Thu, 04 Oct 2012 11:54:48 GMT
- request: 
    method: post
    uri: http://etengine.dev/api/v3/scenarios
    body: 
      encoding: US-ASCII
      string: scenario[area_code]=de&scenario[end_year]=2050&scenario[source]=ETM
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"5555b60090e9e6fbe3c810f25fb94381\""
    body: 
      encoding: US-ASCII
      string: "{\"id\":121057,\"title\":\"API\",\"area_code\":\"de\",\"end_year\":2050,\"url\":\"http://etengine.dev/api/v3/scenarios/121057\",\"source\":\"ETM\",\"template\":null,\"created_at\":\"2012-10-04T13:54:50+02:00\"}"
  recorded_at: Thu, 04 Oct 2012 11:54:50 GMT
- request: 
    method: get
    uri: http://etengine.dev/api/v3/scenarios/121057/inputs.json
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"d1da8016ea148c57cc1dfd5252ca9417\""
    body: 
      encoding: US-ASCII
      string: "{\"agriculture_electricity_demand\":{\"min\":-5.0,\"max\":5.0,\"default\":0.0},\"agriculture_heat_demand\":{\"min\":-5.0,\"max\":5.0,\"default\":0.0},\"agriculture_heating_biomass_fired_heater_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"share_group\":\"agri_heat\"},\"agriculture_heating_combined_heat_power_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"share_group\":\"agri_heat\"},\"agriculture_heating_gas_fired_heater_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"share_group\":\"agri_heat\"},\"agriculture_heating_geothermal_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"share_group\":\"agri_heat\"},\"agriculture_heating_heat_pump_with_ts_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"share_group\":\"agri_heat\"},\"agriculture_heating_oil_fired_heater_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"share_group\":\"agri_heat\"},\"agriculture_number_of_small_gas_chp\":{\"min\":0.0,\"max\":0.0,\"default\":0.0},\"buildings_cooling_airconditioning_share\":{\"min\":0.0,\"max\":100.0,\"default\":92.0,\"share_group\":\"cooling_buildings\"},\"buildings_cooling_cooling_network_share\":{\"min\":0.0,\"max\":0.0,\"default\":0.0,\"disabled\":true,\"share_group\":\"cooling_buildings\"},\"buildings_cooling_gas_fired_heat_pump_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"share_group\":\"cooling_buildings\"},\"buildings_cooling_heat_pump_with_ts_share\":{\"min\":0.0,\"max\":100.0,\"default\":8.0,\"share_group\":\"cooling_buildings\"},\"buildings_heating_biomass_chp_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"share_group\":\"district_heating_buildings\"},\"buildings_heating_geothermal_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"share_group\":\"district_heating_buildings\"},\"buildings_heating_heat_network_share\":{\"min\":0.0,\"max\":100.0,\"default\":78.1984781063219,\"share_group\":\"district_heating_buildings\"},\"buildings_heating_small_gas_chp_share\":{\"min\":0.0,\"max\":100.0,\"default\":21.8015218936781,\"share_group\":\"district_heating_buildings\"},\"buildings_heating_biomass_fired_heater_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"share_group\":\"heating_buildings\"},\"buildings_heating_oil_fired_heater_share\":{\"min\":0.0,\"max\":100.0,\"default\":23.2242448482371,\"share_group\":\"heating_buildings\"},\"buildings_heating_coal_fired_heater_share\":{\"min\":0.0,\"max\":100.0,\"default\":1.9866078251755002,\"share_group\":\"heating_buildings\"},\"buildings_heating_district_heating_network_share\":{\"min\":0.0,\"max\":100.0,\"default\":32.3109581082402,\"share_group\":\"heating_buildings\"},\"buildings_heating_electric_heater_share\":{\"min\":0.0,\"max\":100.0,\"default\":4.23006768117437,\"share_group\":\"heating_buildings\"},\"buildings_heating_gas_fired_heat_pump_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"share_group\":\"heating_buildings\"},\"buildings_heating_gas_fired_heater_share\":{\"min\":0.0,\"max\":100.0,\"default\":38.24812153717283,\"share_group\":\"heating_buildings\"},\"buildings_heating_heat_pump_with_ts_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"share_group\":\"heating_buildings\"},\"buildings_heating_solar_thermal_panels_share\":{\"min\":0.0,\"max\":13.0,\"default\":0.0,\"share_group\":\"heating_buildings\"},\"buildings_appliances_efficiency\":{\"min\":0.0,\"max\":5.0,\"default\":0.0},\"buildings_cooling_per_student_employee\":{\"min\":-5.0,\"max\":5.0,\"default\":0.0},\"buildings_electricity_per_student_employee\":{\"min\":-5.0,\"max\":5.0,\"default\":0.0},\"buildings_heat_per_employee_student\":{\"min\":-5.0,\"max\":5.0,\"default\":0.0},\"buildings_insulation_level\":{\"min\":1.0,\"max\":4.0,\"default\":1.0},\"buildings_lighting_daylight_dependent_control\":{\"min\":0.0,\"max\":100.0,\"default\":20.498180625},\"buildings_lighting_motion_detection\":{\"min\":0.0,\"max\":100.0,\"default\":26.489399999999996},\"buildings_market_penetration_solar_panels\":{\"min\":0.0,\"max\":100.0,\"default\":1.1133193775181431},\"buildings_number_of_buildings\":{\"min\":-5.0,\"max\":5.0,\"default\":0.0},\"buildings_recirculation\":{\"min\":0.0,\"max\":50.0,\"default\":10.0},\"buildings_ventilation_rate\":{\"min\":1.5,\"max\":3.0,\"default\":2.5},\"buildings_waste_heat_recovery\":{\"min\":0.0,\"max\":50.0,\"default\":20.0},\"coal_from_australia_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"share_group\":\"coal_fce\"},\"coal_from_east_asia_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"share_group\":\"coal_fce\"},\"coal_from_eastern_europe_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"share_group\":\"coal_fce\"},\"coal_from_north_america_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"share_group\":\"coal_fce\"},\"coal_from_russia_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"share_group\":\"coal_fce\"},\"coal_from_south_africa_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"share_group\":\"coal_fce\"},\"coal_from_south_america_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"share_group\":\"coal_fce\"},\"coal_from_western_europe_share\":{\"min\":0.0,\"max\":100.0,\"default\":0,\"share_group\":\"coal_fce\"},\"share_biocoal_co_firing_coal\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"share_group\":\"coal_plant_fuel\"},\"share_coal_co_firing_coal\":{\"min\":0.0,\"max\":100.0,\"default\":85.6566348481212,\"share_group\":\"coal_plant_fuel\"},\"share_of_wood_pellets_co_firing_coal\":{\"min\":0.0,\"max\":50.0,\"default\":14.343365151878801,\"share_group\":\"coal_plant_fuel\"},\"costs_biomass\":{\"min\":-100.0,\"max\":1000.0,\"default\":0.0,\"label\":{\"value\":136.29,\"suffix\":\"&euro;/tonne\"}},\"costs_co2\":{\"min\":-100.0,\"max\":3500.0,\"default\":0.0,\"label\":{\"value\":8.05,\"suffix\":\"&euro;/tonne\"}},\"costs_co2_free_allocation\":{\"min\":0.0,\"max\":100.0,\"default\":85.0},\"costs_coal\":{\"min\":-100.0,\"max\":1000.0,\"default\":0.0,\"label\":{\"value\":108.06,\"suffix\":\"&#36;/tonne\"}},\"costs_gas\":{\"min\":-100.0,\"max\":1000.0,\"default\":0.0,\"label\":{\"value\":27.17,\"suffix\":\"&euro;/MWh\"}},\"costs_oil\":{\"min\":-100.0,\"max\":1000.0,\"default\":0.0,\"label\":{\"value\":79.18,\"suffix\":\"&#36;/barrel\"}},\"costs_uranium\":{\"min\":-100.0,\"max\":1000.0,\"default\":0.0,\"label\":{\"value\":84.0,\"suffix\":\"&euro;/kg\"}},\"investment_costs_co2_ccs\":{\"min\":-100.0,\"max\":300.0,\"default\":0.0},\"investment_costs_combustion_biomass_plant\":{\"min\":-100.0,\"max\":300.0,\"default\":0.0},\"investment_costs_combustion_coal_plant\":{\"min\":-100.0,\"max\":300.0,\"default\":0.0},\"investment_costs_combustion_gas_plant\":{\"min\":-100.0,\"max\":300.0,\"default\":0.0},\"investment_costs_combustion_oil_plant\":{\"min\":-100.0,\"max\":300.0,\"default\":0.0},\"investment_costs_combustion_waste_incinerator\":{\"min\":-100.0,\"max\":300.0,\"default\":0.0},\"investment_costs_earth_geothermal_electricity\":{\"min\":-100.0,\"max\":300.0,\"default\":0.0},\"investment_costs_fuel_cell\":{\"min\":-100.0,\"max\":300.0,\"default\":0.0},\"investment_costs_micro_chp\":{\"min\":-100.0,\"max\":300.0,\"default\":0.0},\"investment_costs_nuclear_nuclear_plant\":{\"min\":-100.0,\"max\":300.0,\"default\":0.0},\"investment_costs_solar_concentrated_solar_power\":{\"min\":-100.0,\"max\":300.0,\"default\":0.0},\"investment_costs_solar_solar_panels\":{\"min\":-100.0,\"max\":300.0,\"default\":0.0},\"investment_costs_water_mountains\":{\"min\":-100.0,\"max\":300.0,\"default\":0.0},\"investment_costs_water_river\":{\"min\":-100.0,\"max\":300.0,\"default\":0.0},\"investment_costs_wind_offshore\":{\"min\":-100.0,\"max\":300.0,\"default\":0.0},\"investment_costs_wind_onshore\":{\"min\":-100.0,\"max\":300.0,\"default\":0.0},\"om_costs_co2_ccs\":{\"min\":-100.0,\"max\":300.0,\"default\":0.0},\"om_costs_combustion_biomass_plant\":{\"min\":-100.0,\"max\":300.0,\"default\":0.0},\"om_costs_combustion_coal_plant\":{\"min\":-100.0,\"max\":300.0,\"default\":0.0},\"om_costs_combustion_gas_plant\":{\"min\":-100.0,\"max\":300.0,\"default\":0.0},\"om_costs_combustion_oil_plant\":{\"min\":-100.0,\"max\":300.0,\"default\":0.0},\"om_costs_combustion_waste_incinerator\":{\"min\":-100.0,\"max\":300.0,\"default\":0.0},\"om_costs_earth_geothermal_electricity\":{\"min\":-100.0,\"max\":300.0,\"default\":0.0},\"om_costs_nuclear_nuclear_plant\":{\"min\":-100.0,\"max\":300.0,\"default\":0.0},\"om_costs_water_mountains\":{\"min\":-100.0,\"max\":300.0,\"default\":0.0},\"om_costs_water_river\":{\"min\":-100.0,\"max\":300.0,\"default\":0.0},\"om_costs_wind_offshore\":{\"min\":-100.0,\"max\":300.0,\"default\":0.0},\"om_costs_wind_onshore\":{\"min\":-100.0,\"max\":300.0,\"default\":0.0},\"DEPRECATED_mw_of_electricity_biomass_chp\":{\"min\":0.0,\"max\":100000000.0,\"default\":1202.4353120243532},\"DEPRECATED_mw_of_electricity_micro_chp\":{\"min\":0.0,\"max\":100000000.0,\"default\":0.0},\"DEPRECATED_mw_of_electricity_small_chp\":{\"min\":0.0,\"max\":100000000.0,\"default\":4033.485540334855},\"DEPRECATED_mw_of_heat_biomass_chp_fixed\":{\"min\":0.0,\"max\":100000000.0,\"default\":3835.3800415251503},\"DEPRECATED_mw_of_heat_biomass_fired_heater_fixed\":{\"min\":0.0,\"max\":100000000.0,\"default\":36336.05025630364},\"DEPRECATED_mw_of_heat_central_coal_chp_fixed\":{\"min\":0.0,\"max\":100000000.0,\"default\":6844.476400382463},\"DEPRECATED_mw_of_heat_coal_fired_heater\":{\"min\":0.0,\"max\":100000000.0,\"default\":70813.36522122915},\"DEPRECATED_mw_of_heat_gas_fired_heat_pump\":{\"min\":0.0,\"max\":100000000.0,\"default\":0.0},\"DEPRECATED_mw_of_heat_gas_fired_heater\":{\"min\":0.0,\"max\":100000000.0,\"default\":522414.773709968},\"DEPRECATED_mw_of_heat_geothermal_fixed\":{\"min\":0.0,\"max\":100000000.0,\"default\":82.70432448290208},\"DEPRECATED_mw_of_heat_large_gas_chp_fixed\":{\"min\":0.0,\"max\":100000000.0,\"default\":6938.918876296567},\"DEPRECATED_mw_of_heat_lignite_chp_fixed\":{\"min\":0.0,\"max\":100000000.0,\"default\":1513.2846183074496},\"DEPRECATED_mw_of_heat_micro_chp_fixed\":{\"min\":0.0,\"max\":100000000.0,\"default\":0.0},\"DEPRECATED_mw_of_heat_oil_fired_heater\":{\"min\":0.0,\"max\":100000000.0,\"default\":209919.3128282471},\"DEPRECATED_mw_of_heat_small_gas_chp_fixed\":{\"min\":0.0,\"max\":100000000.0,\"default\":10202.097074243193},\"DEPRECATED_mw_of_heat_solar_water_heater_fixed\":{\"min\":0.0,\"max\":100000000.0,\"default\":5699.9298245614145},\"DEPRECATED_mw_of_solar_pv_roofs\":{\"min\":0.0,\"max\":100000000.0,\"default\":5219.655500178083},\"economic_multiplier\":{\"min\":1.0,\"max\":3.0,\"default\":1.0},\"employment_fraction_production\":{\"min\":0.0,\"max\":90.0,\"default\":0.0},\"employment_local_fraction\":{\"min\":0.0,\"max\":100.0,\"default\":0.0},\"electricity_bio_oil_share_in_gas_production\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"share_group\":\"energy_sector_gas\"},\"electricity_natural_gas_share\":{\"min\":0.0,\"max\":100.0,\"default\":100.0,\"share_group\":\"energy_sector_gas\"},\"electricity_oil_share_in_gas_production\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"share_group\":\"energy_sector_gas\"},\"green_gas_total_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"share_group\":\"fuels_gas\"},\"natural_gas_total_share\":{\"min\":0.0,\"max\":100.0,\"default\":100.0,\"share_group\":\"fuels_gas\"},\"gas_from_algeria_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"share_group\":\"gas_fce\"},\"gas_from_middle_east_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"share_group\":\"gas_fce\"},\"gas_from_nederlands_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"share_group\":\"gas_fce\"},\"gas_from_norway_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"share_group\":\"gas_fce\"},\"gas_from_russia_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"share_group\":\"gas_fce\"},\"households_cooking_biomass_share\":{\"min\":0.0,\"max\":100.0,\"default\":2.10294362832236,\"share_group\":\"cooking\"},\"households_cooking_electric_share\":{\"min\":0.0,\"max\":100.0,\"default\":34.9010331831096,\"share_group\":\"cooking\"},\"households_cooking_gas_share\":{\"min\":0.0,\"max\":100.0,\"default\":10.644473413903652,\"share_group\":\"cooking\"},\"households_cooking_halogen_share\":{\"min\":0.0,\"max\":100.0,\"default\":17.4505165915548,\"share_group\":\"cooking\"},\"households_cooking_induction_share\":{\"min\":0.0,\"max\":100.0,\"default\":34.9010331831096,\"share_group\":\"cooking\"},\"households_cooling_airconditioning_share\":{\"min\":0.0,\"max\":100.0,\"default\":100.0,\"share_group\":\"cooling_households\"},\"households_cooling_demand_per_person\":{\"min\":-5.0,\"max\":5.0,\"default\":0.0},\"households_cooling_heat_pump_ground_share\":{\"min\":0.0,\"max\":20.0,\"default\":0.0,\"share_group\":\"cooling_households\"},\"households_cooling_heatpump_air_water_electricity_share\":{\"min\":0.0,\"max\":20.0,\"default\":0.0,\"share_group\":\"cooling_households\"},\"households_heating_biomass_chp_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"share_group\":\"district_heating_households\"},\"households_heating_geothermal_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.666504114599208,\"share_group\":\"district_heating_households\"},\"households_heating_heat_network_share\":{\"min\":0.0,\"max\":100.0,\"default\":99.3334958854008,\"share_group\":\"district_heating_households\"},\"households_heating_small_gas_chp_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"share_group\":\"district_heating_households\"},\"households_efficiency_computer_media\":{\"min\":-20.0,\"max\":80.0,\"default\":0.0},\"households_efficiency_dish_washer\":{\"min\":-52.0,\"max\":79.0,\"default\":0.0},\"households_efficiency_dryer\":{\"min\":-4.0,\"max\":77.0,\"default\":0.0},\"households_efficiency_fridge_freezer\":{\"min\":-57.0,\"max\":96.0,\"default\":0.0},\"households_efficiency_low_temperature_washing\":{\"min\":0.0,\"max\":100.0,\"default\":0.0},\"households_efficiency_other\":{\"min\":-20.0,\"max\":80.0,\"default\":0.0},\"households_efficiency_television\":{\"min\":-20.0,\"max\":80.0,\"default\":0.0},\"households_efficiency_vacuum_cleaner\":{\"min\":-20.0,\"max\":80.0,\"default\":0.0},\"households_efficiency_washing_machine\":{\"min\":-67.0,\"max\":86.0,\"default\":0.0},\"households_heating_coal_fired_heater_share\":{\"min\":0.0,\"max\":100.0,\"default\":1.9064591323547602,\"share_group\":\"heating_households\"},\"households_heating_district_heating_network_share\":{\"min\":0.0,\"max\":100.0,\"default\":8.19816152658853,\"share_group\":\"heating_households\"},\"households_heating_electric_heater_share\":{\"min\":0.0,\"max\":100.0,\"default\":2.88744970883453,\"share_group\":\"heating_households\"},\"households_heating_gas_combi_heater_share\":{\"min\":0.0,\"max\":100.0,\"default\":48.13491379838025,\"share_group\":\"heating_households\"},\"households_heating_gas_fired_heater_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"share_group\":\"heating_households\"},\"households_heating_heat_pump_add_on_share\":{\"min\":0.0,\"max\":100.0,\"default\":4.22147099645567},\"households_heating_heat_pump_ground_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.288744970883453,\"share_group\":\"heating_households\"},\"households_heating_micro_chp_share\":{\"min\":0.0,\"max\":50.0,\"default\":0.0,\"share_group\":\"heating_households\"},\"households_heating_oil_fired_heater_share\":{\"min\":0.0,\"max\":100.0,\"default\":29.6286040841923,\"share_group\":\"heating_households\"},\"households_heating_pellet_stove_share\":{\"min\":0.0,\"max\":100.0,\"default\":8.95566677876617,\"share_group\":\"heating_households\"},\"households_heating_solar_thermal_panels_share\":{\"min\":0.0,\"max\":100.0,\"default\":15.0},\"households_space_heater_heatpump_air_water_electricity_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"share_group\":\"heating_households\"},\"households_hot_water_biomass_heater_share\":{\"min\":0.0,\"max\":100.0,\"default\":2.32366264323773,\"share_group\":\"hot_water_households\"},\"households_hot_water_coal_fired_heater_hotwater_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.8597579883502701,\"share_group\":\"hot_water_households\"},\"households_hot_water_demand_per_person\":{\"min\":-5.0,\"max\":5.0,\"default\":0.0},\"households_hot_water_electric_boiler_share\":{\"min\":0.0,\"max\":100.0,\"default\":29.1751346616749,\"share_group\":\"hot_water_households\"},\"households_hot_water_fuel_cell_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"share_group\":\"hot_water_households\"},\"households_hot_water_gas_fired_heater_share\":{\"min\":0.0,\"max\":100.0,\"default\":31.7526405426942,\"share_group\":\"hot_water_households\"},\"households_hot_water_gas_water_heater_share\":{\"min\":0.0,\"max\":100.0,\"default\":7.938160135673569,\"share_group\":\"hot_water_households\"},\"households_hot_water_heat_network_share\":{\"min\":0.0,\"max\":100.0,\"default\":7.39426798366715,\"share_group\":\"hot_water_households\"},\"households_hot_water_micro_chp_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"share_group\":\"hot_water_households\"},\"households_hot_water_oil_fired_heater_share\":{\"min\":0.0,\"max\":100.0,\"default\":20.556376044702198,\"share_group\":\"hot_water_households\"},\"households_hot_water_solar_water_heater_share\":{\"min\":0.0,\"max\":100.0,\"default\":3.9381740727778003},\"households_water_heater_heatpump_air_water_electricity_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"share_group\":\"hot_water_households\"},\"households_water_heater_heatpump_ground_water_electricity_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"share_group\":\"hot_water_households\"},\"households_lighting_incandescent_share\":{\"min\":0.0,\"max\":100.0,\"default\":80.0,\"share_group\":\"household_light\"},\"households_lighting_light_emitting_diode_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"share_group\":\"household_light\"},\"households_lighting_low_energy_light_bulb_share\":{\"min\":0.0,\"max\":100.0,\"default\":20.0,\"share_group\":\"household_light\"},\"households_behavior_close_windows_turn_off_heating\":{\"min\":0.0,\"max\":100.0,\"default\":0.0},\"households_behavior_standby_killer_turn_off_appliances\":{\"min\":0.0,\"max\":100.0,\"default\":0.0},\"households_behavior_turn_off_the_light\":{\"min\":0.0,\"max\":100.0,\"default\":0.0},\"households_electricity_demand_per_person\":{\"min\":-5.0,\"max\":5.0,\"default\":0.0},\"households_heat_demand_per_person\":{\"min\":-5.0,\"max\":5.0,\"default\":0.0},\"households_insulation_level_new_houses\":{\"min\":2.5,\"max\":6.0,\"default\":2.5},\"households_insulation_level_old_houses\":{\"min\":1.0,\"max\":3.0,\"default\":1.0},\"households_market_penetration_solar_panels\":{\"min\":0.0,\"max\":100.0,\"default\":1.475795453919398},\"households_number_of_inhabitants\":{\"min\":-5.0,\"max\":5.0,\"default\":0.0},\"households_replacement_of_existing_houses\":{\"min\":0.0,\"max\":5.0,\"default\":0.0},\"industry_aluminium_carbothermalreduction_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"share_group\":\"aluminium_production\"},\"industry_aluminium_electrolysis_bat_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"share_group\":\"aluminium_production\"},\"industry_aluminium_electrolysis_current_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"share_group\":\"aluminium_production\"},\"industry_aluminium_production\":{\"min\":-5.0,\"max\":5.0,\"default\":0.0},\"industry_aluminium_smeltoven_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"share_group\":\"aluminium_production\"},\"industry_demand\":{\"min\":-5.0,\"max\":5.0,\"default\":0.0},\"industry_efficiency_electricity\":{\"min\":0.0,\"max\":5.0,\"default\":0.0},\"industry_electricity_demand\":{\"min\":-5.0,\"max\":10.0,\"default\":0.0},\"industry_heat_demand\":{\"min\":-5.0,\"max\":5.0,\"default\":0.0},\"industry_heat_from_fuels\":{\"min\":0.0,\"max\":5.0,\"default\":0.0},\"industry_heating_biomass_fired_heater_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.00723249074303821,\"share_group\":\"ind_heat\"},\"industry_heating_coal_fired_heater_share\":{\"min\":0.0,\"max\":100.0,\"default\":27.4514710651253,\"share_group\":\"ind_heat\"},\"industry_heating_combined_heat_power_share\":{\"min\":0.0,\"max\":100.0,\"default\":23.3158006936704,\"share_group\":\"ind_heat\"},\"industry_heating_gas_fired_heater_share\":{\"min\":0.0,\"max\":100.0,\"default\":28.750868394252198,\"share_group\":\"ind_heat\"},\"industry_heating_oil_fired_heater_share\":{\"min\":0.0,\"max\":100.0,\"default\":20.474627356209098,\"share_group\":\"ind_heat\"},\"industry_non_energetic_oil_demand\":{\"min\":-5.0,\"max\":5.0,\"default\":0.0},\"industry_non_energetic_other_demand\":{\"min\":-5.0,\"max\":5.0,\"default\":0.0},\"industry_number_of_biomass_chp\":{\"min\":0.0,\"max\":2235.8931476751163,\"default\":61.9651288486589},\"industry_number_of_gas_chp\":{\"min\":0.0,\"max\":2558.9816540517722,\"default\":143.6337091914388},\"industry_other_metals_process_electricity_efficiency\":{\"min\":0.0,\"max\":2.0,\"default\":0.0},\"industry_other_metals_process_heat_efficiency\":{\"min\":0.0,\"max\":2.0,\"default\":0.0},\"industry_other_metals_production\":{\"min\":-5.0,\"max\":5.0,\"default\":0.0},\"buildings_lighting_fluorescent_tube_conventional_share\":{\"min\":0.0,\"max\":100.0,\"default\":75.0,\"share_group\":\"lighting_buildings\"},\"buildings_lighting_fluorescent_tube_high_performance_share\":{\"min\":0.0,\"max\":100.0,\"default\":24.0,\"share_group\":\"lighting_buildings\"},\"buildings_lighting_led_tube_share\":{\"min\":0.0,\"max\":100.0,\"default\":1.0,\"share_group\":\"lighting_buildings\"},\"initial_updates_max_demands\":{\"min\":2008,\"max\":2050,\"default\":2040},\"initial_updates_preset_demands\":{\"min\":2008,\"max\":2050,\"default\":2040},\"pj_of_heat_import\":{\"min\":0.0,\"max\":6.0,\"default\":0.0,\"disabled\":true},\"settings_enable_merit_order\":{\"min\":0.0,\"max\":1.0,\"default\":0.0},\"share_biomass_co_firing_coal\":{\"min\":0.0,\"max\":100.0,\"default\":14.343365151878801},\"uranium_from_australia_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"share_group\":\"nuclear_fce\"},\"uranium_from_canada_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"share_group\":\"nuclear_fce\"},\"uranium_from_kazachstan_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"share_group\":\"nuclear_fce\"},\"number_of_backup_burner_fixed\":{\"min\":0.0,\"max\":1000.0,\"default\":14.602269294561872},\"number_of_biomass_chp_fixed\":{\"min\":0.0,\"max\":100000000.0,\"default\":61.9651288486589},\"number_of_biomass_fired_heater_district\":{\"min\":0.0,\"max\":1932.3929464303153,\"default\":21.47880019533232},\"number_of_biomass_fired_heater_fixed\":{\"min\":0.0,\"max\":100000000.0,\"default\":3589087.2865940435},\"number_of_central_coal_chp_fixed\":{\"min\":0.0,\"max\":100000000.0,\"default\":10.987237014634273},\"number_of_central_coal_chp\":{\"min\":0.0,\"max\":545.4871237319683,\"default\":10.987237014634273},\"number_of_co_firing_coal\":{\"min\":0.0,\"max\":125.89627712079951,\"default\":0.0},\"number_of_coal_conventional\":{\"min\":0.0,\"max\":1224.3391114217236,\"default\":14.793180088556806},\"number_of_coal_fired_heater_district\":{\"min\":0.0,\"max\":100.0,\"default\":21.407109589041095},\"number_of_coal_fired_heaterv\":{\"min\":0.0,\"max\":100000000.0,\"default\":785690.0144304485},\"number_of_coal_igcc_ccs\":{\"min\":0.0,\"max\":327.4044474072238,\"default\":0.0},\"number_of_coal_iggc\":{\"min\":0.0,\"max\":254.5625686815203,\"default\":0.0},\"number_of_coal_lignite\":{\"min\":0.0,\"max\":216.7148046973601,\"default\":24.94848467333293},\"number_of_coal_oxyfuel_ccs\":{\"min\":0.0,\"max\":330.24122987096194,\"default\":0.0},\"number_of_concentrated_solar_power\":{\"min\":0.0,\"max\":25242.944839999993,\"default\":0.0},\"number_of_decentral_coal_chp_fixed\":{\"min\":0.0,\"max\":100000000.0,\"default\":0.0},\"number_of_diesel_generators\":{\"min\":0.0,\"max\":459.44112049785656,\"default\":0.0},\"number_of_electric_heat_pump_fixed\":{\"min\":0.0,\"max\":100000000.0,\"default\":343523.3899550645},\"number_of_gas_ccgt\":{\"min\":0.0,\"max\":417.8293988143827,\"default\":13.150637755102052},\"number_of_gas_ccgt_ccs\":{\"min\":0.0,\"max\":402.3306287105533,\"default\":0.0},\"number_of_gas_conventional\":{\"min\":0.0,\"max\":908.1421182132474,\"default\":0.34217171717171707},\"number_of_gas_fired_heat_pump_fixed\":{\"min\":0.0,\"max\":100000000.0,\"default\":0.0},\"number_of_gas_fired_heater_district\":{\"min\":0.0,\"max\":300.0,\"default\":97.36828500631937},\"number_of_gas_fired_heater_fixed\":{\"min\":0.0,\"max\":100000000.0,\"default\":19946005.166211303},\"number_of_gas_turbines\":{\"min\":0.0,\"max\":8586.035659863945,\"default\":0.0},\"number_of_geothermal_electric\":{\"min\":0.0,\"max\":10927.681748917747,\"default\":0.0},\"number_of_geothermal_fixed\":{\"min\":0.0,\"max\":100000000.0,\"default\":22.316331484862946},\"number_of_hydro_mountain\":{\"min\":0.0,\"max\":701.9220203535159,\"default\":1.450785865077585},\"number_of_hydro_river\":{\"min\":0.0,\"max\":15713.35897016623,\"default\":475.47033740663335},\"number_of_large_gas_chp_fixed\":{\"min\":0.0,\"max\":100000000.0,\"default\":10.842060744213375},\"number_of_large_gas_chp\":{\"min\":0.0,\"max\":565.4659944588999,\"default\":10.842060744213375},\"number_o
[...]
