<script id="converter-details-template" type="text/template">
  <div class="popup_converter_details">
    <h3><%= title %></h3>
    <table class="converter-detail">
      <thead>
        <tr>
          <th></th>
          <th>Future Value</th>
          <th>Unit</th>
        </tr>
      </thead>
      <tbody>
        <% _.each( data, function(items, group) { %>
          <tr>
            <th colspan="3"><%= group %></th>
          </tr>

          <% _.each( items, function(data, attr) { %>
            <tr>
              <td><%= data.desc %></td>
              <td>
                <% if (data.future && _.isString(data.future)) { %>
                  <%= data.future %>
                <% } else { %>
                  <%= Metric.converter_detail_format(data.future, data.unit) %>
                <% } %>
              </td>
              <td><%= data.unit %></td>
            </tr>
          <% }) %>

        <% }) %>
      </tbody>
    </table>
    <% if(converter_source_url) { %>
      <a class="button" href=<%=converter_source_url%> >
          Download source .xls
      </a>
      <% } %>
    <div class="popup_converter_details__stars">
      <% if(uses_coal_and_wood_pellets) { %>
        * The fuel input mix of this plant can be changed by your slider
        settings. Doing so changes both technical and cost parameters in
        this table.
      <% } %>
    </div>
  <div>
</script>
