<script id="converter-details-template" type="text/template">
  <div class="popup_converter_details">
    <h3><%= title %></h3>
    <table class="converter-detail">
      <thead>
        <tr>
          <th></th>
          <th>Value*</th>
          <th>Unit</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="3">
            * Values are for one typical unit (future value)
          </td>
        </tr>
        <% if(uses_coal_and_wood_pellets) { %>
          <tr>
            <td colspan="3">
              ** The fuel input mix of this plant can be changed by your slider
              settings. Doing so changes both technical and cost parameters in
              this table.
            </td>
          </tr>
        <% } %>
        <tr>
          <td colspan="3">
            For questions about these data, please contact:
            <a href="mailto:alexander.wirtz@quintel.com">alexander.wirtz@quintel.com</a>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <% _.each( data, function(items, group) { %>
          <tr>
            <th colspan="3"><%= group %></th>
          </tr>

          <% _.each( items, function(data, attr) { %>
            <tr>
              <td><%= data.desc %></td>
              <td>
                <% if (data.future && _.isString(data.future)) { %>
                  <%= data.future %>
                <% } else { %>
                  <%= Metric.converter_detail_format(data.future, data.unit) %>
                <% } %>
              </td>
              <td><%= data.unit %></td>
            </tr>
          <% }) %>

        <% }) %>
      </tbody>
    </table>
  <div>
</script>
