---
http_interactions:
- request:
    method: get
    uri: https://beta-engine.energytransitionmodel.com/api/v3/areas/uk.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5f0388c353a80533650db0ba5f358a14"
    body:
      encoding: ASCII-8BIT
      string: '{"area":"uk","id":3,"parent_id":3,"group":"country","analysis_year":2012,"has_agriculture":true,"has_buildings":true,"has_climate":false,"has_coastline":true,"has_cold_network":false,"has_electricity_storage":true,"has_employment":false,"has_fce":false,"has_industry":true,"has_lignite":false,"has_merit_order":true,"has_metal":true,"has_mountains":true,"has_old_technologies":true,"has_other":true,"has_solar_csp":false,"has_import_export":true,"use_network_calculations":false,"use_merit_order_demands":true,"has_aggregated_chemical_industry":true,"has_detailed_chemical_industry":false,"has_coal_oil_for_heating_built_environment":true,"buildings_insulation_employment_constant":0.0,"households_insulation_employment_constant":0.0,"co2_emission_1990_aviation_bunkers":15.37818186,"co2_emission_1990_marine_bunkers":8.69679035,"co2_percentage_free":0.85,"co2_price":0.005,"ccs_cost_in_industry":66.0,"economic_multiplier":0.0,"employment_fraction_production":0.0,"employment_local_fraction":0.0,"man_hours_per_man_year":1800.0,"lv_net_spare_capacity":0.25,"lv_net_total_costs_present":0.0,"lv_net_costs_per_capacity_step":183200.0,"lv_net_capacity_per_step":0.2,"mv_net_spare_capacity":0.25,"mv_net_total_costs_present":0.0,"mv_net_costs_per_capacity_step":1380000.0,"mv_net_capacity_per_step":2.0,"hv_net_spare_capacity":0.25,"hv_net_total_costs_present":0.0,"hv_net_costs_per_capacity_step":7280000.0,"hv_net_capacity_per_step":20.0,"lv_mv_trafo_spare_capacity":0.25,"lv_mv_trafo_total_costs_present":0.0,"lv_mv_trafo_costs_per_capacity_step":40000.0,"lv_mv_trafo_capacity_per_step":0.2,"mv_hv_trafo_spare_capacity":0.25,"mv_hv_trafo_total_costs_present":0.0,"mv_hv_trafo_costs_per_capacity_step":500000.0,"mv_hv_trafo_capacity_per_step":2.0,"interconnection_net_costs_present":0.0,"offshore_net_costs_present":0.0,"flh_solar_pv_solar_radiation_max":1572.15528947,"hydrogen_electrolysis_solar_pv_capacity_ratio":0.44,"insulation_detached_houses_low_share":0.521739130434783,"insulation_detached_houses_medium_share":0.478260869565217,"insulation_detached_houses_high_share":0.0,"insulation_apartments_low_share":0.59375,"insulation_apartments_medium_share":0.40625,"insulation_apartments_high_share":0.0,"insulation_semi_detached_houses_low_share":0.5,"insulation_semi_detached_houses_medium_share":0.5,"insulation_semi_detached_houses_high_share":0.0,"insulation_corner_houses_low_share":0.608695652173913,"insulation_corner_houses_medium_share":0.391304347826087,"insulation_corner_houses_high_share":0.0,"insulation_terraced_houses_low_share":0.580645161290323,"insulation_terraced_houses_medium_share":0.419354838709677,"insulation_terraced_houses_high_share":0.0,"insulation_detached_houses_start_value":11.0,"insulation_semi_detached_houses_start_value":13.0,"insulation_apartments_start_value":13.0,"insulation_corner_houses_start_value":9.0,"insulation_terraced_houses_start_value":13.0,"insulation_buildings_start_value":28.8,"typical_roof_surface_corner_house_available_for_pv":3.33e-05,"typical_roof_surface_terraced_house_available_for_pv":3.25e-05,"typical_roof_surface_detached_house_available_for_pv":6.17e-05,"typical_roof_surface_semi_detached_house_available_for_pv":4.58e-05,"typical_roof_surface_apartment_available_for_pv":1.90666666666667e-05,"typical_useful_demand_space_heating_corner_house":0.0442685071978022,"typical_useful_demand_space_heating_detached_house":0.0698179085393258,"typical_useful_demand_space_heating_semi_detached_house":0.0541724674137931,"typical_useful_demand_space_heating_terraced_house":0.0384352143103448,"typical_useful_demand_space_heating_apartment":0.0272375534482759,"heat_demand_reduction_medium_insulation_corner_house":23.0,"heat_demand_reduction_medium_insulation_detached_house":23.0,"heat_demand_reduction_medium_insulation_semi_detached_house":26.0,"heat_demand_reduction_medium_insulation_terraced_house":31.0,"heat_demand_reduction_medium_insulation_apartments":32.0,"heat_demand_reduction_high_insulation_corner_house":69.0,"heat_demand_reduction_high_insulation_detached_house":67.0,"heat_demand_reduction_high_insulation_semi_detached_house":69.0,"heat_demand_reduction_high_insulation_terraced_house":69.0,"heat_demand_reduction_high_insulation_apartments":67.0,"heat_demand_reduction_high_insulation_buildings":74.0,"electric_vehicle_profile_1_share":1.0,"electric_vehicle_profile_2_share":0.0,"electric_vehicle_profile_3_share":0.0,"electric_vehicle_profile_4_share":0.0,"electric_vehicle_profile_5_share":0.0,"solar_pv_profile_1_share":1.0,"solar_pv_profile_2_share":0.0,"annual_infrastructure_cost_gas":0.0,"areable_land":60192.0,"co2_emission_1990":566.32025104,"coast_line":12429.0,"interconnector_capacity":5850.0,"total_land_area":239245.567,"number_of_buildings":979631.36393516,"number_of_cars":28467000.0,"number_of_residences":27135200.0,"number_of_inhabitants":63495303.0,"offshore_suitable_for_wind":530020.0,"residences_roof_surface_available_for_pv":677.0,"buildings_roof_surface_available_for_pv":339.0,"other_emission_agriculture":44.61535,"other_emission_built_environment":0.0,"other_emission_transport":0.0,"other_emission_industry_energy":51.68629,"number_of_detached_houses":3343056.64,"number_of_apartments":4094701.68,"number_of_semi_detached_houses":16351671.52,"number_of_corner_houses":0.0,"number_of_terraced_houses":3345770.16,"derived":false,"last_updated_at":"2019-08-27T18:31:03.000+02:00","useable":true}'
  recorded_at: Fri, 06 Sep 2019 07:12:12 GMT
recorded_with: VCR 3.0.3
