%div.fce_info
  %label.fce_checkbox_container{:style => "float:left;clear:both"}
    = t('fce.check')
  = link_to(image_tag("/images/layout/powered_by_cedelft.png",:style => "float:right"),"http://www.cedelft.eu/",:target=>"_blank")
:javascript
  $(document).ready(function() { var fce_view = new FuelChainView })

