%div.fce_info
  %label.fce_checkbox_container{:style => "float:left;clear:both"}
    = t('fce.check')
  = link_to "http://www.cedelft.eu/", :target => "_blank" do
    = image_tag("/images/layout/powered_by_cedelft_bis.png",:style => "float:right")
:javascript
  $(document).ready(function() { var fce_view = new FuelChainView })

