#active-content
  = render "layouts/etm/title"
  #accordion_wrapper
    - if @slides.any?
      %ul.accordion
        = render :partial => 'tab/slide', :collection => @slides
    - else
      = t("not_available")

  #charts_wrapper
    #charts_holder
      = render "output_elements/chart"
