---
http_interactions:
- request:
    method: post
    uri: https://beta-engine.energytransitionmodel.com/api/v3/scenarios.json
    body:
      encoding: UTF-8
      string: '{"scenario":{"source":"ETM","user_values":{"households_number_of_inhabitants":1.0},"title":"Average
        Scenario","description":"Generated by the compare page","area_code":"nl","end_year":2050}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6b303b2c569c0de1103933cee1fec0a6"
    body:
      encoding: ASCII-8BIT
      string: '{"id":1266903,"title":"Average Scenario","area_code":"nl","start_year":2015,"end_year":2050,"url":"https://beta-engine.energytransitionmodel.com/api/v3/scenarios/1266903","ordering":null,"display_group":null,"scaling":null,"source":"ETM","template":null,"created_at":"2020-02-14T10:34:00.000+01:00"}'
  recorded_at: Fri, 14 Feb 2020 09:34:00 GMT
recorded_with: VCR 3.0.3
