---
http_interactions:
- request:
    method: post
    uri: https://beta-engine.energytransitionmodel.com/api/v3/scenarios.json
    body:
      encoding: UTF-8
      string: '{"scenario":{"source":"ETM","user_values":{"households_number_of_inhabitants":1.0},"title":"Average
        Scenario","description":"Generated by the compare page","area_code":"nl","end_year":2050}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6b59b8976b110d075e2a81d1b35e83f3"
    body:
      encoding: ASCII-8BIT
      string: '{"id":1076032,"title":"Average Scenario","area_code":"nl","start_year":2015,"end_year":2050,"url":"https://beta-engine.energytransitionmodel.com/api/v3/scenarios/1076032","ordering":null,"display_group":null,"scaling":null,"source":"ETM","template":null,"created_at":"2019-06-03T16:37:36.000+02:00"}'
  recorded_at: Mon, 03 Jun 2019 14:37:36 GMT
recorded_with: VCR 3.0.3
