---
http_interactions:
- request:
    method: post
    uri: http://etengine.dev/api/v3/scenarios.json
    body:
      encoding: US-ASCII
      string: '{"scenario":{"area_code":"nl","description":"Generated by the compare
        page","end_year":2050,"source":"ETM","title":"Average Scenario","user_values":[]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f9ba5454cf1faca5abe9af60ac0f6b43"'
    body:
      encoding: US-ASCII
      string: '{"id":141071,"title":"Average Scenario","area_code":"nl","end_year":2050,"url":"http://etengine.dev/api/v3/scenarios/141071","source":"ETM","template":null,"created_at":"2013-02-05T11:34:29+01:00"}'
  recorded_at: Tue, 05 Feb 2013 10:34:29 GMT
- request:
    method: post
    uri: http://etengine.dev/api/v3/scenarios.json
    body:
      encoding: US-ASCII
      string: '{"scenario":{"area_code":"nl","description":"Generated by the compare
        page","end_year":2050,"source":"ETM","title":"Average Scenario","user_values":{"user_values":{"households_number_of_inhabitants":"1.0"}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"e6f97da99de9f231c0f99e0debc34fb8"'
    body:
      encoding: US-ASCII
      string: '{"id":141072,"title":"Average Scenario","area_code":"nl","end_year":2050,"url":"http://etengine.dev/api/v3/scenarios/141072","source":"ETM","template":null,"created_at":"2013-02-05T11:35:34+01:00"}'
  recorded_at: Tue, 05 Feb 2013 10:35:34 GMT
[...]
- request:
    method: post
    uri: http://etengine.dev/api/v3/scenarios.json
    body:
      encoding: US-ASCII
      string: '{"source":"ETM","user_values":{"households_number_of_inhabitants":1.0},"title":"Average
        Scenario","description":"Generated by the compare page","area_code":"nl","end_year":2050}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"ec3233976cb58decfa585db0697c9642"'
    body:
      encoding: US-ASCII
      string: '{"id":252876,"title":"API","area_code":"nl","start_year":2011,"end_year":2040,"url":"http://etengine.dev/api/v3/scenarios/252876","ordering":null,"display_group":null,"source":null,"template":null,"created_at":"2013-12-05T09:42:48+01:00"}'
  recorded_at: Thu, 05 Dec 2013 08:42:48 GMT
[...]
- request:
    method: post
    uri: http://beta.et-engine.com/api/v3/scenarios.json
    body:
      encoding: UTF-8
      string: '{"source":"ETM","user_values":{"households_number_of_inhabitants":1.0},"title":"Average
        Scenario","description":"Generated by the compare page","area_code":"nl","end_year":2050}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":320686,"title":"API","area_code":"nl","start_year":2011,"end_year":2040,"url":"http://beta.et-engine.com/api/v3/scenarios/320686","ordering":null,"display_group":null,"source":null,"template":null,"created_at":"2014-03-11T11:23:17.628+01:00"}'
  recorded_at: Tue, 11 Mar 2014 10:23:17 GMT
- request:
    method: post
    uri: http://beta.et-engine.com/api/v3/scenarios.json
    body:
      encoding: UTF-8
      string: '{"scenario":{"source":"ETM","user_values":{"households_number_of_inhabitants":1.0},"title":"Average
        Scenario","description":"Generated by the compare page","area_code":"nl","end_year":2050}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":331027,"title":"Average Scenario","area_code":"nl","start_year":2011,"end_year":2050,"url":"http://beta.et-engine.com/api/v3/scenarios/331027","ordering":null,"display_group":null,"source":"ETM","template":null,"created_at":"2014-04-09T14:33:38.669+02:00"}'
  recorded_at: Wed, 09 Apr 2014 12:33:38 GMT
recorded_with: VCR 2.4.0
