---
http_interactions:
- request:
    method: post
    uri: http://etengine.dev/api/v3/scenarios.json
    body:
      encoding: UTF-8
      string: '{"scenario":{"source":"ETM","user_values":{"households_number_of_inhabitants":1.0},"title":"Average
        Scenario","description":"Generated by the compare page","area_code":"nl","end_year":2050}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"8af9800996019aa395ff900a86fe9b12"'
    body:
      encoding: UTF-8
      string: '{"id":302634,"title":"Average Scenario","area_code":"nl","start_year":2013,"end_year":2050,"url":"http://etengine.dev/api/v3/scenarios/302634","ordering":null,"display_group":null,"scaling":null,"source":"ETM","template":null,"created_at":"2016-10-12T10:36:10.768+02:00"}'
  recorded_at: Wed, 12 Oct 2016 08:36:10 GMT
recorded_with: VCR 2.4.0
