--- 
http_interactions: 
- request: 
    method: post
    uri: http://etengine.dev/api/v3/scenarios.json
    body: 
      encoding: US-ASCII
      string: "{\"scenario\":{\"area_code\":\"nl\",\"description\":\"Generated by the compare page\",\"end_year\":2050,\"source\":\"ETM\",\"title\":\"Average Scenario\",\"user_values\":[]}}"
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"f9ba5454cf1faca5abe9af60ac0f6b43\""
    body: 
      encoding: US-ASCII
      string: "{\"id\":141071,\"title\":\"Average Scenario\",\"area_code\":\"nl\",\"end_year\":2050,\"url\":\"http://etengine.dev/api/v3/scenarios/141071\",\"source\":\"ETM\",\"template\":null,\"created_at\":\"2013-02-05T11:34:29+01:00\"}"
  recorded_at: Tue, 05 Feb 2013 10:34:29 GMT
- request: 
    method: post
    uri: http://etengine.dev/api/v3/scenarios.json
    body: 
      encoding: US-ASCII
      string: "{\"scenario\":{\"area_code\":\"nl\",\"description\":\"Generated by the compare page\",\"end_year\":2050,\"source\":\"ETM\",\"title\":\"Average Scenario\",\"user_values\":{\"user_values\":{\"households_number_of_inhabitants\":\"1.0\"}}}}"
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"e6f97da99de9f231c0f99e0debc34fb8\""
    body: 
      encoding: US-ASCII
      string: "{\"id\":141072,\"title\":\"Average Scenario\",\"area_code\":\"nl\",\"end_year\":2050,\"url\":\"http://etengine.dev/api/v3/scenarios/141072\",\"source\":\"ETM\",\"template\":null,\"created_at\":\"2013-02-05T11:35:34+01:00\"}"
  recorded_at: Tue, 05 Feb 2013 10:35:34 GMT
- request: 
    method: post
    uri: http://etengine.dev/api/v3/scenarios.json
    body: 
      encoding: US-ASCII
      string: "{\"scenario\":{\"area_code\":\"nl\",\"description\":\"Generated by the compare page\",\"end_year\":2050,\"source\":\"ETM\",\"title\":\"Average Scenario\",\"user_values\":{\"user_values\":{\"households_number_of_inhabitants\":1.0}}}}"
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"156b22221b15267ceee2b0c66108686c\""
    body: 
      encoding: US-ASCII
      string: "{\"id\":141075,\"title\":\"Average Scenario\",\"area_code\":\"nl\",\"end_year\":2050,\"url\":\"http://etengine.dev/api/v3/scenarios/141075\",\"source\":\"ETM\",\"template\":null,\"created_at\":\"2013-02-05T15:18:45+01:00\"}"
  recorded_at: Tue, 05 Feb 2013 14:18:45 GMT
recorded_with: VCR 2.4.0
