---
http_interactions:
- request:
    method: post
    uri: https://beta-engine.energytransitionmodel.com/api/v3/scenarios.json
    body:
      encoding: UTF-8
      string: '{"scenario":{"source":"ETM","user_values":{"households_number_of_inhabitants":1.0},"title":"Average
        Scenario","description":"Generated by the compare page","area_code":"nl","end_year":2050}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"07c65340579ee7b9117974c173d51eeb"
    body:
      encoding: UTF-8
      string: '{"id":587708,"title":"Average Scenario","area_code":"nl","start_year":2013,"end_year":2050,"url":"https://beta-engine.energytransitionmodel.com/api/v3/scenarios/587708","ordering":null,"display_group":null,"scaling":null,"source":"ETM","template":null,"created_at":"2016-10-12T10:57:32.313+02:00"}'
  recorded_at: Wed, 12 Oct 2016 08:57:31 GMT
recorded_with: VCR 2.4.0
