<script id="converter-tooltip-template" type="text/template">
  <div class="converter_tooltip">
    <table>
      <tr>
        <th>Sector</th>
        <td><%%= sector %></td>
      </tr>
      <tr>
        <th>Use</th>
        <td><%%= use %></td>
      </tr>
      <tr>
        <th>Group</th>
        <td><%%= group %></td>
      </tr>
    </table>
    </table>
  <div>
</script>
