- content_for :head do
  = javascript_include_tag 'topology'
  = stylesheet_link_tag 'topology'

#topology

- content_for :footer do
  = render 'converter_tooltip'
  = render 'converters/converter_details'