---
http_interactions:
- request:
    method: post
    uri: https://beta-engine.energytransitionmodel.com/api/v3/scenarios.json
    body:
      encoding: UTF-8
      string: '{"scenario":{"scenario_id":648695}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9f55a80b710dcc4c6a75581707f6f9d3"
    body:
      encoding: ASCII-8BIT
      string: '{"id":1322708,"title":"API","area_code":"nl","start_year":2015,"end_year":2050,"url":"https://beta-engine.energytransitionmodel.com/api/v3/scenarios/1322708","ordering":null,"display_group":null,"scaling":null,"source":null,"template":648695,"created_at":"2020-07-03T07:44:53.000Z","protected":false}'
  recorded_at: Fri, 03 Jul 2020 07:44:53 GMT
recorded_with: VCR 3.0.3
