---
http_interactions:
- request:
    method: get
    uri: https://beta.engine.energytransitionmodel.com/api/v3/areas/UK_united_kingdom.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"101d8125619caaba02467d74c04f202f"
    body:
      encoding: UTF-8
      string: '{"area":"UK_united_kingdom","id":108542,"parent_id":108542,"group":"country","analysis_year":2019,"has_agriculture":true,"has_buildings":true,"has_coastline":true,"has_cold_network":false,"has_electricity_storage":true,"has_employment":false,"has_industry":true,"has_lignite":false,"has_merit_order":true,"has_metal":true,"has_mountains":true,"has_old_technologies":true,"has_other":true,"has_solar_csp":true,"has_offshore_solar":false,"has_other_emissions_section":true,"has_import_export":true,"use_network_calculations":true,"use_merit_order_demands":true,"has_weather_curves":false,"has_aggregated_chemical_industry":false,"has_detailed_chemical_industry":true,"has_coal_oil_for_heating_built_environment":true,"buildings_insulation_employment_constant":0.0093,"households_insulation_employment_constant":0.014,"co2_emission_1990_aviation_bunkers":15.341668960000002,"co2_emission_1990_marine_bunkers":8.91360202,"co2_percentage_free":0.4,"co2_price":0.02483,"offshore_ccs_potential_mt_per_year":3350.0,"economic_multiplier":1.0,"employment_fraction_production":0.5,"employment_local_fraction":0.2,"man_hours_per_man_year":1800.0,"lv_net_spare_capacity":0.25,"lv_net_total_costs_present":37239553.5768488,"lv_net_costs_per_capacity_step":18320.0,"lv_net_capacity_per_step":0.02,"mv_net_spare_capacity":0.25,"mv_net_total_costs_present":32002741.3532315,"mv_net_costs_per_capacity_step":138000.0,"mv_net_capacity_per_step":0.2,"hv_net_spare_capacity":0.25,"hv_net_total_costs_present":18805974.5568192,"hv_net_costs_per_capacity_step":72800.0,"hv_net_capacity_per_step":0.2,"lv_mv_trafo_spare_capacity":0.25,"lv_mv_trafo_total_costs_present":13266590.9620576,"lv_mv_trafo_costs_per_capacity_step":4000.0,"lv_mv_trafo_capacity_per_step":0.02,"mv_hv_trafo_spare_capacity":0.25,"mv_hv_trafo_total_costs_present":11171866.0726107,"mv_hv_trafo_costs_per_capacity_step":50000.0,"mv_hv_trafo_capacity_per_step":0.2,"interconnection_net_costs_present":339929707.6282051,"offshore_net_costs_present":63118550.368126504,"flh_solar_pv_solar_radiation_max":1361.35634547,"hydrogen_electrolysis_solar_pv_capacity_ratio":0.357,"insulation_detached_houses_low_share":1.0,"insulation_detached_houses_medium_share":0.0,"insulation_detached_houses_high_share":0.0,"insulation_apartments_low_share":1.0,"insulation_apartments_medium_share":0.0,"insulation_apartments_high_share":0.0,"insulation_semi_detached_houses_low_share":1.0,"insulation_semi_detached_houses_medium_share":0.0,"insulation_semi_detached_houses_high_share":0.0,"insulation_corner_houses_low_share":1.0,"insulation_corner_houses_medium_share":0.0,"insulation_corner_houses_high_share":0.0,"insulation_terraced_houses_low_share":1.0,"insulation_terraced_houses_medium_share":0.0,"insulation_terraced_houses_high_share":0.0,"insulation_detached_houses_start_value":0.0,"insulation_semi_detached_houses_start_value":0.0,"insulation_apartments_start_value":0.0,"insulation_corner_houses_start_value":0.0,"insulation_terraced_houses_start_value":0.0,"insulation_buildings_start_value":0.0,"typical_roof_surface_corner_house_available_for_pv":3.33e-05,"typical_roof_surface_terraced_house_available_for_pv":3.25e-05,"typical_roof_surface_detached_house_available_for_pv":6.17e-05,"typical_roof_surface_semi_detached_house_available_for_pv":4.58e-05,"typical_roof_surface_apartment_available_for_pv":1.90666667e-05,"typical_useful_demand_space_heating_corner_house":0.0442685071978,"typical_useful_demand_space_heating_detached_house":0.0698179085393,"typical_useful_demand_space_heating[...]
