---
http_interactions:
- request:
    method: get
    uri: https://beta-engine.energytransitionmodel.com/api/v3/areas/UK_united_kingdom.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4538dfc16a5e56e102fef2a8f666f945"
    body:
      encoding: UTF-8
      string: '{"area":"UK_united_kingdom","id":121358,"parent_id":121358,"group":"country","analysis_year":2019,"has_agriculture":true,"has_buildings":true,"has_semi_detached_houses":false,"has_coastline":true,"has_cold_network":false,"has_electricity_storage":true,"has_employment":false,"has_industry":true,"has_lignite":false,"has_merit_order":true,"has_metal":true,"has_mountains":true,"has_old_technologies":true,"has_other":true,"has_solar_csp":true,"has_offshore_solar":false,"has_other_emissions_section":true,"has_import_export":true,"use_network_calculations":true,"use_merit_order_demands":true,"has_weather_curves":false,"has_aggregated_chemical_industry":false,"has_detailed_chemical_industry":true,"has_coal_oil_for_heating_built_environment":true,"has_aquathermal_potential_for_surface_water":false,"has_aquathermal_potential_for_waste_water":false,"has_aquathermal_potential_for_drink_water":false,"co2_emission_1990_aviation_bunkers":15.341668960000002,"co2_emission_1990_marine_bunkers":8.91360202,"co2_percentage_free":0.4,"co2_price":0.02483,"captured_biogenic_co2_price":0.02483,"offshore_ccs_potential_mt_per_year":3350.0,"lv_net_spare_capacity":0.25,"lv_net_total_costs_present":37239553.5768488,"lv_net_costs_per_capacity_step":18320.0,"lv_net_capacity_per_step":0.02,"mv_net_spare_capacity":0.25,"mv_net_total_costs_present":32002741.3532315,"mv_net_costs_per_capacity_step":138000.0,"mv_net_capacity_per_step":0.2,"hv_net_spare_capacity":0.25,"hv_net_total_costs_present":18805974.5568192,"hv_net_costs_per_capacity_step":72800.0,"hv_net_capacity_per_step":0.2,"lv_mv_trafo_spare_capacity":0.25,"lv_mv_trafo_total_costs_present":13266590.9620576,"lv_mv_trafo_costs_per_capacity_step":4000.0,"lv_mv_trafo_capacity_per_step":0.02,"mv_hv_trafo_spare_capacity":0.25,"mv_hv_trafo_total_costs_present":11171866.0726107,"mv_hv_trafo_costs_per_capacity_step":50000.0,"mv_hv_trafo_capacity_per_step":0.2,"interconnection_net_costs_present":339929707.6282051,"offshore_net_costs_present":63118550.368126504,"flh_solar_pv_solar_radiation_max":1361.35634547,"hydrogen_electrolysis_solar_pv_capacity_ratio":0.357,"present_share_of_apartments_before_1945_in_useful_demand_for_space_heating":0.066048012,"present_share_of_apartments_1945_1964_in_useful_demand_for_space_heating":0.026466912,"present_share_of_apartments_1965_1984_in_useful_demand_for_space_heating":0.069053568,"present_share_of_apartments_1985_2004_in_useful_demand_for_space_heating":0.046784891999999995,"present_share_of_apartments_2005_present_in_useful_demand_for_space_heat[...]
