---
- label: electricity_inflexible_demand
  color: "red"
  order_by: 2
  group: flex
  show_at_first: false
  is_target_line: false
  target_line_position: ''
  gquery: electricity_demand_inflexible_curve
  is_1990: false
  dependent_on:
  output_element_key: flexibility_hourly_electricity_supply_demand
  key: electricity_demand_inflexible_curve_flexibility_hourly_electricity_supply_demand

- label: total_demand
  color: "orange"
  order_by: 4
  group: flex
  show_at_first: false
  is_target_line: false
  target_line_position: ''
  gquery: electricity_demand_total_curve
  is_1990: false
  dependent_on: _always_hidden
  output_element_key: flexibility_hourly_electricity_supply_demand
  key: electricity_demand_total_curve_flexibility_hourly_electricity_supply_demand

- label: electricity_inflexible_supply
  color: "blue"
  order_by: 1
  group: flex
  show_at_first: false
  is_target_line: false
  target_line_position: ''
  gquery: electricity_production_inflexible_curve
  is_1990: false
  dependent_on:
  output_element_key: flexibility_hourly_electricity_supply_demand
  key: electricity_supply_inflexible_curve_flexibility_hourly_electricity_supply_demand

- label: total_production
  color: "#87CEEB"
  order_by: 3
  group: flex
  show_at_first: false
  is_target_line: false
  target_line_position: ''
  gquery: electricity_production_total_curve
  is_1990: false
  dependent_on: _always_hidden
  output_element_key: flexibility_hourly_electricity_supply_demand
  key: electricity_production_total_curve_flexibility_hourly_electricity_supply_demand