#how_movie
  %a{:class=>"movies", :href=>"/flash/HOE-YouTubesharing_#{I18n.locale}.flv", :id=>"movie_how"}
    %img{:src=>"/images/layout/spash2.png", :alt=>"How does the Energy Trasition Model work"}
