<% if dutch? %>

  <h1>Over Quintel Intelligence</h1>
  <p>Quintel Intelligence is een instelling voor energieonderzoek die overheden,
  bedrijven en instellingen wereldwijd ondersteunt in het bepalen en doorrekenen
  van hun energiestrategie.</p>

  <p>Wij doen dit op basis van ons op feiten gebaseerde, complete en
    onafhankelijke Energietransitiemodel. Dit model is in staat om een
    energiestrategie door te rekenen op het niveau van: </p>
  <ul>
    <li>Landen</li>
    <li>Regio’s in landen</li>
    <li>Steden</li>
    <li>Havens/industriegebieden</li>
    <li>Bedrijven</li>
  </ul>
  <p>
  Het landenmodel wordt gesponsord door overheden en gerenommeerde bedrijven. Zo
  kunnen beleidsmakers, burgers en studenten zich vrijblijvend verdiepen in de
  keuzes, samenhang en complexiteit van allerlei energiethema’s. Voorbeelden
  zijn thema’s als energiekosten, CO2 uitstoot,  energievoorziening,
  energieafhankelijkheid en de mate waarin bepaalde strategieën enbeleidsdoelen
  haalbaar zijn.</p>

  <img src="/assets/layout/john2.jpg" class="image"/>

  <p>
  Dr. Ir. C. John Kerkhoven <br/>
  Managing Director, Quintel Intelligence<br/>
  E: <a href='mailto:&#106;&#111;&#104;&#110;&#046;&#107;&#101;&#114;&#107;&#104;&#111;&#118;&#101;&#110;&#064;&#113;&#117;&#105;&#110;&#116;&#101;&#108;&#046;&#099;&#111;&#109;'>&#106;&#111;&#104;&#110;&#046;&#107;&#101;&#114;&#107;&#104;&#111;&#118;&#101;&#110;&#064;&#113;&#117;&#105;&#110;&#116;&#101;&#108;&#046;&#099;&#111;&#109;</a><br/>
  M: +31 653291 843
  </p>

<% else %>

  <h1>About Quintel Intelligence</h1>
  <p>Quintel Intelligence is an energy research firm that assists governments,
    companies and institutions around the world in determining and quantifying
  their energy strategies. </p>

  <p>We do this using our independent, fact-based and comprehensive Energy
  Transition Model. This model can quantify the impact of an energy strategy at
  the level of:</p>
  <ul>
    <li>Countries</li>
    <li>Country regions</li>
    <li>Cities</li>
    <li>Ports / Industrial zones</li>
    <li>Companies </li>
  </ul>
  <p> At the country level the Energy Transition Model is sponsored by
    governments and renowned companies. This makes it possible for policy
    makers, citizens and students to explore the options, interdependence and
    complexity of various energy themes free of charge. Themes include energy
    costs, CO2 emissions, energy supply, energy dependence and the extent to
    which strategies are feasible and policy targets can be met.</p>

  <img src="/assets/layout/john2.jpg" class="image"/>

  <p>
  Dr. Ir. C. John Kerkhoven <br/>
  Managing Director, Quintel Intelligence<br/>
  E: <a href='mailto:&#106;&#111;&#104;&#110;&#046;&#107;&#101;&#114;&#107;&#104;&#111;&#118;&#101;&#110;&#064;&#113;&#117;&#105;&#110;&#116;&#101;&#108;&#046;&#099;&#111;&#109;'>&#106;&#111;&#104;&#110;&#046;&#107;&#101;&#114;&#107;&#104;&#111;&#118;&#101;&#110;&#064;&#113;&#117;&#105;&#110;&#116;&#101;&#108;&#046;&#099;&#111;&#109;</a><br/>
  M: +31 653291 843
  </p>

<% end %>