%h1 Your browser is not supported
%p The EnergyTransitionModel is under continuous construction. In the current phase of the model, the following browsers are supported.

%ul
 %li Mozilla FireFox (<a href='http://www.mozilla.com/en-US/firefox/all.html'>download</a>)
 %li Internet Explorer (<a href='http://www.microsoft.com/windows/internet-explorer/worldwide-sites.aspx'>download</a>)
 %li Safari (<a href='http://www.apple.com/safari/download/html'>download</a>)
 %li Google Chrome (<a href='http://www.google.com/chrome'>download</a>)
