<h1>Currently known issues</h1>

<h2>Interface / Website</h2>
<ul>
  <li>Internet Explorer 7 and 8 have been known to give errors and not load several charts. These old browsers are not or not fully supported.</li>
</ul>
<br/>

<h2>Energy calculations</h2>
<ul>
  <li>Geothermal heat, ambient heat (air and ground heat pumps), and solar thermal energy are not included in the primary energy calculation. The effect is that technologies using these reduce the amount of energy used. We plan to include those primary renewable carriers in the renewability calculation in order to match the international energy statistics.</li>
  <li>Primary demand of carriers can differ between Sankey and overall Primary and Final energy use charts by small amounts. These discrepancies will be resolved in the next version of the ETM.</li>
  <li>Currently the only power plants which can be used for co-firing of wood_pellets are the ultra-supercritical pulverized coal power plant (Pulverized coal) and the equivalent CHP plant (Central Coal CHP). </li>
  <li>The technical specs and installed capacities of CHP plants have been updated. For the Netherlands, the heat and electricity balances have been updated accordingly, but for Germany and the UK this has not yet been done. The heat and electricity production for these countries can therefore deviate from the actual values. In fact, we know that CHP plants in Germany produce roughly 100 PJ too little heat leading to small (of order 1%) deviations in renewability percentage and CO2 reduction percentage.</li>
</ul>
<br/>

<h2>Cost calculations</h2>
<ul>
  <li>As yet, kerosene and heavy fuel oil have no extra refinery costs (on top of crude oil). These will be analyzed and resolved in one of the next versions.</li>
  <li>We are currently still validating costs for certain power plants (coal-fired, hydro and nuclear power plants) and household and building heating technologies. These may therefore result in incorrect costs.</li>
</ul>
<br/>

<h2>Fuel chain emission calculations</h2>
<ul>
  <li>Crude oil, biogas and wood pellets are currently not taken into account in the FCE calculation. </li>
</ul>
<br/>


<h2>Employment module</h2>
<ul>
  <li>Industry and agriculture are excluded from the employment calculation.</li>
  <li>At present, geothermal heating in Households and Buildings uses employment figures from geothermal electricity production (scaled to match the capacity). This is due to the lack of literature on geothermal heating projects in the Netherlands.</li>
  <li>Employment effects of district heating do not take the construction of a heat network into account. The extent and properties of such a network are too dependent on the specifics of each project, to conclude what impact the network has on employment.</li>
  <li>To assess the employment impact of CCS technologies we have added 30% to the impact of the 'planning', 'production', 'placement' and 'removal' stages and 70% to 'maintenance' compared to the reference non-CCS technologies.</li>
  <li>The employment impact of maintenance for offshore wind turbines has been taken from onshore wind research.</li>
  <li>The following technologies are not included in the employment calculation:</li>
    <ul>
      <li>The hydropower plants (both river and mountain)</li>
      <li>Central burners for heat generation in the Supply section (coal, gas, biomass and waste-fired)</li>
      <li>Appliances (washing machines, stereos etc.)</li>
    </ul>
</ul>
<br/>

<h2>Merit order module</h2>
<ul>
  <li>The merit order calculation does not take import or export of electricity into account. This means that plants experience no competition from cheap electricity from abroad. In reality, North Western Europe's electricity market is coupled and such competition does exist. As a result of this simplification, the profitability of most plants is significantly overestimated. In order to see how cheap renewables or coal from e.g. Germany affect profitability, the user may consider to increase installed capacity of such plants in the Netherlands.</li>
  <li>The power plants in the ETM include both state-of-the-art and more conventional technologies, whose properties are chosen such as to reproduce the national energy balance correctly (both production of electricity and transformation losses). These plant types are a simplification of the real production park installed in the Netherlands. Profitability figures of the plants in the ETM should, therefore, not be translated one-on-one to plants currently exisiting in the Netherlands.</li>
</ul>