<h1>Currently known issues</h1>

<h2>Interface / Website</h2>
<ul>
  <li>Internet Explorer 7 and 8 have been known to give errors and not load several charts. These old browsers are not or not fully supported.</li>
</ul>
<br/>

<h2>Energy calculations</h2>
<ul>
  <li>Geothermal heat, ambient heat (air and ground heat pumps), and solar thermal energy are not included in the primary energy calculation. The effect is that technologies using these reduce the amount of energy used. We plan to include those primary renewable carriers in the renewability calculation in order to match the international energy statistics.</li>
  <li>Currently the only power plants which can be used for co-firing of wood_pellets are the ultra-supercritical pulverized coal power plant (Pulverized coal) and the equivalent CHP plant (Central Coal CHP). </li>
  <li>CO2 emissions for electricity produced by diesel engines is currently overestimated if refineries producing diesel are present in the dataset. In that case the energy use (final demand) of the refinery sector (and associated CO2 emissions) is fully included in the final demand of the industry sector and (partially) included in the primary demand of the diesel used by diesel engines.  </li>
</ul>
<br/>

<h2>Cost calculations</h2>
<ul>
  <li>We are currently still validating costs for certain power plants (coal-fired, hydro and nuclear power plants) and household and building heating technologies. These may therefore result in over or underestimated costs.</li>
</ul>
<br/>


<h2>Merit order module</h2>
<ul>
  <li>The power plants in the ETM include both state-of-the-art and more conventional technologies, whose properties are chosen such as to reproduce the national energy balance correctly (both production of electricity and transformation losses). These plant types are a simplification of the real production park installed in the Netherlands. Profitability figures of the plants in the ETM should, therefore, not be translated one-on-one to plants currently exisiting in the Netherlands.</li>
</ul>