<% if english? %>
<h1>Disclaimer</h1>

<p>Quintel Intelligence tries its utmost to make sure the Energy Transition Model (ETM) produces correct results. Nonetheless, this model comes with absolutely no warranty or guarantee of the correctness of all results. Users cannot derive any rights from results, comments or recommendations found in the ETM.</p>

<% else %>

<h1>Disclaimer</h1>

<p>Quintel Intelligence doet zijn uiterste best om ervoor te zorgen dat het Energietransitiemodel (ETM) correcte resultaten geeft. Desondanks kan op geen enkele manier gegarandeerd worden dat de uitkomsten altijd correct zijn. Daarom kunnen aan uitkomsten, aanbevelingen of opmerkingen in het ETM geen rechten worden ontleend.</p>

<% end %>
