= back_to_model_link
%div{:style=>"width:973px;"}
  =t_db("education")
%br
- if @ie_detected
  %iframe{:id=>"epn_module_frame", :style=>"width:973px;height:600px;border:0px",:src=>"http://www.referentiemateriaal.epn.nl/vakoverstijgend/energie/"}

