%h1{:style => "color: #f00"} Gql Error

%h3= @exception.message
%img{:src => '/images/surfi.jpg', :style => "float:right; border: 8px solid #ccc; margin-right: 10px"}

%h4 Backtrace

%pre= @exception.backtrace.join("\n")