#scaled_scenario_setup
  = form_tag load_scenarios_path, id: 'new_scaled_scenario' do
    = hidden_field_tag 'id', Current.setting.api_session_id

    = render partial: 'scaled_common'

    #submit
      = render "pages/root_page/start_button"
