= form_tag root_path, id: 'new_scaled_scenario' do
  .row
    .field
      = render "pages/root_page/country_select"
    .field
      = render "pages/root_page/year_select"

  .row
    .field
      %p Scaling attribute
      %select(name="scaling_attribute")
        %option(value="number_of_residences") Number of residences
    .field
      %p Scale to&hellip;
      %input.string(type="text" name="scaling_value" placeholder="e.g. 1000, 250000, ...")

  #submit
    = render "pages/root_page/start_button"
