#tutorial_wrapper
  .left_movie
    = smart_video_player @vimeo_id_for_section, :height => 260, :width => 450, :id => 'left_video'
    %h3=raw t("#{@section.capitalize}")
  .right_movie  
    = smart_video_player @vimeo_id_for_category, :height => 260, :width => 450, :id => 'right_video'
    %h3=raw t("sidebar_item.#{@category}")
