#tutorial_wrapper
  -# a table makes things simpler with fancybox
  %table
    %tr
      - if @vimeo_id_for_tab.present?
        %td
          .movie
            = smart_video_player @vimeo_id_for_tab, :height => 260,
              :width => 450, :id => 'left_video'
            %h3=raw t("tabs.#{@tab}")
      - if @vimeo_id_for_sidebar.present?
        %td
          .movie
            = smart_video_player @vimeo_id_for_sidebar, :height => 260,
              :width => 450, :id => 'right_video'
            %h3=raw t("sidebar_items.#{@sidebar}.short_name")
