<% if english? %>
  <h1>Units used in the model</h1>
  <h3>Calculations for units</h3>
  <table>
    <tr>
      <td>k (kilo)</td>
      <td><div align='right'>1</div></td>
      <td>(thousand), or 10<sup>3</sup></td>
    </tr>
    <tr>
      <td>M (mega)</td>
      <td><div align='right'>1,000,000 </div></td>
      <td>(million), or 10<sup>6</sup></td>
    </tr>
    <tr>
      <td>G (giga)</td>
      <td><div align='right'>1,000,000,000 </div></td>
      <td>(billion), or 10<sup>9</sup></td>
    </tr>
    <tr>
      <td>T (tera)</td>
      <td><div align='right'>1,000,000,000,000 </div></td>
      <td>(trillion), or 10<sup>12</sup></td>
    </tr>
    <tr>
      <td>P (peta)</td>
      <td><div align='right'>1,000,000,000,000,000 </div></td>
      <td>(quadrillion), or 10<sup>15</sup></td>
    </tr>
    <tr>
      <td>E (exa)</td>
      <td><div align='right'>1,000,000,000,000,000,000</div></td>
      <td>(quintillion), or 10<sup>18</sup></td>
    </tr>
  </table>

  <h3>Most relevant units for energy transition</h3>
  <table cellspacing='0' cellpadding='0'>
    <col width='64'>
    <col width='454'>
    <tr>
      <td width='64'>bbl </td>
      <td width='454'>barrel – standard quantity of    oil equaling 159 liters</td>
    </tr>
     <tr>
      <td>bcm </td>
      <td>billion cubic meters or billion m<sup>3</sup></td>
    </tr>
    <tr>
      <td>bpd </td>
      <td>barrels per day</td>
    </tr>
    <tr>
      <td>BOE </td>
      <td>Barrels of Oil Equivalent. 1 BOE = 41.868 GJ</td>
    </tr>
    <tr>
      <td>°C </td>
      <td>degree Celsius</td>
    </tr>
    <tr>
      <td>cm </td>
      <td>centimeter</td>
    </tr>
    <tr>
      <td>EJ </td>
      <td>exajoule = 10<sup>18</sup> joules </td>
    </tr>
    <tr>
      <td>GJ</td>
      <td>gigajoule = 10<sup>9</sup> joules</td>
    </tr>
    <tr>
      <td>Gt </td>
      <td>gigatonne = 10<sup>9</sup> metric ton </td>
    </tr>
    <tr>
      <td>Gtpa </td>
      <td>‘gigatonne per annum’, gigatonne per year</td>
    </tr>
    <tr>
      <td>GW </td>
      <td>gigawatt = 10<sup>9</sup> watts (see watt)</td>
    </tr>
    <tr>
      <td>GWh</td>
      <td>gigawatt hour = 10<sup>9</sup> watt hour</td>
    </tr>
    <tr>
      <td>ha </td>
      <td>hectare – 10,000 m<sup>2</sup></td>
    </tr>
    <tr>
      <td>hr </td>
      <td>hour</td>
    </tr>
    <tr>
      <td>J</td>
      <td>joule = 1 kg x 1 m<sup>2</sup>/s<sup>2</sup>, 1 J is the amount of energy spent when a force of one newton is applied over a displacement of one meter</td>
    </tr>
    <tr>
      <td>kg </td>
      <td>kilogram = 1,000 gram</td>
    </tr>
    <tr>
      <td>km </td>
      <td>kilometer = 1,000 meter</td>
    </tr>
    <tr>
      <td>kt </td>
      <td>kilotonne = 1,000    metric tonnes </td>
    </tr>
    <tr>
      <td>kW </td>
      <td>kilowatt = 1,000 watts (see watt)</td>
    </tr>
    <tr>
      <td>kWh </td>
      <td>kilowatt hour</td>
    </tr>
   <tr>
      <td>L</td>
      <td>1 liter = 1,000 cc (cm<sup>3</sup>), 1 L of pure water has a mass of 1 kg at 25°C</td>
    </tr>
    <tr>
      <td>m </td>
      <td>meter</td>
    </tr>
    <tr>
      <td>m<sup>2</sup> </td>
      <td>square meter </td>
    </tr>
    <tr>
      <td>m<sup>3</sup> </td>
      <td>cubic meter </td>
    </tr>
    <tr>
      <td>mbd </td>
      <td>million barrels per day</td>
    </tr>
    <tr>
      <td>Mio </td>
      <td>million, mega</td>
    </tr>
    <tr>
      <td>MJ </td>
      <td>megajoule = 10<sup>6</sup> joules </td>
    </tr>
    <tr>
      <td>Mt </td>
      <td>megatonne = 10<sup>6</sup> metric tonnes</td>
    </tr>
    <tr>
      <td>Mtpa </td>
      <td>megatonne per year</td>
    </tr>
    <tr>
      <td>Mtoe </td>
      <td>million tonne oil equivalent</td>
    </tr>
    <tr>
      <td>MW </td>
      <td>megawatt = 10<sup>6</sup> watt (see watt)</td>
    </tr>
    <tr>
      <td>N</td>
      <td>newton, 1 N is the force required to accelerate 1 kg at rate of 1 m/s<sup>2</sup></td>
    </tr>
    <tr>
      <td>Nm<sup>3 </sup></td>
      <td>normal cubic meter. At 0°C and pressure of 1.013 bar.</td>
    </tr>
    <tr>
      <td>pa</td>
      <td>‘per annum’, per year</td>
    </tr>
    <tr>
      <td>PJ </td>
      <td>petajoule = 10<sup>15</sup> joules </td>
    </tr>
    <tr>
      <td>ppm </td>
      <td>parts per million</td>
    </tr>
    <tr>
      <td>t </td>
      <td>tonne = 1,000 kilogram </td>
    </tr>
    <tr>
      <td>tpa </td>
      <td>‘tonne per annum’, tonne per year</td>
    </tr>
    <tr>
      <td>TW </td>
      <td>terawatt = 10<sup>12</sup> watt (see watt)</td>
    </tr>
    <tr>
      <td>TWh </td>
      <td>terawatt hour = 10<sup>12</sup> watt hour </td>
    </tr>
    <tr>
      <td>W</td>
      <td>watt = 1 J/s. 1 joule per second</td>
    </tr>
  </table>

<% else %>

  <h1>Eenheden die worden gebruikt</h1>

  <h3>Rekenen met eenheden</h3>
  <table>
    <tr>
      <td>k (kilo)</td>
      <td align='right'>1.000</td>
      <td>(duizend), oftewel 10<sup>3</sup></td>
    </tr>
    <tr>
      <td>M (mega)</td>
      <td align='right'>1.000.000</td>
      <td>(miljoen), oftewel 10<sup>6</sup></td>
    </tr>
    <tr>
      <td>G (giga)</td>
      <td align='right'>1.000.000.000</td>
      <td>(miljard), oftewel 10<sup>9</sup></td>
    </tr>
    <tr>
      <td>T (tera)</td>
      <td align='right'>1.000.000.000.000</td>
      <td>(biljoen), oftewel 10<sup>12</sup></td>
    </tr>
    <tr>
      <td>P (peta)</td>
      <td align='right'>1.000.000.000.000.000</td>
      <td>(biljard), oftewel 10<sup>15</sup></td>
    </tr>
    <tr>
      <td>E (exa)</td>
      <td align='right'>1.000.000.000.000.000.000</td>
      <td>(triljoen), oftewel 10<sup>18</sup></td>
    </tr>
  </table>

  <h3>Meest relevante eenheden voor energie transitie</h3>
  <table>
    <col width='64'>
    <col width='464'>
    <tr>
      <td>bbl</td>
      <td>'barrel' of vat - de standaardmaat voor olie, gelijk aan 159 liter</td>
    </tr>
    <tr>
      <td>bcm</td>
      <td>'billion cubic metres' of miljard m<sup>3</sup></td>
    </tr>
    <tr>
      <td>bpd</td>
      <td>'barrels per day' of vaten per dag</td>
    </tr>
    <tr>
      <td>BOE</td>
      <td>'Barrels of Oil Equivalent' of vaten olie equivalent. 1 BOE = 41.868 GJ</td>
    </tr>
    <tr>
      <td>&deg;C</td>
      <td>graden Celsius</td>
    </tr>
    <tr>
      <td>cm</td>
      <td>centimeter</td>
    </tr>
    <tr>
      <td>EJ</td>
      <td>exajoule = 10<sup>18</sup> joules</td>
    </tr>
    <tr>
      <td>GJ</td>
      <td>gigajoule = 10<sup>9</sup> joules</td>
    </tr>
    <tr>
      <td>Gt</td>
      <td>gigaton = 10<sup>9</sup> metrische ton</td>
    </tr>
    <tr>
      <td>Gtpa</td>
      <td>'gigatonne per annum' of gigaton per jaar</td>
    </tr>
    <tr>
      <td>GW</td>
      <td>gigawatt = 10<sup>9</sup> watt (zie watt)</td>
    </tr>
    <tr>
      <td>GWh</td>
      <td>'gigawatt hour' of gigawattuur = 10<sup>9</sup> wattuur</td>
    </tr>
    <tr>
      <td>ha</td>
      <td>hectare – 10.000 m<sup>2</sup></td>
    </tr>
    <tr>
      <td>hr</td>
      <td>'hour' of uur</td>
    </tr>
    <tr>
      <td>J</td>
      <td>joule = 1 kg x 1 m<sup>2</sup>/s<sup>2</sup>, 1 J is de hoeveelheid gebruikte energie als over 1 meter lengte een kracht van 1 newton wordt uitgeoefend</td>
    </tr>
    <tr>
      <td>kg</td>
      <td>kilogram = 1.000 gram</td>
    </tr>
    <tr>
      <td>km</td>
      <td>kilometer = 1.000 meter</td>
    </tr>
    <tr>
      <td>kt</td>
      <td>kiloton = 1.000 metrische ton</td>
    </tr>
    <tr>
      <td>kW</td>
      <td>kilowatt = 1.000 watt (zie watt)</td>
    </tr>
    <tr>
      <td>kWh</td>
      <td>'kilowatt hour' of kilowattuur</td>
    </tr>
    <tr>
      <td>L</td>
      <td>1 liter = 1.000 cc (cm<sup>3</sup>), 1 L zuiver water heeft bij 25 &deg;C een massa van 1 kg</td>
    </tr>
    <tr>
      <td>m</td>
      <td>meter</td>
    </tr>
     <tr>
      <td>m<sup>2</sup></td>
      <td>vierkante meter</td>
    </tr>
    <tr>
      <td>m<sup>3</sup></td>
      <td>kubieke meter</td>
    </tr>
    <tr>
      <td>mbd</td>
      <td>'million barrels per day' of miljoen vaten per dag</td>
    </tr>
    <tr>
      <td>Mio</td>
      <td>miljoen</td>
    </tr>
    <tr>
      <td>MJ</td>
      <td>megajoule = 10<sup>6</sup> joules</td>
    </tr>
    <tr>
      <td>Mt</td>
      <td>megaton = 10<sup>6</sup> metrische ton</td>
    </tr>
    <tr>
      <td>Mtpa</td>
      <td>megaton per jaar</td>
    </tr>
    <tr>
      <td>Mtoe</td>
      <td>miljoen ton olie equivalent</td>
    </tr>
    <tr>
      <td>MW</td>
      <td>megawatt = 10<sup>6</sup> watt (zie watt)</td>
    </tr>
    <tr>
      <td>N</td>
      <td>newton, 1 N is de kracht die nodig is om 1 kg te versnellen met 1 m/s<sup>2</sup>
    </tr>
    <tr>
      <td>Nm<sup>3</sup></td>
      <td>normale kubieke meter. Bij 0&deg;C een druk van 1.013 bar.</td>
    </tr>
    <tr>
      <td>pa</td>
      <td>'per annum' of per jaar</td>
    </tr>
    <tr>
      <td>PJ</td>
      <td>petajoule = 10<sup>15</sup> joules</td>
    </tr>
    <tr>
      <td>ppm</td>
      <td>'parts per million' of aantallen per miljoen</td>
    </tr>
    <tr>
      <td>t</td>
      <td>ton = 1.000 kilogram</td>
    </tr>
    <tr>
      <td>tpa</td>
      <td>ton per jaar</td>
    </tr>
    <tr>
      <td>TW</td>
      <td>terawatt = 10<sup>12</sup> watt (zie watt)</td>
    </tr>
    <tr>
      <td>TWh</td>
      <td>'terawatt hour' of terawattuur = 10<sup>12</sup> wattuur</td>
    </tr>
    <tr>
      <td>W</td>
      <td>watt = 1 J/s. 1    joule per seconde</td>
    </tr>
  </table>

<% end %>
