.information_page
  %h1 What's new in the Energy transition model?

  %section
    %h2 Transport and Mobility

    %p
      %a(href="https://pro.energytransitionmodel.com/scenario/demand/transport_international_transport/international-transport")<
        International aviation and navigation (shipping)
      has been added.
    %ul
      %li
        You can choose yourself what percentage of the related emissions should
        be allocated to your area.
      %li
        %a(href="https://pro.energytransitionmodel.com/scenario/flexibility/flexibility_conversion/conversion-to-kerosene-for-aviation")<
          You can create synthetic kerosene for the aviation industry.
        This synthetic kerosene is made from excess wind and solar power and
        captured carbon.

    %p Transport is extended with bikes and public transport, including:
    %ul
      %li
        %a(href="https://pro.energytransitionmodel.com/scenario/demand/transport_passenger_transport/tram-metro-technology")
          Trams and subways
      %li
        %a(href="https://pro.energytransitionmodel.com/scenario/demand/transport_passenger_transport/bicycle-technology")
          Bikes and e-bikes
      %li
        %a(href="https://pro.energytransitionmodel.com/scenario/demand/transport_passenger_transport/motorcycle-technology")
          Motorcycles (petrol or electric)
      %li
        %a(href="https://pro.energytransitionmodel.com/scenario/demand/transport_passenger_transport/bus-technology")
          Busses (diesel, LNG, CNG, petrol, hydrogen, and electric)

    %h2 Built environment (households and buildings)

    %ul
      %li
        %a(href="https://pro.energytransitionmodel.com/scenario/demand/buildings/district-heating")<
          High temperature heat pump
        for local heat networks in the built environment.

    %h2 Industry
    %ul
      %li
        %a(href="https://pro.energytransitionmodel.com/scenario/demand/industry/chemicals")
          Electric heaters
        have been added in the industry.

    %h2 Analysis

    %ul
      %li
        %p
          %a(href="https://pro.energytransitionmodel.com/local-global")<
            Local versus Global:
          When developing scenarios for small regions, it's easy
          to forget that your scenario is not an island but affects - and is affected
          by - nearby regions. By combining the results for these areas, you can see
          how each individual contributes to the whole. It is possible to compare the
          outcomes of scenarios between different levels on costs and CO<sub>2</sub>
          emissions.
        %p
          You can find the Local vs. Global feature on the front page, in the menu
          at the left.

    %h2 Many new and improved regions
    %ul
      %li
        For Gelderland, 66 regions have been added, including all municipalities,
        the province and Cleantech region, Noord-Veluwe, Foodvalley, Rivierenland,
        MARN and the Achterhoek.
      %li
        The Reitdiep district has been added for Groningen.
      %li
        For Zeeland the villages' s-Heer Hendrikskinderen, Oostkapelle and
        Baarland have been added.
      %li
        A number of cities have been added: Antwerp, Amersfoort and the
        Stedendriehoek.
      %li
        The Netherlands has been updated with the most recent and complete data
        Dutch Statistical Office (CBS, 2015)

  %section
    %h2 What is expected soon?

    %ul
      %li Create a fact sheet of your scenario with the touch of a single button.
      %li A big update fully focused on hydrogen.
      %li More opportunities for CCS in industry.
      %li Renewed calculations of future costs of the electricity network.

  %section
    %p= link_to "← #{t('back_to_model')}", root_path, class: 'button'
