.information_page
  %h1 What's new in the Energy transition model?

  %section
    %h2 Hydrogen as fully-fledged carrier
    %p
      Hydrogen is now a full-fledged energy carrier and it is possible to choose
      from several production routes in the ETM:
    %ul
      %li steam-methane reforming (SMR) with or without CCS
      %li offshore wind parks solely producing hydrogen by electrolysis
      %li solar parks solely producing hydrogen by electrolysis
      %li electrolyzers that run on excess electricity from the HV-net

    %h2 A renewed electricity network calculation
    %p
      The ETM can calculate the hourly impact on the different future net levels
      based on the choices of the user. As a result, the ETM calculates the
      needed capacity and the costs of the future net levels.
    %ul
      %li
        The ETM distinguishes between low, medium and the high voltage level.
        Also, it includes the transformers between the voltage levels.
      %li
        Next to this, it includes the offshore wind net and the interconnection
        net between a region and its neighbours.
      %li
        All technologies have a profile that together adds up to mimic the
        TenneT-curve.
      %li
        These technologies are connected to a specific net level.
      %li
        The peaks of the future determine the needed capacity of the future net.

    %h2 New regions can explore their future
    %ul
      %li Utrecht, Province
      %li Haarlemmermeer
      %li Noord-Beveland
      %li Schouwen-Duiveland
      %li Veere

    %h2 New charts:
    %ul
      %li
        Sankey with alle energy flows including hydrogen.
      %li
        A chart that shows energetic final demand.
      %li
        A supply and demand chart for the hydrogen net
      %li
        Several new charts for the new network calculation. Showing per net
        level the dynamic demand, net impact, the required new net, and the
        costs.

  %section
    %p= link_to "← #{t('back_to_model')}", root_path, class: 'button'
