.information_page
  %h1 What's new in the Energy transition model?

  %section
    %h2 Hydrogen calculation updated
    %p
      The ETM now calculates hydrogen demand and supply on an hourly-basis,
      which makes it possible to identify moments of excess hydrogen production
      and shortages. The ETM ensures that hydrogen supply matches demand for
      every hour per year by automatically storing excess hydrogen production in
      a buffer. New hourly charts are added for hydrogen supply, hydrogen demand
      and hydrogen storage. Navigate to
      %a(href="https://pro.energytransitionmodel.com/scenario/supply/hydrogen/hydrogen-production")
        the updated hydrogen section
      in the ETM and
      %a(href="https://github.com/quintel/documentation/blob/613e0f3b9566cf038ac47271e8591ca05d418c9b/general/Hydrogen.md")
        see the documentation
      for more details.
    %p(style="text-align: center")
      = image_tag 'pages/whats_new/h2_chart_en.png', alt: ''

    %h2 Many new regions can explore their future energy system
    %ul
      %li Denmark and Germany 
      %li All 48 municipalities of Noord-Holland
      %li 16 municipalities of Utrecht (U16) and 6 combined regions in Utrecht
      %li New provinces: Noord-Holland and Overijssel
      %li Updated provinces: Flevoland and Friesland
      %li Municipality De Friese Meren

    %h2 Furthermore, we have:
    %ul
      %li Added pumped hydro storage in reservoirs (only for Germany)
      %li
        Updated
        %a(href="https://pro.energytransitionmodel.com/scenario/demand/industry/other")
          the other industry sector
        with new sliders for energy carriers

  %section
    %p= link_to "← #{t('back_to_model')}", root_path, class: 'button'
