.information_page
  %h1 Wat is er nieuw in het Energietransitiemodel?

  %section
    %h2 Transport & Mobiliteity

    %p
      %a(href="https://pro.energytransitionmodel.com/scenario/demand/transport_international_transport/international-transport")<
        Internationale lucht- en scheepsvaart
      is toegevoegd.
    %ul
      %li
        Je kunt nu zelf kiezen hoeveel van de CO2-emissies worden gealloceerd
        aan jouw gebied.
      %li
        %a(href="https://pro.energytransitionmodel.com/scenario/flexibility/flexibility_conversion/conversion-to-kerosene-for-aviation")<
          Je kunt nu synthetische kerosine maken voor de luchtvaart.
        Deze synthetische kerosine wordt gemaakt van overschotten van zonne- en
        windenergie en COx-emissies uit de industrie, of uit de lucht.

    %p Transport & Mobiliteit is verder uitgebreid met fietsverkeer en openbaar vervoer, dit omvat nu:
    %ul
      %li
        %a(href="https://pro.energytransitionmodel.com/scenario/demand/transport_passenger_transport/tram-metro-technology")
          Trams & metro’s
      %li
        %a(href="https://pro.energytransitionmodel.com/scenario/demand/transport_passenger_transport/bicycle-technology")
          Fietsen & e- bikes
      %li
        %a(href="https://pro.energytransitionmodel.com/scenario/demand/transport_passenger_transport/motorcycle-technology")
          Motorfietsen (benzine of elektrisch)
      %li
        %a(href="https://pro.energytransitionmodel.com/scenario/demand/transport_passenger_transport/bus-technology")
          Bussen (diesel, CNG, LNG, benzine, waterstof & elektrisch)

    %h2 Gebouwde omgeving (Huishoudens & Gebouwen)

    %ul
      %li
        %a(href="https://pro.energytransitionmodel.com/scenario/demand/buildings/district-heating")<
          Hogetemperatuur warmtepomp
        voor lokale warmtenetten in de gebouwde omgeving.

    %h2 Industrie
    %ul
      %li
        %a(href="https://pro.energytransitionmodel.com/scenario/demand/industry/chemicals")
          Elektrische warmtebronnen
        in de industrie.

    %h2 Analyse

    %ul
      %li
        %p
          %a(href="https://pro.energytransitionmodel.com/local-global")<
            Lokaal versus Globaal:
          Bij het ontwikkelen van scenario's voor kleine
          regio's, is het gemakkelijk om te vergeten dat jouw scenario geen eiland
          is, maar invloed heeft op - en wordt beïnvloed door - nabijgelegen
          regio's. Door de resultaten voor deze gebieden te combineren, kunt je nu
          zien hoe elke individuele regio bijdraagt aan het geheel. Het is
          mogelijk de uitkomsten van verschillende energiescenario’s tussen
          verschillende niveaus met elkaar te vergelijken op kosten en
          CO<sub>2</sub>-uitstoot.
        %p
          Je kunt de functie vinden op de voorpagina van het ETM, in het linker
          keuzemenu.

    %h2 Veel nieuwe en verbeterde regio’s
    %ul
      %li
        Voor Gelderland zijn er 66 regio’s toegevoegd, waaronder álle gemeentes,
        de provincie en Cleantech Regio, Noord-Veluwe, Foodvalley, Rivierenland,
        MARN en de Achterhoek.
      %li
        Voor Groningen is de wijk Reitdiep toegevoegd.
      %li
        Voor Zeeland zijn de dorpen ‘s-Heer Hendrikskinderen, Oostkapelle en
        Baarland toegevoegd.
      %li
        Er zijn een aantal steden toegevoegd: Antwerpen, Amersfoort en de
        Stedendriehoek.
      %li
        Nederland is geüpdatet met de meest recente en volledige data van
        Klimaatmonitor en het CBS (2015).

  %section
    %h2 Wat is er binnenkort nog te verwachten?

    %ul
      %li Maak met één druk op de knop een factsheet van jouw scenario.
      %li Een grote update volledig gericht op waterstof.
      %li Meer mogelijkheden voor CCS in industrie.
      %li Vernieuwde berekeningen van toekomstige kosten elektriciteitsnetwerk.

  %section
    %p= link_to "← #{t('back_to_model')}", root_path, class: 'button'
