.information_page
  %h1 Wat is er nieuw in het Energietransitiemodel?

  %section
    %h2 Waterstof als volwaardige drager

    %p
      Waterstof is nu een volwaardige energiedrager en het is mogelijk om uit
      verschillende productieroutes in het ETM te kiezen:
    %ul
      %li
        %a(href="/scenario/supply/hydrogen/hydrogen-production")
          Produceren vanuit stoom-methaan (SMR) met of zonder CCS
      %li
        %a(href="/scenario/supply/hydrogen/hydrogen-production")
          Produceren vanuit wind op zee parken die uitsluitend waterstof door middel van
          elektrolyse
      %li
        %a(href="/scenario/supply/hydrogen/hydrogen-production")
          Produceren vanuit zonneparken die uitsluitend waterstof produceren door middel van
          elektrolyse
      %li
        %a(href="/scenario/flexibility/flexibility_conversion/conversion-to-hydrogen")
          Produceren vanuit overtollige elektriciteit op het HV-net 

    %p De geproduceerde waterstof kan dan worden gebruikt:
    %ul
      %li
        %a(href="/scenario/demand/transport_passenger_transport/car-technology")
          Als brandstof in auto's, bussen en vrachtwagens
      %li
        %a(href="/scenario/demand/industry/refineries")
          Voor warmteproductie in industrie en gebouwde omgeving
      %li
        %a(href="/scenario/supply/electricity_renewable/hydrogen-plants")
          Voor elektriciteitsproductie
      %li
        %a(href="/scenario/demand/industry/fertilizers")
          Als grondstof voor de productie van meststoffen

    %h2 Een hernieuwde berekening van het elektriciteitsnetwerk
    %p
      Het ETM kan de uurlijkse impact op de verschillende netniveaus
      berekenen op basis van de keuzes van de gebruiker. Als gevolg
      hiervan berekent het ETM de benodigde capaciteit en de kosten van de
      toekomstige netniveaus.
    %ul
      %li
        Het ETM maakt onderscheid tussen laag-, midden- en hoogspanningsniveau.
        Het bevat ook de transformatoren tussen deze spanningsniveaus.
      %li
        Daarnaast omvat het de wind op zee aansluitingen en het
        interconnectienet tussen een gebied en zijn/haar omliggende gebieden.
      %li
        Alle technologieën hebben een profiel dat samen optelt om de
        TenneT-curve na te bootsen.
      %li
        Deze technologieën zijn verbonden met een specifiek netniveau.
      %li
        De pieken van de toekomst bepalen de benodigde capaciteit van het
        toekomstige net.
      %li
        %a(href="https://github.com/quintel/documentation/blob/master/general/network.md")
          Bekijk de documentatie voor meer achtergrond.

    %h2 Deze nieuwe regio's kunnen u ook hun toekomst verkennen
    %ul
      %li Provincie Utrecht
      %li Gemeente Haarlemmermeer
      %li Gemeente Noord-Beveland
      %li Gemeente Schouwen-Duiveland
      %li Gemeente Veere

    %h2 Nieuwe grafieken
    %ul
      %li
        Een grafiek met een energetische finale vraag.
      %li
        Een vraag- en aanbodgrafiek voor het waterstofnet
      %li
        Een hoop nieuwe grafieken voor de nieuwe netwerkberekening. Weergave per
        netniveau van de dynamische vraag, netto-impact, het vereiste nieuwe
        net en de bijbehorende kosten.

    %h2 CO<sub>2</sub>-factsheet:
    %p Alle regio's kunnen beginnen met een overzicht van hun CO2-voetafdruk.

  %section
    %p= link_to "← #{t('back_to_model')}", root_path, class: 'button'
