.information_page
  %h1 What's new in the Energy transition model?

  %section
    %h2 Hydrogen as fully-fledged energy carrier
    %p
      Hydrogen is now a fully-fledged energy carrier and it is possible to
      choose from several production routes in the ETM:
    %ul
      %li
        %a(href="/scenario/supply/hydrogen/hydrogen-production")
          steam-methane reforming (SMR), with or without CCS
      %li
        %a(href="/scenario/supply/hydrogen/hydrogen-production")
          offshore wind parks solely producing hydrogen by electrolysis
      %li
        %a(href="/scenario/supply/hydrogen/hydrogen-production")
          solar parks solely producing hydrogen by electrolysis
      %li
        %a(href="/scenario/flexibility/flexibility_conversion/conversion-to-hydrogen")
          electrolyzers that run on excess electricity from the HV-net

    %p The produced H<sub>2</sub> can then be used:
    %ul
      %li
        %a(href="/scenario/demand/transport_passenger_transport/car-technology")
          as fuel in cars, busses and trucks
      %li
        %a(href="/scenario/demand/industry/refineries")
          for heat production in industry and built environment
      %li
        %a(href="/scenario/supply/electricity_renewable/hydrogen-plants")
          for electricity production
      %li
        %a(href="/scenario/demand/industry/fertilizers")
          as feedstock for fertilizer production

    %h2 A renewed electricity network calculation
    %p
      The ETM can calculate the hourly impact on the different future net levels
      based on the choices you make in your scenario. As a result, the ETM
      calculates the needed capacity and the costs of the future net levels.
    %ul
      %li
        The ETM distinguishes between low, medium and high voltage levels, and
        also the transformers between the voltage levels.
      %li
        It includes the offshore wind net and the interconnection net between a
        region and its neighbours.
      %li
        All technologies have a profile that together adds up to mimic the
        TenneT-curve.
      %li
        These technologies are connected to a specific net level.
      %li
        The peaks of the future determine the needed capacity of the future net.

    %h2 New regions can explore their future
    %ul
      %li Utrecht, Province
      %li Haarlemmermeer
      %li Noord-Beveland
      %li Schouwen-Duiveland
      %li Veere

    %h2 New charts
    %ul
      %li
        Sankey with all energy flows including hydrogen.
      %li
        A chart that shows energetic final demand.
      %li
        A supply and demand chart for the hydrogen net
      %li
        Several new charts for the new network calculation. Showing per net
        level the dynamic demand, net impact, the required new net, and the
        costs.

    %h2 CO<sub>2</sub> factsheet
    %p All regions can start with an overview of their CO<sub>2</sub> footprint.

  %section
    %p= link_to "← #{t('back_to_model')}", root_path, class: 'button'
