.information_page
  %h1 Wat is er nieuw in het Energietransitiemodel?

  %section
    %h2 Update waterstofberekening
    %p
      Het ETM modelleert nu waterstofvraag en -aanbod op uurbasis. Het ETM zorgt
      ervoor dat waterstofvraag en -aanbod ieder uur per jaar met elkaar in
      balans zijn. Dit gebeurt door waterstof productieoverschotten automatisch
      op te slaan in een buffer, waterstof uit deze buffer te halen tijdens
      vraagpieken en eventuele overschotten te importeren/exporteren. Er zijn
      nieuwe grafieken op uurbasis toegevoegd voor waterstofproductie,
      waterstofvraag en waterstofopslag.
      %a(href="https://pro.energytransitionmodel.com/scenario/supply/hydrogen/hydrogen-production")
        Klik hier om de updates te bekijken in het ETM
      en ga naar de
      %a(href="https://github.com/quintel/documentation/blob/613e0f3b9566cf038ac47271e8591ca05d418c9b/general/Hydrogen.md")
        documentatie van waterstof
      voor meer details.
    %p(style="text-align: center")
      = image_tag 'pages/whats_new/h2_chart_nl.png', alt: ''

    %h2 Veel nieuwe regio's kunnen hun toekomstige energiesysteem verkennen
    %ul
      %li Denemarken en Duitsland
      %li Alle 48 gemeenten in Noord-Holland
      %li 16 Utrechtse gemeenten (U16) en 6 gecombineerde regio’s in Utrecht
      %li 4 provincies: Noord-Holland, Overijssel, Flevoland (update) and Friesland (update)
      %li Gemeente De Friese Meren

    %h2 Verder hebben we:
    %ul
      %li Stuwmeren toegevoegd voor energieopslag (alleen voor Duitsland)
      %li
        %a(href="https://pro.energytransitionmodel.com/scenario/demand/industry/other")
          De overige industrie sector
        verbeterd door nieuwe schuifjes toe te voegen

  %section
    %p= link_to "← #{t('back_to_model')}", root_path, class: 'button'
