-# Power plants
%table#power_plants.chart
  %thead
    %tr
      %th
      %th.border-rgt= Current.setting.start_year
      %th{:colspan => 4, :style => "text-align: center"}= Current.setting.end_year
    %tr
      %th Types
      %th.tac.border-rgt Prod.
      %th.tac Plants
      %th.tac Prod.
      %th.tac Capacity
      %th.tac Investment
    %tr
      %th
      %th.unit.border-rgt PJ
      %th.unit #
      %th.unit PJ
      %th.unit GW
      %th.unit M EUR
  - columns = output_element.allowed_output_element_series.group_by{|serie| (serie.order_by / 100).to_i }
  - rows = columns.values.map(&:length).max - 1 rescue 0
  - rows -= 1
  %tbody
    - 0.upto(rows) do |row|
      %tr{:class => cycle('even', 'odd')}
        -# use the Label of the first column
        %th= t "output_element_series.#{columns[1][row].label}" rescue '-'
        %td.border-rgt{:data => {:gquery => columns[1][row].gquery}} -
        %td{:data => {:gquery => columns[2][row].gquery}} -
        %td{:data => {:gquery => columns[3][row].gquery}} -
        %td{:data => {:gquery => columns[4][row].gquery}} -
        %td{:data => {:gquery => columns[5][row].gquery}} -
  %tfoot
    %tr
      %th
        %strong Total
      - row = rows + 1
      %td.border-rgt{:data => {:gquery => columns[1][row].gquery}} -
      %td{:data => {:gquery => columns[2][row].gquery}} -
      %td{:data => {:gquery => columns[3][row].gquery}} -
      %td{:data => {:gquery => columns[4][row].gquery}} -
      %td{:data => {:gquery => columns[5][row].gquery}} -
