%table#supply_output_table{table_defaults}
  %thead
    %tr
      %th Emissions 
      %th
      %th
      %th
    %tr
      %th
      %th including exported electricity
      %th exported electricity 
      %th inland final consumption


  - columns = @output_element.allowed_output_element_series.group_by{|serie| (serie.order_by / 100).to_i }
  -# columns = {1 => [<Serie>,<Serie>], 2 => [...], 3 => [...]}
  - rows = columns.values.map(&:length).max - 1 rescue 0
  %tbody
    - 0.upto(rows) do |row|
      %tr{cycles}
        -# use the Label of the first column
        %th= columns[1][row].label rescue '-'
        %td.tar{:data => {:gquery_id => gquery_id(columns[1][row].gquery)}} -
        %td.tar{:data => {:gquery_id => gquery_id(columns[2][row].gquery)}} -
        %td.tar{:data => {:gquery_id => gquery_id(columns[3][row].gquery)}} -
