-# Changes to electricity grid
%table.chart
  %thead
    %tr
      %th
      %th Network component
    %tr
      %th
      %th LV Distribution net
      %th MV-LV transformer
      %th MV Distribution net
      %th MV Transport net
      %th HV-MV transformer
      %th HV Transport net

  - columns = @output_element.allowed_output_element_series.group_by{|serie| (serie.order_by / 100).to_i }
  -# columns = {1 => [<Serie>,<Serie>], 2 => [...], 3 => [...]}
  - rows = columns.values.map(&:length).max - 1 rescue 0
  %tbody
    - 0.upto(rows) do |row|
      %tr{:class => cycle('even', 'odd')}
        -# use the Label of the first column
        %th= t "output_element_series.#{columns[1][row].label}" rescue '-'
        %td.tar{:data => {:gquery => columns[1][row].gquery}} -
        %td.tar{:data => {:gquery => columns[2][row].gquery}} -
        %td.tar{:data => {:gquery => columns[3][row].gquery}} -
        %td.tar{:data => {:gquery => columns[4][row].gquery}} -
        %td.tar{:data => {:gquery => columns[5][row].gquery}} -
        %td.tar{:data => {:gquery => columns[6][row].gquery, :on_zero => 'n.a.'}} -
