-# Power plants
%table#supply_output_table{table_defaults}
  %thead
    %tr
      %th
      %th.border-rgt= Current.setting.start_year
      %th{:colspan => 4, :style => "text-align: center"}= Current.setting.end_year
    %tr
      %th Types
      %th.tac.border-rgt Prod.
      %th.tac Plants
      %th.tac Prod.
      %th.tac Capacity
      %th.tac Investment
    %tr
      %th
      %th.tac.unit.border-rgt PJ
      %th.tac.unit #
      %th.tac.unit PJ
      %th.tac.unit GW
      %th.tac.unit M EUR
  - columns = @output_element.allowed_output_element_series.group_by{|serie| (serie.order_by / 100).to_i }
  - rows = columns.values.map(&:length).max - 1 rescue 0
  - rows -= 1
  %tbody
    - 0.upto(rows) do |row|
      %tr{cycles}
        -# use the Label of the first column
        %th= t "output_element_series.#{columns[1][row].label}" rescue '-'
        %td.tar.border-rgt{:data => {:gquery_id => columns[1][row].gquery}} -
        %td.tar{:data => {:gquery_id => columns[2][row].gquery}} -
        %td.tar{:data => {:gquery_id => columns[3][row].gquery}} -
        %td.tar{:data => {:gquery_id => columns[4][row].gquery}} -
        %td.tar{:data => {:gquery_id => columns[5][row].gquery}} -
    %tfoot#total
      %tr
        %td
          %strong Total
        - row = rows + 1
        %td.tar.border-rgt{:data => {:gquery_id => columns[1][row].gquery}} -
        %td.tar{:data => {:gquery_id => columns[2][row].gquery}} -
        %td.tar{:data => {:gquery_id => columns[3][row].gquery}} -
        %td.tar{:data => {:gquery_id => columns[4][row].gquery}} -
        %td.tar{:data => {:gquery_id => columns[5][row].gquery}} -
