-# CO2 emissions with im- or export
%table.chart
  %thead
    %tr
      %th Emissions
      %th
      %th
      %th
    %tr
      %th
      %th including exported electricity
      %th exported electricity
      %th inland final consumption
  %tbody
    %tr.even
      %th= t "output_element_series.actual_1990"
      %td.tar{:data => {:gquery => 'actual_1990_in_co2_emissions_table'}}
      %td.tar{:data => {:gquery => 'diff_1990_in_co2_emissions_table'}}
      %td.tar{:data => {:gquery => 'with_im_export_1990_in_co2_emissions_table'}}
    %tr.odd
      %th= t "output_element_series.actual_2010"
      %td.tar{:data => {:gquery => 'actual_2010_in_co2_emissions_table',         :graph => :present}}
      %td.tar{:data => {:gquery => 'diff_2010_in_co2_emissions_table',           :graph => :present}}
      %td.tar{:data => {:gquery => 'with_im_export_2010_in_co2_emissions_table', :graph => :present}}
    %tr.even
      %th= t "output_element_series.actual_20xx"
      %td.tar{:data => {:gquery => 'actual_20xx_in_co2_emissions_table'}}
      %td.tar{:data => {:gquery => 'diff_20xx_in_co2_emissions_table'}}
      %td.tar{:data => {:gquery => 'with_im_export_20xx_in_co2_emissions_table'}}
