-# Hybrid heat pump table
%table#hybrid_heat_pump.chart.centered.autostripe
  %thead
    %tr
      %th
      %th= t 'output_elements.tables.hybrid_heat_pump.heat_output_share_electricity'
      %th= t 'output_elements.tables.hybrid_heat_pump.heat_output_share_network_gas'
    %tr
      %th
      %th %
      %th %
  %tbody
    %tr
      %th.left= t "output_elements.tables.hybrid_heat_pump.households_space_heater_hybrid_heatpump"
      %td{:data => {:gquery => "households_space_heater_hybrid_heatpump_heat_output_share_electricity", :graph => :future}}
      %td{:data => {:gquery => "households_space_heater_hybrid_heatpump_heat_output_share_network_gas", :graph => :future}}
    %tr
      %th.left= t "output_elements.tables.hybrid_heat_pump.households_water_heater_hybrid_heatpump"
      %td{:data => {:gquery => "households_water_heater_hybrid_heatpump_heat_output_share_electricity", :graph => :future}}
      %td{:data => {:gquery => "households_water_heater_hybrid_heatpump_heat_output_share_network_gas", :graph => :future}}
