%h2 Interface details
%dl
  %dt Key
  %dd= @interface.key
  %dt Enabled
  %dd= @interface.enabled
  %dt Structure
  %dd
    %pre= @interface.structure

= render "/admin/shared/revisions", :versioned => @interface