%main
  #metrics
    .loading
      = image_tag('layout/ajax-loader-small.gif')
      One moment please; loading data&hellip;

%script#compare-metric-template(type="text/template")
  .summary
    .title
      %h2
        %span(class="arrow")
        <%= title %>
    .delta
    .present
    .future
