---
- under_construction: false
  unit:
  percentage: false
  group: Flexibility
  show_point_label: false
  growth_chart: false
  key: flexibility_workflow
  max_axis_value:
  min_axis_value:
  hidden: true
  requires_merit_order: false
  dependent_on:
  description:
  output_element_type_name: html_table
  config:
    supports_to_image: false
- group: Flexibility
  hidden: false
  key: installed_flexible_capacities
  output_element_type_name: category_bar
  requires_merit_order: true
  unit: MW
  config:
    period: future
- group: Flexibility
  hidden: false
  key: flexibility_integral_costs
  output_element_type_name: category_bar
  requires_merit_order: true
  unit: 'Eur/Mwh'
  config:
    period: future
    y_precision: 0
- group: Flexibility
  hidden: false
  key: flexibility_monthly_carriers_inflexible_supply_demand_sum
  output_element_type_name: hourly_summarized
  requires_merit_order: true
  unit: MJ
  config:
    linked_chart:
      electricity: flexibility_hourly_electricity_supply_demand
      heat_network: flexibility_hourly_heat_network_supply_demand
      hydrogen: flexibility_hourly_hydrogen_supply_demand
      network_gas: flexibility_hourly_network_gas_supply_demand
    original_unit: 'MW'
- group: Flexibility
  hidden: false
  key: flexibility_monthly_carriers_inflexible_supply_demand_max
  output_element_type_name: hourly_summarized
  requires_merit_order: true
  unit: MW
  config:
    linked_chart:
      electricity: flexibility_hourly_electricity_supply_demand
      heat_network: flexibility_hourly_heat_network_supply_demand
      hydrogen: flexibility_hourly_hydrogen_supply_demand
      network_gas: flexibility_hourly_network_gas_supply_demand
    reduce_with: max
- group: Flexibility
  hidden: false
  key: flexibility_monthly_carriers_inflexible_imbalance
  output_element_type_name: hourly_summarized
  requires_merit_order: true
  unit: MJ
  config:
    linked_chart: flexibility_hourly_carriers_inflexible_imbalance
    original_unit: 'MW'
- group: Flexibility
  hidden: true
  key: flexibility_monthly_carriers_cumulative_imbalance
  output_element_type_name: hourly_summarized
  requires_merit_order: true
  unit: MJ
  config:
    original_unit: 'MW'
    reduce_with: last
- under_construction: false
  unit: MW
  percentage: false
  group: Flexibility
  show_point_label: false
  growth_chart: false
  key: flexibility_hourly_carriers_inflexible_imbalance
  max_axis_value:
  min_axis_value:
  hidden: false
  requires_merit_order: true
  dependent_on: ''
  output_element_type_name: line
- under_construction: false
  unit: MWh
  percentage: false
  group: Flexibility
  show_point_label: false
  growth_chart: false
  key: flexibility_hourly_all_carriers_cumulative_imbalance
  max_axis_value:
  min_axis_value:
  hidden: false
  requires_merit_order: true
  dependent_on: ''
  output_element_type_name: line
- under_construction: false
  unit: ''
  percentage: false
  group: Flexibility
  show_point_label: false
  growth_chart: false
  key: energy_storage
  max_axis_value:
  min_axis_value:
  hidden: true
  requires_merit_order: false
  dependent_on: ''
  output_element_type_name: storage
- under_construction: false
  unit: PJ
  percentage: false
  group: Flexibility
  show_point_label: false
  growth_chart: false
  key: use_of_excess_electricity
  max_axis_value:
  min_axis_value:
  hidden: false
  requires_merit_order: true
  dependent_on: has_electricity_storage
  output_element_type_name: vertical_stacked_bar
  related_output_element_key: merit_order_hourly_flexibility
- under_construction: false
  unit: ''
  percentage: false
  group: Flexibility
  show_point_label: false
  growth_chart: false
  key: storage_options
  max_axis_value:
  min_axis_value:
  hidden: false
  requires_merit_order: true
  dependent_on: ''
  output_element_type_name: html_table
  related_output_element_key: merit_order_hourly_flexibility
- under_construction: false
  unit: ''
  percentage: false
  group: Flexibility
  show_point_label: false
  growth_chart: false
  key: storage_specifications
  max_axis_value:
  min_axis_value:
  hidden: false
  requires_merit_order: true
  dependent_on: ''
  output_element_type_name: html_table
  related_output_element_key: flexibility_hourly_p2p_storage
- under_construction: false
  unit: MW
  percentage: false
  group: Flexibility
  show_point_label: false
  growth_chart: false
  key: merit_order_hourly_flexibility
  max_axis_value:
  min_axis_value:
  hidden: false
  requires_merit_order: true
  dependent_on: ''
  output_element_type_name: hourly_stacked_area
- under_construction: false
  unit: MW
  percentage: false
  group: Flexibility
  show_point_label: false
  growth_chart: false
  key: hourly_flexibility_electricity
  max_axis_value:
  min_axis_value:
  hidden: false
  requires_merit_order: true
  dependent_on: ''
  output_element_type_name: hourly_stacked_area
- under_construction: false
  unit: MW
  percentage: false
  group: Flexibility
  show_point_label: false
  growth_chart: false
  key: hourly_flexibility_hydrogen
  max_axis_value:
  min_axis_value:
  hidden: false
  requires_merit_order: true
  dependent_on: ''
  output_element_type_name: hourly_stacked_area
- under_construction: false
  unit:
  percentage: false
  group: Flexibility
  show_point_label: false
  growth_chart: false
  key: solar_pv_curtailment
  max_axis_value:
  min_axis_value:
  hidden: false
  requires_merit_order: false
  dependent_on:
  description:
  output_element_type_name: html_table
- under_construction: false
  unit: MW
  percentage: false
  group: Flexibility
  show_point_label: false
  growth_chart: false
  key: hourly_solar_pv_curtailment
  max_axis_value:
  min_axis_value:
  hidden: false
  requires_merit_order: true
  dependent_on:
  description:
  output_element_type_name: solar_curtailment
  config:
    serie_selections:
      - solar_pv
      - buildings_solar_pv
      - households_solar_pv
      - energy_power_solar_pv
      - energy_power_offshore_solar_pv
      - energy_battery_solar_pv
- under_construction: false
  unit: MWh
  percentage: false
  group: Flexibility
  show_point_label: false
  growth_chart: false
  key: flexibility_hourly_p2p_storage
  max_axis_value:
  min_axis_value:
  hidden: false
  requires_merit_order: true
  dependent_on:
  description:
  output_element_type_name: solar_curtailment
  config:
    serie_selections:
      - storage_curve
      - households_flexibility_p2p_electricity_storage
      - transport_car_flexibility_p2p_electricity_storage
      - transport_bus_flexibility_p2p_electricity_storage
      - transport_truck_flexibility_p2p_electricity_storage
      - transport_van_flexibility_p2p_electricity_storage
      - energy_flexibility_mv_batteries_electricity_storage
      - energy_flexibility_hv_opac_electricity_storage
      - energy_flexibility_pumped_storage_electricity_storage
      - energy_flexibility_flow_batteries_electricity_storage
- under_construction: false
  unit: MW
  percentage: false
  group: Flexibility
  show_point_label: false
  growth_chart: false
  key: user_profiles
  max_axis_value:
  min_axis_value:
  hidden: true
  requires_merit_order: true
  dependent_on:
  description:
  output_element_type_name: solar_curtailment
- under_construction: false
  unit: MW
  percentage: false
  group: Flexibility
  show_point_label: false
  growth_chart: false
  key: flexibility_hourly_electricity_supply_demand
  max_axis_value:
  min_axis_value:
  hidden: false
  requires_merit_order: true
  dependent_on: ''
  output_element_type_name: line
- under_construction: false
  unit: MW
  percentage: false
  group: Flexibility
  show_point_label: false
  growth_chart: false
  key: flexibility_hourly_network_gas_supply_demand
  max_axis_value:
  min_axis_value:
  hidden: false
  requires_merit_order: true
  dependent_on: ''
  output_element_type_name: line
- under_construction: false
  unit: MW
  percentage: false
  group: Flexibility
  show_point_label: false
  growth_chart: false
  key: flexibility_hourly_hydrogen_supply_demand
  max_axis_value:
  min_axis_value:
  hidden: false
  requires_merit_order: true
  dependent_on: ''
  output_element_type_name: line
- under_construction: false
  unit: MW
  percentage: false
  group: Flexibility
  show_point_label: false
  growth_chart: false
  key: flexibility_hourly_heat_network_supply_demand
  max_axis_value:
  min_axis_value:
  hidden: false
  requires_merit_order: true
  dependent_on: ''
  output_element_type_name: line
- under_construction: false
  unit: MW
  percentage: false
  group: Flexibility
  show_point_label: false
  growth_chart: false
  key: flexibility_hourly_battery_wind
  max_axis_value:
  min_axis_value:
  hidden: false
  requires_merit_order: true
  dependent_on: ''
  output_element_type_name: hourly_stacked_area
- under_construction: false
  unit: MW
  percentage: false
  group: Flexibility
  show_point_label: false
  growth_chart: false
  key: flexibility_hourly_battery_solar
  max_axis_value:
  min_axis_value:
  hidden: false
  requires_merit_order: true
  dependent_on: ''
  output_element_type_name: hourly_stacked_area
- under_construction: false
  unit: ''
  percentage: false
  group: Flexibility
  show_point_label: false
  growth_chart: false
  key: need_for_flexibility
  max_axis_value:
  min_axis_value:
  hidden: false
  requires_merit_order: true
  dependent_on: ''
  output_element_type_name: html_table
  related_output_element_key: flexibility_hourly_carriers_inflexible_imbalance
