---
http_interactions:
- request:
    method: get
    uri: https://beta-engine.energytransitionmodel.com/api/v3/areas/nl.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b6c661c0faab9755e1e987f497fdaafd"
    body:
      encoding: UTF-8
      string: '{"area":"nl","id":1,"parent_id":1,"group":"country","analysis_year":2015,"has_agriculture":true,"has_buildings":true,"has_semi_detached_houses":true,"has_coastline":true,"has_cold_network":false,"has_electricity_storage":true,"has_employment":true,"has_industry":true,"has_lignite":false,"has_merit_order":true,"has_metal":true,"has_mountains":false,"has_old_technologies":true,"has_other":true,"has_solar_csp":false,"has_offshore_solar":true,"has_other_emissions_section":true,"has_import_export":true,"use_network_calculations":true,"use_merit_order_demands":true,"has_weather_curves":true,"has_aggregated_chemical_industry":false,"has_detailed_chemical_industry":true,"has_coal_oil_for_heating_built_environment":false,"has_aquathermal_potential_for_surface_water":false,"has_aquathermal_potential_for_waste_water":false,"has_aquathermal_potential_for_drink_water":false,"co2_emission_1990_aviation_bunkers":4.6046,"co2_emission_1990_marine_bunkers":34.95619,"co2_percentage_free":0.85,"co2_price":0.0078,"captured_biogenic_co2_price":0.0078,"offshore_ccs_potential_mt_per_year":41.95,"lv_net_spare_capacity":0.25,"lv_net_total_costs_present":838847167.7,"lv_net_costs_per_capacity_step":183200.0,"lv_net_capacity_per_step":0.2,"mv_net_spare_capacity":0.25,"mv_net_total_costs_present":720884284.7,"mv_net_costs_per_capacity_step":1380000.0,"mv_net_capacity_per_step":2.0,"hv_net_spare_capacity":0.25,"hv_net_total_costs_present":423617819.7,"hv_net_costs_per_capacity_step":7280000.0,"hv_net_capacity_per_step":20.0,"lv_mv_trafo_spare_capacity":0.25,"lv_mv_trafo_total_costs_present":298839303.5,"lv_mv_trafo_costs_per_capacity_step":40000.0,"lv_mv_trafo_capacity_per_step":0.2,"mv_hv_trafo_spare_capacity":0.25,"mv_hv_trafo_total_costs_present":251654150.3,"mv_hv_trafo_costs_per_capacity_step":500000.0,"mv_hv_trafo_capacity_per_step":2.0,"interconnection_net_costs_present":139550090.5,"offshore_net_costs_present":26607183.6,"flh_solar_pv_solar_radiation_max":1361.35634547,"hydrogen_electrolysis_solar_pv_capacity_ratio":0.427,"present_share_of_apartments_before_1945_in_useful_demand_for_space_heating":0.0625040726869224,"present_share_of_apartments_1945_1964_in_useful_demand_for_space_heating":0.0474523564642453,"present_share_of_apartments_1965_1984_in_useful_demand_for_space_heating":0.0953994416233717,"present_share_of_apartments_1985_2004_in_useful_demand_for_space_heating":0.0770344579668123,"present_share_of_apartments_2005_present_in_useful_de[...]
