development: &DEV
    api_url: http://etengine.dev/api/v2
    active_resource_base: http://etengine.dev/api/v2
    api_proxy_url: /ete_proxy
    local_proxy: false
    ga_tracker_code: 123456
    unselectable_text: false
    max_scenarios:
    airbrake_api_key: '3ea5a72aad48a32d7bb486bc71ad4fd5'
    converter_detail_url: http://beta.et-engine.com/converters
    disable_cors: false # offline instances might need this
production:
    <<: *DEV
    local_proxy: false
test:
    <<: *DEV
