development: &DEV
    api_url: http://etengine.dev/api/v2
    debug_qernel: true
    ga_tracker_code: 123456
    unselectable_text: false
    header_logo:
    max_scenarios:
    root_page:

production:
    <<: *DEV
    debug_qernel: false
    hoptoad_api_key: '3ea5a72aad48a32d7bb486bc71ad4fd5'

test:
    <<: *DEV
