development: &DEV
    airbrake_api_key: '3ea5a72aad48a32d7bb486bc71ad4fd5'

    # base url for api requests. This is used when CORS is enabled
    # (which is the default) or when the rails application runs a
    # local rack-based AJAX proxy
    api_url: http://beta.et-engine.com

    # This sets the url we use as API proxy. The proxying is handled
    # by nginx or a local rack-based proxy
    api_proxy_url: /ete_proxy

    # google analytics key
    ga_tracker_code: 123456

    # is this still used?
    max_scenarios:

    # is this still used?
    unselectable_text: false

    # URL that shows the converter details when you click on
    # the converter info detail. The converter key will be added to the URL
    converter_detail_url: http://beta.et-engine.com/converters

    # CORS is enabled by default. Offline instances such as the laptop should
    # use the proxy only, though, and you should disable CORS
    disable_cors: false # offline instances might need this

    #  standalone instances are those such as the laptop. If set to true
    # the remote links and scripts will be disabled and the videos will
    # be played with a local player rather than vimeo/youtube
    standalone: false

    # URL that shows the gquery details (used on the charts admin page)
    # the gquery key is appended to the url
    gquery_detail_url: http://et-engine.com/data/latest/gqueries/key/

    # set to true if you want a "production server" warning in the admin section
    live_server: false
production: &PRODUCTION
    <<: *DEV
test:
    <<: *DEV
    # set to true to pipe requests through the local proxy
    disable_cors: true
staging:
    <<: *PRODUCTION
