# +------------------------------------------------------------------------+
# |                                  !!!                                   |
# |   SETTINGS IN THIS FILE ARE SHARED BETWEEN ALL USERS AND ENVIONMENTS   |
# |                                                                        |
# |      If you wish to change a value for local development create a      |
# |      "config/settings.local.yml" file and add your settings there      |
# +------------------------------------------------------------------------+


# URL for the Multi-Year Charts application.
collections_url: http://localhost:3005

# The (stable) version's name
version: <%= ENV.fetch('VERSION_TAG', 'latest') %>
release: '2026-01'

# This sets the url we use as API proxy. The proxying is handled by nginx or a local rack-based
# proxy. This is a legacy feature used by ETPlugin and will not be supported long-term.
api_proxy_url: /ete_proxy

# Base url for partners api. This is used to retrieve the partner names and such that are visible in
# the footer.
partners_url: https://beta.energytransitionmodel.com

# google analytics key
ga_tracker_code: <%= ENV['GOOGLE_ANALYTICS_KEY'] %>

# Standalone instances are those such as the laptop. If set to true the remote links and scripts
# will be disabled and the videos will be played with a local player rather than vimeo/youtube. CORS
# will be disabled, too
standalone: false

# URL that shows the gquery details (used on the charts admin page) the gquery key is appended to
# the url.
gquery_detail_url: https://beta-engine.energytransitionmodel.com/data/latest/gqueries/key/

# Set to true if you want a "production server" warning in the admin section.
live_server: false

# optional URL overrides for the splash screen links
# mixer_url: http://mixer.et-model.com
# etflex_url: http://light.et-model.com

# Base URL for the public documentation site. Used to build links to release notes and guides.
documentation_base_url: https://docs.energytransitionmodel.com/

# Shows the "Releases" banner on the home page, with a short description of recent changes in the
# ETM and a link to the "releases" page. Once the cutoff date is reached the banner will be
# hidden.
releases_cutoff: 2019-10-07

# E-mail address to which feedback should be sent.
feedback_email: info@energytransitionmodel.com

# Sentry
# ------

# Optionally send error messages and profiling data to the Sentry service by providing your
# Sentry details:
sentry_dsn: <%= ENV['SENTRY_DSN'] %>
sentry_traces: <%= ENV.fetch('SENTRY_TRACES', 0.1) %>
sentry_profiles: <%= ENV.fetch('SENTRY_PROFILES', 0.1) %>

# Mailchimp
# ---------

# When integrating with Mailchimp to send newsletters to users, the API key
# and URL of the list must be configured. Check the Mailchimp documentation
# for information on how to get an API key.
#
# The URL should be: https://SERVER.api.mailchimp.com/3.0/lists/AUDIENCE_ID,
# where SERVER is the server ID used by your Mailchimp account (e.g. us4)
# and is part of your API key, and AUDIENCE_ID is the unique ID of the
# audience/list.
mailchimp_api_key: <%= ENV['MAILCHIMP_API_KEY'] %>
mailchimp_list_url: <%= ENV['MAILCHIMP_LIST_URL'] %>

# Allows Mailchimp to communicate changes in membership back to the
# application. Generate a unique token (`rake secret`), include it here in
# the config, and add it to the webhook URL provided to Mailchimp. For
# example: https://your-app/incoming_webhooks/mailchimp/TOKEN.
incoming_webhook_keys:
  mailchimp: <%= ENV['MAILCHIMP_INCOMING_WEBHOOK_KEY'] %>

# Authentication
# --------------
identity:
  issuer: <%= ENV.fetch('IDP_URL', 'http://localhost:3002') %>
  client_id: <%= ENV['IDENTITY_CLIENT_ID'] %>
  client_secret: <%= ENV['IDENTITY_CLIENT_SECRET'] %>
  client_uri: <%= ENV.fetch('IDENTITY_CLIENT_URI', 'http://localhost:3001') %>
  resource_uri: <%= ENV.fetch('ETE_URL', 'http://localhost:3000') %>

ete_url: <%= ENV.fetch('ETE_URL', 'http://localhost:3000') %>

# ESDL
# ----

# This is the url for the esdl-conversion api. Used for converting
# EnergySystem files (.esdl) into etm scenarios
esdl_ete_url: https://beta-esdl.energytransitionmodel.com/api/v1/EnergySystem/

# When starting communication with the ESDL Suite (to connect to the Mondaine Drive), the client
# data and following url's should be configured The redirect_url should be set to
# 'https://ETMODEL/esdl-suite/redirect' where ETMODEL is the apps root url (e.g.
# beta.energytransitionmodel.com)

esdl_suite_url: 'https://idm.hesi.energy/auth/realms/esdl-mapeditor'
esdl_suite_client_id: <%= ENV['ESDL_SUITE_CLIENT_ID'] %>
esdl_suite_client_secret: <%= ENV['ESDL_SUITE_CLIENT_SECRET'] %>
esdl_suite_redirect_url: <%= ENV['ESDL_SUITE_REDIRECT_URL'] %>
