.background_wrapper
  #export
    %h1 Export your scenario

    %p Export the settings of your scenario to another format. The sliders you set will be read and reinterpreted into the file-type of your choosing. Right now you can only export your scenario as ESDL.

    .exportbox
      %h2 Export as ESDL
      = form_with url: export_esdl_scenario_path, id: 'export_esdl' do |f|
        .option
          To my computer
          %span →
      -# .option
      -#   To my Mondaine Drive
      -#   %span →

      -# = form_with url: scenario_export_esdl_path, id: 'export_esdl' do |f|
      -#   = f.hidden_field :scenario_id, value: @scenario_id
      -#   = f.submit "Export →", class: 'button'
