%div
  - semantic_form_for [:admin, @area] do |f|
    = f.error_messages
    - f.inputs 'Country' do
      = f.input :country, :as => :string
    = f.inputs 'Values', *(Area.column_names - ['id', 'country', 'created_at', 'updated_at'])
    = f.buttons