- title "Edit Area"

%p
  %strong Attention:
  %em changing area data requires restarting the server.

= render 'form'

%p
  = link_to "Show", admin_area_path(@area)
  |
  = link_to "View All", admin_areas_path


= render "/admin/shared/revisions", :versioned => @area