---
http_interactions:
- request:
    method: get
    uri: https://beta-engine.energytransitionmodel.com/api/v3/scenarios/648696.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b04742ca1f53dc1485af33328fab4525"
    body:
      encoding: UTF-8
      string: '{"id":648696,"title":"ETM Test Scenario","area_code":"nl","start_year":2015,"end_year":2050,"description":null,"url":"https://beta-engine.energytransitionmodel.com/api/v3/scenarios/648696","ordering":null,"display_group":null,"scaling":null,"source":"ETM","template":null,"created_at":"2017-03-13T19:22:55.000Z","updated_at":"2019-05-08T14:15:24.000Z","read_only":true,"protected":true,"keep_compatible":true,"esdl_exportable":null}'
  recorded_at: Sat, 10 Dec 2022 16:35:33 GMT
recorded_with: VCR 6.0.0
