#factsheet-pending
  .loading
    = image_tag('layout/ajax-loader-small.gif')
    == #{t('local_global.loading')}&hellip;

#factsheet-content(style="display: none")
  %header
    #title
      %h1
        Energiemix
        %strong= t(@scenario.area_code)
    %dl.detail-list
      %dt Inwoners
      %dd(data-query="households_number_of_inhabitants" data-period="present") &mdash;
      %dt Woningen
      %dd(data-query="households_number_of_residences" data-period="present") &mdash;
      %dt Energiegebruik gebouwde omgeving
      %dd(data-query="factsheet_share_households_buildings_in_total_demand" data-period="present") &mdash;
    .logos
      Over Morgen
      %br<>
      Quintel
  %main
    %section.summary
      #present.panel
        %h2
          1. Huidige situatie
          (
          %span(data-query="graph_year" data-period="present" data-as="#")<> &mdash;
          )
        .content
          .chart.column
          %dl.carriers.column
            %dt.oil Benzine/Diesel/LPG
            %dd.oil(data-query="factsheet_demand_of_gasoline_diesel_lpg" data-as="TJ" data-no-unit data-precision="0" data-period="present") &mdash;
            %dt.gas-industry Aardgas overige (industrie)
            %dd.gas-industry(data-query="factsheet_demand_of_gas_in_industry_agriculture_other" data-as="TJ" data-no-unit data-precision="0" data-period="present") &mdash;
            %dt.gas Aardgas gebouwde omgeving
            %dd.gas(data-query="factsheet_demand_of_gas_in_households_and_buildings" data-as="TJ" data-no-unit data-precision="0" data-period="present") &mdash;
            %dt.heat Collectieve warmte
            %dd.heat(data-query="factsheet_demand_of_collective_heat" data-as="TJ" data-no-unit data-precision="0" data-period="present") &mdash;
            %dt.electricity Elektriciteit
            %dd.electricity(data-query="final_demand_of_electricity" data-as="TJ" data-no-unit data-precision="0" data-period="present") &mdash;
            %dt.total Total
            %dd.total(data-query="factsheet_total_demand_present" data-as="TJ" data-precision="0" data-period="present") &mdash;
      #future.panel
        %h2
          %span.note
            Besparing
            %span(data-query="factsheet_total_demand_relative_change" data-as="%") &mdash;
            %br<>
            %span.small(data-query="factsheet_total_demand_absolute_change" data-as="TJ") &mdash;
          2. Energievraag en -aanbod
          (
          %span(data-query="graph_year" data-as="#")<> &mdash;
          )
        .content
          #aggregate-demand.column
            .chart
          #individual-demand.column
            .chart
            .legend
              %table
                %tbody
                %tfoot
                  %tr
                    %td.key Totaal
                    %td.value(data-query="factsheet_total_demand_future" data-as="TJ") &mdash;
    %section.breakdown
      %h2
        3. Energieaanbod
        (
        %span(data-query="graph_year" data-as="#")<> &mdash;
        )
      .row
        .panel.wind
          %h3 Wind
          .value(data-query="electricity_produced_from_wind" data-as="TJ") &mdash;
          %ul
            %li
              %span(data-query="factsheet_number_of_wind_turbine_inland_coastal") &mdash;
              windmolens op land
              (
              %span(data-query="factsheet_capacity_of_wind_turbine_inland_coastal")<> &mdash;
              )
            %li
              %span(data-query="factsheet_number_of_wind_turbine_offshore") &mdash;
              windmolens op zee
              (
              %span(data-query="factsheet_capacity_of_wind_turbine_offshore")<> &mdash;
              )
        .panel.solar
          %h3 Zon
          .value(data-query="factsheet_supply_of_solar_total" data-as="TJ") &mdash;
          %ul
            %li
              %span(data-query="factsheet_number_of_solar_pv" data-precision="-3") &mdash;
              PV­ panelen gebouwen
            %li(data-query="factsheet_supply_of_solar_pv_households_buildings" data-as="TJ") &mdash;
            %li
              %span(data-query="factsheet_solar_pv_plants_land_use") &mdash;
              ha zonneveld
            %li
              %span(data-query="factsheet_supply_of_solar_pv_plants" data-as="TJ") &mdash;
              %span.icon.solar-pv
            %li.spacer
              %span(data-query="factsheet_capacity_of_solar_pv") &mdash;
              vermogen PV panelen
            %li
              %span(data-query="factsheet_number_of_water_heater_solar_thermal" data-precision="-3") &mdash;
              zonnecollectoren
            %li.right<>
              %span(data-query="factsheet_demand_of_water_heater_solar_thermal" data-as="TJ") &mdash;
              (
              %span(data-query="factsheet_capacity_of_water_heater_solar_thermal")<> &mdash;
              )
              %span.icon.solar-thermal
      .row
        .panel.collective-heat
          %h3 Collectieve Warmte
          .value(data-query="factsheet_demand_of_collective_heat" data-as="TJ") &mdash;
          %ul
            %li.spacer
              Vermogen bron
              %span(data-query="factsheet_capacity_of_collective_heat_sources")
              %br
              %span(data-query="factsheet_demand_of_collective_heat_per_residence" data-precision="-3" data-no-unit)
              woningequivalenten
            %li
              Geothermie
              (
              %span(data-query="factsheet_share_of_geothermal_in_collective_heat_sources")<> &mdash;
              )
            %li
              Restwarmte
              (
              %span(data-query="factsheet_share_of_waste_heat_in_collective_heat_sources")<> &mdash;
              )
            %li
              LT bronnen
              (
              %span(data-query="factsheet_share_of_local_chps_in_collective_heat_sources")<> &mdash;
              )
        .panel.heat
          %h3 Individuele Warmte
          .value(data-query="factsheet_demand_of_individual_heat_total" data-as="TJ") &mdash;
          %ul
            %li
              Elektrisch verwarmen
              %span(data-query="factsheet_share_all_electric_in_individual_heat") &mdash;
          .solar-arrow
            .tail
            .head
            .quantity(data-query="factsheet_share_solar_thermal_in_individual_heat" data-precision="0") &mdash;
          .biomass-arrow
            .quantity(data-query="factsheet_share_biomass_in_individual_heat" data-precision="0") &mdash;
            .heat
            .tail
      .row
        .panel.renewable-gas
          %h3 Hernieuwbaar Gas
          .value(data-query="factsheet_demand_of_gas_total" data-as="TJ") &mdash;
          %ul.has-icons
            %li
              Aardgas
              (
              %span(data-query="factsheet_share_natural_gas_in_total_gas")<> &mdash;
              )
              %span.icon.natural-gas
            %li
              Biogas
              (
              %span(data-query="factsheet_share_greengas_in_total_gas")<> &mdash;
              )
              %span.icon.biogas
            %li
              Power to gas
              (
              %span(data-query="factsheet_share_hydrogen_in_total_gas")<> &mdash;
              )
              %span.icon.power-to-gas
        .panel.biomass
          %h3 Biomassa
          .value(data-query="factsheet_demand_of_biomass_total" data-as="TJ") &mdash;
          %ul.has-icons
            %li
              Bijstook biomassa
              %span.icon.biomass-heat(data-query="factsheet_demand_of_biomass_in_households_and_buildings" data-as="TJ") &mdash;
            %li
              Transport
              %span.icon.biomass-transport(data-query="final_demand_of_biomass_products_in_transport" data-as="TJ") &mdash;
