---
- key: households_flexibility_p2p_electricity_market_penetration
  step_value: 0.1
  unit: "%"
  interface_group: technical_specifications
  related_node: households_flexibility_p2p_electricity
  position: 10
  slide_key: flexibility_power_storage_households_flexibility_p2p_electricity
  additional_specs:
    other:
      timeframe: i_h_d_w
- key: volume_of_households_flexibility_p2p_electricity
  step_value: 0.1
  unit: "hours"
  interface_group: technical_specifications
  related_node: households_flexibility_p2p_electricity
  position: 11
  slide_key: flexibility_power_storage_households_flexibility_p2p_electricity
  additional_specs:
    other:
      timeframe: i_h_d_w
- key: wtp_of_households_flexibility_p2p_electricity
  step_value: 0.1
  unit: "€/MWh"
  interface_group: price_sensitive
  related_node: households_flexibility_p2p_electricity
  position: 12
  slide_key: flexibility_power_storage_households_flexibility_p2p_electricity
  additional_specs:
    other:
      timeframe: i_h_d_w
- key: wta_of_households_flexibility_p2p_electricity
  step_value: 0.1
  unit: "€/MWh"
  interface_group: price_sensitive
  related_node: households_flexibility_p2p_electricity
  position: 13
  slide_key: flexibility_power_storage_households_flexibility_p2p_electricity
  additional_specs:
    other:
      timeframe: i_h_d_w
- key: settings_enable_storage_optimisation_households_flexibility_p2p_electricity
  step_value: 1.0
  unit: radio
  interface_group: storage_optimisation
  position: 14
  slide_key: flexibility_power_storage_households_flexibility_p2p_electricity
  config:
    when_true:
      disables:
        - wtp_of_households_flexibility_p2p_electricity
        - wta_of_households_flexibility_p2p_electricity

- key: transport_car_using_electricity_availability
  step_value: 0.1
  unit: "%"
  interface_group: technical_specifications_cars
  related_node: transport_car_flexibility_p2p_electricity
  position: 20
  slide_key: flexibility_power_storage_transport_car_flexibility_p2p_electricity
  additional_specs:
    other:
      timeframe: i_h_d_w
- key: volume_of_transport_car_using_electricity
  step_value: 0.1
  unit: "hours"
  interface_group: technical_specifications_cars
  related_node: transport_car_flexibility_p2p_electricity
  position: 21
  slide_key: flexibility_power_storage_transport_car_flexibility_p2p_electricity
  additional_specs:
    other:
      timeframe: i_h_d_w
- key: transport_bus_using_electricity_availability
  step_value: 0.1
  unit: "%"
  interface_group: technical_specifications_buses
  related_node: transport_bus_flexibility_p2p_electricity
  position: 22
  slide_key: flexibility_power_storage_transport_car_flexibility_p2p_electricity
  additional_specs:
    other:
      timeframe: i_h_d_w
- key: volume_of_transport_bus_using_electricity
  step_value: 0.1
  unit: "hours"
  interface_group: technical_specifications_buses
  related_node: transport_bus_flexibility_p2p_electricity
  position: 23
  slide_key: flexibility_power_storage_transport_car_flexibility_p2p_electricity
  additional_specs:
    other:
      timeframe: i_h_d_w
- key: transport_truck_using_electricity_availability
  step_value: 0.1
  unit: "%"
  interface_group: technical_specifications_trucks
  related_node: transport_truck_flexibility_p2p_electricity
  position: 24
  slide_key: flexibility_power_storage_transport_car_flexibility_p2p_electricity
  additional_specs:
    other:
      timeframe: i_h_d_w
- key: volume_of_transport_truck_using_electricity
  step_value: 0.1
  unit: "hours"
  interface_group: technical_specifications_trucks
  related_node: transport_truck_flexibility_p2p_electricity
  position: 25
  slide_key: flexibility_power_storage_transport_car_flexibility_p2p_electricity
  additional_specs:
    other:
      timeframe: i_h_d_w
- key: transport_van_using_electricity_availability
  step_value: 0.1
  unit: "%"
  interface_group: technical_specifications_vans
  related_node: transport_van_flexibility_p2p_electricity
  position: 26
  slide_key: flexibility_power_storage_transport_car_flexibility_p2p_electricity
  additional_specs:
    other:
      timeframe: i_h_d_w
- key: volume_of_transport_van_using_electricity
  step_value: 0.1
  unit: "hours"
  interface_group: technical_specifications_vans
  related_node: transport_van_flexibility_p2p_electricity
  position: 27
  slide_key: flexibility_power_storage_transport_car_flexibility_p2p_electricity
  additional_specs:
    other:
      timeframe: i_h_d_w
- key: wtp_of_transport_car_flexibility_p2p_electricity
  step_value: 0.1
  unit: "€/MWh"
  interface_group: price_sensitive
  related_node: transport_car_flexibility_p2p_electricity
  position: 28
  slide_key: flexibility_power_storage_transport_car_flexibility_p2p_electricity
  additional_specs:
    other:
      timeframe: i_h_d_w
- key: wta_of_transport_car_flexibility_p2p_electricity
  step_value: 0.1
  unit: "€/MWh"
  interface_group: price_sensitive
  related_node: transport_car_flexibility_p2p_electricity
  position: 29
  slide_key: flexibility_power_storage_transport_car_flexibility_p2p_electricity
  additional_specs:
    other:
      timeframe: i_h_d_w
- key: settings_enable_storage_optimisation_transport_car_flexibility_p2p_electricity
  step_value: 1.0
  unit: boolean
  position: 30
  interface_group: storage_optimisation
  slide_key: flexibility_power_storage_transport_car_flexibility_p2p_electricity
  config:
    when_true:
      disables:
        - wtp_of_transport_car_flexibility_p2p_electricity
        - wta_of_transport_car_flexibility_p2p_electricity

- key: capacity_of_energy_flexibility_pumped_storage_electricity
  step_value: 1.0
  unit: MW
  interface_group: technical_specifications
  related_node: energy_flexibility_pumped_storage_electricity
  position: 30
  dependent_on: has_mountains
  slide_key: flexibility_power_storage_energy_flexibility_pumped_storage_electricity
  additional_specs:
    other:
      timeframe: i_h_d_w_s
- key: volume_of_energy_flexibility_pumped_storage_electricity
  step_value: 0.1
  unit: "hours"
  interface_group: technical_specifications
  related_node: energy_flexibility_pumped_storage_electricity
  position: 31
  slide_key: flexibility_power_storage_energy_flexibility_pumped_storage_electricity
  additional_specs:
    other:
      timeframe: i_h_d_w_s
- key: wtp_of_energy_flexibility_pumped_storage_electricity
  step_value: 0.1
  unit: "€/MWh"
  interface_group: price_sensitive
  dependent_on: has_mountains
  related_node: energy_flexibility_pumped_storage_electricity
  position: 32
  slide_key: flexibility_power_storage_energy_flexibility_pumped_storage_electricity
  additional_specs:
    other:
      timeframe: i_h_d_w_s
- key: wta_of_energy_flexibility_pumped_storage_electricity
  step_value: 0.1
  unit: "€/MWh"
  dependent_on: has_mountains
  interface_group: price_sensitive
  related_node: energy_flexibility_pumped_storage_electricity
  position: 33
  slide_key: flexibility_power_storage_energy_flexibility_pumped_storage_electricity
  additional_specs:
    other:
      timeframe: i_h_d_w_s
- key: settings_enable_storage_optimisation_energy_flexibility_pumped_storage_electricity
  step_value: 1.0
  unit: boolean
  position: 34
  interface_group: storage_optimisation
  slide_key: flexibility_power_storage_energy_flexibility_pumped_storage_electricity

- key: capacity_of_energy_flexibility_hv_opac_electricity
  step_value: 1.0
  unit: MW
  interface_group: technical_specifications
  related_node: energy_flexibility_hv_opac_electricity
  position: 40
  slide_key: flexibility_power_storage_energy_flexibility_hv_opac_electricity
  additional_specs:
    other:
      timeframe: i_h_d_w_s
- key: volume_of_energy_flexibility_hv_opac_electricity
  step_value: 0.1
  unit: "hours"
  interface_group: technical_specifications
  related_node: energy_flexibility_hv_opac_electricity
  position: 41
  slide_key: flexibility_power_storage_energy_flexibility_hv_opac_electricity
  additional_specs:
    other:
      timeframe: i_h_d_w_s
- key: wtp_of_energy_flexibility_hv_opac_electricity
  step_value: 0.1
  unit: "€/MWh"
  interface_group: price_sensitive
  related_node: energy_flexibility_hv_opac_electricity
  position: 42
  slide_key: flexibility_power_storage_energy_flexibility_hv_opac_electricity
  additional_specs:
    other:
      timeframe: i_h_d_w_s
- key: wta_of_energy_flexibility_hv_opac_electricity
  step_value: 0.1
  unit: "€/MWh"
  interface_group: price_sensitive
  related_node: energy_flexibility_hv_opac_electricity
  position: 43
  slide_key: flexibility_power_storage_energy_flexibility_hv_opac_electricity
  additional_specs:
    other:
      timeframe: i_h_d_w_s
- key: settings_enable_storage_optimisation_energy_flexibility_hv_opac_electricity
  step_value: 1.0
  unit: boolean
  position: 44
  interface_group: storage_optimisation
  slide_key: flexibility_power_storage_energy_flexibility_hv_opac_electricity
  config:
    when_true:
      disables:
        - wtp_of_energy_flexibility_hv_opac_electricity
        - wta_of_energy_flexibility_hv_opac_electricity

- key: capacity_of_energy_flexibility_mv_batteries_electricity
  step_value: 1.0
  unit: MW
  interface_group: technical_specifications
  related_node: energy_flexibility_mv_batteries_electricity
  position: 50
  slide_key: flexibility_power_storage_energy_flexibility_mv_batteries_electricity
  additional_specs:
    other:
      timeframe: i_h_d
- key: volume_of_energy_flexibility_mv_batteries_electricity
  step_value: 0.1
  unit: "hours"
  interface_group: technical_specifications
  related_node: energy_flexibility_mv_batteries_electricity
  position: 51
  slide_key: flexibility_power_storage_energy_flexibility_mv_batteries_electricity
  additional_specs:
    other:
      timeframe: i_h_d
- key: wtp_of_energy_flexibility_mv_batteries_electricity
  step_value: 0.1
  unit: "€/MWh"
  interface_group: price_sensitive
  related_node: energy_flexibility_mv_batteries_electricity
  position: 52
  slide_key: flexibility_power_storage_energy_flexibility_mv_batteries_electricity
  additional_specs:
    other:
      timeframe: i_h_d
- key: wta_of_energy_flexibility_mv_batteries_electricity
  step_value: 0.1
  unit: "€/MWh"
  interface_group: price_sensitive
  related_node: energy_flexibility_mv_batteries_electricity
  position: 53
  slide_key: flexibility_power_storage_energy_flexibility_mv_batteries_electricity
  additional_specs:
    other:
      timeframe: i_h_d
- key: settings_enable_storage_optimisation_energy_flexibility_mv_batteries_electricity
  step_value: 1.0
  unit: boolean
  position: 54
  interface_group: storage_optimisation
  slide_key: flexibility_power_storage_energy_flexibility_mv_batteries_electricity
  config:
    when_true:
      disables:
        - wtp_of_energy_flexibility_mv_batteries_electricity
        - wta_of_energy_flexibility_mv_batteries_electricity

- key: capacity_of_energy_flexibility_flow_batteries_electricity
  step_value: 1.0
  unit: MW
  interface_group: technical_specifications
  related_node: energy_flexibility_flow_batteries_electricity
  position: 60
  slide_key: flexibility_power_storage_energy_flexibility_flow_batteries_electricity
  additional_specs:
    other:
      timeframe: i_h_d
- key: volume_of_energy_flexibility_flow_batteries_electricity
  step_value: 0.1
  unit: "hours"
  interface_group: technical_specifications
  related_node: energy_flexibility_flow_batteries_electricity
  position: 61
  slide_key: flexibility_power_storage_energy_flexibility_flow_batteries_electricity
  additional_specs:
    other:
      timeframe: i_h_d
- key: wtp_of_energy_flexibility_flow_batteries_electricity
  step_value: 0.1
  unit: "€/MWh"
  interface_group: price_sensitive
  related_node: energy_flexibility_flow_batteries_electricity
  position: 62
  slide_key: flexibility_power_storage_energy_flexibility_flow_batteries_electricity
  additional_specs:
    other:
      timeframe: i_h_d
- key: wta_of_energy_flexibility_flow_batteries_electricity
  step_value: 0.1
  unit: "€/MWh"
  interface_group: price_sensitive
  related_node: energy_flexibility_flow_batteries_electricity
  position: 63
  slide_key: flexibility_power_storage_energy_flexibility_flow_batteries_electricity
  additional_specs:
    other:
      timeframe: i_h_d
- key: settings_enable_storage_optimisation_energy_flexibility_flow_batteries_electricity
  step_value: 1.0
  unit: boolean
  position: 64
  interface_group: storage_optimisation
  slide_key: flexibility_power_storage_energy_flexibility_flow_batteries_electricity
  config:
    when_true:
      disables:
        - wtp_of_energy_flexibility_flow_batteries_electricity
        - wta_of_energy_flexibility_flow_batteries_electricity
