- title "Query Tables"

%table{table_defaults}
  %tr
    %th Name
    %th Description
  - for query_table in @query_tables
    %tr{cycles}
      %td= link_to h(query_table.name), admin_query_table_path(query_table)
      %td= h(query_table.description)

%p= link_to "New Query Table", new_admin_query_table_path
