#arrow_box_households{:style=>'top: 530px;'}
  = t("intro.section")
#shadowbox-outer{:style => "width: 70%; margin: 0px 0px 40px 25%;"}
  = render :partial => 'shared/shadowbox_frame'
  #shadowbox-inner
    #shadowbox-content{:style => ""}
      #text_wide
        = t_db("intro_supply")
  .clear