.header_menu.profile
  .menu_arrow
  %ul
    %li= link_to t("header.my_profile"), edit_user_path
    %li= link_to t("header.load_scenario"),scenarios_path
    %li= link_to t("header.sign_out"), logout_path
