- title = nil if local_assigns[:title].nil? # make local variable 'title' optional

.constraint_popup
  #shadowbox-outer
    = render :partial => 'shared/shadowbox_frame'
    #shadow-bg-arrow-tip
    #shadowbox-inner{:style => 'padding: 0; float: none' }
      %a#shadow-bg-close-button{:href=>'#'}
      #shadowbox-content{:style => "width: 100%;position:relative"}
        %h3.shadowbox-title= t("output.#{title}").html_safe if title
        #shadowbox-body
          .loading= t("constraint.loading")
