#constraints_container
  #constraints
    = render :partial => 'layouts/etm/constraint_items', :locals => { :constraints => @constraints }

    <a href="#" id="dashboard_change">Change</a>
    .clear

    %script
      - @constraints.each do |c|
        dashboard.add(#{ c.to_json.html_safe });

      - Current.view.policy_goals.each do |goal|
        new PolicyGoal(#{goal.js_attributes.to_json.html_safe});
