#dashboard_container
  #dashboard
    .loading
    = render 'layouts/etm/dashboard_items', :dashboard_items => @dashboard_items
    = link_to 'Change', '#', :id => 'dashboard_change'
    .clear

    %script
      - @dashboard_items.each do |d|
        dashboard.add(#{ d.to_json.html_safe });
