#dashboard_container
  #dashboard
    .loading
    = render 'layouts/etm/dashboard_items', :constraints => @constraints
    = link_to 'Change', '#', :id => 'dashboard_change'
    .clear

    %script
      - @constraints.each do |c|
        dashboard.add(#{ c.to_json.html_safe });
