- dashboard_items.each do |dashboard_item|
  :ruby
    opts = {
      :id    => "dashboard_item_#{dashboard_item.key}",
      :href  => "/dashboard_items/#{dashboard_item.key}"
    }

  .dashboard_item{ opts }
    .header
      = raw I18n.t("dashboard_items.#{dashboard_item.key}.label")
      %span.sub_header
    .arrow
    %strong &nbsp;
