- constraints.each do |constraint|
  :ruby
    opts = {
      :id    => "constraint_#{constraint.id}",
      :class => (constraint.id == 1) ? 'first' : nil,
      :href  => "/constraints/#{constraint.id}"
    }
    key = if constraint.key == 'co2_reduction' or constraint.key == 'local_co2_reduction'
      Current.setting.use_fce ? 'greenhouse_gas' : constraint.key
    else
      constraint.key
    end

  .constraint{opts}
    .header
      = raw I18n.t("constraints.#{key}.label")
      %span.sub_header
    .menu_arrow
    %strong &nbsp;
