- country = params[:country] || Current.setting.country

#logos
  #all_container
    .link_container.facebook
      %a.fb-share{:href => "http://www.facebook.com/sharer.php?u=www.energytransitionmodel.com", :target=>"_blank" } &nbsp;

    .link_container.twitter
      %a.twitter-share{:href => "http://twitter.com/share?url=http://www.energytransitionmodel.com", :target=>"_blank" }&nbsp;
    #two_container
      - %w[left right].each do |position|
        %ul{:class => position}
          - partners = Partner.place(position).country(country).include_descriptions || Partner.first
          - partners.each_with_index do |company,i|
            %li{:timeout => company.time }
              - href = (company.description? ? partner_path(company.name.downcase) : company.url)

              %a{:href => href, :id=> company.name.downcase,
                 :style => "background-image: url('#{company.footer_logo}');" }
                = company.name

              .clear

              %p#subheader= t(company.subheader)
