:javascript
  globals = {
    api_url: '#{APP_CONFIG[:api_url]}',
    api_proxy_url: '#{APP_CONFIG[:api_proxy_url]}',
    api_session_id: #{Current.setting.api_session_id},
    converter_detail_url: '#{APP_CONFIG[:converter_detail_url]}'
  }
