#sidebar
  - @tabs.each do |tab|
    - klass = 'active' if params[:tab] == tab.key
    %h4{class: klass}= I18n.t "tabs." + tab.key
    %ul{style: ("display: none;" unless params[:tab] == tab.key )}
      - tab.allowed_sidebar_items.each do |item|
        %li{:id => item.key,
            :class => (params[:sidebar] == item.key) ? 'active' : nil,
            :'data-gquery' => item.percentage_bar_query}
          = link_to tab_path(:tab => tab.key, :sidebar => item.key),
            :'data-nav' => false do
            %p
              %span.title
                = raw t("sidebar_items.#{item.key}")
              - if item.percentage_bar_query.present?
                %span.bar{:alt => t('sidebar_items.alt'), :style => "width: 0px"}
                %span.value
