%h2= raw t("sidebar_items.#{@interface.current_sidebar_item.key}.title")

.help
  %a.add_chart{:href => output_elements_path}
    :plain
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
      </svg>
    = t 'header.add_chart'
