#title
  - if @title
    %h2
      = raw I18n.t("page_titles.#{to_yml_syntax(@title.title)}")
      %a.button{:href => "/information"}
        %span.icon-info-sign
        Information
      - if current_tutorial_movie
        %a.button{:href => "/tutorial/#{params[:controller]}/#{params[:id]}",
          :alt => "Tutorial", :title => "Tutorial"}
          %span.icon-film
          Tutorial
        