#title
  - if @title
    %h2
      = raw I18n.t("page_titles.#{to_yml_syntax(@title.title)}")
      - if current_tutorial_movie
        %a.icon-film{:href => "/tutorial/#{params[:controller]}/#{params[:id]}",
          :alt => "Tutorial", :title => "Tutorial"}
        %a.icon-info-sign{:href => "/information"}