#title
  %h2
    = raw @title
    %a.button.fancybox{ href: tab_info_path(ctrl: params[:tab], act: params[:sidebar]) }<>
      %span.info-icon
      Information

    - if current_tutorial_movie
      %a.button.fancybox{:href => tutorial_path(:tab => params[:tab], :sidebar => params[:sidebar]),
        :alt => "Tutorial", :title => "Tutorial"}<>
        %span.tutorial-icon
        Tutorial
