#title
  %h2
    = raw t("sidebar_items.#{@interface.current_sidebar_item.key}.long_name")
    %a.button.fancybox{ href: tab_info_path(ctrl: @interface.current_tab.key,
                                   act: @interface.current_sidebar_item.key) }<>
      %span.info-icon<>
      = raw t("header.information")

    - if current_tutorial_movie
      %a.button.fancybox{:href => tutorial_path(:tab => params[:tab], :sidebar => params[:sidebar]), :title => "Tutorial"}<>
        %span.tutorial-icon<>
        Tutorial
