#title
  %h2
    = raw @title
    = link_to tab_info_path(:ctrl => params[:controller], :act => params[:id]),
      :class => [:button, :fancybox_narrow] do
      %span.icon-info-sign
      Information
    - if current_tutorial_movie
      %a.button.fancybox{:href => "/tutorial/#{params[:controller]}/#{params[:id]}",
        :alt => "Tutorial", :title => "Tutorial"}
        %span.icon-film
        Tutorial
