---
http_interactions:
- request:
    method: post
    uri: https://beta-engine.energytransitionmodel.com/api/v3/scenarios.json
    body:
      encoding: UTF-8
      string: '{"scenario":{"scenario_id":"12345","read_only":true,"keep_compatible":true,"source":"ETM"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"df752896afa57c65c0904b4f9370c0c2"
    body:
      encoding: ASCII-8BIT
      string: '{"id":1335412,"title":"API","area_code":"nl","start_year":2015,"end_year":2050,"url":"https://beta-engine.energytransitionmodel.com/api/v3/scenarios/1335412","ordering":null,"display_group":null,"scaling":null,"source":"ETM","template":null,"created_at":"2020-08-11T12:58:41.000Z","read_only":true,"keep_compatible":true}'
  recorded_at: Tue, 11 Aug 2020 12:58:41 GMT
recorded_with: VCR 3.0.3
