---
http_interactions:
- request:
    method: post
    uri: https://beta-engine.energytransitionmodel.com/api/v3/scenarios/merge
    body:
      encoding: UTF-8
      string: '{"scenarios":[{"scenario_id":"925863","weight":"1.0"},{"scenario_id":"925864","weight":"2.0"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3d4da7fd8862637759b19dfcd8961448"
    body:
      encoding: UTF-8
      string: '{"id":1266902,"title":"Merged Scenario","area_code":"nl","start_year":2015,"end_year":2050,"url":"https://beta-engine.energytransitionmodel.com/api/v3/scenarios/1266902","ordering":null,"display_group":null,"scaling":null,"source":"ETEngine
        Merger","template":null,"created_at":"2020-02-14T10:33:55.000+01:00"}'
  recorded_at: Fri, 14 Feb 2020 09:33:55 GMT
recorded_with: VCR 3.0.3
