---
http_interactions:
- request:
    method: post
    uri: https://beta-engine.energytransitionmodel.com/api/v3/scenarios/merge
    body:
      encoding: UTF-8
      string: '{"scenarios":[{"scenario_id":"925863","weight":"1.0"},{"scenario_id":"925864","weight":"2.0"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2a1723dfb102e7ab1fff0ea965f0f99a"
    body:
      encoding: UTF-8
      string: '{"id":1076033,"title":"Merged Scenario","area_code":"nl","start_year":2015,"end_year":2050,"url":"https://beta-engine.energytransitionmodel.com/api/v3/scenarios/1076033","ordering":null,"display_group":null,"scaling":null,"source":"ETEngine
        Merger","template":null,"created_at":"2019-06-03T16:37:37.000+02:00"}'
  recorded_at: Mon, 03 Jun 2019 14:37:37 GMT
recorded_with: VCR 3.0.3
