---
http_interactions:
- request:
    method: get
    uri: https://beta-engine.energytransitionmodel.com/api/v3/scenarios/1604100.json?detailed=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"25d34447e19ccea14e1e17e8b7a8ffe8"
    body:
      encoding: UTF-8
      string: '{"id":1604100,"title":"","area_code":"nl","start_year":2015,"end_year":2050,"description":"","url":"https://beta-engine.energytransitionmodel.com/api/v3/scenarios/1604100","ordering":null,"display_group":null,"scaling":null,"source":"ETEngine
        Admin UI","template":null,"created_at":"2022-02-28T12:31:10.000Z","updated_at":"2022-02-28T12:55:52.000Z","protected":true,"esdl_exportable":null,"user_values":{},"metadata":{}}'
  recorded_at: Mon, 28 Feb 2022 12:58:08 GMT
recorded_with: VCR 3.0.3
