-# DEBT: is this still used? - PZ Thu 15 Dec 2011 15:56:00 CET
%div{:style => "color: #c00; margin-bottom: 10px"}
= error_messages_for :scenario
= form.inputs :title, :description
= form.button :commit
