.scenario_wrapper
  %h2 Create scenario with average values
  = link_to "Load scenario", load_scenario_path(:id => @scenario.id)

  %table
    %tr
      %th Key
      %th Value
    - @inputs.each_pair do |key, value|
      %tr
        %td= key
        %td= value

  = link_to "Load scenario", load_scenario_path(:id => @scenario.id)
