#active-content
  = render "layouts/etm/title"
  #accordion_wrapper
    %ul.accordion
      %li Loading
  #charts_wrapper
    Loading
  .clear

- content_for :scripts do
  = render 'output_elements/table_template'
  = render 'output_elements/chart_template'
  :javascript
    $(function(){
      window.App = App = new AppView();
      App.settings.set(globals.settings, {silent : true});
      App.bootstrap();
    })
