#active-content
  #title
    %h2 Loading
  #accordion_wrapper
    %ul.accordion
      %li Loading

  #charts_wrapper
  .clear

- content_for :scripts do
  - Dir["app/views/output_elements/table_templates/*"].each do |file|
    = render(file: Rails.root.join(file).to_s).html_safe

  = render 'output_elements/chart_template'
  :javascript
    $(function(){
      window.App = App = new AppView();
      App.settings.set(globals.settings, {silent : true});
      App.bootstrap();
    })
