---
http_interactions:
- request:
    method: put
    uri: https://beta-engine.energytransitionmodel.com/api/v3/scenarios/123
    body:
      encoding: UTF-8
      string: scenario[protected]=false
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7a0c688b5562749dea4baa299fbd9c16"
    body:
      encoding: ASCII-8BIT
      string: '{"scenario":{"id":123,"title":"Martinus scenario run","area_code":"nl","start_year":2015,"end_year":2030,"url":"https://beta-engine.energytransitionmodel.com/api/v3/scenarios/123","ordering":null,"display_group":null,"scaling":null,"source":null,"template":null,"created_at":"2010-06-14T15:23:00.000Z","protected":false},"gqueries":{}}'
  recorded_at: Thu, 18 Jun 2020 10:06:07 GMT
recorded_with: VCR 3.0.3
