---
http_interactions:
- request:
    method: get
    uri: https://beta-engine.energytransitionmodel.com/api/v3/areas.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"6c18fddeda6ecc3c7f06099cf5bf6de4"
    body:
      encoding: ASCII-8BIT
      string: '[{"area":"nl2012","id":1,"parent_id":1,"analysis_year":2012,"has_agriculture":true,"has_buildings":true,"has_climate":true,"has_coastline":true,"has_cold_network":false,"has_electricity_storage":true,"has_employment":true,"has_fce":true,"has_industry":true,"has_lignite":false,"has_merit_order":true,"has_metal":true,"has_mountains":false,"has_old_technologies":true,"has_other":true,"has_solar_csp":false,"has_import_export":true,"use_network_calculations":true,"use_merit_order_demands":true,"has_aggregated_chemical_industry":true,"has_detailed_chemical_industry":false,"has_aggregated_other_industry":true,"has_detailed_other_industry":false,"buildings_insulation_constant_1":0.73,"buildings_insulation_constant_2":0.13,"buildings_insulation_cost_constant":39402.4,"buildings_insulation_employment_constant":0.0093,"co2_percentage_free":0.85,"co2_price":0.00792,"economic_multiplier":1.0,"employment_fraction_production":0.5,"employment_local_fraction":0.2,"export_electricity_primary_demand_factor":1.0,"import_electricity_primary_demand_factor":1.82,"insulation_level_buildings_max":3.0,"insulation_level_buildings_min":0.6,"insulation_level_new_houses_max":3.0,"insulation_level_new_houses_min":1.8,"insulation_level_old_houses_max":3.0,"insulation_level_old_houses_min":0.5,"new_houses_insulation_constant_1":1.85,"new_houses_insulation_constant_2":0.05,"new_houses_insulation_cost_constant":7071.0,"new_houses_insulation_employment_constant":0.014,"old_houses_insulation_constant_1":0.66,"old_houses_insulation_constant_2":0.16,"old_houses_insulation_cost_constant":5962.7,"old_houses_insulation_employment_constant":0.014,"man_hours_per_man_year":1800.0,"technical_lifetime_insulation":30.0,"investment_hv_net_low":0.2,"investment_hv_net_high":0.25,"investment_hv_net_per_turbine":1.2,"annual_infrastructure_cost_electricity":1810.0,"annual_infrastructure_cost_gas":1452.0,"areable_land":18417.0,"capacity_buffer_decentral_in_mj_s":20000.0,"capacity_buffer_in_mj_s":1600.0,"co2_emission_1990":152.52136,"coast_line":451.0,"interconnector_capacity":5850.0,"land_available_for_solar":18417.0,"number_of_buildings":392358.0,"number_of_cars":7858712.0,"number_of_residences":7386743.0,"number_of_inhabitants":16730348.0,"number_of_new_residences":1647243.7,"number_of_old_residences":5739499.3,"offshore_suitable_for_wind":49589.0,"onshore_suitable_for_wind":27539.0,"residences_roof_surface_available_for_pv":145.3,"buildings_roof_surface_available_for_pv":72.7,"derived":false,"last_updated_at":"2017-01-30T15:54:55.000+01:00","useable":true},{"area":"drenthe","id":10,"parent_id":10,"analysis_year":2013,"has_agriculture":true,"has_buildings":true,"has_climate":true,"has_coastline":true,"has_cold_network":false,"has_electricity_storage":true,"has_employment":true,"has_fce":true,"has_industry":true,"has_lignite":false,"has_merit_order":true,"has_metal":true,"has_mountains":false,"has_old_technologies":true,"has_other":true,"has_solar_csp":false,"has_import_export":true,"use_network_calculations":true,"use_merit_order_demands":tru[...]
