---
http_interactions:
- request:
    method: get
    uri: https://beta-engine.energytransitionmodel.com/api/v3/scenarios/810159
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_BmdfjpKAHYVTC57q
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"58c694e52f30dff81614a09039402db0"
    body:
      encoding: UTF-8
      string: '{"id":810159,"created_at":"2018-02-11T00:04:47.000Z","updated_at":"2018-02-11T00:04:48.000Z","user_values":{},"end_year":2050,"keep_compatible":false,"private":false,"area_code":"nl","source":"Mechanical
        Turk","balanced_values":{},"metadata":{},"start_year":2015,"coupling":false,"owner":null,"scaling":null,"template":null,"url":"https://beta-engine.energytransitionmodel.com/api/v3/scenarios/810159"}'
  recorded_at: Thu, 14 Dec 2023 02:16:11 GMT
- request:
    method: post
    uri: https://beta-engine.energytransitionmodel.com/api/v3/scenarios
    body:
      encoding: UTF-8
      string: '{"scenario":{"source":"ETM","scenario_id":810159}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer access_BmdfjpKAHYVTC57q
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"18f70b69fc342aae539aaab47af60f41"
    body:
      encoding: UTF-8
      string: '{"id":2510670,"created_at":"2023-12-14T02:16:12.000Z","updated_at":"2023-12-14T02:16:12.000Z","user_values":{},"end_year":2050,"keep_compatible":false,"private":false,"area_code":"nl","source":"ETM","balanced_values":{},"metadata":{},"start_year":2015,"coupling":false,"owner":null,"scaling":null,"template":810159,"url":"https://beta-engine.energytransitionmodel.com/api/v3/scenarios/2510670"}'
  recorded_at: Thu, 14 Dec 2023 02:16:12 GMT
recorded_with: VCR 6.0.0
