---
http_interactions:
- request:
    method: get
    uri: https://beta-engine.energytransitionmodel.com/api/v3/scenarios/540009
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_TGp464HutGKXbCYy
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a81fd3d18aba27ae065f9a2e936092bb"
    body:
      encoding: UTF-8
      string: '{"id":540009,"created_at":"2016-06-10T00:05:17.000Z","updated_at":"2016-06-10T00:05:18.000Z","user_values":{},"end_year":2050,"keep_compatible":false,"private":false,"area_code":"nl","source":"Mechanical
        Turk","balanced_values":{},"metadata":{},"start_year":2015,"coupling":false,"owner":null,"scaling":null,"template":null,"url":"https://beta-engine.energytransitionmodel.com/api/v3/scenarios/540009"}'
  recorded_at: Thu, 14 Dec 2023 02:16:11 GMT
- request:
    method: post
    uri: https://beta-engine.energytransitionmodel.com/api/v3/scenarios
    body:
      encoding: UTF-8
      string: '{"scenario":{"source":"ETM","scenario_id":540009}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer access_TGp464HutGKXbCYy
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e15bc42a55e0f757fc01668ce1178292"
    body:
      encoding: UTF-8
      string: '{"id":2510669,"created_at":"2023-12-14T02:16:11.000Z","updated_at":"2023-12-14T02:16:11.000Z","user_values":{},"end_year":2050,"keep_compatible":false,"private":false,"area_code":"nl","source":"ETM","balanced_values":{},"metadata":{},"start_year":2015,"coupling":false,"owner":null,"scaling":null,"template":540009,"url":"https://beta-engine.energytransitionmodel.com/api/v3/scenarios/2510669"}'
  recorded_at: Thu, 14 Dec 2023 02:16:11 GMT
recorded_with: VCR 6.0.0
