---
http_interactions:
- request:
    method: get
    uri: https://beta-engine.energytransitionmodel.com/api/v3/scenarios/487512
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_Po9wLRbJ8swXh1we
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e4228fd7e05562f73e7bd080e2652b4e"
    body:
      encoding: UTF-8
      string: '{"id":487512,"created_at":"2016-02-08T10:36:45.000Z","updated_at":"2016-02-09T15:38:54.000Z","user_values":{"settings_enable_merit_order":0.0},"end_year":2030,"keep_compatible":false,"private":false,"area_code":"nl","source":"Mechanical
        Turk","balanced_values":{},"metadata":{},"start_year":2015,"coupling":false,"owner":null,"scaling":null,"template":null,"url":"https://beta-engine.energytransitionmodel.com/api/v3/scenarios/487512"}'
  recorded_at: Thu, 14 Dec 2023 02:16:11 GMT
recorded_with: VCR 6.0.0
