--- 
http_interactions: 
- request: 
    method: get
    uri: http://beta.et-engine.com/api/v3//scenarios/123/batch
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      Etag: 
      - "\"e760e264b94e29d18a77ec091e48f3bd\""
    body: 
      encoding: US-ASCII
      string: "[{\"id\":123,\"title\":\"Martinus scenario run\",\"area_code\":\"nl\",\"start_year\":2011,\"end_year\":2030,\"url\":\"http://beta.et-engine.com/api/v3/scenarios/123\",\"ordering\":null,\"display_group\":null,\"source\":null,\"template\":null,\"created_at\":\"2010-06-14T17:23:00+02:00\"}]"
  recorded_at: Thu, 05 Dec 2013 08:42:47 GMT
- request: 
    method: get
    uri: http://beta.et-engine.com/api/v3/scenarios/123/batch
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      Etag: 
      - "\"e760e264b94e29d18a77ec091e48f3bd\""
    body: 
      encoding: US-ASCII
      string: "[{\"id\":123,\"title\":\"Martinus scenario run\",\"area_code\":\"nl\",\"start_year\":2011,\"end_year\":2030,\"url\":\"http://beta.et-engine.com/api/v3/scenarios/123\",\"ordering\":null,\"display_group\":null,\"source\":null,\"template\":null,\"created_at\":\"2010-06-14T17:23:00+02:00\"}]"
  recorded_at: Thu, 05 Dec 2013 08:45:49 GMT
recorded_with: VCR 2.4.0
