:ruby
  chart_index = data['index']
  chart = @charts[chart_index]
  info_url = chart ? "/descriptions/charts/#{chart.id}" : "#"
  pin_class = if chart && (chart.id == Current.setting.charts[dom_id]['chart_id'])
    'icon-lock'
  else
    'icon-unlock'
  end
  pinned_chart_to_load = chart && Current.setting.charts[dom_id]['chart_id'] ? chart.id : nil

.chart_holder{:data => {:holder_id => dom_id, :block_ui_on_refresh => "true"},
  :class => (chart ? nil : 'hidden')}
  %header
    %h3 Loading
    .actions
      %a.chart_info.tooltip.fancybox.icon-question-sign{:href => info_url,
        :title => t("output_elements.tooltips.info")}

      %a.select_chart.tooltip.icon-cogs{                  |
        :href => output_elements_path(:holder => dom_id), |
        :title => t("output_elements.tooltips.change")}   |

      - if chart_index == 0
        %a.default_chart.tooltip.icon-home{:href => "#",
          :title => t("output_elements.tooltips.default")}

      %a.table_format.tooltip.icon-table{:href => '#',
        :title => t("output_elements.tooltips.table")}

      %a.chart_format.tooltip.icon-bar-chart{:href => '#',
        :title => t("output_elements.tooltips.chart")}

      %a.pin_chart.tooltip{:href => '#',
        :title => t("output_elements.tooltips.pin"),
        :class => pin_class}

      - if chart_index != 3 && !@charts[chart_index + 1]
        - target = "chart_#{chart_index + 1}"
        %a.add_chart.select_chart.tooltip.icon-plus{        |
          :href => output_elements_path(:holder => target), |
          :title => t("output_elements.tooltips.add"),      |
          :'data-target' => target}                         |
      - if chart_index != 0
        %a.remove_chart.tooltip.icon-remove{              |
          :title => t('output_elements.tooltips.remove')} |
  .charts_container
    .chart_not_finished
    .chart_canvas{:id => dom_id, :'data-pinned_chart' => pinned_chart_to_load}
