.chart_holder
  %h3= raw t("output_elements.#{chart.key}") if chart
  = render "output_elements/output_element_actions"
  .charts_container
    .chart_not_finished
    %div{:id => dom_id}
  - if chart
    :javascript
      charts.load(#{chart.id})
