:ruby
  holder_class = chart ? nil : 'hidden'
  info_url = chart ? "/descriptions/charts/#{chart.id}" : "#"
  pin_class = chart.try(:id) == Current.setting.charts[dom_id]["chart_id"] ? 'icon-lock' : 'icon-unlock'

.chart_holder{:data => {:holder_id => dom_id, :block_ui_on_refresh => "true"},
  :class => holder_class}
  %header
    %h3 Loading
    .actions
      %a.chart_info.tooltip.fancybox.icon-question-sign{:href  => info_url,
        :title => t("output_elements.tooltips.info")}

      %a.select_chart.tooltip.icon-cogs{:href => "/output_elements?holder=#{dom_id}",
        :title => t("output_elements.tooltips.change")}

      - if main # secondary chart doesn't need this
        %a.default_chart.tooltip.icon-home{:href => "#",
          :title => t("output_elements.tooltips.default")}

      %a.table_format.tooltip.icon-table{:href => '#',
        :title => t("output_elements.tooltips.table")}

      %a.chart_format.tooltip.icon-bar-chart{:href => '#',
        :title => t("output_elements.tooltips.chart")}

      %a.pin_chart.tooltip{:href => '#',
        :title => t("output_elements.tooltips.pin"),
        :class => pin_class}

      - if main && !@secondary_output_element # ugly
        %a.add_secondary_chart.select_chart.tooltip.icon-plus{:href => "/output_elements?holder=secondary_chart",
          :title => t("output_elements.tooltips.add")}
  .charts_container
    .chart_not_finished
    .chart_canvas{:id => dom_id}
  - if chart && Current.setting.charts[dom_id]
    :javascript
      charts.load(#{chart.id}, "#{dom_id}")
