<script type="text/template" id="chart-table-template">
  <table class="chart autostripe">
    <thead>
      <tr>
        <th></td>
        <th><%%= start_year %></th>
        <th><%%= end_year %></th>
      </tr>
    </thead>
    <tbody>
      <%% _.each(series, function(serie){ %>
        <tr>
          <th><%%= serie.label %></th>
          <td><%%= serie.present_value %></td>
          <td><%%= serie.future_value %></td>
        </tr>
      <%% }) %>
    </tbody>
  <tfoot>
  <tr>
    <th><%%= I18n.t("output_elements.common.total") %></th>
    <td><%%= totals[0] %></td>
    <td><%%= totals[1] %></td>
  </tr>
  </table>
</script>
