--- 
http_interactions: 
- request: 
    method: get
    uri: http://beta.et-engine.com/api/v3//scenarios/123,123,123,123,123,123,123,123,123,123,123,123,123,123,123,123,123,123,123,123,123,123,123/batch
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
      Etag: 
      - "\"e09d3499448f566f8002f1947880daaf\""
    body: 
      encoding: US-ASCII
      string: "[{\"id\":123,\"title\":\"Martinus scenario run\",\"area_code\":\"nl\",\"start_year\":2011,\"end_year\":2030,\"url\":\"http://beta.et-engine.com/api/v3/scenarios/123\",\"ordering\":null,\"display_group\":null,\"source\":null,\"template\":null,\"created_at\":\"2010-06-14T17:23:00+02:00\"},{\"id\":123,\"title\":\"Martinus scenario run\",\"area_code\":\"nl\",\"start_year\":2011,\"end_year\":2030,\"url\":\"http://beta.et-engine.com/api/v3/scenarios/123\",\"ordering\":null,\"display_group\":null,\"source\":null,\"template\":null,\"created_at\":\"2010-06-14T17:23:00+02:00\"},{\"id\":123,\"title\":\"Martinus scenario run\",\"area_code\":\"nl\",\"start_year\":2011,\"end_year\":2030,\"url\":\"http://beta.et-engine.com/api/v3/scenarios/123\",\"ordering\":nul[...]
