---
http_interactions:
- request:
    method: get
    uri: http://etengine.dev/api/v3//scenarios/123,123/batch
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"2f4994ada4599df35cc428c24b89393f"'
    body:
      encoding: UTF-8
      string: '[{"id":123,"title":"Martinus scenario run","area_code":"nl","start_year":2013,"end_year":2030,"url":"http://etengine.dev/api/v3/scenarios/123","ordering":null,"display_group":null,"scaling":null,"source":null,"template":null,"created_at":"2010-06-14T17:23:00.000+02:00"},{"id":123,"title":"Martinus
        scenario run","area_code":"nl","start_year":2013,"end_year":2030,"url":"http://etengine.dev/api/v3/scenarios/123","ordering":null,"display_group":null,"scaling":null,"source":null,"template":null,"created_at":"2010-06-14T17:23:00.000+02:00"}]'
  recorded_at: Wed, 12 Oct 2016 08:36:10 GMT
recorded_with: VCR 2.4.0
