= render 'admin/blueprints/header' 

%h2 Blueprint Groups

%p= link_to 'Create new Group', new_admin_group_path

%table{table_defaults}
  %thead
    %tr
      %th Key
      %th Title
  %tbody
    - @groups.each do |group|
      %tr{cycles}
        %td= link_to group.key, edit_admin_group_path(group)
        %td= link_to group.title, edit_admin_group_path(group)
