// Sizing --------------------------------------------------------------------

// Fix Firefox inserting extra padding.
button.button::-moz-focus-inner
  border: 0
  padding: 0

input.button, button.button, input.btn, a.button, a.btn
  cursor: pointer
  display: inline-block
  font-weight: 500
  padding: 8px 11px
  vertical-align: middle
  &:hover
    text-decoration: none

  &[type]
    // <input type="button" ... />
    padding: 6px 11px
    line-height: 16px
  *:first-child + html &[type]
    // IE
    padding: 9px 11px 6px

a.button, input.button, button.button, input.btn
  border-radius: 3px
  font-size: 14px
  line-height: 15px

  span
    font-size: 16px
    line-height: 13px
    margin: -1px 2px 0px 0
    vertical-align: middle
  .fa
    font-size: 14px
  .fa-signal
    margin-top: -2px

  &.btn-block
    box-sizing: border-box
    display: block
    width: 100%

// Small buttons.

a.button.small
  padding: 5px 9px 5px

input.button.small, button.button.small, input.btn.small
  padding: 5px 9px 5px

  &[type]
    // <input type="button" ... />
    padding: 3px 9px 4px
  *:first-child + html &[type]
    // IE
    padding: 8px 9px 5px

a.button.small, input.button.small, button.button.small, input.btn.small
  font-size: 11px

  span
    // display: none
    margin: -3px 2px -1px 0

// Buttons in page headers.

h2 a.button, h2 input.button, h2 button.button
  margin: 0 10px 0 0
  vertical-align: text-top

// Colours -------------------------------------------------------------------

a.button, input.button, button.button, input.btn
  background: #fafafa
  border-bottom-color: rgba(0, 0, 0, 0.18)
  border: 1px solid rgba(0, 0, 0, 0.15)
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05)
  color: #444
  transition: all 0.15s ease-in-out
  will-change: background, border-color, box-shadow

  &:hover
    background: #f2f2f2

  &:active
    background: #e9e9e9
    border-color: rgba(0, 0, 0, 0.18)
    box-shadow: none

  &:focus
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05)
    border-color: rgba(0, 0, 0, 0.18)

  &:focus:focus-visible
    box-shadow: 0 0 0 3px #e8e8e8
    border-color: #8ebeea

  &.primary
    background: #649ec6
    background: linear-gradient(#7ab2eb, #4e98e4)
    border: 1px solid #5788ba
    border-bottom-color: #3f7ab7
    box-shadow: 0 0 0 transparent
    color: white
    font-weight: 600
    text-shadow: 0 1px 1px #3f7ab7

    &:hover
      background: linear-gradient(#72a9de, #4b90d8)

    &:active
      background: linear-gradient(#6698c7, #4282c2)
      border-color: #4c7ba8
      box-shadow: 0 0 0 transparent

    &:focus:focus-visible
      box-shadow: 0 0 0 3px #cfe5f7
