div.busybox
  position: absolute
  z-index: 8000
  color: #666
  background-color: #fff
  margin: 0
  padding: 0
  opacity: 0.5
  filter: alpha(opacity=95)
  -ms-filter: "alpha(opacity=95)"

// The default fancybox theme is dark-grey on light-grey which has a somewhat
// "dirty" look.
.fancybox-skin
  background: white
  color: black

#overlay_container
  width: 600px
  overflow-x: hidden
  p
    display: block
    img
      float: left

#select_curve
  width: 820px
  padding: 20px
  p
    font-size: 100%
    color: #000000
#tutorial_wrapper
  h3
    padding: 0
    margin: 8px 0 0 0
    text-align: center
  .movie
    background: white
    margin: 0
    border: 4px solid white
