div.popup_node_details
  color: #333
  font-size: 0.8175rem
  padding: 0.5rem
  width: 750px
  h3
    font-size: 1.25rem
    margin-top: 0
  table
    width: 100%
    border-collapse: collapse
    margin: 0 0 1rem
    td, th
      border-bottom: 1px solid #eee
      padding: 0.375rem
      &:first-child
        width: 60%
    tr:last-child td
      border-bottom-color: #ddd
    th
      border-bottom-color: #ddd
      color: #999
      font-weight: normal
      text-align: left
      &:first-child
        color: #333
        font-size: 1rem
        font-weight: 500

  a.download
    background: image-url('icons/xlsx.svg') no-repeat
    background-size: 22px
    color: #237547
    display: inline-block
    font-weight: 500
    font-size: 0.8125rem
    height: 20px
    margin-top: 1rem
    padding: 2px 0 0 26px

  &__stars
    color: #777
    float: right
    line-height: 1.5
    font-size: 0.75rem
    width: 50%
