div.popup_node_details
  color: #333
  font-size: 0.8175rem
  padding: 0.5rem
  width: 750px
  h3
    font-size: 1.25rem
    margin-top: 0
  table
    width: 100%
    border-collapse: collapse
    margin: -1rem 0 1rem
    td, th
      border-bottom: 1px solid #eee
      padding: 0.3125rem 0
    th
      border-bottom-color: #ccc
      color: #999
      font-weight: normal
      padding-top: 1rem
      text-align: left
      &:first-child
        color: #333
        font-size: 1rem
        font-weight: 500

  &__stars
    float: right
    width: 50%
    font-size: 11px
