body#root
  font-family: $landing-font-family
  #wrapper
    background: no-repeat linear-gradient(-45deg, #d0e0f7, $landing-background-color, $dark-cream, #89a9ec), $soft-grey
    background-size: 400% 760px
    animation: gradient 60s ease infinite

  &, #wrapper, #content
    height: auto
    height: fit-content

  footer
    display: none


@keyframes gradient
  0%
    background-position: 0% 0%
  50%
    background-position: 100% 0%
  100%
    background-position: 0% 0%



#landing
  margin: 0 auto
  padding: 50px 0 20px
  width: $landing-width
  color: #462c34

  a
    color: darken($landing-blue, 4%)
    text-decoration: none

    &:hover
      color: black
      text-decoration: underline

  #blurb
    margin: 0 0.5rem 40px
    width: 800px
    h1
      font-size: 26px
      font-weight: normal
      margin-top: 0 0 1rem
    p
      color: darken($landing-grey, 8%)
      font-size: 14px
      line-height: 1.7

  #resume-scenario, #new-scenario, #preset-scenario, #recently-updated, #other-features .feature
    background: $landing-background-color
    border: 1px solid #e5e7eb
    border-radius: 6px
    margin: 0 0 40px
    padding: 15px 20px

  #other-features
    display: grid
    grid-template-columns: repeat(6, 1fr)
    grid-template-rows: repeat(3, min-content)
    gap: 20px
    .feature
      background: $soft-grey asset-url("pages/home/local_global.svg") 20px 20px no-repeat
      background-size: 32px
      display: block
      padding-left: 68px
      &.whats-new
        background-image: asset-url("pages/home/whats-new.svg")
        grid-column-start: 1
        grid-column-end: span 2
        grid-row-start: 1
      &.multi-year-charts
        background-image: asset-url("pages/home/multi_year_charts.svg")
        grid-column-start: 3
        grid-column-end: span 2
        grid-row-start: 1
      &.dataset
        grid-row-start: 1
        grid-column-start: 5
        grid-column-end: span 2
      &.docs
        background-image: asset-url("pages/home/game.png")
        grid-row-start: 2
        grid-column-start: 1
        grid-column-end: span 3
      &.api
        background-image: asset-url("pages/home/rubik.png")
        grid-row-start: 2
        grid-column-start: 4
        grid-column-end: span 3
      &.quintel
        background-image: asset-url("pages/home/quintel.svg")
        grid-row-start: 3
        grid-column-start: 1
        grid-column-end: span 6
    h4
      font-size: 14px
      margin: 2px 0 0 0
    p
      color: $landing-grey
      font-size: 12px
      line-height: 1.4
      margin: 8px 0 0 0

    a
      margin: -5px
      padding: 5px
      & + a
        margin-left: 5px

  #resume-scenario
    background: $dark-cream
    border: none
    a
      border-top-left-radius: 3px
      border-top-right-radius: 3px
      display: block
      margin: -15px -20px
      padding: 18px 20px
      position: relative
      transition: all 0.1s ease-out
      &:hover
        text-decoration: none
      &:hover span.root-button
        background: lighten($landing-green, 14%)
      &:active span.root-button
        background:darken($landing-green, 1%)
    .title, .details
      display: block
    .title
      color: $landing-grey
      margin-bottom: 5px
    .details
      color: black
      font-size: 16px
    .country
      background-position: 0 1px
      background-repeat: no-repeat
      display: inline-block // Fixes blurred background image in Chrome.
      font-weight: bold
      &.AT_austria
        @include flag($region: "at_austria")
      &.BE_belgium
        @include flag($region: "be_belgium")
      &.BG_bulgaria
        @include flag($region: "bg_bulgaria")
      &.CY_cyprus
        @include flag($region: "cy_cyprus")
      &.CZ_czechia
        @include flag($region: "cz_czechia")
      &.DE_germany
        @include flag($region: "de_germany")
      &.DK_denmark
        @include flag($region: "dk_denmark")
      &.EE_estonia
        @include flag($region: "ee_estonia")
      &.EL_greece
        @include flag($region: "el_greece")
      &.ES_spain
        @include flag($region: "es_spain")
      &.eu, &.EU27_european_union_27_countries
        @include flag($region: "eu27_european_union_27_countries")
      &.fi_finland
        @include flag($region: "fi_finland")
      &.FR_france
        @include flag($region: "fr_france")
      &.HR_croatia
        @include flag($region: "hr_croatia")
      &.HU_hungary
        @include flag($region: "hu_hungary")
      &.IE_ireland
        @include flag($region: "ie_ireland")
      &.IT_italy
        @include flag($region: "it_italy")
      &.LT_lithuania
        @include flag($region: "lt_lithuania")
      &.LU_luxembourg
        @include flag($region: "lu_luxembourg")
      &.LV_latvia
        @include flag($region: "lv_latvia")
      &.MT_malta
        @include flag($region: "mt_malta")
      &.nl
        @include flag($region: "nl")
      &.nl2019
        @include flag($region: "nl")
      &.nl2023
        @include flag($region: "nl")
      &.PL_poland
        @include flag($region: "pl_poland")
      &.PT_portugal
        @include flag($region: "pt_portugal")
      &.RO_romania
        @include flag($region: "ro_romania")
      &.SE_sweden
        @include flag($region: "se_sweden")
      &.SI_slovenia
        @include flag($region: "si_slovenia")
      &.SK_slovakia
        @include flag($region: "sk_slovakia")
      &.UK_united_kingdom
        @include flag($region: "uk_united_kingdom")
      &.UK_united_kingdom
        @include flag($region: "sg_singapore")
      &.VUNH5_efate
        @include flag($region: "vunh5_efate")

      // &.UKNI01_northern_ireland
    span.root-button
      background: #8bd186
      margin-top: 9px
      padding-top: 7px
      padding-bottom: 7px
      color: white
      span.fa
        margin-top: 0
        color: white

    ul.dashboard
      background: linear-gradient(white 10%, $landing-border-color, white 90%)
      list-style: none
      margin: 5px -15px -10px
      overflow: hidden
      padding: 0
      display: none // !!
      li
        background: white
        float: left
        margin-right: 1px
        padding: 15px 15px 10px
        width: 97px
        &:last-child
          margin-right: 0
          width: 98px
        .name, .value
          display: block
        .name
          color: $landing-grey
          font-size: 12px
        .value
          font-size: 14px

  #new-scenario, #preset-scenario
    border: none
    margin-bottom: 80px
    .header-container
      display: flex
      margin: -15px -20px 0px
      padding: 21px 20px 0
      a
        font-size: 0.875rem
        font-weight: 500
        line-height: 1
        padding: 0.5rem
        margin: -0.5rem
        color: $landing-grey
    h4
      font-size: 16px
      line-height: 1
      margin: 0 auto 0 0
      padding: 0

  #new-scenario
    border-top-color: $landing-blue
    form
      margin: 0 -10px
      display: flex
      padding: 20px 0
      .submit
        margin-right: 0
        margin-left: auto
      .country, .year, .submit, #scenario-info
        padding: 0 10px
      .country
        width: 348px
        a
          display: inline-block
          font-size: 11px
          margin-top: 5px
      .year
        width: 150px
      .submit
        border-right: none
        width: 72px
      #scenario-info-button
        background: none
        border: none
        height: 100%
        font-size: 1.5rem
      .scenario-info-dropdown
        left: 3rem
        top: 0
        width: 450px
        padding: 1rem
        line-height: 1.8
        &::before
          left: -0.25rem
          top: 0.625rem
          background: white
      label
        color: $landing-grey
        display: block
        font-size: 12px
        display: none // !!
      .select2-selection
        border: 1px solid $landing-border-color
        border-radius: 3px
        cursor: pointer
        font-size: 16px
        height: 32px
        padding-top: 2px
        transition: all 0.1s ease-out
        &:hover
          border-color: darken($landing-border-color, 20%)
      .select2-selection__arrow
        top: 3px
      .select2-selection__rendered > span > img
        margin-right: 5px
        vertical-align: text-top
        &.ukni01_northern_ireland
          display: none
      .select2-container:focus, .select2-selection
        outline: none
      .select2-container--above.select2-container--open .select2-selection
        border-top-left-radius: 0
        border-top-right-radius: 0
      .select2-container--below.select2-container--open .select2-selection
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0
      .value
        border: 1px solid $landing-border-color
        border-radius: 3px
        cursor: pointer
        font-size: 16px
        padding: 5px 7px
        transition: all 0.1s ease-out
        .fa
          color: $landing-grey
          float: right
          font-size: 14px
          margin: 3px 0 0 3px
          vertical-align: middle
      .present
        color: $landing-grey
      .country .value
        background-image: asset-url("flags-24/nl.png")
        background-repeat: no-repeat
        background-position: 7px 6px
        padding: 5px 5px 5px 35px
      button.root-button
        background-color: $landing-blue
        cursor: pointer
        outline: none
        padding-bottom: 7px
        padding-top: 7px
        transition: all 0.1s ease-out
        &:hover
          background: lighten($landing-blue, 13%)
        &:active
          background: darken($landing-blue, 1%)
    .hint
      border-top: 1px solid $landing-border-color
      color: $landing-grey
      margin-bottom: 0
      margin-top: 15px
      margin: 0
      padding-right: 25px
      padding-top: 15px

  span.root-button, button.root-button
    background: #ccc
    border-radius: 3px
    border: none
    color: white
    float: right
    font-family: $landing-font-family
    font-size: 14px
    font-weight: 500
    margin: 0
    padding: 10px 15px
    transition: all 0.15s ease-out
    white-space: nowrap
    -webkit-font-smoothing: antialiased
    .fa
      color: white
      font-size: 9px
      margin-top: -1.5px
      vertical-align: middle
      + .fa
        margin-left: -6px

  #preset-scenario
    background: $soft-grey
    .header-container .title
      color: #462c34

    .hint
      margin: 1.5rem 0

    .year-tabs
      display: flex
      margin-bottom: 2rem
      .end-year-tab
        margin-left: 1rem
        margin-bottom: 3px
        border-radius: 6px
        font-size: .875rem
        padding: 5px 13px
        border: 1px solid #d0d5d8
        background: $soft-grey
        transition: background 0.15s ease-in
        a
          color: #462c34
          transition: color 0.15s ease-in
          &:hover
            text-decoration: none
            cursor: pointer
            color: #462c34
        &:hover
          background: $dark-cream
          border-color: $dark-cream
          a
            color: #462c34
        &.active
          background: #86c983
          border-color: #86c983
          a
            color: white
          &:hover
            cursor: default
        &:first-child
          margin-left: 0

    .scenario-list
      margin: 0
      padding: 0
      transition: opacity 1s ease-out
      opacity: 0
      height: 0
      overflow: hidden
      display: grid
      gap: 1.5rem
      grid-template-columns: 1fr 1fr 1fr 1fr
      &.show
        opacity: 1
        height: auto

      .study-title
        grid-column-start: 1
        grid-column-end: 5
        font-size: 14px
        color: #462c34
        font-weight: 500
        margin-top: 1.5rem
        margin-left: 1.5rem
        margin-right: 1.5rem
        padding-bottom: 0.5rem
        border-bottom: 1px solid #e5e7eb

      a.scenario
        padding: 1.5rem
        border-radius: 5px
        background: $landing-background-color
        border: 1px solid $landing-background-color
        display: flex
        flex-direction: column
        align-items: baseline
        margin: 0
        position: relative
        color: black
        transition: background 0.15s ease-in, border 0.15s ease-in

        &:hover
          border-color: #e5e7eb
          cursor: pointer
          background: $soft-grey
          text-decoration: none

        .title
          color: #462c34
          font-size: 14px
          line-height: 1.7
          margin-bottom: 2px
        .fa
          margin-right: 5px
        .labels
          font-size: 0.75rem
          margin-bottom: 1rem
          display: flex
          width: 100%
          .group
            border: 1px solid #e5e7eb
            border-radius: 5px
            padding: 5px 10px
            background: $soft-grey

          .org
            margin-left: auto
            background: $landing-background-color
            color: #462c34
            border-radius: 5px
            border-radius: 5px
            padding: 5px 10px

      // .version
      //   color: $landing-grey
      //   margin-left: 5px


      span.last_updated
        margin-left: auto
        color: darken($landing-background-color, 18%)
        font-size: 0.75rem

      span.author
        color: darken($landing-background-color, 100%)
        font-size: 0.75rem
                margin-bottom: 0.75rem

      span.version
        font-size: 0.75rem
        color: $landing-grey
        white-space: nowrap
        margin-bottom: 0
        margin-top: 1rem

  #legal
    border-top: 1px solid $landing-border-color
    font-size: 12px
    margin: 0 0 -20px
    overflow: hidden
    padding: 20px 0
    text-align: center

    ul
      list-style: none
      margin: 0
      padding: 0

      li
        display: inline
        margin: 0 10px
      a
        color: $landing-grey

#whats-new
  background: #fffced
  line-height: 1.5
  padding: 20px 0

  .content
    margin: 0 auto
    width: $landing-width

  p
    margin-top: 0
    &:last-child
      color: $landing-grey
      margin-bottom: 0

.select2-dropdown
  border-color: $landing-border-color
  font-size: 14px !important

li.select2-results__option > span > .present
  color: $landing-grey

.select2-container--default .select2-results__option--highlighted[aria-selected]
  background-color: $landing-blue

.select2-container--default .select2-search--dropdown .select2-search__field:focus
  border-color: #6ca1d0

li.select2-results__option--highlighted > span > .present
  color: white

#area-select-options
  .select2-results__group
    color: #78818c

  .select2-container--default .select2-results > .select2-results__options
    max-height: 350px
    min-height: 150px
    overflow-y: auto

  li.select2-results__option > span
    & > img, & > .blank-flag
      margin-right: 5px
      vertical-align: text-top
    & > .blank-flag
      display: inline-block
      height: 1px
      width: 23px
