#title
  padding:
    top: 20px
    bottom: 15px

  max-width: 1070px

  h2
    color: #000
    font-size: 21px
    font-weight: bold
    float: left
    line-height: 21px
    margin: 3px 30px 0 0
    text-align: left

  a:first-child
    margin-left: 40px

  .help
    float: right

    a
      color: #8895b2
      display: inline-block
      font-size: 11px
      font-weight: bold
      line-height: 1
      padding: 8px 0
      margin-left: 25px
      text-decoration: none
      text-transform: uppercase

      &:hover
        color: #4d5C6b

      span
        font-size: 14px
        line-height: 0
        vertical-align: middle
        margin-top: -2px
