#accordion_wrapper
  color: #333
  a
    text-decoration: none
    color: #63a0c9
    font: 13px $body_font_family

  ul.accordion
    float: left
    width: 100%
    margin: 0
    padding: 0
    list-style: none
    overflow: hidden
    li.accordion_element
      overflow: hidden
      vertical-align: top
      padding: 0 0 3px
      h3.ui-state-active a
        background: image-url("slides/triangle-hover.gif") no-repeat left center
      div p img
        float: left
        padding: 0 20px 0 0
      h3
        margin: 0
        background: #dfe8f3
        height: 30px
        outline: none
        a
          font: 16px/30px $title_font_family
          height: 30px
          margin: 0 0 2px
          color: #224368
          text-decoration: none
          padding: 0 0 0 31px
          background: image-url("slides/triangle.gif") no-repeat left center
          text-align: left
          overflow: hidden
          &:hover
            background: image-url("slides/triangle-hover.gif") no-repeat left center
      .slide
        p
          margin: 13px 0
        a.next_slide
          background: #fff
          height: 20px
          text-align: center
          text-decoration: none
          float: right
          &:hover
            text-decoration: underline
        .items
          float: left
          clear: both
          width: 100%
          list-style: none
          overflow: visible
          padding: 0
          img.sub_header_image
            float: right
            margin-right: 0px
            width: 115px
            height: 40px
          div.sub_header
            text-align: right
            color: #aaa
            overflow: auto
            background: #fff
          div.interface_group
            width: 100%
            text-align: left
            color: #aaa
            border-top: 1px solid #aaa
            margin-top: 5px
            overflow: hidden
          span.sub_header_arrow
            float: right
            margin-right: 4px
            height: 26px
            width: 123px
            text-align: right
            background: #fff image-url('slides/grey_triangle_down.gif') no-repeat scroll right bottom

// HiDPI Accordion Images.

@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx)
  #accordion_wrapper
    .items span.sub_header_arrow
      background-image: url(/assets/layout/grey_triangle_down-hidpi.png)
      background-size: 30px 6px

    li
      a.slide_header
        background-image: url(/assets/accordion/triangle-hidpi.png)
        background-size: 23px 30px

      a.slide_header:hover, .selected a, .ui-state-active a
        background-image: url(/assets/accordion/triangle-hover-hidpi.png)
        background-size: 23px 30px
