@import "blueprint/buttons"
@import "icons/*.png"

// Sizing --------------------------------------------------------------------

a.button
  @include anchor-button
  padding: 6px 11px

// Fix Firefox inserting extra padding.
button.button::-moz-focus-inner
  border: 0
  padding: 0

input.button, button.button
  @include button-button
  padding: 6px 11px

  &[type]
    // <input type="button" ... />
    padding: 6px 11px 5px
    line-height: 16px
  *:first-child + html &[type]
    // IE
    padding: 9px 11px 6px

a.button, input.button, button.button
  @include border-radius(3px)
  font-size: 12px
  line-height: 15px

  span
    font-size: 16px
    line-height: 13px
    margin: -1px 2px 0px 0
    vertical-align: middle

// Small buttons.

a.button.small
  padding: 5px 9px 5px

input.button.small, button.button.small
  padding: 5px 9px 5px

  &[type]
    // <input type="button" ... />
    padding: 3px 9px 4px
  *:first-child + html &[type]
    // IE
    padding: 8px 9px 5px

a.button.small, input.button.small, button.button.small
  font-size: 11px

  span
    // display: none
    margin: -3px 2px -1px 0

// Buttons in page headers.

h2 a.button, h2 input.button, h2 button.button
  margin: 0 10px 0 0
  vertical-align: text-top

// Info / Tutorial Buttons

.button
  span.right-icon
    display: inline-block
    height: 11px
    width: 16px

  span.right-icon
    @include icons-sprite('arrow-right-primary', 1px)
    margin-left: 1px
    margin-right: 0px

// HiDPI Buttons.

// TODO: When upgraded to Sass 3.2, use a "mixin block".
//       http://iain.nl/sass-3-2-blocks
@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx)
  .button span
    &.right-icon
      background: image-url('button-icons-hidpi.png') no-repeat
      background-size: 15px 66px

    &.right-icon
      background-position: 0 -52px
      height: 11px
      width: 16px

// Colours -------------------------------------------------------------------

a.button, input.button, button.button
  @include background-image(linear-gradient(#f9f9f9, #dfdfdf))
  background-color: #eee
  color: #333
  border: 1px solid #b7b7b7
  border-bottom-color: #aaa
  text-shadow: 0 1px 0 white

  &:active
    border-color: #8b8b8b
    @include background(linear-gradient(#e5e5e5, #ccc))
    @include box-shadow(inset 0 1px 4px #999)

  &.primary
    background: #649ec6
    @include background(linear-gradient(#7bbaea, #5390c3))
    border: 1px solid #4e7dac
    border-bottom-color: #426180
    color: white
    font-weight:  bold
    text-shadow: 0 1px 1px #375578

    &:active
      @include background(linear-gradient(#74aadc, #4b7fb0))
      @include box-shadow(inset 0 1px 4px #4c76a1)
      border-color: #3e6189
