#charts_wrapper
  .chart_holder
    width: 500px
    float: left
    margin-right: 3px
    min-height: 400px
    max-height: 500px
    header
      background: #dfe8f3
      height: 30px
      h3
        float: left
        margin: 0 0 3px 0
        font: 16px/30px Georgia, "Times New Roman", Times, serif
        color: #224368
        padding: 0 0 0 31px
      .actions
        float: right
        padding: 8px 10px
        a
          margin-right: 5px
          color: #a5b9ce
          text-decoration: none
          &:hover
            color: #333333

  .charts_container
    position: relative
    height: 400px
    .chart_not_finished
      display: none
      position: absolute
      top: -5px
      height: 53px
      width: 264px
      right: -5px
      z-index: 3
      background: url(/assets/layout/still_to_do.png) no-repeat

table#power_plants
  th.unit
    font-weight: normal
    text-align: center
  .border-rgt
    border-right: 1px solid #999
  tfoot
    tr
      border-top: 1px solid #999
      border-bottom: 3px double #999
    td, th
      border: 1px solid #eee
    td
      font-weight: bold

table.chart
  width: 100%
  border-collapse: collapse
  thead
    tr
      background: #528FBD
    th
      border: 1px solid #D9E2F0
  tr
    &.even
      background-color: #eee
  td, th
    font-size: 10px
  td
    text-align: right
  tbody
    tr, td
      border: 1px solid #ddd

table.autostripe
  tbody tr:nth-child(2n+1)
    background-color: #ddd

// D3-specific charts
//
#d3_container_sankey
  text.label
    font-family: Helvetica, Arial, sans-serif
    font-size: 9px
  text.link_label
    font-family: Helvetica, Arial, sans-serif
    font-size: 9px
    font-weight: bold
  .node rect
    shape-rendering: crispEdges
    fill-opacity: .85
  .y.axis
    line, path
      fill: none
      stroke: #000
    .minor
      stroke-opacity: 0.5
    text
      font-size: 9px

#d3_container_mekko
  div.cell
    border: 1px solid white
    overflow: hidden
    position: absolute
    font: 9px sans-serif
    line-height: 12px
    text-indent: 2px

#d3_container_merit_order
  rect.merit_order_node
    fill-opacity: .80
  .x.axis, .y.axis
    line, path
      fill: none
      stroke: #000
    .minor
      stroke-opacity: 0.5
    text
      font-size: 9px
  svg.legend
    text
      font-family: Helvetica, Arial, sans-serif
      font-size: 9px
  .axis_label:
    font-size: 9px
