#dashboard_popup
  margin: 0px
  padding: 10px
  width: 680px
  height: 460px
  overflow: hidden
  font: 13px/20px $body_font_family
  background-color: #DBE4F2
  h2
    background-color: #63A1C9
    font-family: $title_font_family
    color: #FFFFFF
    padding: 7px 5px
    margin: 0px
    font-weight: normal
  h3
    font-family: $title_font_family
  .description
    text-align: left
    padding: 7px
  #charts
    text-align: center
    margin: 0 auto
    .chart_holder
      float: none
      background: #ffffff
      min-height: 260px
      max-height: 400px
      max-width: 660px
      margin: 5px auto
      .chart_canvas
        min-height: 250px
        width: 100%
  .clear
    clear: both

  table#policies
    font-family: 13px/13px $body_font_family
    line-height: 0.9em
    border-collapse: collapse
    width: 100%
    td, th
      padding: 10px 12px
    th
      font-family: $body_font_family
      text-align: left
    tr
      &.even
        background: #fff
      &.odd
        background: none
      td
        margin: 0
        border: 0
        &.name
          width: 250px
        &.check
          padding-right: 0
        &.success
          background: url('/assets/icons/accept.png') center no-repeat
        &.failure
          background: url('/assets/icons/cancel.png') center no-repeat
        &.not_set
          background: none

  table.energy_imports
    td
      background-color: #fff
      .chart_holder
        width: 335px
        height: 300px

#dashboard_popup.bio_footprint
  .present, .future
    margin-left: 10px
  .present
    margin-top: 20px
