#esdl
  display: block
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
  margin: 40px auto
  padding: 0 0 100px // Spacing for the sponsor footer
  width: 500px

  h1
    line-height: 1.3
  .description
    color: #333
    font-size: 0.875rem
  form
    text-align: center
    margin-top: 40px
    em
      display: inline-block
    input[type="file"]
      display: inline-block
      margin: 0 0 0 10px

    .button, .wait
      border-radius: 3px
      font-size: 1rem
      font-weight: bold
      margin-top: 20px
      padding: 10px 15px
      text-align: center

    .wait
      display: none
      img
        margin: -3px 0.25rem -2px 0
        vertical-align: text-top

    .button
      background: $landing-green
      background: linear-gradient(lighten($landing-green, 10%), $landing-green)
      border: none
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1)
      color: white
      cursor: pointer
      text-shadow: none
      &:hover
        background: linear-gradient(lighten($landing-green, 14%), lighten($landing-green, 7%))
      &:active
        background: linear-gradient(darken($landing-green, 1%), darken($landing-green, 7%))

