@import general_styles

#esdl
  display: flex
  justify-content: center
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
  margin: 0 auto

  .half_page
    width: 500px
    padding: 0  30px
    &.with_bar
      border-right: 1px solid $landing-border-color
    &.two_parts
      display: flex
      flex-direction: column
      justify-content: space-between
    .or
      margin-bottom: 0
      padding-left: 40px

  h1
    line-height: 1.3
  .description
    color: #333
    font-size: 0.875rem

  #mondaine_drive, .upload_file
    width: 418px
    margin: 0 auto 0.5rem
    background: white
    border: 1px solid $landing-border-color
    border-bottom-color: darken($landing-border-color, 5%)
    border-top-color: $landing-green
    border-top-width: 2px
    box-shadow: 0 3px 5px rgba(50, 71, 93, 0.06), 0 1px 3px rgba(0, 0, 0, 0.04)
    border-radius: 4px
    padding: 15px 40px

  .upload_file
    padding-bottom: 35px

  #mondaine_drive
    margin-top: 30px
    border-top-color: $landing-gold

    &.disabled
      position: relative
      color: #ddd
      border-top-color: $landing-grey
      background: darken(#fff, 3%)
      .button.login
        color: darken(#fff, 3%)
        background-color: #ddd
        background: linear-gradient(lighten(#ddd, 10%), #ddd) !important
        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.03)
        &:hover, &:active
          background-color: #ddd
          background: linear-gradient(lighten(#ddd, 10%), #ddd) !important
      a, .dot
        cursor: default
        color: #ddd
        &:hover
          text-decoration: none
      .please_log_in
        z-index: 2
        position: absolute
        margin-top: 0
        padding: 0 25px 0 30px
        left: 0
        top: 40%
        line-height: 1.5rem
        text-align: center
        text-shadow: 0 3px 5px rgba(50, 71, 93, 0.06), 0 1px 3px rgba(0, 0, 0, 0.04)
        color: #000

  form
    display: flex
    flex-direction: column

    input[type="file"]
      display: inline-block
      width: 100%

    span
      display: none
      position: relative
      top: -21px
      margin-bottom: -21px
      float: right
      cursor: pointer
      &:hover
        color: #666

    .button, .wait
      margin-top: 20px
      margin-right: 0
      padding: 10px 15px
      width: 200px
      align-self: flex-end

    .wait
      display: none
      padding-right: 0
      font-size: 1rem
      font-weight: bold
      img
        margin: 0 0.25rem -2px 0
        vertical-align: text-top
        height: 20px

  .button
    background: $landing-green
    background: linear-gradient(lighten($landing-green, 10%), $landing-green)
    border: none
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1)
    color: white
    cursor: pointer
    text-shadow: none
    text-align: center
    font-size: 1rem
    font-weight: bold
    border-radius: 3px
    &:hover
      background: linear-gradient(lighten($landing-green, 14%), lighten($landing-green, 7%))
    &:active
      background: linear-gradient(darken($landing-green, 1%), darken($landing-green, 7%))

#esdl, #export_esdl
  .browsing
    text-align: left
    padding: 10px
    border-radius: 4px
    border: 1px solid $landing-border-color
    margin-bottom: 30px
    .children
      padding-left: 20px
      span
        padding-right: 5px
    .folder
      &__false
        color: #aaa
      &__true
        cursor: pointer
        &:hover
          color: $link-color
    .file-esdl__false
      padding-bottom: 0.5px
      &:hover
        cursor: pointer
        color: $link-color
    .hover-pointer:hover
      cursor: pointer
      color: $link-color
    .selected
      cursor: pointer
      color: #fff
      background-color: $link-color
      border-radius: 10px
      width: max-content
      padding: 0 7px 0.5px 7px
      margin-left: -7px
      &:hover
        color: revert

  #mondaine_drive, .mondaine_drive
    .dot
      font-size: 6px
      color: $link-color
      margin: 0 6px
      vertical-align: middle

    .button.login
      background: linear-gradient(lighten($landing-gold, 10%), $landing-gold)
      width: 250px
      font-size: 0.875rem
      font-weight: bold
      padding: 8px 4px
      margin-bottom: 20px
      color: white
      &:hover
        text-decoration: none !important
        background: linear-gradient(lighten($landing-gold, 15%), lighten($landing-gold, 10%))
      &:active
        background: linear-gradient(darken($landing-gold, 1%), darken($landing-gold, 10%))
