$border-color: #ddd

body
  .information_page
    font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif

    &.wider
      width: 960px

      .page, .error
        box-shadow: 0px 3px 19px 1px #CCC
        margin: 30px 0
        background-color: #FFFFEE
        padding: 12px 32px 26px

      .error
        background-color: #FFEEEE
        color: #C22
        padding: 12px 14px

    ul.options
      float: right
      li.print
        list-style-type: none
        a
          color: #7e868e
          text-decoration: none
          font-style: normal
          img
            width: 16px
            height: 17px
            margin-bottom: -3px

  #establishment_shot
    .axis text, svg text, .legend
      font: 10px sans-serif

    .axis line,
    .axis path
      fill: none
      stroke: #000
      shape-rendering: crispEdges

    .axis--x path
      display: none

    .overview
      display: none

      .column, .column > .column-inner
        display: inline-block

      .column
        vertical-align: top
        clear: none
        padding-bottom: 15px

      .column:first-child
        width: 33%
        > .chart
          border-right: 1px dashed $border-color

      .column.last
        width: 66%

        .column-inner
          width: 49%

          &:first-child
            border-right: 1px dashed $border-color

          .chart:last-child
            padding-top: 18px
            border-top: 1px dashed $border-color

    .column-inner .chart > .legend
      margin-right: 10px
      max-width: 110px

    .chart
      margin-top: 20px

      > .legend
        float: right
        margin-right: 20px
        > ul
          margin-top: 0
          padding-left: 0

          li:first-child
            margin-top: 0

          li
            list-style-type: none

            i.fa-square
              margin-right: 5px

    .footer
      padding-top: 7px
      border-top: 1px dashed $border-color
      font-size: 80%
      text-align: center
