@import font-awesome
@import establishment_shot
@import dataset_page

@media print
  @page
    size: landscape
    margin: 2mm 2mm 2mm 2mm

  body
    -webkit-print-color-adjust: exact !important
    color-adjust: exact !important
    margin: 0
    padding: 0

    .information_page.wider
      width: 293mm

      .page
        box-shadow: none !important
        margin: 0

        .introduction
          margin: 10px 0

    header, footer, ul li.print, div.navigation
      display: none

    #content #establishment_shot .overview .column
      width: 35% !important

      &.center
        width: 27% !important

    .clearfix
      clear: both
