//
//     +html/body/#main-----------------------------------------------------------------+
//     |+header------------------------------------------------------------------------+|
//     ||                                                                              ||
//     ||  () ENERGY TRANSITION MODEL                                                  ||
//     ||                                                                              ||
//     |+------------------------------------------------------------------------------+|
//     |+#sidebar------++#active-content-----------------------------------------------+|
//     ||float:left    ||margin-left: w1                                               ||
//     ||width: w1     ||+#title------------------------------------------------------+||
//     ||              |||                                                            |||
//     ||              |||                                                            |||
//     ||              ||+------------------------------------------------------------+||
//     ||              ||+------------------------++----------------------------------+||
//     ||              |||float:left              ||margin-left: w2                   |||
//     ||              |||width: w2               ||                                  |||
//     ||              |||                        ||  (So: width is fluid)            |||
//     ||              |||                        ||                                  |||
//     ||              |||                        ||                                  |||
//     ||              |||                        ||                                  |||
//     ||              ||+------------------------++----------------------------------+||
//     |+--------------++--------------------------------------------------------------+|
//     +--------------------------------------------------------------------------------+

header#main
  width: 100%
  height: 100px
  margin-bottom: 15px

//separate model from pages
body#model #wrapper
  min-height: 100%

body#outside-model #wrapper
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0 auto -160px

#wrapper
  min-width: 965px
  width: 100%
  position: relative
//separate model from pages
* html body#model #wrapper
  height: 100%
  overflow: visible

#content
  padding: 0px 0px 150px 0px
  position: relative
  min-width: 1000px
  margin: 0 auto
  overflow: auto

  #flash
    position: absolute
    left: 50%
    top: 150px
    width: 400px
    margin-left:  -200px

  #sidebar
    float: left
    margin-right: 20px
    margin-left: 10px
    border-top: 1px solid #ddd

  #active-content
    margin-left: 200px
    #title
      overflow: hidden
      border-bottom: 2px solid #DFE8F3
      margin: 0 0 20px 0
      padding-bottom: 10px

    #accordion_wrapper
      float: left
      margin: 0 1% 0 0%
      width: 470px

    #charts_wrapper
      margin: 0 10px 0 520px
      height: 480px

#loading
  position: fixed
  top: 0px
  background-color: red
  padding: 5px 20px
  left: 48%
  z-index: 999

body#outside-model #flash
  top: 95px
