//
//     +html/body/#main-----------------------------------------------------------------+
//     |+header------------------------------------------------------------------------+|
//     ||                                                                              ||
//     ||  () ENERGY TRANSITION MODEL                                                  ||
//     ||                                                                              ||
//     |+------------------------------------------------------------------------------+|
//     |+#sidebar------++#active-content-----------------------------------------------+|
//     ||float:left    ||margin-left: w1                                               ||
//     ||width: w1     ||+#title------------------------------------------------------+||
//     ||              |||                                                            |||
//     ||              |||                                                            |||
//     ||              ||+------------------------------------------------------------+||
//     ||              ||+------------------------++----------------------------------+||
//     ||              |||float:left              ||margin-left: w2                   |||
//     ||              |||width: w2               ||                                  |||
//     ||              |||                        ||  (So: This width is fluid)       |||
//     ||              |||                        ||                                  |||
//     ||              |||                        ||                                  |||
//     ||              |||                        ||                                  |||
//     ||              ||+------------------------++----------------------------------+||
//     |+--------------++--------------------------------------------------------------+|
//     +--------------------------------------------------------------------------------+

html, body, #main, #wrapper, #content
  height: 100%
  background: #fff

body#outside-model #wrapper
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0 auto -160px

#wrapper
  min-width: 1170px
  width: 100%
  position: relative
//separate model from pages
* html body#model #wrapper
  height: 100%
  overflow: visible

#outside-model #content
  margin: 0 10px

#content
  position: relative
  min-width: 1000px

  #sidebar
    float: left
    min-height: 100%
    width: 209px

  #active-content
    margin-left: 230px
    padding-bottom: 155px
    #title
      overflow: hidden

    #accordion_wrapper
      float: left
      width: 440px

    #charts_wrapper
      margin: 0 10px 0 470px
      min-height: 480px
