$body_font_family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif

body
  margin: 0
  font: 13px/20px $body_font_family

h1
  line-height: 1em
img
  border-style: none
a
  color: #63A0C9

sub, sup
  line-height: 1

table.default
  border: 0
  border-collapse: collapse
  thead
    th
      background: #5DA1CB
      border: 1px solid #528DC3
    a
      color: white
  td,th
    padding: 2px 4px
  td
    vertical-align: top
    border: 1px solid #ddd
  tr.odd
    td,th
      background-color: #eee

.tar
  text-align: right
.tal
  text-align: left
.tac
  text-align: center

.clear
  clear: both

.hidden
  display: none

