a.signin, a.settings, a.information, a.signout
  padding: 2px 10px 2px 20px

a.signin, a.settings, a.information
  position: relative
  margin-left: 1px

.header_menu
  @include border-radius(2px)
  background-color: #ffffff
  border: 1px solid #dfe8f3
  display: none
  font-size: 13px
  line-height: 23px
  margin-right:  0px
  margin-top: 5px
  padding: 12px
  position: absolute
  text-align: left
  top: 26px
  left: 21px
  width: 210px
  z-index: 3000
  color: #666

  .arrow
    z-index: 3000
    height: 0
    position: absolute
    top: -20px
    width: 0
    border: 10px solid transparent
    border-bottom-color: #fff

  ul
    padding: 0
    li
      list-style-type: none
      margin: 0px
      padding: 0px
      clear: both
      float: left
      display: block
      width: 190px
      a
        display: block
        width: 100%
        text-decoration: none
      a:hover
        text-decoration: underline

#information_menu
  .arrow
    left: 79px

#settings_menu
  div, form
    float: right
  form#toggle_track_peak_load
    float: left
  .arrow
    left: 117px

#signin_menu
  input[type=text], input[type=password]
    display: block
    @include border-radius(4px)
    border: 1px solid #ACE
    font-size: 13px
    margin: 0 0 5px
    padding: 5px
    width: 203px
    p
      margin: 0
      .remember
        padding: 10px 0
      .forgot,.complete
        clear: both
        margin: 5px 0

    label
      font-weight: normal
  .arrow
    left: 41px
