a.signin, a.settings, a.information, a.signout
  padding: 2px 10px 2px 20px

a.signin, a.settings, a.information
  position: relative
  margin-left: 1px

.header_menu
  background-color: #ffffff
  background-clip: padding-box
  border: 1px solid #cfd8e2
  border-color: rgba(0,0,0,0.1)
  border-radius: 3px
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2)
  display: none
  font-size: 13px
  line-height: 23px
  margin-right:  0px
  margin-top: 5px
  padding: 12px
  position: absolute
  text-align: left
  top: 26px
  left: 21px
  width: 210px
  z-index: 3000
  color: #666

  .arrow
    z-index: 3000
    height: 0
    position: absolute
    top: -20px
    width: 0
    border: 10px solid transparent
    border-bottom-color: #fff

  ul
    padding: 0
    li
      list-style-type: none
      margin: 0px
      padding: 0px
      clear: both
      float: left
      display: block
      width: 210px
      a
        display: block
        width: 100%
        text-decoration: none
        &:hover
          text-decoration: underline
        &.wait
          color: #e3eef4
          cursor: wait
          &:hover
            text-decoration: none

#information_menu

#settings_menu
  div, form
    float: right
  form#toggle_track_peak_load
    float: left

  .language
    border-top: 1px solid #dce3eb
    border-bottom: 1px solid #dce3eb
    padding: 5px 12px
    margin: 7px -12px
    background: #f4f6fa
    width: 210px

    select
      float: right
      margin-right: 0

  .merit
    border-top: 1px solid #ddd
    margin: 5px 0 0
    padding-top: 8px

    input
      font-size: 16px
      margin-left: 0
      margin-right: 0
      vertical-align: baseline

#signin_menu
  input[type=text], input[type=password]
    display: block
    @include border-radius(4px)
    border: 1px solid #ACE
    font-size: 13px
    margin: 0 0 5px
    padding: 5px
    width: 203px
    p
      margin: 0
      .remember
        padding: 10px 0
      .forgot,.complete
        clear: both
        margin: 5px 0

    label
      font-weight: normal
