header#top
  padding: 11px 0 8px
  background-color: #66A2CA
  border-top: 1px solid #89b2d3
  border-bottom: 1px solid #416d96
  @include background(linear-gradient(top, #77add6, #4e8bbe))
  @include box-shadow(0 1px 2px rgba(10, 10, 10, 0.25))
  min-width: 960px
  position: relative

  #header_inside
    margin: 0 auto
    padding: 0 10px
    height: 54px
    position: relative

    .root_link
      display: block
      margin: 0 0 0 10px
      width: 500px

      img
        top: 0px
        left: 15px
        position: absolute

    nav#language
      position: absolute
      right: 210px
      top: 27px
      z-index: 21
      a
        padding-left: 20px
      a.en
        background: url("/assets/icons/gb.png") left center no-repeat
      a.nl
        background: url("/assets/icons/nl.png") left center no-repeat

  #notice_bar
    position: absolute
    z-index: 103
    top: 0
    left: 0
    color: white
    font-size: 14px
    background: #CC0000
    width: 100%
    text-align: center
    .hidden
      display: none
    div
      height: 20px
      &.fce_notice
        background-color: #CC3333
        a
          color: #fff
          text-decoration: underline
          &:hover
            text-decoration: none

  .sub-nav
    float: right
    list-style: none
    margin: 14px 0 0 0
    padding: 0
    > li
      float: left
      font-size: 13px
      font-weight: normal
      padding: 0
      margin: 0 0 0 -2px
      position: relative
      > a
        display: block
        color: #dbe9f3
        text-decoration: none
        font-weight: bold
        text-shadow: 0 1px 0 #2d6aac
        margin-right: 5px
        &:hover
          color: white
      a.menu_toggler
        background: url("/assets/header/toggle_down.png") right 6px no-repeat
        padding-right: 18px
        &:hover
          background-position: right -44px
        &.menu-open
          background-position: right -94px
          color: white
        @include hidpi
          background-size: 12px 139px
          background-position: right -69px
          &:hover
            background-position: right -94px
          &.menu-open
            background-position: right -119px

  .scenario_info
    font-size: 11px
    font-weight: normal
    &:before
      content: "("
      color: #aacfea
      margin-right: -0.1em
    &:after
      content: ")"
      color: #aacfea
      margin-left: -0.2em
    img
      margin-bottom: -1px

  .header_logo
    overflow: hidden
    float: left
    margin-top: 7px
    margin-left: 20px

#searchform
  float: right
  margin: 0
  padding: 0 10px 0 0
  display: inline
  font-size: 12px

  fieldset
    display: inline

  .btn-search
    border-radius: 0
    float: left
    background: url(/assets/header/search.png) no-repeat
    width: 19px
    height: 25px
    border: none
    padding: 0

  .text
    float: left
    background: url(/assets/header/search.png) no-repeat right
    width: 131px
    height: 25px
    @include hidpi
      background-image: url(/assets/header/search-hidpi.png)
      background-size: 300px 25px

    input
      background: none
      border: none
      color: #cbe2f3
      line-height: 16px
      padding: 3px 4px
      float: left
      text-shadow: 0 1px 0 #255e9d
      width: 123px
      outline: 0
      height: 19px

      &::-webkit-input-placeholder
        color: #cbe2f3
      &:-moz-placeholder
        color: #cbe2f3
