#start, #information
  padding: 10px
  h1
    font: $title_font

#start
  float: left
  width: 35%
  border-right: 1px solid #CCC
  select
    float: left
    margin-right: 5px
  p
    padding-right: 10px
  p.nodownloads
    color: #666
    margin: 8px 0
  h3
    float: left
    color: #224368
    margin-bottom: 4px
    margin-top: 4px

  ul
    list-style-type: none

  ul, li
    padding: 0
    margin: 0

  li
    padding: 2px 0
    float: left
    clear: both
    width: 100%
    padding-top: 5px
    ul
      li
        padding-top: 3px
        label:
          width: 100%
          line-height: 1em
        input
          float: left
          line-height: 1em
        span
          color: #000
          font-size: 12px
          float: left
          line-height: 1em
          small
            color: #999
        img
          float: left
          line-height: 1em
          margin: 2px 5px 0px 0px
        &.disabled
          color: #999

  label input
    margin-right: 8px
    vertical-align: bottom
    margin-bottom: 3px

  button.button
    float: right
    margin: 0

  #year_forms
    float: left

  #go_button
    display: none
    float: right
    margin-bottom: 120px

  #description_container
    margin-top: 10px
    margin-right: 10px
    color: #999
    span
      color: #999
      font-size: 12px
    img
      float: left
      margin: 10px
      v-align: top
    .description
      display: none
      .en, .nl
        display: none

  .style_button
    float: left
    clear: both
    margin: 15px 0 0 10px
    width: 313px
    color: black
    text-decoration: none
    border: 1px solid #ddd
    display: block
    padding: 8px
    @include border-radius(4px)
    border-bottom: 4px solid #ddd
    @include background(image-url("pages/home/home_button_arrows.png"))
    background-repeat: no-repeat
    background-position: right center

  ul#new_scenario_form, ul#existing_scenario_form
    clear: both
    float: left
    display: none
    width: 304px
    margin-left: 20px
    margin-top: 15px
    h3
      width: 100%
    select
      margin-top: 5px

#information
  float: right
  width: 60%
  .movie_tabs
    height: 30px
    margin: auto
    width: 512px
    margin-top: 30px

    ul, li
      padding: 0
      margin: 0

    ul
      font-size: 13px
      margin: 0px auto 0 auto
      width: 512px
      list-style: none outside none
      li
        float: left
        padding-bottom: 8px
        margin-right: 15px
        height: 28px
        a
          float: left
          color: #333
          border: 2px solid #dfe8f3
          border-bottom: 0px
          padding: 4px 10px 4px 10px
          background: #dfe8f3
          text-decoration: none
          &:hover
            background: #fff
            margin: 0
      li:hover
        cursor: pointer
      li.active
        background: #fff
      li.active a
        background: #fff
        margin: 0

  #movie_content
    margin: -2px auto 0 auto
    width: 512px
    height: 289px
    border: 2px solid #dfe8f3
    padding: 15px
    padding-bottom: 15px

  .movie_shadow
    margin: -1px auto 20px auto
    width: 512px
    height: 5px
    background: image-url("pages/home/movie_shadow.png") bottom center no-repeat

input
  font-family: inherit

.movie_container
  border: 1px solid #ccc
  margin: 0 auto 20px auto
  width: 450px
  .movie_title
    display: block
    background-color: #000
    color: #fff
    padding: 2px 10px
  a
    padding: 0 10px 5px 10px

