#house_selection
  float: left
  height: 680px
  width: 770px
  padding: 20px
  overflow-x: hidden
  overflow-y: auto

  h1
    margin-top: 10px
    margin-bottom: 5px
  h2
    float: left
    clear: both
    display: block 
    margin: 0px
    padding: 0px
    font-size: 9pt

  div.tabs
    float: left
    width: 750px
    margin-top: 0px
    ul
      margin : 0 0 -2px 0
      
    ul li
      padding-bottom: -1px
      
  div.content
    float: left
    clear: both
    height: 620px
    width: 730px
    margin: -2 auto 0 auto
    border: 2px solid #dfe8f3
    padding: 0px 15px 15px 15px
    overflow: hidden
    
    .left_block
      margin-right: 10px
      
    .left_block, .right_block
      border: 2px solid #dfe8f3
      width: 355px
      height: 395px
      float: left
      margin-top: 15px
      margin-bottom: 10px

      div
        width: 330px
        padding: 0 10px
        float: left
    .bottom
      background: url(/images/layout/flat_arrow.png) 50% top no-repeat 
      width: 705px
      padding: 10px
      float: left
      clear: both
      border: 2px solid #dfe8f3
      margin-right: 15px
      p
        float: left
        clear: both
        width: 100%
      div
        float: left
        width: 350px
        p
          display: block
      h1
        padding: 0px
        margin-top: 0px
    .pick_label
      float: left
      height: 70px
      width: 700px
      margin-top: -10px

      li:hover
        color: #000
        cursor: pointer
      small
        font-size: 12pt

      li
        float: left
        width: 50px
        height: 30px
        padding-top: 40px
        margin: 0 15px
        list-style: none
        color: #fff
        font-size: 16pt
        text-align: center
      li#label_aaa
        background: url(../images/layout/label_aaa.png) no-repeat top
      li#label_aa
        background: url(../images/layout/label_aa.png) no-repeat top
      li#label_a
        background: url(../images/layout/label_a.png) no-repeat top
      li#label_b
        background: url(../images/layout/label_b.png) no-repeat top
      li#label_c
        background: url(../images/layout/label_c.png) no-repeat top
      li#label_d
        background: url(../images/layout/label_d.png) no-repeat top
      li#label_e
        background: url(../images/layout/label_e.png) no-repeat top

    li 
      list-style: none
  
  div.label_description_wrapper
    float: left
    clear: both
    height: 415px
    width: 692px
    margin: 0 auto
    border: 2px solid #dfe8f3
    padding: 15px   
    
    div.label_description
      height: 415px
      width: 692px
    div.button
      clear: both
      padding: 5px 10px
      margin-top: 40px

  div.button
    float: left
    background: none repeat scroll 0 0 #63A1C9
    border: 1px solid black
    padding: 5px 10px
    margin-top: 50px
    margin-right: 10px
    a
      font-size: 13pt
      color: #fff
      text-decoration: none
      margin: auto
  div.new_button
    margin-top: 9px
    margin-right: 2px
    
  div.label_aaa
    background: url(../images/layout/big_label_aaa.png) no-repeat bottom right
  div.label_aa
    background: url(../images/layout/big_label_aa.png) no-repeat bottom right
  div.label_a
    background: url(../images/layout/big_label_a.png) no-repeat bottom right
  div.label_b
    background: url(../images/layout/big_label_b.png) no-repeat bottom right
  div.label_c
    background: url(../images/layout/big_label_c.png) no-repeat bottom right
  div.label_d
    background: url(../images/layout/big_label_d.png) no-repeat bottom right
  div.label_e
    background: url(../images/layout/big_label_e.png) no-repeat bottom right
  div
    p
      float: left
      clear: both
      margin-top: 0px
      margin-bottom: 5px
#house_selection div.content .middle h2
  margin-top: 5px
  margin-bottom: 3px
