#info_box
  position: absolute
  top: 170px
  right: 0
  margin: 0 5px
  z-index: 10000001
  text-align: center
  #flag
    display: inline
    padding: 0 10px
    border-right: 2px solid #DFE8F3
  #year
    display: inline
    padding: 0 10px
