.slider-row, .new-input-slider, .valuees {
  position: relative; }

.valuees div.slider {
  float: left;
  width: 100%;
  display: block; }

.new-input-slider {
  z-index: 10; }
  .new-input-slider .slider-row {
    min-height: 22px;
    overflow: hidden; }
  .new-input-slider label, .new-input-slider .sublabel, .new-input-slider .reset, .new-input-slider .decrease, .new-input-slider .quinn, .new-input-slider .increase, .new-input-slider .output, .new-input-slider .show-info, .new-input-slider .prediction {
    display: block;
    float: left;
    text-align: left;
    min-height: 22px;
    margin-bottom: 5px; }
  .new-input-slider label {
    line-height: 15px;
    width: 127px; }
  .new-input-slider .slider-controls {
    float: right; }
  .new-input-slider .quinn {
    width: 120px; }
  .new-input-slider .sublabel {
    font-size: 10px;
    color: #666666;
    background: white;
    position: absolute;
    right: 260px; }
  .new-input-slider .prediction {
    background: url(/assets/icons/expert.png) no-repeat;
    background-position: top right;
    width: 24px;
    min-height: 22px;
    position: absolute;
    right: 290px; }
  .new-input-slider .prediction:hover {
    background-position: top left; }
  .new-input-slider .reset, .new-input-slider .decrease, .new-input-slider .increase, .new-input-slider .show-info {
    background: url(/assets/slider/buttons.png) no-repeat;
    cursor: pointer;
    margin-left: 4px;
    width: 20px; }
  .new-input-slider .reset {
    background-position: 0px 2px;
    margin-left: 0;
    min-height: 21px;
    width: 21px; }
    .new-input-slider .reset:hover {
      background-position: 0px -28px; }
    .new-input-slider .reset:active {
      background-position: 0px -58px; }
    .new-input-slider .reset.disabled {
      background-position: 0px -88px;
      cursor: default; }
  .new-input-slider .decrease {
    background-position: -30px 2px; }
    .new-input-slider .decrease:hover {
      background-position: -30px -28px; }
    .new-input-slider .decrease:active {
      background-position: -30px -58px; }
    .new-input-slider .decrease.disabled {
      background-position: -30px -88px;
      cursor: default; }
  .new-input-slider .increase {
    background-position: -60px 2px;
    margin-left: 0;
    margin-right: 5px; }
    .new-input-slider .increase:hover {
      background-position: -60px -28px; }
    .new-input-slider .increase:active {
      background-position: -60px -58px; }
    .new-input-slider .increase.disabled {
      background-position: -60px -88px;
      cursor: default; }
  .new-input-slider .show-info {
    background-position: -90px 2px; }
    .new-input-slider .show-info:hover {
      background-position: -90px -28px; }
    .new-input-slider .show-info:active {
      background-position: -90px -58px; }
    .new-input-slider .show-info.disabled {
      background-position: -90px -88px;
      cursor: default; }
  .new-input-slider .output {
    text-align: right;
    width: 73px; }
  .new-input-slider .info-wrap {
    border: 1px solid white;
    display: none;
    margin: -1px; }
  .new-input-slider .info {
    background: #eeeeee;
    clear: both;
    float: left;
    font-size: 12px;
    line-height: 18px;
    margin: 5px 0 20px;
    padding: 12px 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
  .new-input-slider.info-box-visible .show-info {
    background-position: -120px 2px; }
    .new-input-slider.info-box-visible .show-info:hover {
      background-position: -120px -28px; }
    .new-input-slider.info-box-visible .show-info:active {
      background-position: -120px -58px; }
    .new-input-slider.info-box-visible .show-info.disabled {
      background-position: -120px -88px;
      cursor: default; }
  .new-input-slider label, .new-input-slider .output {
    font-size: 12px;
    padding-top: 1px;
    min-height: 21px; }
  .new-input-slider .reset, .new-input-slider .decrease, .new-input-slider .increase {
    visibility: hidden; }
  .new-input-slider .slider-row:hover .reset, .new-input-slider .slider-row:hover .decrease, .new-input-slider .slider-row:hover .increase {
    visibility: visible; }
  .new-input-slider .slider-row:hover .sublabel {
    display: none; }
  .new-input-slider .value-selector {
    border: 1px solid #bbbbbb;
    border-top-color: #cccccc;
    border-bottom-color: #aaaaaa;
    background: #f0f0f0;
    background: -webkit-linear-gradient(white, #f0f0f0);
    background: -moz-linear-gradient(white, #f0f0f0);
    background: -o-linear-gradient(white, #f0f0f0);
    display: none;
    top: -27px;
    right: 5px;
    line-height: 1;
    padding: 20px;
    position: absolute;
    z-index: 5000;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
    .new-input-slider .value-selector form {
      background: white;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      border: 1px solid #cccccc;
      border-top-color: #bbbbbb;
      -moz-box-shadow: inset 0 1px 1px #dddddd, 0 1px 0 white;
      -webkit-box-shadow: inset 0 1px 1px #dddddd, 0 1px 0 white;
      box-shadow: inset 0 1px 1px #dddddd, 0 1px 0 white;
      height: 27px; }
    .new-input-slider .value-selector input, .new-input-slider .value-selector select, .new-input-slider .value-selector button, .new-input-slider .value-selector .conversion {
      float: left;
      line-height: 1; }
    .new-input-slider .value-selector input {
      background: transparent;
      border: none;
      font-size: 12px;
      margin: 0;
      padding: 6px 12px 6px 5px;
      text-align: right;
      width: 100px; }
      .new-input-slider .value-selector input:focus {
        outline: none; }
      .new-input-slider .value-selector input:disabled {
        color: #999999;
        -webkit-text-fill-color: #999999; }
    .new-input-slider .value-selector select {
      background: transparent;
      border: none;
      display: none; }
    .new-input-slider .value-selector .conversion {
      background: url(/assets/slider/vselect-drop.png) right 11px no-repeat;
      cursor: pointer;
      color: #777777;
      font-size: 12px;
      margin-left: -9px;
      margin-right: 12px;
      padding: 7px 12px 6px 0;
      position: relative;
      text-transform: uppercase;
      overflow: hidden; }
      .new-input-slider .value-selector .conversion:hover {
        background: url(/assets/slider/vselect-drop.png) right -39px no-repeat;
        color: #444444; }
      .new-input-slider .value-selector .conversion select {
        cursor: pointer;
        display: inline;
        position: absolute;
        margin: 5px 0 0 0;
        top: 0;
        left: -50%;
        opacity: 0;
        filter: alpha(opacity=0); }
    .new-input-slider .value-selector button {
      border: 1px solid #4a7b9e;
      border-bottom-color: #3c6582;
      -moz-border-top-right-radius: 3px;
      -moz-border-bottom-right-radius: 3px;
      -webkit-border-top-right-radius: 3px;
      -webkit-border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      background: #649ec6;
      background: -webkit-linear-gradient(#7eb9e0, #518ab4);
      background: -moz-linear-gradient(#7eb9e0, #518ab4);
      background: -o-linear-gradient(#7eb9e0, #518ab4);
      -moz-box-shadow: inset 0 1px 0 #6fadda;
      -webkit-box-shadow: inset 0 1px 0 #6fadda;
      box-shadow: inset 0 1px 0 #6fadda;
      color: white;
      cursor: pointer;
      font-size: 11px;
      text-shadow: 0 -1px 0 #3c6582;
      text-transform: uppercase;
      line-height: 14px;
      margin: -1px;
      padding: 7px 10px 6px; }
      .new-input-slider .value-selector button::-moz-focus-inner {
        border: 0;
        padding: 0; }
      .new-input-slider .value-selector button:active {
        border-color: #3c6582;
        background: #467da9;
        background: -webkit-linear-gradient(#71afdb, #467da9);
        background: -moz-linear-gradient(#71afdb, #467da9);
        background: -o-linear-gradient(#71afdb, #467da9);
        -moz-box-shadow: inset 0 3px 6px #48789a;
        -webkit-box-shadow: inset 0 3px 6px #48789a;
        box-shadow: inset 0 3px 6px #48789a; }
