#grid_investment_needed_container
  width: 960px
  height: 630px
  #image_holder
    position: relative
  .locator
    position: absolute

  #locator_hv
    left: 402px
    top: 288px

  #locator_hv-mv
    left: 414px
    top: 172px

  #locator_mv
    left: 188px
    top: 202px

  #locator_mv-lv
    left: 207px
    top: 117px

  #locator_lv
    left: 26px
    top: 131px
