body#predictions_index
  padding: 30px

  ul
    padding: 0px
    margin: 0px
    list-style: none

  .prediction
    font-size: 12px
    width: 880px
    height: 650px
    padding: 8px

    .jqplot-y2axis
      padding-left: 10px
      width: 50px !important
      color: #000000
      text-align: right
    .jqplot-xaxis
      padding-top: 10px

    h1
      font-size: 26px
      line-height: 28px
      padding: 0px 0px 5px
      margin: 0px
      border-bottom: 2px solid #aaa
      span
        float: right
        padding-top: 10px
        font: 12px/14px $body_font_family
        color: #aaa
    div.help_link
      position: absolute
      top: 0px
      right: 20px
      padding-top: 18px
      padding-left: 20px
      background: url(/assets/layout/ico-questionmark.png) left 13px  no-repeat
      a
        color: #aaa
        text-decoration: none
      a:hover
        text-decoration: underline

    .upper_block
      height: 220px
      padding: 20px 0px
      h2.chart_title
        width: 400px
        height: 20px
        float: left
        font-size: 12px
      .chart
        width: 400px
        height: 180px
        float: left
      .available_predictions
        width: 470px
        height: 200px
        float: left
        ul
          li.clickable_prediction
            cursor: pointer

          li.active
            color: #fff
            background: url('/assets/backcasting/bg-prediction-active.png') no-repeat
          li
            font-size: 12px
            width: 356px
            height: 32px
            padding: 6px
            margin: 8px 0 0
            color: #000
            background: url('/assets/backcasting/bg-prediction.png') no-repeat
            .colour
              float: left
              width: 45px
              height: 5px
              padding-top: 8px
            span
              width: 42%
              float: left
              font: 12px/14px $body_font_family
            span.right_align
              width: 25%
              padding-right: 17%
              text-align: right
            a.edit
              color: #000
              text-decoration: none
          li:hover
            background: url('/assets/backcasting/bg-prediction-active.png') no-repeat
            color: #FFF

    .prediction_details
      float: left
      clear: both
      margin-top: 20px
      width: 870px

      h1
        font: italic 20px/22px $body_font_family
      #share_box
        display: none
        input
          padding: 3px
          font-size: 14px

    .buttons
      float: left
      padding: 15px 0
      button, input[type=button]
        cursor: pointer
        float: right
        background-color: #63A1C9
        border: 1 px
        padding: 5px 10px
        color: white
        font-size: 10px
        margin-right: 10px
    .buttons.right
      float: right
      button
        margin-right: 0px

    .expert_avatar
      float: left
      clear: both
      width: 54px
      height: 70%
      margin: 5px 0 0 0
      padding-right: 10px
      background: url('/assets/backcasting/bg-prediction-speechbox.png') no-repeat center right
      img
        height: 54px
        border: 1px solid #CCC

    .description
      float: right
      width: 786px
      padding: 10px
      font: italic
      line-height: 20px
      background-color: #F0F0F0
      a
        color: #63A1C9
        text-decoration: none
      a:hover
        text-decoration: underline
    .connector
      float: right
      width: 806px
      height: 13px
      background: url('/assets/backcasting/bg-prediction-connector.png') no-repeat top center
    .measures
      float: right
      width: 786px
      padding: 10px
      background-color: #F0F0F0

      i
        float: left
        margin-bottom: 5px
      ul
        float: left
        width: 786px
        &.even
          background-color: #E4E4E4
        &.odd
          background-color: #F0F0F0

        li
          float: left
          font-size: 12px
          padding: 7px
          vertical-align: top
        li.years
          float: right
        li.name
          width: 75%
        li.inline_description
          display: none
          font-size: 11px
          font-style: italic
      .measure
        cursor: pointer
      .more_info,.measure.active:hover .more_info
        clear: both
        width: 18px
        height: 18px
        background: url('/assets/backcasting/bg-prediction-readmore.png') no-repeat
        cursor: pointer
      .measure:hover,.measure.active
        .more_info
          background: url('/assets/backcasting/bg-prediction-readmore-active.png') no-repeat

      .share
        margin-top: 10px
        float: right
    .input label
      width: 60px
      float: left
  .footer_spacer
    clear: both
    float: left
    height: 100px
    width: 100%
@import comments
