@import 'normalize'
@import compass/css3/border-radius
@import compass/css3/images
@import compass/css3/box-shadow

html
  background: image-url("pages/root/titles.png")
  margin: 0 0 0 0
  padding: 0 0 0 0

body
  font-family: Gill Sans, Lucida Grande, Verdana, Arial, Helvetica, sans-serif
  text-rendering: optimizelegibility
  line-height: 1.7em
  font-weight: 200
  background: image-url("pages/root/sky_and_sea.png") center 305px repeat-x
  margin: 0 0 0 0

  strong
    font-weight: 400

  a
    text-decoration: none
    color: #4287BB
    font-weight: 400
    cursor: pointer

  a:hover
    text-decoration: underline

  a:visited
    color: #4287BB

#root
  min-height: 100%
  min-width: 980px
  overflow: hidden

#wattnu_en, #wattnu_nl
  position: absolute
  right: 0
  top: -1px
  height: 250px
  width: 300px
  display: block
  text-indent: -9999px
  z-index: 11

#wattnu_en
  background: image-url("pages/root/wattnu_en.png") top right no-repeat

#wattnu_nl
  background: image-url("pages/root/wattnu_nl.png") top right no-repeat

header
  padding: 11px 0 9px
  background-color: #66A2CA
  border-top: 1px solid #89b2d3
  border-bottom: 1px solid #416d96
  @include background(linear-gradient(top, #77add6, #4e8bbe))
  @include box-shadow(0 1px 2px rgba(10, 10, 10, 0.25))
  min-width: 960px
  position: relative

  #header_inside
    width: 960px
    height: 53px
    margin: 0 auto
    position: relative

    h3

    nav#language
      position: absolute
      right: 210px
      top: 15px
      z-index: 21
      a
        padding-left: 20px
      a.en
        background: image-url("icons/areas/gb.png") left center no-repeat
      a.nl
        background: image-url("icons/areas/nl.png") left center no-repeat

#main
  width: 960px
  margin: 0 auto

  #screenshots
    background: image-url("pages/root/showcase.png") bottom center no-repeat
    height: 317px
    width: 1500px
    position: relative
    left: -270px

    .screenshot
      position: absolute

    .screenshot:hover, .active-screenshot
      opacity: 0.8
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"
      filter: alpha(opacity=80)

    #etmodel
      width: 298px
      height: 187px
      background: image-url("pages/root/screenshot_etm.png") left top no-repeat
      top: 94px
      left: 602px

    #etmodel:active
      top: 95px

    #etflex
      width: 310px
      height: 203px
      background: image-url("pages/root/screenshot_etflex.png") left top no-repeat
      top: 87px
      left: 274px

    #etflex:active
      top: 88px

    #mixer
      width: 300px
      height: 202px
      background: url("pages/root/screenshot_mixer.png") left top no-repeat
      top: 87px
      left: 917px

    #mixer:active
      top: 88px

  h1
    font-size: 48px
    margin: 55px 0
    font-family: Georgia, 'Times New Roman'
    font-weight: normal
    line-height: 1.2em

  h2
    font-size: 32px
    border-bottom: 1px solid #333
    margin-top: 20px
    padding-bottom: 15px
    font-family: Georgia, 'Times New Roman'
    font-weight: normal
    line-height: 1.2em


  #products
    list-style-type: none
    float: left
    padding: 0 0 0 0

    h2
      font-size: 28px
      text-align: center
      margin-bottom: 10px

    .product
      float: left
      position: relative

    .product > a
      width: 290px
      color: inherit
      padding: 10px 15px 30px
      text-decoration: none
      font-weight: 200
      float: left

    .product:hover, .active-product
      background: rgba(255, 255, 255, 0.65)
      @include border-radius(4px)

    .product:active
      top: 1px

    ul.specs
      list-style-type: none
      margin: 0 0 0 0
      margin-bottom: 15px
      padding: 0 0 0 0
      font-style: italic

      li
        margin-left: 80px
        padding: 10px 0 3px 40px
        line-height: 2em

      .time
        background: image-url("pages/root/clock.png") left center no-repeat

      .options
        background: image-url("pages/root/options.png") left center no-repeat

footer
  color: #fff
  text-align: center
  margin-top: 100px
  padding: 50px 0
  border-top: 1px solid #333
  background: image-url("pages/root/dark_titles.png")

  @include box-shadow(0 0 5px rgba(10, 10, 10, 0.5))

  p
    width: 960px
    margin:  0 auto

footer, header
  a, a:visited
    color: white
    font-weight: inherit
    text-decoration: underline
  a:hover
    text-decoration: none

.clear
  clear: both
