.region-flag
  background-position: 0 1px
  background-repeat: no-repeat
  display: inline-block // Fixes blurred background image in Chrome.
  &.be, &.br, &.de, &.dk, &.es, &.eu, &.fr, &.nl, &.nl2019, &.pl, &.uk
    padding-left: 28px
  &.be
    background-image: asset-url("flags-24/be.png")
  &.br
    background-image: asset-url("flags-24/br.png")
  &.de
    background-image: asset-url("flags-24/de.png")
  &.dk
    background-image: asset-url("flags-24/dk.png")
  &.es
    background-image: asset-url("flags-24/es.png")
  &.eu
    background-image: asset-url("flags-24/eu.png")
  &.fr
    background-image: asset-url("flags-24/fr.png")
  &.nl
    background-image: asset-url("flags-24/nl.png")
  &.nl2019
    background-image: asset-url("flags-24/nl.png")
  &.pl
    background-image: asset-url("flags-24/pl.png")
  &.uk
    background-image: asset-url("flags-24/uk.png")
