table.compare_scenarios
  border-collapse: collapse
  tr.header th
    background-color: #ffd7a1
    border: 1px solid white
  th.tab, th.sidebar_item, th.slide, th.slider, td.cell
    text-align: right
  th.tab
    background: #ccc
  th.sidebar_item
    background: #ddd
  th.slide
    background: #eee
  td.cell
    border: 1px solid #eee

// used to highlight scenarios that belong to students
table.default
  tr.highlight
    td
      background: rgb(255, 204, 51) // The Fallback for IE < 9
      background-color: rgba(255,204,51, 0.4)
  tr.unavailable
    color: #aaa

// Used on scenario index/new/show pages
.background_wrapper#saved_scenario
  background: $landing-background-color
  padding: 40px 0 110px 0
  min-height: 100%
  height: max-content

.scenario_wrapper
  &#index
    padding: 5px 20px 110px 20px

  &#show_scenario, &#feature_scenario
    width: $landing-width
    margin: 0 auto 3rem
    background: white
    border: 1px solid $landing-border-color
    border-bottom-color: darken($landing-border-color, 5%)
    border-top-color: $landing-gold
    border-top-width: 2px
    box-shadow: 0 3px 5px rgba(50, 71, 93, 0.06), 0 1px 3px rgba(0, 0, 0, 0.04)
    border-radius: 4px
    padding: 15px 40px

    .warning
      margin-top: 10px
      padding: 5px 10px
      background-color: rgba(255,0,0,0.1)
      border: 1px solid #f00
      border-radius: 5px

    h1
      margin-bottom: 0.5em
      sub
        line-height: 0

    .actions
      display: flex
      a
        text-decoration: none
        margin: 0.5rem 0.5rem 1rem 0
        &:hover
          color: darken(#63A0C9, 20%)
      .dot
        margin: 1rem 0.5rem 1rem 0
        font-size: 6px
        color: #63A0C9

    input, textarea
      box-sizing: border-box

    .button
      background: #eee
      background: linear-gradient(lighten(#eee, 7%), #eee)
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1)
      border: none
      border-radius: 3px
      cursor: pointer
      font-size: 1rem
      font-weight: bold
      text-align: center
      text-shadow: none
      padding: 10px 15px
      margin: 0.5rem 0.5rem 1rem 0
      -webkit-font-smoothing: antialiased
      &.save
        background: $landing-green
        background: linear-gradient(lighten($landing-green, 10%), $landing-green)
        color: white
        &:hover
          background: linear-gradient(lighten($landing-green, 14%), lighten($landing-green, 7%))
        &:active
          background: linear-gradient(darken($landing-green, 1%), darken($landing-green, 7%))
      &.load
        background-color: $landing-blue
        background: linear-gradient(lighten($landing-blue, 10%), $landing-blue)
        color: white
        &:hover
          background: linear-gradient(lighten($landing-blue, 13%), lighten($landing-blue, 6%))
        &:active
          background: linear-gradient(darken($landing-blue, 1%), darken($landing-blue, 7%))
        &.dim
          background: linear-gradient(lighten($landing-blue, 25%), lighten($landing-blue, 18%))
      &.cancel
        &:hover
          color: lighten(black, 15%)
          background: linear-gradient(lighten(#eee, 9%), lighten(#eee, 2%))
        &:active
          background: linear-gradient(#eee, darken(#eee, 7%))

  &#show_scenario
    .title
      font-size: 30px
      width: 100%
      input
        width: 100%
        padding: 5px
        resize: none
        font-weight: bold
        margin: 5px 0 10px 0

    .description
      margin-bottom: 10px
      font-size: 14px
      line-height: 1.5em
      textarea
        width: 100%
        min-height: 100px
        padding: 5px
        resize: none
        font-size: 14px
        line-height: 1.5em

    ul.details
      display: flex
      padding-left: 0
      margin-top: 0
      li
        list-style: none
        padding-right: 8px
        color: #999
        strong
          color: initial

    .bar
      border-top: 1px solid #eee
      width: 100%
      margin-bottom: 10px

    .sharing-links
      display: flex
      color: #999
      a
        text-decoration: none
        font-weight: bold
        color: #999
        &:hover
          cursor: pointer
        .icon
          font-size: 20px
          margin-left: 15px

    .copy-box
      display: none
      position: absolute
      border: 1px solid rgba(0, 0, 0, 0.2)
      border-radius: 5px
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
      background-color: white
      color: #999
      padding: 0 5px 5px
      .arrow
        height: 0
        position: absolute
        top: -22px
        width: 0
        border: 11px solid transparent
        border-bottom-color: rgba(0, 0, 0, 0.2)
        &:before
          border: 10px solid transparent
          border-bottom-color: #fff
          content: ''
          position: absolute
          top: -8.5px
          left: -10px
      .cross
        float: right
        margin: 2px 0 2px
        &:hover
          cursor: pointer
      .url input
        width: 350px
        color: #333

    .note
      font-size: 10px

    .warning
      border-color: #de8383
      color: #9c2b2b
      margin-bottom: 0.5rem

  &#feature_scenario
    h2
      font-weight: normal
      color: #666
    .input
      margin-bottom: 1rem
      label
        box-sizing: border-box
        display: block
        font-size: 14px
        font-weight: 600
        margin: 0 0 0.5rem
        text-align: left
        width: 100%
        abbr
          display: none
      select
        min-width: 400px
        padding: 0.4rem 0.3rem
      input, textarea
        font-size: 14px
        line-height: 1.5
        padding: 0.5rem
        width: 100%
      textarea
        min-height: 200px
        max-height: 500px
    .unfeature-link
      display: inline-block
      color: #bd5252
      float: right
      font-size: 16px
      margin-top: 1rem
      text-decoration: none
      &:hover
        text-decoration: underline
    #unfeature
      background: #ffeded
      border-bottom-left-radius: 4px
      border-bottom-right-radius: 4px
      border-top: 2px solid #fcc
      margin: 15px -40px -15px
      padding: 15px 40px
      .confirm
        display: none
      h2
        color: #bd5252
      p, dl
        font-size: 14px
        line-height: 1.6
      p strong
        color: #bd5252
        display: block
        font-size: 16px
        font-weight: normal
      .button.save
        background: linear-gradient(#de8283, #bd5252)
        &:hover
          color: white
          background: linear-gradient(lighten(#de8283, 4%), lighten(#bd5252, 4%))
        &:active
          background: linear-gradient(darken(#de8283, 5%), darken(#bd5252, 5%))
      dl dt
        font-weight: bold
        margin-bottom: 0.25rem
      dl dd
        background: rgba(255, 255, 255, 0.5)
        margin: 0 0 1rem 0
        max-height: 200px
        overflow-y: auto
        padding: 0.5rem
        *:first-child
          margin-top: 0 !important
        *:last-child
          margin-bottom: 0 !important

  hr
    border: none
    border-bottom: 1px solid #ddd
    height: 1px
