table.compare_scenarios
  border-collapse: collapse
  tr.header th
    background-color: #ffd7a1
    border: 1px solid white
  th.tab, th.sidebar_item, th.slide, th.slider, td.cell
    text-align: right
  th.tab
    background: #ccc
  th.sidebar_item
    background: #ddd
  th.slide
    background: #eee
  td.cell
    border: 1px solid #eee

// used to highlight scenarios that belong to students
table.default
  tr.highlight
    td
      background: rgb(255, 204, 51) // The Fallback for IE < 9
      background-color: rgba(255,204,51, 0.4)

// Used on scenario index/new/show pages
.scenario_wrapper
  padding: 5px 20px 110px 20px
  
  &#show_scenario
    margin-right: 25%
    margin-left: 25%
    
  .warning
    margin-top: 10px
    padding: 5px 10px
    background-color: rgba(255,0,0,0.1)
    border: 1px solid #f00
    border-radius: 5px
