table.compare_scenarios
  border-collapse: collapse
  tr.header th
    background-color: #ffd7a1
    border: 1px solid white
  th.tab, th.sidebar_item, th.slide, th.slider, td.cell
    text-align: right
  th.tab
    background: #ccc
  th.sidebar_item
    background: #ddd
  th.slide
    background: #eee
  td.cell
    border: 1px solid #eee

// used to highlight scenarios that belong to students
table.default
  tr.highlight
    td
      background: rgb(255, 204, 51) // The Fallback for IE < 9
      background-color: rgba(255,204,51, 0.4)
  tr.unavailable
    color: #aaa

// Used on scenario index/new/show pages
.scenario_wrapper
  padding: 5px 20px 110px 20px

  &#show_scenario
    margin-right: 25%
    margin-left: 25%

  .warning
    margin-top: 10px
    padding: 5px 10px
    background-color: rgba(255,0,0,0.1)
    border: 1px solid #f00
    border-radius: 5px

  h1
    display: inline-block
    vertical-align: middle

  a.button
    display: inline-block
    margin: 15px 0 15px 15px
    float: right

  .sharing_links
    display: flex

    a
      text-decoration: none
      font-weight: bold
      color: grey
      &:hover
        cursor: pointer
      img
        width: 20px
        margin: 0 0 -3px 15px
      .icon
        font-size: 20px
        margin-left: 15px

  .copy_box
    position: absolute
    border: 1px solid rgba(0, 0, 0, 0.2)
    border-radius: 5px
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
    background-color: white
    color: grey
    padding: 0 5px 5px
    .arrow
      height: 0
      position: absolute
      top: -22px
      width: 0
      border: 11px solid transparent
      border-bottom-color: rgba(0, 0, 0, 0.2)
      &:before
        border: 10px solid transparent
        border-bottom-color: #fff
        content: ''
        position: absolute
        top: -8.5px
        left: -10px
    .cross
      float: right
      margin: 2px 0 2px
      &:hover
        cursor: pointer
    .url input
      width: 350px
      color: #333

  hr
    border: none
    border-bottom: 1px solid #ddd
    height: 1px
