#sidebar
  float: left
  margin-right: 20px
  border-top: 1px solid #ddd
  
  h4
    margin: 0 0 0 0
    border-bottom: 1px solid #ddd
    padding: 10px 0
    width: 190px
    cursor: pointer
  ul
    margin: 0
    padding: 0
    list-style: none
    border-bottom: 1px solid #ddd

    li
      padding: 0 0 0px
      overflow: hidden
      vertical-align: top
      position: relative

      a:hover, &.active a
        background: #63A1C9
        +border-radius(4px)
        color: #fff
        em
          background-position: 0px -25px
        span
          background: #fff
        span.bar
          background: #fff
        span.value
          color: #fff
          background: transparent none

      a
        float: left
        width: 180px
        color: #333
        text-decoration: none
        padding: 5px 0 5px 10px
        margin: 2px 0

        p
          float: left
          position: relative
          margin: 0 0 0 0

        span.bar
          float: left
          height: 5px
          background: #63a1c9
          margin: 5px 0 5px 0
          overflow: hidden
        span.value
          position: absolute
          top: 13px
          color: #000000
          font-size: 10px
          height: 10px
          width: 20px
          padding-left: 3px
          background: transparent none

        span.title
          position: relative
          float: left
          width: 180px
          background: transparent none
          margin: 0px
          overflow: visible
          line-height: 120%
          height: 16px
