@import jquery.qtip

body#topology, body#sankey
  position: relative
  #container
    width: 100%
    height: 100%
  #actions
    height: 30px
    background-color: #eeeeff
    position: fixed
    bottom: 0
    left: 0
body#sankey
  text.label
    font-family: Helvetica, Arial
    font-weight: bold
