@import jquery.qtip

#topology
  border: 1px solid black
  width: 95%
  height: 95%
  margin: 5px auto

  g.node
    rect
      stroke-width: 0.1
    text
      font-family: Helvetica, Arial
      font-size: 0.7

  path.link
    stroke-width: 0.1
    fill: none
    opacity: 0.8