@import jquery.qtip

#topology
  border: 1px solid black

  g.node
    rect
      stroke-width: 0.1
    text
      font-family: Helvetica, Arial
      font-size: 0.7

  path.link
    stroke-width: 0.1
    fill: none
    opacity: 0.8