%h1 PICO

%iframe#iframe2{src:"http://pico.geodan.nl/pico/minimap",
        title: "google",
        width: "500",
        height: "500" }


%iframe#iframe{src: "http://pico.geodan.nl/pico/map.html",
        title: "tweede",
        width: "500",
        height: "500" }

%iframe#selframe{src: "http://localhost:3000",
        title: "tweede",
        width: "500",
        height: "500" }


%p
  put in some content
  "span.link:nth-child(13)"
  "span.link:nth-child(13)"
