---
http_interactions:
- request:
    method: get
    uri: https://beta-engine.energytransitionmodel.com/api/v3/scenarios/648696.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b7e97da1d3ca9f335c40b89b8c8ce86b"
    body:
      encoding: ASCII-8BIT
      string: '{"id":648696,"title":"ETM Test Scenario","area_code":"nl","start_year":2015,"end_year":2050,"url":"https://beta-engine.energytransitionmodel.com/api/v3/scenarios/648696","ordering":null,"display_group":null,"scaling":null,"source":"ETM","template":null,"created_at":"2017-03-13T19:22:55.000Z","updated_at":"2019-05-08T14:15:24.000Z","read_only":true,"keep_compatible":true}'
  recorded_at: Tue, 16 Feb 2021 19:07:39 GMT
recorded_with: VCR 3.0.3
