---
http_interactions:
- request:
    method: get
    uri: https://beta-engine.energytransitionmodel.com/api/v3/areas/RES01_achterhoek.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e6bdcdc4d174042da36a3822ce1f4e74"
    body:
      encoding: ASCII-8BIT
      string: '{"area":"RES01_achterhoek","id":959,"parent_id":959,"group":"res","analysis_year":2016,"has_agriculture":true,"has_buildings":true,"has_climate":true,"has_coastline":false,"has_cold_network":false,"has_electricity_storage":true,"has_employment":true,"has_fce":true,"has_industry":true,"has_lignite":false,"has_merit_order":true,"has_metal":true,"has_mountains":false,"has_old_technologies":true,"has_other":true,"has_solar_csp":false,"has_import_export":true,"use_network_calculations":true,"use_merit_order_demands":true,"has_aggregated_chemical_industry":false,"has_detailed_chemical_industry":true,"has_coal_oil_for_heating_built_environment":false,"buildings_insulation_employment_constant":0.0093,"households_insulation_employment_constant":0.014,"co2_emission_1990_aviation_bunkers":4.6046,"co2_emission_1990_marine_bunkers":34.95619,"co2_percentage_free":0.85,"co2_price":0.0078,"ccs_cost_in_industry":90.0,"economic_multiplier":1.0,"employment_fraction_production":0.5,"employment_local_fraction":0.2,"man_hours_per_man_year":1800.0,"lv_net_spare_capacity":0.25,"lv_net_total_costs_present":11926346.86,"lv_net_costs_per_capacity_step":18320.0,"lv_net_capacity_per_step":0.02,"mv_net_spare_capacity":0.25,"mv_net_total_costs_present":10249204.33,"mv_net_costs_per_capacity_step":138000.0,"mv_net_capacity_per_step":0.2,"hv_net_spare_capacity":0.25,"hv_net_total_costs_present":6022805.165,"hv_net_costs_per_capacity_step":72800.0,"hv_net_capacity_per_step":0.2,"lv_mv_trafo_spare_capacity":0.25,"lv_mv_trafo_total_costs_present":4248761.069,"lv_mv_trafo_costs_per_capacity_step":4000.0,"lv_mv_trafo_capacity_per_step":0.02,"mv_hv_trafo_spare_capacity":0.25,"mv_hv_trafo_total_costs_present":3577904.058,"mv_hv_trafo_costs_per_capacity_step":50000.0,"mv_hv_trafo_capacity_per_step":0.2,"interconnection_net_costs_present":0.0,"offshore_net_costs_present":0.0,"flh_solar_pv_solar_radiation_max":1361.35634547,"hydrogen_electrolysis_solar_pv_capacity_ratio":0.427,"insulation_detached_houses_low_share":0.5217391304347826,"insulation_detached_houses_medium_share":0.4782608695652174,"insulation_detached_houses_high_share":0.0,"insulation_apartments_low_share":0.46875,"insulation_apartments_medium_share":0.53125,"insulation_apartments_high_share":0.0,"insulation_semi_detached_houses_low_share":0.5362538461538462,"insulation_semi_detached_houses_medium_share":0.4637461538461538,"insulation_semi_detached_houses_high_share":0.0,"insulation_corner_houses_low_share":0.157095652173913,"insulation_corner_houses_medium_share":0.842904347826087,"insulation_corner_houses_high_share":0.0,"insulation_terraced_houses_low_share":0.3498129032258065,"insulation_terraced_houses_medium_share":0.6501870967741935,"insulation_terraced_houses_high_share":0.0,"insulation_detached_houses_start_value":11.0,"insulation_semi_detached_houses_start_value":12.0574,"insulation_apartments_start_value":17.0,"insulation_corner_houses_start_value":19.3868,"insulation_terraced_houses_start_value":20.1558,"insulation_buildings_start_value":46.0,"typical_roof_surface_corner_house_available_for_pv":3.33e-05,"typical_roof_surface_terraced_house_available_for_pv":3.25e-05,"typical_roof_surface_detached_house_available_for_pv":6.17e-05,"typical_roof_surface_semi_detached_house_available_for_pv":4.58e-05,"typical_roof_surface_apartment_available_for_pv":1.90666666666667e-05,"typical_useful_demand_space_heating_corner_house":0.0444436934929221,"typical_useful_demand_space_heating_detached_house":0.069849301483813,"typical_useful_demand_space_heating_semi_detached_house":0.0539853183103173,"typical_useful_demand_space_heating_terraced_house":0.0384769640276346,"typical_useful_demand_space_heating_apartment":0.0273790433088697,"heat_demand_reduction_medium_insulation_corner_house":23.0,"heat_demand_reduction_medium_insulation_detached_house":23.0,"heat_demand_reduction_medium_insulation_semi_detached_house":26.0,"heat_demand_reduction_medium_insulation_terraced_house":31.0,"heat_demand_reduction_medium_insulation_apartments":32.0,"heat_demand_reduction_high_insulation_corner_house":69.0,"heat_demand_reduction_high_insulation_detached_house":67.0,"heat_demand_reduction_high_insulation_semi_detached_house":69.0,"heat_demand_reduction_high_insulation_terraced_house":69.0,"heat_demand_reduction_high_insulation_apartments":67.0,"heat_demand_reduction_high_insulation_buildings":74.0,"electric_vehicle_profile_1_share":1.0,"electric_vehicle_profile_2_share":0.0,"electric_vehicle_profile_3_share":0.0,"electric_vehicle_profile_4_share":0.0,"electric_vehicle_profile_5_share":0.0,"solar_pv_profile_1_share":1.0,"solar_pv_profile_2_share":0.0,"annual_infrastructure_cost_gas":25.001767536061056,"areable_land":955.6,"co2_emission_1990":2.402247,"coast_line":0.0,"interconnector_capacity":100.73026176718814,"total_land_area":1207.21,"number_of_buildings":16587.0,"number_of_cars":153231.0,"number_of_residences":130656.0,"number_of_inhabitants":297992.0,"offshore_suitable_for_wind":870.311611,"residences_roof_surface_available_for_pv":8.51815,"buildings_roof_surface_available_for_pv":2.029562,"other_emission_agriculture":1.012981,"other_emission_built_environment":0.013385,"other_emission_transport":0.024944,"other_emission_industry_energy":0.092566,"number_of_detached_houses":32951.573856,"number_of_apartments":23584.845216,"number_of_semi_detached_houses":23086.131264,"number_of_corner_houses":20103.646752,"number_of_terraced_houses":30929.802912,"init":{},"base_dataset":"nl","scaling":{"area_attribute":"number_of_residences","value":130656,"base_value":7587964},"uses_deprecated_initializer_inputs":false,"derived":true,"last_updated_at":"2019-09-03T17:28:35.000+02:00","useable":true}'
  recorded_at: Tue, 05 Nov 2019 09:15:43 GMT
recorded_with: VCR 3.0.3
