%h1
  Translations
%table{table_defaults}
  %thead
    %tr
      %th Key
      %th Name
      %th Key
      %th
  %tbody
    - @translations.each do |translation|
      %tr{cycles}
        %td= translation.key
        %td=h truncate(translation.content_nl, :length => 20)
        %td=h truncate(translation.content_en, :length => 20)
        %td= link_to 'edit', edit_admin_translation_path(translation)
%p= link_to "New Translation", new_admin_translation_path
