<script id="input-element-template" type="text/template">
    <div class="slider-row">
        <label>
          <% if (predictions) { %>
              <a href="/predictions?input_element_id=<%= input_element_id %>" class="prediction"></a>
          <% } %>
          <%= name %>
          <% if ( location.search.match(/\bdebug/) ) { %>
           (#<%= input_element_id %>)
          <% } %>
        </label>

        <% if (sublabel) { %>
            <div class="sublabel">
              <%= sublabel.value %>
              <%= sublabel.suffix %>
            </div>
        <% } %>

        <div class="slider-controls">
            <div class="reset"></div>
            <div class="decrease"></div>

            <div class="quinn"></div>

            <div class="increase"></div>
            <div class="output"></div>
            <div class="show-info"></div>
        </div>
    </div>

    <div class="info-wrap">
        <div class="info">
            <%= info %>
            <% if (converter) { %>
              <br/>
              <a href="#" class="converter_detail"
                 data-converter="<%= converter %>"
                 data-title="<%= name %>"><%= info_link %></a>
            <% } %>
        </div>
    </div>
</script>
