%div{:id => "slider-group-%s-%s" % [slider.share_group, slider.id]}
  %div{:id => dom_id(slider)}
    .name
      .text= raw slider.translated_name
      .label
    .info-box{:style => 'display: none'}
      .text= slider.parsed_description
      - if !slider.predictions.empty?
        %a.prediction(href="/predictions?input_element_id=#{slider.id}") Prediction(s)