%div{:id => "slider-group-#{slider.share_group}-#{slider.id}", :class=>'slider'}
  %div{:id => dom_id(slider), :'data-key' => slider.key}
    .name
      .text
        = raw slider.translated_name
      .label
    .info-box{:style => 'display: none'}
      .text= slider.parsed_description