<script id="value-selector-template" type="text/template">
    <form action="#">
        <input type="text" />

        <% if (conversions.length > 1) { %>
            <div class="conversion">
                <span class="unit"> </span>

                <select>
                    <% _.each(conversions, function (conversion) { %>
                        <option value="<%= conversion.uid %>"<% if (conversion.default) { %> selected="selected"<% } %>>
                            <%= conversion.name %>
                        </option>
                    <% }); %>
                </select>
            </div>
        <% } %>

        <button>Update</button>
    </form>
</script>
