---
http_interactions:
- request:
    method: get
    uri: https://beta-engine.energytransitionmodel.com/api/v3/scenarios/748221
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_evsD3fg2syXFqxqn
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3eba226bda5aaa44014901a703535c3d"
    body:
      encoding: UTF-8
      string: '{"id":748221,"created_at":"2017-10-21T00:03:54.000Z","updated_at":"2017-10-21T00:03:54.000Z","user_values":{},"end_year":2030,"keep_compatible":false,"private":false,"area_code":"nl","source":"Mechanical
        Turk","balanced_values":{},"metadata":{},"start_year":2015,"coupling":false,"owner":null,"scaling":null,"template":null,"url":"https://beta-engine.energytransitionmodel.com/api/v3/scenarios/748221"}'
  recorded_at: Thu, 14 Dec 2023 02:16:58 GMT
- request:
    method: post
    uri: https://beta-engine.energytransitionmodel.com/api/v3/scenarios
    body:
      encoding: UTF-8
      string: '{"scenario":{"source":"ETM","scenario_id":748221}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer access_evsD3fg2syXFqxqn
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8e84562891ebd824513d9145dfc89b42"
    body:
      encoding: UTF-8
      string: '{"id":2510673,"created_at":"2023-12-14T02:16:58.000Z","updated_at":"2023-12-14T02:16:58.000Z","user_values":{},"end_year":2030,"keep_compatible":false,"private":false,"area_code":"nl","source":"ETM","balanced_values":{},"metadata":{},"start_year":2015,"coupling":false,"owner":null,"scaling":null,"template":748221,"url":"https://beta-engine.energytransitionmodel.com/api/v3/scenarios/2510673"}'
  recorded_at: Thu, 14 Dec 2023 02:16:58 GMT
recorded_with: VCR 6.0.0
