---
http_interactions:
- request:
    method: get
    uri: https://beta-engine.energytransitionmodel.com/api/v3/scenarios/169375
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_noDr5JLm9S58Yh8C
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"47e4d3c762b3f892a50065b6fded3acc"
    body:
      encoding: UTF-8
      string: '{"id":169375,"created_at":"2013-08-02T10:31:30.000Z","updated_at":"2016-02-09T13:30:13.000Z","user_values":{"settings_enable_merit_order":0.0},"end_year":2050,"keep_compatible":false,"private":false,"area_code":"nl","source":"Mechanical
        Turk","balanced_values":{},"metadata":{},"start_year":2015,"coupling":false,"owner":null,"scaling":null,"template":null,"url":"https://beta-engine.energytransitionmodel.com/api/v3/scenarios/169375"}'
  recorded_at: Thu, 14 Dec 2023 02:22:34 GMT
- request:
    method: post
    uri: https://beta-engine.energytransitionmodel.com/api/v3/scenarios
    body:
      encoding: UTF-8
      string: '{"scenario":{"source":"ETM","scenario_id":169375}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer access_noDr5JLm9S58Yh8C
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"093a5af5fac620d3fa3fab33684770ed"
    body:
      encoding: UTF-8
      string: '{"id":2510680,"created_at":"2023-12-14T02:22:34.000Z","updated_at":"2023-12-14T02:22:34.000Z","user_values":{"settings_enable_merit_order":0.0},"end_year":2050,"keep_compatible":false,"private":false,"area_code":"nl","source":"ETM","balanced_values":{},"metadata":{},"start_year":2015,"coupling":false,"owner":null,"scaling":null,"template":169375,"url":"https://beta-engine.energytransitionmodel.com/api/v3/scenarios/2510680"}'
  recorded_at: Thu, 14 Dec 2023 02:22:34 GMT
recorded_with: VCR 6.0.0
