---
http_interactions:
- request:
    method: get
    uri: https://beta-engine.energytransitionmodel.com/api/v3/scenarios/945098
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_be8LFLPGmTagN4A4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"890c6d02a5648c427925b416f5b5065f"
    body:
      encoding: UTF-8
      string: '{"id":945098,"created_at":"2018-10-13T00:12:45.000Z","updated_at":"2018-10-13T00:12:46.000Z","user_values":{},"end_year":2050,"keep_compatible":false,"private":false,"area_code":"nl","source":"Mechanical
        Turk","balanced_values":{},"metadata":{},"start_year":2015,"coupling":false,"owner":null,"scaling":null,"template":null,"url":"https://beta-engine.energytransitionmodel.com/api/v3/scenarios/945098"}'
  recorded_at: Thu, 14 Dec 2023 02:16:59 GMT
recorded_with: VCR 6.0.0
