---
http_interactions:
- request:
    method: get
    uri: https://beta-engine.energytransitionmodel.com/api/v3/scenarios/963960
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_Gi3YsTW97khLEXi4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"79fd9a5db52f2a58618a892350f78930"
    body:
      encoding: UTF-8
      string: '{"id":963960,"created_at":"2018-11-21T00:08:12.000Z","updated_at":"2018-11-21T00:08:13.000Z","user_values":{},"end_year":2050,"keep_compatible":false,"private":false,"area_code":"nl","source":"Mechanical
        Turk","balanced_values":{},"metadata":{},"start_year":2015,"coupling":false,"owner":null,"scaling":null,"template":null,"url":"https://beta-engine.energytransitionmodel.com/api/v3/scenarios/963960"}'
  recorded_at: Thu, 14 Dec 2023 02:16:59 GMT
- request:
    method: post
    uri: https://beta-engine.energytransitionmodel.com/api/v3/scenarios
    body:
      encoding: UTF-8
      string: '{"scenario":{"source":"ETM","scenario_id":963960}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer access_Gi3YsTW97khLEXi4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f568f2f8c6023fb61cff381b831661a8"
    body:
      encoding: UTF-8
      string: '{"id":2510674,"created_at":"2023-12-14T02:16:59.000Z","updated_at":"2023-12-14T02:16:59.000Z","user_values":{},"end_year":2050,"keep_compatible":false,"private":false,"area_code":"nl","source":"ETM","balanced_values":{},"metadata":{},"start_year":2015,"coupling":false,"owner":null,"scaling":null,"template":963960,"url":"https://beta-engine.energytransitionmodel.com/api/v3/scenarios/2510674"}'
  recorded_at: Thu, 14 Dec 2023 02:16:59 GMT
recorded_with: VCR 6.0.0
