---
http_interactions:
- request:
    method: post
    uri: https://beta-engine.energytransitionmodel.com/api/v3/scenarios.json
    body:
      encoding: UTF-8
      string: '{"country":"de","area_code":"nl","title":"My Scenario","end_year":2050}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5a738b81ff080516361bb5ca41c0e285"
    body:
      encoding: ASCII-8BIT
      string: '{"id":1310325,"title":"My Scenario","area_code":"nl","start_year":2015,"end_year":2050,"url":"https://beta-engine.energytransitionmodel.com/api/v3/scenarios/1310325","ordering":null,"display_group":null,"scaling":null,"source":null,"template":null,"created_at":"2020-05-29T13:28:48.000+02:00","read_only":false,"keep_compatible":false}'
  recorded_at: Fri, 29 May 2020 11:28:48 GMT
recorded_with: VCR 3.0.3
