---
http_interactions:
- request:
    method: post
    uri: https://beta-engine.energytransitionmodel.com/api/v3/scenarios.json
    body:
      encoding: UTF-8
      string: '{"country":"de","area_code":"nl","title":"My Scenario","end_year":2050}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1ab603e2eca883628efa695da95ca57d"
    body:
      encoding: ASCII-8BIT
      string: '{"id":1310326,"title":"My Scenario","area_code":"nl","start_year":2015,"end_year":2050,"url":"https://beta-engine.energytransitionmodel.com/api/v3/scenarios/1310326","ordering":null,"display_group":null,"scaling":null,"source":null,"template":null,"created_at":"2020-05-29T13:29:19.000+02:00","protected":false}'
  recorded_at: Fri, 29 May 2020 11:29:19 GMT
recorded_with: VCR 3.0.3
