="ETM.optimizerController.updateGqueryControls(%s)" % @gquery_controls.to_json
="ETM.optimizerController.updateSliderControls(%s)" % @slider_controls.to_json
="ETM.optimizerController.setOptimizerId(%s)" % @optimizer.id.to_json
="ETM.optimizerController.optimizerView.addText(%s)" % @optimizer.steps.to_json

