="ETM.optimizerController.setFinished()" if @optimizer.mission.all_targets_met? 
="ETM.optimizerController.updateGqueryControls(%s)" % @gquery_controls.to_json
="ETM.optimizerController.updateSliderControls(%s)" % @slider_controls.to_json
="ETM.optimizerController.optimizerView.addText(%s)" % @optimizer.steps.last.to_json