--- 
http_interactions: 
- request: 
    method: get
    uri: http://etengine.dev/api/v3/areas.json
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"4193ad3891a95bbe6b749f81a1dfbd20\""
    body: 
      encoding: US-ASCII
      string: "[{\"co2_price\":0.00497,\"man_hours_per_man_year\":1800.0,\"man_year_per_mj_insulation_per_year\":1.22916e-08,\"areable_land\":20.1,\"available_land\":53.0,\"co2_emission_1990\":0.0537,\"co2_emission_2009\":0.0544,\"co2_emission_electricity_1990\":0.01,\"co2_percentage_free\":0.85,\"coast_line\":57.0,\"country\":\"ame\",\"created_at\":\"2010-10-12T13:40:30Z\",\"current_electricity_demand_in_mj\":86099978,\"el_export_capacity\":0.0,\"el_import_capacity\":0.0,\"entity\":\"\",\"export_electricity_primary_demand_factor\":1.0,\"has_agriculture\":true,\"has_buildings\":true,\"has_coastline\":true,\"has_industry\":true,\"has_lignite\":false,\"has_mountains\":false,\"has_old_technologies\":false,\"has_other\":true,\"has_solar_csp\":false,\"heat_recovery\":0.2,\"id\":24,\"import_electricity_primary_demand_factor\":1.82,\"insulation_level_existing_houses\":1.0,\"insulation_level_new_houses\":2.5,\"insulation_level_buildings\":1.0,\"km_per_car\":247.792,\"km_per_truck\":247.792,\"land_available_for_solar\":33.0,\"market_share_daylight_control\":0.205,\"market_share_motion_detection\":0.265,\"number_households\":1502.0,\"number_inhabitants\":3466.0,\"offshore_suitable_for_wind\":55.3,\"onshore_suitable_for_wind\":53.0,\"parent_id\":1,\"percentage_of_new_houses\":14.0,\"recirculation\":0.1,\"roof_surface_available_pv\":0.06,\"roof_surface_available_pv_buildings\":0.03,\"updated_at\":\"2011-03-11T13:27:43Z\",\"use_network_calculations\":false,\"ventilation_rate\":2.5,\"area\":\"ame\",\"number_of_existing_households\":1291.72},{\"co2_price\":0.00497,\"man_hours_per_man_year\":1800.0,\"man_year_per_mj_insulation_per_year\":1.22916e-08,\"areable_land\":26.0,\"available_land\":26.0,\"co2_emission_1990\":4.13,\"co2_emission_2009\":4.87,\"co2_emission_electricity_1990\":0.0,\"co2_percentage_free\":0.85,\"coast_line\":0.0,\"cold_network_potential\":480000000.0,\"country\":\"ams\",\"created_at\":\"2010-08-11T08:46:04Z\",\"current_electricity_demand_in_mj\":5164199969,\"el_export_capacity\":0.0,\"el_import_capacity\":0.0,\"entity\":\"\",\"export_electricity_primary_demand_factor\":1.0,\"has_agriculture\":false,\"has_buildings\":true,\"has_coastline\":false,\"has_cold_network\":true,\"has_heat_import\":true,\"has_lignite\":false,\"has_mountains\":false,\"has_old_technologies\":false,\"has_solar_csp\":false,\"heat_recovery\":0.2,\"id\":31,\"import_electricity_primary_demand_factor\":1.82,\"insulation_level_existing_houses\":1.0,\"insulation_level_new_houses\":2.5,\"insulation_level_buildings\":1.0,\"km_per_car\":247.792,\"km_per_truck\":247.792,\"land_available_for_solar\":0.0,\"market_share_daylight_control\":0.205,\"market_share_motion_detection\":0.265,\"number_households\":389230.0,\"number[...]
