!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title API
    %meta{:name => "robots", :content => "noindex"}
    
  %body#api
    = yield
