-# Nested layout that will add padding and back_to_model links
- content_for :content do
  .static-page{ class: action_name }
    = yield

    .footer
      = render partial: 'layouts/etm/footer'

= render template: 'layouts/application'
