<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style>
      h1 {
        color: red;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>