%hr

%p= t('custom_curves.imported_electricity_price.description_html', docs_path: 'https://docs.energytransitionmodel.com/main/costs-imported-electricity#uploaded-price-curves')

#import-price-curve-upload.curve-upload( |
  data-curve-name="imported_electricity_price" |
  data-curve-disable-input="costs_imported_electricity" |
)
