%hr

%p= t('custom_curves.imported_electricity_price.description_html', docs_path: 'https://github.com/quintel/documentation/blob/master/general/costs_imported_electricity.md#uploaded-price-curves')

#import-price-curve-upload.curve-upload( |
  data-curve-name="imported_electricity_price" |
  data-curve-disable-input="costs_imported_electricity" |
)
