%ul.sortable
  - %w(power_to_power electric_vehicle power_to_heat power_to_gas export).each do |flexibility_option|
    %li{ id: flexibility_option }
      = t("output_elements.flexibility_options.#{ flexibility_option }")
      %span.fa.fa-bars

  %li.ignore{id: 'curtailment'}
    = t('output_elements.flexibility_options.curtailment')
