#flexibility-options.sortable-container
  %ul.sortable
    - FlexibilityOrder.all.each do |flexibility_option|
      %li{data: { id: flexibility_option }}
        = t("output_elements.flexibility_options.#{ flexibility_option }")
        %span.fa.fa-bars

  .curtailment
    = t('output_elements.flexibility_options.curtailment')
    %span.fa.fa-lock
