#flexibility-options.sortable-container
  .loading-message

  .header
    = t('output_elements.flexibility_options.header')
    %span= t('output_elements.flexibility_options.capacity')

  %ul.sortable

  .curtailment
    = t('output_elements.flexibility_options.curtailment')
    %span.fa.fa-lock
