#flexibility-options.sortable-container
  .loading-message

  .flexibility-options__header
    = t('output_elements.flexibility_options.header')
    .flexibility-options__capacity
    = t('output_elements.flexibility_options.capacity')

  %ul.sortable

  .curtailment
    = t('output_elements.flexibility_options.curtailment')
    %span.fa.fa-lock
