%p= t("custom_curves.#{curve_name}.description_html", docs_path: 'https://docs.energytransitionmodel.com/main/costs-imported-electricity#uploaded-price-curves')

#import-price-curve-upload.curve-upload{ |
  'data-curve-name' => curve_name, |
  'data-curve-disable-input' => associated_input, |
}
