#heat-network-options.sortable-container{data: {subtype: 'mt'}}
  .loading-message

  %ul.sortable

  .fixed
    = t('output_elements.heat_network_order.energy_heat_backup_burner_mt_network_gas')
    %span.fa.fa-lock
