--- 
http_interactions: 
- request: 
    method: get
    uri: http://etengine.dev/api/v3/scenarios/templates.json
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"ea0ab4fdd53affc2b572c5651057d408\""
    body: 
      encoding: US-ASCII
      string: "[{\"id\":1,\"title\":\"Referentiescenario 2030 gebaseerd op deelnemers 'Watt Nu?!'\",\"area_code\":\"nl\",\"end_year\":2030,\"description\":\"<span class='nl'>\\n<p>Dit Referentiescenario geeft een overzicht van de ambities van 24 prominente Nederlanders die in het kader van het televisieprogramma 'Watt Nu?!' hun visie hebben gegeven op de energietoekomst van Nederland in 2030.</p>\\n</span>\\n<span class='en'>\\n<p>The Reference scenario gives an overview of the ambitions of 24 prominent people from the Netherlands, who created a vision on the energy future of the Netherlands for the television program \\\"Watt Nu?!\\\".</p>\\n</span>\\n\",\"url\":\"http://etengine.dev/api/v3/scenarios/1\"},{\"id\":80,\"title\":\"Watt Nu - Jolande Sap\",\"area_code\":\"nl\",\"end_year\":2030,\"description\":\"<span class='nl'>\\n<p>Dit scenario is gemaakt door Jolande Sap (Lijsttrekker GroenLinks) voor het televisieprogramma 'Watt Nu?!'. Als u dit scenario opent kunt u zien welke instellingen Mevr. Sap gedaan heeft. De uitzending zelf kunt u nakijken op <a href='http://rtl.nl/xl/#/u/32f8fbaf-fbc2-30b0-9762-435bdae07afa' target='_new'>RTL XL</a></p>\\n<p>J[...]
- request: 
    method: get
    uri: http://etengine.dev/api/v3/scenarios/1.json?detailed=true
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"f97371055ae74eccca0bf09c88f91a9e\""
    body: 
      encoding: US-ASCII
      string: "{\"id\":1,\"title\":\"Referentiescenario 2030 gebaseerd op deelnemers 'Watt Nu?!'\",\"area_code\":\"nl\",\"end_year\":2030,\"description\":\"<span class='nl'>\\n<p>Dit Referentiescenario geeft een overzicht van de ambities van 24 prominente Nederlanders die in het kader van het televisieprogramma 'Watt Nu?!' hun visie hebben gegeven op de energietoekomst van Nederland in 2030.</p>\\n</span>\\n<span class='en'>\\n<p>The Reference scenario gives an overview of the ambitions of 24 prominent people from the Netherlands, who created a vision on the energy future of the Netherlands for the television program \\\"Watt Nu?!\\\".</p>\\n</span>\\n\",\"url\":\"http://etengine.dev/api/v3/scenarios/1\",\"source\":null,\"template\":null,\"created_at\":null,\"use_fce\":null,\"user_values\":{\"households_number_of_inhabitants\":0.2,\"households_electricity_demand_per_person\":0.6,\"households_heat_demand_per_person\":-0.1,\"households_cooling_demand_per_person\":0.5,\"households_hot_water_demand_per_person\":0.1,\"households_replacement_of_existing_houses\":0.6,\"households_insulation_level_old_houses\":1.9,\"households_insulation_level_new_houses\":4.7,\"households_heating_gas_combi_heater_share\":36.0,\"households_heating_heat_pump_ground_share\":33.7,\"households_heating_micro_chp_share\":11.0,\"households_heating_district_heating_network_share\":7.8,\"households_heating_pellet_stove_share\":2.2,\"households_heating_heat_pump_add_on_share\":12.7,\"households_space_heater_heatpump_air_water_electricity_share\":2.600000000000003,\"households_heating_electric_heater_share\":1.0,\"households_heating_gas_fired_heater_share\":4.8,\"households_heating_oil_fired_heater_share\":0.8,\"households_heating_coal_fired_heater_share\":0.1,\"households_hot_water_gas_fired_heater_share\":50.1,\"households_hot_water_heat_network_share\":7.3,\"households_water_heater_heatpump_ground_water_electricity_share\":18.2,\"households_hot_water_biomass_heater_share\":0.6,\"households_hot_water_micro_chp_share\":6.9,\"households_hot_water_electric_boiler_share\":7.1,\"households_hot_water_fuel_cell_share\":1.0,\"households_hot_water_gas_water_heater_share\":8.8,\"households_hot_water_oil_fired_heater_share\":0.0,\"households_hot_water_coal_fired_heater_hotwater_share\":0.0,\"households_hot_water_solar_water_heater_share\":26.9,\"households_heating_small_gas_chp_share\":0.9,\"households_heating_heat_network_share\":86.5,\"households_heating_biomass_chp_share\":5,\"households_heating_geothermal_share\":7.6,\"households_cooling_heat_pump_ground_share\":19.8,\"households_cooling_airconditioning_share\":76.4,\"households_cooling_heatpump_air_water_electricity_share\":3.8,\"households_cooking_gas_share\":49.1,\"households_cooking_electric_share\":16.3,\"households_cooking_halogen_share\":7.2,\"households_cooking_induction_share\":27.5,\"households_cooking_biomass_share\":0,\"households_efficiency_dish_washer\":43.2,\"households_efficiency_fridge_freezer\":51,\"households_efficiency_washing_machine\":48.1,\"households_efficiency_dryer\":42.4,\"households_efficiency_television\":39.5,\"households_efficiency_computer_media\":39,\"households_efficiency_vacuum_cleaner\":36.4,\"households_efficiency_other\":35.2,\"households_lighting_incandescent_share\":26.9,\"households_lighting_low_energy_light_bulb_share\":22.8,\"households_lighting_light_emitting_diode_share\":50.3,\"households_behavior_standby_killer_turn_off_appliances\":31,\"households_behavior_turn_off_the_light\":33.8,\"households_behavior_close_windows_turn_off_heating\":29.3,\"households_behavior_low_temperature_washing\":33.2,\"households_market_penetration_solar_panels\":49.5,\"buildings_number_of_buildings\":-0.6,\"buildings_electricity_per_student_employee\":-0.3,\"buildings_heat_per_employee_student\":-0.3,\"buildings_cooling_per_student_employee\":0.2,\"buildings_insulation_level\":1.9,\"buildings_heating_gas_fired_heater_share\":47.1,\"buildings_heating_heat_pump_with_ts_share\":28.1,\"buildings_heating_gas_fired_heat_pump_share\":6.8,\"buildings_heating_electric_heater_share\":0.8,\"buildings_heating_oil_fired_heater_share\":2.4,\"buildings_heating_solar_thermal_panels_share\":3.8,\"buildings_heating_small_gas_chp_share\":45.3,\"buildings_heating_biomass_fired_heater_share\":0.4,\"buildings_heating_heat_network_share\":43.4,\"buildings_heating_biomass_chp_share\":11.3,\"buildings_cooling_heat_pump_with_ts_share\":29.9,\"buildings_cooling_airconditioning_share\":65.1,\"buildings_cooling_gas_fired_heat_pump_share\":5.0,\"buildings_ventilation_rate\":2.5,\"buildings_recirculation\":12.5,\"buildings_waste_heat_recovery\":26.5,\"buildings_appliances_efficiency\":1.3,\"buildings_lighting_fluorescent_tube_conventional_share\":17.7,\"buildings_lighting_fluorescent_tube_high_performance_share\":24.2,\"buildings_lighting_led_tube_share\":58.1,\"buildings_lighting_motion_detection\":50.9,\"buildings_lighting_daylight_dependent_control\":47.9,\"buildings_market_penetration_solar_panels\":43.4,\"transport_cars\":0,\"transport_trucks\":0.2,\"transport_trains\":1.1,\"transport_inland_navigation\":1.7,\"transport_domestic_flights\":-1.4,\"transport_cars_electric_share\":39.5,\"transport_cars_diesel_share\":22.5,\"transport_cars_gasoline_share\":25.6,\"transport_cars_lpg_share\":5.9,\"transport_cars_compressed_gas_share\":6.5,\"transport_trucks_electric_share\":17.1,\"transport_trucks_diesel_share\":67,\"transport_trucks_gasoline_share\":0.4,\"transport_trucks_compressed_gas_share\":15.5,\"transport_trains_diesel_share\":6.2,\"transport_trains_electric_share\":93.8,\"transport_trains_coal_share\":0,\"transport_efficiency_electric_vehicles\":1.3,\"transport_efficiency_combustion_engine_trucks\":1.6,\"transport_efficiency_combustion_engine_cars\":1.7,\"transport_efficiency_trains\":0.8,\"transport_efficiency_ships\":1.3,\"transport_efficiency_airplanes\":1.2,\"industry_electricity_demand\":-0.1,\"industry_heat_demand\":-0.2,\"industry_non_energetic_oil_demand\":-0.9,\"industry_non_energetic_other_demand\":-0.5,\"industry_efficiency_electricity\":1.7,\"industry_heat_from_fuels\":1.7,\"industry_heating_gas_fired_heater_share\":30.9,\"industry_heating_oil_fired_heater_share\":10.2,\"industry_heating_coal_fired_heater_share\":2.4,\"industry_heating_biomass_fired_heater_share\":16.1,\"industry_heating_combined_heat_power_share\":40.3,\"industry_number_of_gas_chp\":104.6,\"industry_number_of_biomass_chp\":56.1,\"agriculture_electricity_demand\":-0.6,\"agriculture_heat_demand\":-0.8,\"agriculture_heating_gas_fired_heater_share\":10.9,\"agriculture_heating_oil_fired_heater_share\":2.8,\"agriculture_heating_biomass_fired_heater_share\":6.2,\"agriculture_heating_heat_pump_with_ts_share\":10.5,\"agriculture_heating_geothermal_share\":18.2,\"agriculture_heating_combined_heat_power_share\":51.5,\"agriculture_number_of_small_gas_chp\":2528.3,\"other_electricity_demand\":-0.1,\"other_heat_demand\":-0.2,\"other_number_of_small_gas_chp\":0,\"costs_gas\":62.9,\"costs_oil\":99.4,\"costs_coal\":39.8,\"costs_biomass\":55.6,\"investment_costs_combustion_gas_plant\":3.3,\"investment_costs_combustion_oil_plant\":3,\"investment_costs_combustion_coal_plant\":7,\"investment_costs_combustion_biomass_plant\":-0.1,\"investment_costs_combustion_waste_incinerator\":2.6,\"om_costs_combustion_gas_plant\":0.2,\"om_costs_combustion_oil_plant\":0.2,\"om_costs_combustion_coal_plant\":4.8,\"om_costs_combustion_biomass_plant\":-2.6,\"om_costs_combustion_waste_incinerator\":0.3,\"costs_uranium\":30.2,\"investment_costs_nuclear_nuclear_plant\":7.9,\"om_costs_nuclear_nuclear_plant\":12.8,\"investment_costs_wind_onshore\":-9.6,\"investment_costs_wind_offshore\":-20.9,\"om_costs_wind_onshore\":-4.6,\"om_costs_wind_offshore\":-12,\"investment_costs_water_river\":-0.8,\"om_costs_water_river\":-0.2,\"investment_costs_solar_solar_panels\":-46.8,\"investment_costs_earth_geothermal_electricity\":-2.7,\"om_costs_earth_geothermal_electricity\":0.7,\"costs_co2\":345.5,\"costs_co2_free_allocation\":27.3,\"investment_costs_co2_ccs\":-4.4,\"om_costs_co2_ccs\":-4.2,\"number_of_pulverized_coal\":0.5,\"number_of_pulverized_coal_ccs\":1,\"number_of_coal_iggc\":0.2,\"number_of_coal_igcc_ccs\":0.2,\"number_of_coal_conventional\":0,\"number_of_central_coal_chp\":0.7,\"number_of_gas_conventional\":1.1,\"number_of_gas_ccgt\":4,\"number_of_gas_ccgt_ccs\":0.2,\"number_of_gas_turbines\":0.8,\"number_of_large_gas_chp\":3.8,\"number_of_oil_fired_plant\":0,\"number_of_nuclear_3rd_gen\":0.4,\"number_of_co_firing_coal\":1.2,\"number_of_wind_onshore_land\":1628.9,\"number_of_wind_onshore_coast\":259.4,\"number_of_wind_offshore\":3138.8,\"number_of_hydro_river\":4.4,\"number_of_geothermal_electric\":16.2,\"number_of_solar_pv_plants\":28.2,\"number_of_waste_incinerator\":9.8,\"number_of_coal_fired_heater_district\":0,\"number_of_gas_fired_heater_district\":0,\"number_of_waste_fired_heater_district\":0,\"number_of_biomass_fired_heater_district\":29.1,\"transport_diesel_share\":85.2,\"transport_biodiesel_share\":14.8,\"transport_gasoline_share\":89.3,\"transport_bio_ethanol_share\":10.7,\"transport_planes_kerosene_share\":94.1,\"transport_planes_bio_ethanol_share\":5.9,\"transport_ships_diesel_share\":84.9,\"transport_ships_bio_diesel_share\":15.1,\"natural_gas_total_share\":87.9,\"green_gas_total_share\":12.1,\"share_coal_co_firing_coal\":60.0,\"share_biocoal_co_firing_coal\":4.7,\"electricity_natural_gas_share\":93.1,\"electricity_bio_oil_share_in_gas_production\":0,\"electricity_oil_share_in_gas_production\":6.9,\"buildings_heating_district_heating_network_share\":10.6,\"buildings_heating_geothermal_share\":0.0,\"transport_planes_gasoline_share\":0.0,\"transport_ships_heavy_fuel_oil_share\":0.0,\"share_of_wood_pellets_co_firing_coal\":35.3,\"policy_sustainability_co2_emissions\":-43.8,\"policy_sustainability_renewable_percentage\":36.0,\"policy_cost_total_energy_cost\":48.0}}"
  recorded_at: Thu, 06 Dec 2012 11:08:28 GMT
- request: 
    method: post
    uri: http://etengine.dev/api/v3/scenarios
    body: 
      encoding: US-ASCII
      string: scenario[area_code]=nl&scenario[end_year]=2030&scenario[source]=ETM&scenario[scenario_id]=1
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"cfb69c60330fe382f499a534099f1be2\""
    body: 
      encoding: US-ASCII
      string: "{\"id\":131303,\"title\":\"API\",\"area_code\":\"nl\",\"end_year\":2030,\"url\":\"http://etengine.dev/api/v3/scenarios/131303\",\"source\":\"ETM\",\"template\":1,\"created_at\":\"2012-12-06T12:08:37+01:00\"}"
  recorded_at: Thu, 06 Dec 2012 11:08:37 GMT
- request: 
    method: get
    uri: http://etengine.dev/api/v3/scenarios/131303/inputs.json
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"5cfedae676239e832fbb1acfdb015658\""
    body: 
      encoding: US-ASCII
      string: "{\"agriculture_electricity_demand\":{\"min\":-5.0,\"max\":5.0,\"default\":0.0,\"user\":-0.6},\"agriculture_heat_demand\":{\"min\":-5.0,\"max\":5.0,\"default\":0.0,\"user\":-0.8},\"agriculture_heating_biomass_fired_heater_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.63542904375678,\"user\":6.2,\"share_group\":\"agri_heat\"},\"agriculture_heating_combined_heat_power_share\":{\"min\":0.0,\"max\":100.0,\"default\":57.41893544109799,\"user\":51.5,\"share_group\":\"agri_heat\"},\"agriculture_heating_gas_fired_heater_share\":{\"min\":0.0,\"max\":100.0,\"default\":28.2814356563517,\"user\":10.9,\"share_group\":\"agri_heat\"},\"agriculture_heating_geothermal_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.10439806443836,\"user\":18.2,\"share_group\":\"agri_heat\"},\"agriculture_heating_heat_pump_with_ts_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.386272838421932,\"user\":10.5,\"share_group\":\"agri_heat\"},\"agriculture_heating_oil_fired_heater_share\":{\"min\":0.0,\"max\":100.0,\"default\":13.1735289559333,\"user\":2.8,\"share_group\":\"agri_heat\"},\"agriculture_number_of_small_gas_chp\":{\"min\":0.0,\"max\":6047.162162162142,\"default\":3023.581081081071,\"user\":2528.3},\"buildings_cooling_airconditioning_share\":{\"min\":0.0,\"max\":100.0,\"default\":94.92747362444649,\"user\":65.1,\"share_group\":\"cooling_buildings\"},\"buildings_cooling_cooling_network_share\":{\"min\":0.0,\"max\":0.0,\"default\":0.0,\"disabled\":true,\"share_group\":\"cooling_buildings\"},\"buildings_cooling_gas_fired_heat_pump_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.6394133572918649,\"user\":5.0,\"share_group\":\"cooling_buildings\"},\"buildings_cooling_heat_pump_with_ts_share\":{\"min\":0.0,\"max\":100.0,\"default\":4.4331130182616505,\"user\":29.9,\"share_group\":\"cooling_buildings\"},\"buildings_heating_biomass_chp_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"user\":11.3,\"share_group\":\"district_heating_buildings\"},\"buildings_heating_geothermal_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"user\":0.0,\"share_group\":\"district_heating_buildings\"},\"buildings_heating_heat_network_share\":{\"min\":0.0,\"max\":100.0,\"default\":16.606060606060595,\"user\":43.4,\"share_group\":\"district_heating_buildings\"},\"buildings_heating_small_gas_chp_share\":{\"min\":0.0,\"max\":100.0,\"default\":83.3939393939394,\"user\":45.3,\"share_group\":\"district_heating_buildings\"},\"buildings_heating_biomass_fired_heater_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"user\":0.4,\"share_group\":\"heating_buildings\"},\"buildings_heating_oil_fired_heater_share\":{\"min\":0.0,\"max\":100.0,\"default\":3.36118663285535,\"user\":2.4,\"share_group\":\"heating_buildings\"},\"buildings_heating_coal_fired_heater_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"share_group\":\"heating_buildings\"},\"buildings_heating_district_heating_network_share\":{\"min\":0.0,\"max\":100.0,\"default\":5.9315058226859,\"user\":10.6,\"share_group\":\"heating_buildings\"},\"buildings_heating_electric_heater_share\":{\"min\":0.0,\"max\":100.0,\"default\":1.86305015101812,\"user\":0.8,\"share_group\":\"heating_buildings\"},\"buildings_heating_gas_fired_heat_pump_share\":{\"min\":0.0,\"max\":100.0,\"default\":1.50262211968964,\[...]
[...]
- request: 
    method: put
    uri: http://etengine.dev/api/v3/scenarios/131303
    body: 
      encoding: US-ASCII
      string: autobalance=true&scenario[use_fce]=false&gqueries[]=share_of_households_in_final_demand&gqueries[]=peak_load_check_lv&gqueries[]=peak_load_check_mv_lv&gqueries[]=peak_load_check_mv&gqueries[]=peak_load_check_hv_mv&gqueries[]=peak_load_check_hv&gqueries[]=peak_load_check_total
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"05c0df9ff481826f696d347e31d7bbaa\""
    body: 
      encoding: US-ASCII
      string: "{\"scenario\":{\"id\":131303,\"title\":\"API\",\"area_code\":\"nl\",\"end_year\":2030,\"url\":\"http://etengine.dev/api/v3/scenarios/131303\",\"source\":\"ETM\",\"template\":1,\"created_at\":\"2012-12-06T12:08:37+01:00\"},\"gqueries\":{\"share_of_households_in_final_demand\":{\"present\":0.1634941854915839,\"future\":0.12380501735484199,\"unit\":\"factor\"},\"peak_load_check_lv\":{\"present\":false,\"future\":false,\"unit\":\"boolean\"},\"peak_load_check_mv_lv\":{\"present\":false,\"future\":true,\"unit\":\"boolean\"},\"peak_load_check_mv\":{\"present\":false,\"future\":true,\"unit\":\"boolean\"},\"peak_load_check_hv_mv\":{\"present\":false,\"future\":true,\"unit\":\"boolean\"},\"peak_load_check_hv\":{\"present\":false,\"future\":true,\"unit\":\"boolean\"},\"peak_load_check_total\":{\"present\":false,\"future\":true,\"unit\":\"boolean\"}}}"
  recorded_at: Thu, 06 Dec 2012 11:08:39 GMT
[...]
- request: 
    method: get
    uri: http://etengine.dev/api/v3/scenarios/131303.json
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"cfb69c60330fe382f499a534099f1be2\""
    body: 
      encoding: US-ASCII
      string: "{\"id\":131303,\"title\":\"API\",\"area_code\":\"nl\",\"end_year\":2030,\"url\":\"http://etengine.dev/api/v3/scenarios/131303\",\"source\":\"ETM\",\"template\":1,\"created_at\":\"2012-12-06T12:08:37+01:00\"}"
  recorded_at: Thu, 06 Dec 2012 11:08:40 GMT
- request: 
    method: get
    uri: http://etengine.dev/api/v3/areas/nl.json
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"751e938e1957daa1f97dd29bb0d424e3\""
    body: 
      encoding: US-ASCII
      string: "{\"co2_price\":0.00805,\"man_hours_per_man_year\":1800.0,\"man_year_per_mj_insulation_per_year\":1.22916e-08,\"annual_infrastructure_cost_electricity\":1810.0,\"annual_infrastructure_cost_gas\":1452.0,\"areable_land\":19175.4889,\"available_land\":19175.4889,\"capacity_buffer_decentral_in_mj_s\":20000.0,\"capacity_buffer_in_mj_s\":1600.0,\"co2_emission_1990\":151.2,\"co2_emission_2009\":165.1,\"co2_emission_electricity_1990\":39.92,\"co2_percentage_free\":0.85,\"coast_line\":451.0,\"country\":\"nl\",\"created_at\":\"2010-05-18T14:09:51Z\",\"current_electricity_demand_in_mj\":403061950508,\"economic_multiplier\":1.0,\"el_export_capacity\":16200000.0,\"employment_fraction_production\":0.5,\"employment_local_fraction\":0.2,\"entity\":\"\",\"export_electricity_primary_demand_factor\":1.0,\"has_agriculture\":true,\"has_buildings\":true,\"has_coastline\":true,\"has_cold_network\":false,\"has_climate\":true,\"has_employment\":true,\"has_fce\":true,\"has_industry\":true,\"has_lignite\":false,\"has_merit_order\":true,\"has_metal\":true,\"has_mountains\":false,\"has_old_technologies\":false,\"has_other\":true,\"has_solar_csp\":false,\"heat_recovery\":0.2,\"id\":1,\"import_electricity_primary_demand_factor\":1.82,\"insulation_level_existing_houses\":1.0,\"insulation_level_new_houses\":2.5,\"insulation_level_buildings\":1.0,\"km_per_car\":17452.1,\"km_per_truck\":319729.0,\"land_available_for_solar\":19175.4889,\"market_share_daylight_control\":0.205,\"market_share_motion_detection\":0.265,\"number_households\":7349500.0,\"number_inhabitants\":16530388.0,\"offshore_suitable_for_wind\":16000.0,\"onshore_suitable_for_wind\":11379.0,\"parent_id\":1,\"percentage_of_new_houses\":14.0,\"recirculation\":0.1,\"roof_surface_available_pv\":266.667,\"roof_surface_available_pv_buildings\":133.33,\"updated_at\":\"2011-10-03T07:20:12Z\",\"use_network_calculations\":true,\"ventilation_rate\":2.5,\"area\":\"nl\",\"number_of_existing_households\":6228292.0}"
  recorded_at: Thu, 06 Dec 2012 11:09:26 GMT
[...]
- request: 
    method: put
    uri: http://etengine.dev/api/v3/scenarios/131303
    body: 
      encoding: US-ASCII
      string: autobalance=true&scenario[use_fce]=false&gqueries[]=dashboard_merit_order&gqueries[]=share_of_households_in_final_demand&gqueries[]=peak_load_check_lv&gqueries[]=peak_load_check_mv_lv&gqueries[]=peak_load_check_mv&gqueries[]=peak_load_check_hv_mv&gqueries[]=peak_load_check_hv&gqueries[]=peak_load_check_total
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"72874600834e9e0e7ea223e61361d4fa\""
    body: 
      encoding: US-ASCII
      string: "{\"scenario\":{\"id\":131303,\"title\":\"API\",\"area_code\":\"nl\",\"end_year\":2030,\"url\":\"http://etengine.dev/api/v3/scenarios/131303\",\"source\":\"ETM\",\"template\":1,\"created_at\":\"2012-12-06T12:08:37+01:00\"},\"gqueries\":{\"dashboard_merit_order\":{\"present\":{\"energy_chp_combined_cycle_network_gas\":{\"profitable\":null},\"energy_chp_ultra_supercritical_coal\":{\"profitable\":null},\"energy_chp_ultra_supercritical_crude_oil\":{\"profitable\":null},\"energy_chp_ultra_supercritical_lignite\":{\"profitable\":null},\"energy_power_combined_cycle_ccs_coal\":{\"profitable\":null},\"energy_power_combined_cycle_ccs_network_gas\":{\"profitable\":null},\"energy_power_combined_cycle_coal\":{\"profitable\":null},\"energy_power_combined_cycle_network_gas\":{\"profitable\":null},\"energy_power_engine_diesel\":{\"profitable\":null},\"energy_power_nuclear_gen2_uranium_oxide\":{\"profitable\":null},\"energy_power_nuclear_gen3_uranium_oxide\":{\"profitable\":null},\"energy_power_supercritical_coal\":{\"profitable\":null},\"energy_power_turbine_network_gas\":{\"profitable\":null},\"energy_power_ultra_supercritical_ccs_coal\":{\"profitable\":null},\"energy_power_ultra_supercritical_coal\":{\"profitable\":null},\"energy_power_ultra_supercritical_crude_oil\":{\"profitable\":null},\"energy_power_ultra_supercritical_lignite\":{\"profitable\":null},\"energy_power_ultra_supercritical_network_gas\":{\"profitable\":null},\"energy_power_ultra_supercritical_oxyfuel_ccs_lignite\":{\"profitable\":null}},\"future\":{\"energy_chp_combined_cycle_network_gas\":{\"profitable\":null},\"energy_chp_ultra_supercritical_coal\":{\"profitable\":null},\"energy_chp_ultra_supercritical_crude_oil\":{\"profitable\":null},\"energy_chp_ultra_supercritical_lignite\":{\"profitable\":null},\"energy_power_combined_cycle_ccs_coal\":{\"profitable\":[...]
[...]
- request: 
    method: put
    uri: http://etengine.dev/api/v3/scenarios/131303
    body: 
      encoding: US-ASCII
      string: autobalance=true&scenario[use_fce]=false&gqueries[]=dashboard_profitability&gqueries[]=share_of_households_in_final_demand&gqueries[]=peak_load_check_lv&gqueries[]=peak_load_check_mv_lv&gqueries[]=peak_load_check_mv&gqueries[]=peak_load_check_hv_mv&gqueries[]=peak_load_check_hv&gqueries[]=peak_load_check_total
    headers: {}

  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      encoding: US-ASCII
      string: "{\"errors\":[\"Scenario not found\"]}"
  recorded_at: Tue, 18 Dec 2012 14:22:53 GMT
[...]
- request: 
    method: get
    uri: http://etengine.dev/api/v3/areas.json
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"f5c196d26da743b874a8578d369a1722\""
    body: 
      encoding: US-ASCII
      string: "[{\"co2_price\":0.00497,\"man_hours_per_man_year\":1800.0,\"man_year_per_mj_insulation_per_year\":1.22916e-08,\"useable\":false,\"areable_land\":20.1,\"available_land\":53.0,\"co2_emission_1990\":0.0537,\"co2_emission_2009\":0.0544,\"co2_emission_electricity_1990\":0.01,\"co2_percentage_free\":0.85,\"coast_line\":57.0,\"country\":\"ame\",\"created_at\":\"2010-10-12T13:40:30Z\",\"current_electricity_demand_in_mj\":86099978,\"el_export_capacity\":0.0,\"el_import_capacity\":0.0,\"entity\":\"\",\"export_electricity_primary_demand_factor\":1.0,\"has_agriculture\":true,\"has_buildings\":true,\"has_coastline\":true,\"has_industry\":true,\"has_lignite\":false,\"has_mountains\":false,\"has_old_technologies\":false,\"has_other\":true,\"has_solar_csp\":false,\"heat_recovery\":0.2,\"id\":24,\"import_electricity_primary_demand_factor\":1.82,\"insulation_level_existing_houses\":1.0,\"insulation_level_new_houses\":2.5,\"insulation_level_buildings\":1.0,\"km_per_car\":247.792,\"km_per_truck\":247.792,\"land_available_for_solar\":33.0,\"market_share_daylight_control\":0.205,\"market_share_motion_detection\":0.265,\"number_households\":1502.0,\"number_inhabitants\":3466.0,\"offshore_suitable_for_wind\":55.3,\"onshore_suitable_for_wind\":53.0,\"parent_id\":1,\"percentage_of_new_houses\":14.0,\"recirculation\":0.1,\"roof_surface_available_pv\":0.06,\"roof_surface_available_pv_buildings\":0.03,\"updated_at\":\"2011-03-11T13:27:43Z\",\"use_network_calculations\":false,\"ventilation_rate\":2.5,\"area\":\"ame\",\"number_of_existing_households\":1291.72},{\"co2_price\":0.00497,\"man_hours_per_man_year\":1800.0,\"man_year_per_mj_insulation_per_year\":1.22916e-08,\"useable\":false,\"areable_land\":26.0,\"available_land\":26.0,\"co2_emission_1990\":4.13,\"co2_emission_2009\":4.87,\"co2_emission_electricity_1990\":0.0,\"co2_percentage_free\":0.85,\"coast_line\":0.0,\"cold_network_potential\":480000000.0,\"country\":\"ams\",\"created_at\":\"2010-08-11T08:46:04Z\",\"current_electricity_demand_in_mj\":5164199969,\"el_export_capacity\":0.0,\"el_import_capacity\":0.0,\"entity\":\"\",\"export_electricity_primary_demand_factor\":1.0,\"has_agriculture\":false,\"has_buildings\":true,\"has_coastline\":false,\"has_cold_network\":true,\"has_heat_import\":true,\"has_lignite\":false,\"has_mountains\":false,\"has_old_technologies\":false,\"has_solar_csp\":false,\"heat_recovery\":0.2,\"id\":31,\"import_electricity_primary_demand_factor\":1.82,\"insulation_level_existing_houses\":1.0,\"insulation_level_new_houses\":2.5,\"insulation_level_buildings\":1.0,\"km_per_car\":247.792,\"km_per_truck\":247.792,\"land_available_for_solar\":0.0,\"market_share_daylight_control\":0.205,\"market_share_motion_detection\":0.265,\"number_households\":389230.0,\"number[...]
- request: 
    method: post
    uri: http://etengine.dev/api/v3/scenarios
    body: 
      encoding: US-ASCII
      string: scenario[area_code]=nl&scenario[end_year]=2030&scenario[source]=ETM&scenario[scenario_id]=80
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"111f0f2829ff77862e2b77d153446faf\""
    body: 
      encoding: US-ASCII
      string: "{\"id\":144335,\"title\":\"API\",\"area_code\":\"nl\",\"end_year\":2030,\"url\":\"http://etengine.dev/api/v3/scenarios/144335\",\"ordering\":null,\"source\":\"ETM\",\"template\":80,\"created_at\":\"2013-05-06T15:18:24+02:00\"}"
  recorded_at: Mon, 06 May 2013 13:18:24 GMT
[...]
- request: 
    method: put
    uri: http://etengine.dev/api/v3/scenarios/144335
    body: 
      encoding: US-ASCII
      string: autobalance=true&scenario[use_fce]=false&gqueries[]=dashboard_profitability&gqueries[]=share_of_households_in_final_demand&gqueries[]=peak_load_check_lv&gqueries[]=peak_load_check_mv_lv&gqueries[]=peak_load_check_mv&gqueries[]=peak_load_check_hv_mv&gqueries[]=peak_load_check_hv&gqueries[]=peak_load_check_total
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"02e67c2cb4c77039954abf39cc000ab9\""
    body: 
      encoding: US-ASCII
      string: "{\"scenario\":{\"id\":144335,\"title\":\"API\",\"area_code\":\"nl\",\"end_year\":2030,\"url\":\"http://etengine.dev/api/v3/scenarios/144335\",\"ordering\":null,\"source\":\"ETM\",\"template\":80,\"created_at\":\"2013-05-06T15:18:24+02:00\"},\"gqueries\":{\"dashboard_profitability\":{\"present\":{\"energy_chp_combined_cycle_network_gas\":{\"profitability\":null,\"full_load_hours\":5142.78799612778,\"position\":null,\"capacity\":2975.0400000000054,\"profit_per_mwh_electricity\":null},\"energy_chp_ultra_supercritical_coal\":{\"profitability\":null,\"full_load_hours\":6404.29304028073,\"position\":null,\"capacity\":1469.584563185683,\"profit_per_mwh_electricity\":null},\"energy_chp_ultra_supercritical_crude_oil\":{\"profitability\":null,\"full_load_hours\":3504.0,\"position\":null,\"capacity\":0.0,\"profit_per_mwh_electricity\":null},\"energy_power_combined_cycle_ccs_coal\":{\"profitability\":null,\"full_load_hours\":5971.71063829788,\"position\":null,\"capacity\":0.0,\"[...]
- request: 
    method: get
    uri: http://etengine.dev/api/v3/scenarios/144335.json
    body: 
      encoding: US-ASCII
[...]
