--- 
http_interactions: 
- request: 
    method: get
    uri: http://etengine.dev/api/v3/scenarios/80.json?detailed=true
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"746f2bf9260f8103a1ca4786d0a648b9\""
    body: 
      encoding: US-ASCII
      string: "{\"id\":80,\"title\":\"Jolande Sap - GroenLinks\",\"area_code\":\"nl\",\"start_year\":2011,\"end_year\":2030,\"description\":\"<span class='nl'> <p>Dit scenario is gemaakt door Jolande Sap (Lijsttrekker GroenLinks) voor het televisieprogramma 'Watt Nu?!'. Als u dit scenario opent kunt u zien welke instellingen Mevr. Sap gedaan heeft. De uitzending zelf kunt u nakijken op <a href='http://rtl.nl/xl/#/u/32f8fbaf-fbc2-30b0-9762-435bdae07afa' target='_new'> RTL XL</a></p>\\n<p>Jolande Sap staat sinds eind 2010 aan het roer van GroenLinks. Ze gelooft heilig in het credo: 'de vervuiler betaalt'. Als het aan haar ligt komt er morgen nog een belasting op kolen zodat duurzaam opgewekte  energie een eerlijkere concurrentiepositie krijgt.</p></span>\\n<span class='en'> <p>This scenario has been made by Jolande Sap (Political leader GroenLinks) for the TV show 'Watt Nu?!'. When you open this scenario you can see all the measures that Ms. Sap took for her scenario. The show itself can be seen on <a href='http://rtl.nl/xl/#/u/32f8fbaf-fbc2-30b0-9762-435bdae07afa' target='_new'> RTL XL</a></p></span>\",\"url\":\"http://etengine.dev/api/v3/scenarios/80\",\"ordering\":null,\"display_group\":null,\"source\":null,\"template\":null,\"created_at\":\"2012-03-01T13:52:33+01:00\",\"use_fce\":false,\"user_values\":{\"policy_sustainability_co2_emissions\":-45.0,\"households_number_of_inhabitants\":16.530388,\"households_useful_demand_heat_per_person\":0.0,\"households_useful_demand_for_cooling\":0.1,\"households_insulation_level_old_houses\":0.74,\"households_insulation_level_new_houses\":2.9961099932930924,\"households_space_heater_combined_network_gas_share\":3.0777099337146074,\"households_space_heater_district_heating_steam_hot_water_share\":15.388549668573036,\"households_space_heater_heatpump_ground_water_electricity_share\":30.777099337146073,\"households_space_heater_micro_chp_network_gas_share\":30.777099337146073,\"households_space_heater_electricity_share\":0.0,\"households_space_heater_heatpump_add_on_electricity_share\":33.3,\"households_behavior_standby_killer_turn_off_appliances\":20.0,\"households_behavior_turn_off_the_light\":20.0,\"households_behavior_close_windows_turn_off_heating\":10.0,\"households_behavior_low_temperature_washing\":10.0,\"households_lighting_incandescent_electricity_share\":0.0,\"households_lighting_led_electricity_share\":69.4,\"households_lighting_efficient_fluorescent_electricity_share\":30.6,\"households_appliances_dishwasher_electricity_efficiency\":70.0,\"households_appliances_fridge_freezer_electricity_efficiency\":70.0,\"households_appliances_washing_machine_electricity_efficiency\":70.0,\"households_appliances_clothes_dryer_electricity_efficiency\":70.0,\"households_appliances_television_electricity_efficiency\":70.0,\"households_appliances_computer_media_electricity_efficiency\":70.0,\"households_appliances_vacuum_cleaner_electricity_efficiency\":70.0,\"households_appliances_other_electricity_efficiency\":70.0,\"transport_useful_demand_trains\":5.0,\"transport_useful_demand_car_kms\":0.0,\"transport_useful_demand_ships\":2.0,\"transport_useful_demand_truck_kms\":0.0,\"transport_car_using_electricity_share\":80.0,\"transport_car_using_diesel_mix_share\":0.0,\"transport_car_using_gasoline_mix_share\":5.4,\"transport_car_using_compressed_natural_gas_share\":10.0,\"transport_truck_using_electricity_share\":40.0,\"transport_truck_using_diesel_mix_share\":50.0,\"transport_truck_using_compressed_natural_gas_share\":10.0,\"transport_train_using_diesel_share\":0.0,\"transport_train_using_electricity_share\":100.0,\"transport_useful_demand_trains_efficiency\":3.0,\"transport_useful_demand_ships_efficiency\":1.0,\"transport_car_using_diesel_mix_efficiency\":2.0,\"transport_car_using_electricity_efficiency\":2.0,\"industry_useful_demand_electricity\":1.0,\"industry_useful_demand_useable_heat\":1.0,\"industry_useful_demand_crude_oil_non_energetic\":-2.0,\"industry_useful_demand_electricity_efficiency\":3.0,\"industry_useful_demand_useable_heat_efficiencty\":3.0,\"industry_burner_network_gas_share\":0.0,\"industry_burner_wood_pellets_share\":30.0,\"industry_burner_crude_oil_share\":0.0,\"industry_final_demand_steam_hot_water_share\":70.0,\"industry_burner_coal_share\":0.0,\"industry_number_of_biomass_chp\":24.1,\"number_of_industry_chp_combined_cycle_gas_power_fuelmix\":29.5484,\"agriculture_useful_demand_electricity\":-1.0,\"agriculture_useful_demand_useable_heat\":-1.0,\"agriculture_burner_network_gas_share\":0.0,\"agriculture_burner_crude_oil_share\":0.0,\"agriculture_geothermal_share\":60.0,\"agriculture_burner_wood_pellets_share\":0.0,\"agriculture_heatpump_water_water_ts_electricity_share\":0.0,\"agriculture_final_demand_steam_hot_water_share\":40.0,\"other_useful_demand_useable_heat\":-1.0,\"buildings_insulation_level\":1.0866666666666664,\"buildings_space_heater_network_gas_share\":50.0,\"buildings_space_heater_solar_thermal_share\":13.0,\"buildings_heat_network_connection_steam_hot_water_share\":74.66259450903208,\"buildings_space_heater_electricity_share\":0.0,\"buildings_space_heater_collective_heatpump_water_water_ts_electricity_share\":10.2,\"buildings_cooling_collective_heatpump_water_water_ts_electricity_share\":28.7,\"buildings_cooling_airconditioning_share\":44.4,\"buildings_cooling_heatpump_air_water_network_gas_share\":26.9,\"buildings_lighting_standard_fluorescent_electricity_share\":52.8,\"buildings_lighting_efficient_fluorescent_electricity_share\":0.0,\"buildings_lighting_led_electricity_share\":47.2,\"policy_cost_total_energy_cost\":47.0,\"costs_uranium\":5.0,\"costs_oil\":200.0,\"costs_coal\":100.0,\"costs_gas\":150.0,\"costs_biomass\":100.0,\"costs_co2\":500.0,\"costs_co2_free_allocation\":0.0,\"investment_costs_earth_geothermal_electricity\":-20.0,\"investment_costs_solar_solar_panels\":-50.0,\"investment_costs_water_river\":-15.0,\"investment_costs_wind_onshore\":-20.0,\"investment_costs_wind_offshore\":-35.0,\"investment_costs_nuclear_nuclear_plant\":25.0,\"buildings_solar_pv_solar_radiation_market_penetration\":60.0,\"households_solar_pv_solar_radiation_market_penetration\":65.0,\"number_of_energy_power_ultra_supercritical_coal\":0.0,\"number_of_energy_power_combined_cycle_coal\":0.0,\"number_of_energy_chp_ultra_supercritical_coal\":0.0,\"number_of_energy_power_nuclear_gen3_uranium_oxide\":0.0,\"number_of_energy_power_wind_turbine_inland\":2500.0,\"number_of_energy_power_wind_turbine_coastal\":800.0,\"number_of_energy_power_wind_turbine_offshore\":3000.0,\"number_of_energy_power_hydro_river\":5.0,\"number_of_energy_power_geothermal\":3.0,\"number_of_energy_power_solar_pv_solar_radiation\":2.0,\"number_of_energy_power_supercritical_waste_mix\":5.0,\"number_of_energy_heater_for_heat_network_wood_pellets\":3.0,\"transport_road_mixer_diesel_diesel_share\":100.0,\"transport_road_mixer_diesel_biodiesel_share\":0.0,\"transport_road_mixer_gasoline_gasoline_share\":100.0,\"transport_road_mixer_gasoline_ethanol_share\":0.0,\"transport_plane_using_kerosene_share\":95.0,\"transport_plane_using_bio_ethanol_share\":5.0,\"transport_ship_using_diesel_share\":70.0,\"transport_ship_using_biodiesel_share\":30.0,\"natural_gas_total_share\":98.0,\"green_gas_total_share\":2.0,\"energy_mixer_for_gas_power_fuel_natural_gas_share\":100.0,\"energy_mixer_for_gas_power_fuel_crude_oil_share\":0.0,\"number_of_energy_power_ultra_supercritical_network_gas\":0.0,\"number_of_energy_power_combined_cycle_network_gas\":0.0,\"number_of_energy_chp_combined_cycle_network_gas\":10.12,\"policy_sustainability_renewable_percentage\":36.3,\"households_water_heater_combined_network_gas_share\":42.90341631323419,\"households_water_heater_heatpump_ground_water_electricity_share\":20.001592686822466,\"households_water_heater_micro_chp_network_gas_share\":20.001592686822466,\"households_water_heater_district_heating_steam_hot_water_share\":10.000796343411233,\"households_water_heater_network_gas_share\":0.0,\"households_water_heater_solar_thermal_share\":100.0,\"households_collective_geothermal_share\":20.0,\"households_heat_network_connection_steam_hot_water_share\":80.0,\"number_of_agriculture_chp_engine_network_gas\":781.5721081831999,\"households_water_heater_wood_pellets_share\":0.0,\"households_water_heater_resistive_electricity_share\":7.092601969709644,\"households_water_heater_fuel_cell_chp_network_gas_share\":0.0,\"households_water_heater_crude_oil_share\":0.0,\"households_water_heater_coal_share\":0.0,\"households_space_heater_wood_pellets_share\":3.934513602161416,\"households_space_heater_heatpump_air_water_electricity_share\":0.0,\"households_space_heater_network_gas_share\":14.037975299651187,\"households_space_heater_crude_oil_share\":1.9123247569852933,\"households_space_heater_coal_share\":0.09472806462231848,\"buildings_collective_chp_network_gas_share\":25.337405490967935,\"buildings_collective_chp_wood_pellets_share\":0.0,\"buildings_collective_geothermal_share\":0.0,\"buildings_space_heater_district_heating_steam_hot_water_share\":20.1,\"buildings_space_heater_heatpump_air_water_network_gas_share\":3.22,\"buildings_space_heater_crude_oil_share\":3.4601463,\"buildings_space_heater_wood_pellets_share\":0.0,\"transport_plane_using_gasoline_share\":0.0,\"transport_ship_using_heavy_fuel_oil_share\":0.0,\"investment_costs_fuel_cell\":-74.0,\"number_of_energy_power_ultra_supercritical_ccs_coal\":0.0,\"co_firing_biocoal_share\":0.0,\"co_firing_coal_share\":100.0,\"households_cooling_heatpump_ground_water_electricity_share\":0.0,\"households_cooling_heatpump_air_water_electricity_share\":0.0,\"households_cooling_airconditioning_electricity_share\":100.0,\"households_water_heater_heatpump_air_water_electricity_share\":0.0,\"number_of_industry_chp_turbine_gas_power_fuelmix\":0.0,\"number_of_industry_chp_engine_gas_power_fuelmix\":0.0,\"number_of_agriculture_chp_supercritical_wood_pellets\":0.0,\"number_of_agriculture_chp_engine_biogas\":0.0,\"number_of_other_chp_engine_network_gas\":0.0,\"number_of_other_chp_engine_biogas\":0.0,\"number_of_energy_chp_supercritical_waste_mix\":0.0,\"households_collective_chp_network_gas_share\":0.0,\"households_collective_chp_wood_pellets_share\":0.0,\"households_collective_chp_biogas_share\":0.0,\"households_useful_demand_electric_appliances\":2.0,\"households_useful_demand_lighting\":2.0,\"households_number_of_old_houses\":5.717653863309339,\"households_number_of_new_houses\":1.6318461366906611,\"number_of_energy_power_ultra_supercritical_cofiring_coal\":0.0,\"number_of_energy_chp_ultra_supercritical_cofiring_coal\":0.0,\"households_useful_demand_cooking_per_person\":0.0}}"
  recorded_at: Mon, 16 Sep 2013 18:26:20 GMT
[...]
- request: 
    method: post
    uri: http://etengine.dev/api/v3/scenarios
    body: 
      encoding: US-ASCII
      string: scenario[area_code]=nl&scenario[end_year]=2030&scenario[source]=ETM&scenario[scenario_id]=80
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"76fd4bd6cd37c1cd68af6ecc0bf0c707\""
    body: 
      encoding: US-ASCII
      string: "{\"id\":206160,\"title\":\"API\",\"area_code\":\"nl\",\"start_year\":2011,\"end_year\":2030,\"url\":\"http://etengine.dev/api/v3/scenarios/206160\",\"ordering\":null,\"display_group\":null,\"source\":\"ETM\",\"template\":80,\"created_at\":\"2013-09-16T20:26:21+02:00\"}"
  recorded_at: Mon, 16 Sep 2013 18:26:21 GMT
- request: 
    method: get
    uri: http://etengine.dev/api/v3/scenarios/206160/inputs.json
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"dfc2a44e51615efcb26309a67c6a1032\""
    body: 
      encoding: US-ASCII
      string: "{\"agriculture_burner_crude_oil_share\":{\"min\":0.0,\"max\":100.0,\"default\":12.976081123450406,\"user\":0.0,\"share_group\":\"agri_heat\"},\"agriculture_burner_network_gas_share\":{\"min\":0.0,\"max\":100.0,\"default\":34.99814539096948,\"user\":0.0,\"share_group\":\"agri_heat\"},\"agriculture_burner_wood_pellets_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.7935278846332968,\"user\":0.0,\"share_group\":\"agri_heat\"},\"agriculture_final_demand_steam_hot_water_share\":{\"min\":0.0,\"max\":100.0,\"default\":50.48780233012684,\"user\":40.0,\"share_group\":\"agri_heat\"},\"agriculture_geothermal_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.3418681239561944,\"user\":60.0,\"share_group\":\"agri_heat\"},\"agriculture_heatpump_water_water_ts_electricity_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.40257514686378093,\"user\":0.0,\"share_group\":\"agri_heat\"},\"agriculture_useful_demand_electricity\":{\"min\":-5.0,\"max\":5.0,\"default\":0.0,\"user\":-1.0},\"agriculture_useful_demand_useable_heat\":{\"min\":-5.0,\"max\":5.0,\"default\":0.0,\"user\":-1.0},\"number_of_agriculture_chp_engine_biogas\":{\"min\":0.0,\"max\":1882.5957525627,\"default\":61.23360058309038,\"user\":0.0},\"number_of_agriculture_chp_engine_network_gas\":{\"min\":0.0,\"max\":2778.6776244058287,\"default\":1389.3388122029144,\"user\":781.5721081831999},\"number_of_agriculture_chp_supercritical_wood_pellets\":{\"min\":0.0,\"max\":1338.199263474969,\"default\":0.0,\"user\":0.0},\"bio_ethanol_from_beet_sugar_share\":{\"min\":0.0,\"max\":100.0,\"default\":60.0,\"share_group\":\"bio_ethanol_fce\"},\"bio_ethanol_from_cane_sugar_share\":{\"min\":0.0,\"max\":100.0,\"default\":40.0,\"share_group\":\"bio_ethanol_fce\"},\"biodiesel_from_palm_oil_share\":{\"min\":0.0,\"max\":100.0,\"default\":80.0,\"share_group\":\"biodiesel_fce\"},\"biodiesel_from_waste_fats_share\":{\"min\":0.0,\"max\":100.0,\"default\":20.0,\"share_group\":\"biodiesel_fce\"},\"buildings_cooling_airconditioning_share\":{\"min\":0.0,\"max\":100.0,\"default\":79.64201857876454,\"user\":44.4,\"share_group\":\"cooling_buildings\"},\"buildings_cooling_collective_cooling_network_electricity_share\":{\"min\":0.0,\"max\":0.0,\"default\":0.0,\"disabled\":true,\"share_group\":\"cooling_buildings\"},\"buildings_cooling_collective_heatpump_water_water_ts_electricity_share\":{\"min\":0.0,\"max\":100.0,\"default\":3.411457130694446,\"user\":28.7,\"share_group\":\"cooling_buildings\"},\"buildings_cooling_heatpump_air_water_network_gas_share\":{\"min\":0.0,\"max\":100.0,\"default\":16.94652429054103,\"user\":26.9,\"share_group\":\"cooling_buildings\"},\"buildings_chp_engine_biogas_share\":{\"min\":0.0,\"max\":100.0,\"default\":4.03538863396955,\"share_group\":\"district_heating_buildings\"},\"buildings_collective_chp_network_gas_share\":{\"min\":0.0,\"max\":100.0,\"default\":5.213772697235833,\"user\":25.337405490967935,\"share_group\":\"district_heating_buildings\"},\"buildings_collective_chp_wood_pellets_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"user\":0.0,\"share_group\":\"district_heating_buildings\"},\"buildings_collective_geothermal_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"user\":0.0,\"share_group\":\"district_heating_buildings\"},\"buildings_heat_network_connection_steam_hot_water_share\":{\"min\":0.0,\"max\":100.0,\"default\":90.75083866879461,\"user\":74.66259450903208,\"share_group\":\"district_heating_buildings\"},\"buildings_space_heater_crude_oil_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"user\":3.4601463,\"share_group\":\"heating_buildings\"},\"buildings_space_heater_coal_share\":{\"min\":0.0,\"max\":100.0,\"default\":0.0,\"share_group\":\"heating_buildings\"},\"buildings_space_heater_collective_heatpump_water_water_ts_electricity_share\":{\"min\":0.0,\"max\":100.0,\"default\":1.9333747828025105,\"user\":10.2,\"share_group\":\"heating_buildings\"},\"buildings_space_heater_district_heating_steam_hot_water_share\":{\"min\":0.0,\"max\":100.0,\"default\":10.47540250966177,\"user\":20.1,\"share_group\":\"heating_buildings\"},\"buildings_space_heater_electricity_share\":{\"min[...]
- request: 
    method: put
    uri: http://etengine.dev/api/v3/scenarios/206160
    body: 
      encoding: US-ASCII
      string: autobalance=true&scenario[use_fce]=false&gqueries[]=dashboard_profitability&gqueries[]=share_of_households_in_final_demand&gqueries[]=peak_load_check_lv&gqueries[]=peak_load_check_mv_lv&gqueries[]=peak_load_check_mv&gqueries[]=peak_load_check_hv_mv&gqueries[]=peak_load_check_hv&gqueries[]=peak_load_check_total
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"d88431723bd5ac7948f43eead8e47edc\""
    body: 
      encoding: US-ASCII
      string: "{\"scenario\":{\"id\":206160,\"title\":\"API\",\"area_code\":\"nl\",\"start_year\":2011,\"end_year\":2030,\"url\":\"http://etengine.dev/api/v3/scenarios/206160\",\"ordering\":null,\"display_group\":null,\"source\":\"ETM\",\"template\":80,\"created_at\":\"2013-09-16T20:26:21+02:00\"},\"gqueries\":{\"dashboard_profitability\":{\"present\":{\"energy_chp_combined_cycle_network_gas\":{\"profitability\":null,\"full_load_hours\":6000,\"position\":null,\"capacity\":3672.6000003333334,\"profit_per_mwh_electricity\":null},\"energy_chp_ultra_supercritical_coal\":{\"profitability\":null,\"full_load_hours\":8000,\"position\":null,\"capacity\":477.4,\"profit_per_mwh_electricity\":null},\"energy_power_combined_cycle_ccs_coal\":{\"profitability\":null,\"full_load_hours\":5972,\"position\":null,\"capacity\":0.0,\"profit_per_mwh_electricity\":null},\"energy_power_combined_cycle_ccs_network_gas\":{\"profitability\":null,\"full_load_hours\":4818,\"position\":null,\"capacity\":0.0,\"profit_per_mwh_electricity\":null},\"energy_power_combined_cycle_coal\":{\"profitability\":null,\"full_load_hours\":5099,\"position\":null,\"capacity\":133.27907432859385,\"profit_per_mwh_electricity\":null},\"energy_power_combined_cycle_network_gas\":{\"profitability\":null,\"full_load_hours\":5522,\"position\":null,\"capacity\":4128.222745382108,\"profit_per_mwh_electricity\":null},\"energy_power_engine_diesel\":{\"profitability\":null,\"full_load_hours\":3504,\"position\":null,\"capacity\":0.0,\"profit_per_mwh_electricity\":null},\"energy_power_nuclear_gen2_uranium_oxide\":{\"profitability\":null,\"full_load_hours\":5256,\"position\":null,\"capacity\":0.0,\"profit_per_mwh_electricity\":null},\"energy_power_nuclear_gen3_uranium_oxide\":{\"profitability\":null,\"full_load_hours\":7843,\"position\":null,\"capacity\":475.18806579115136,\"profit_per_mwh_electricity\":null},\"energy_power_supercritical_coal\":{\"profitability\":null,\"full_load_hours\":4400,\"position\":null,\"capacity\":916.4168181818181,\"profit_per_mwh_electricity\":null},\"energy_power_turbine_network_gas\":{\"profitability\":null,\"full_load_hours\":906,\"position\":null,\"capacity\":273.42450333308807,\"profit_per_mwh_electricity\":null},\"energy_power_ultra_supercritical_ccs_coal\":{\"profitability\":null,\"full_load_hours\":5972,\"position\":null,\"capacity\":0.0,\"profit_per_mwh_electricity\":null},\"energy_power_ultra_supercritical_coal\":{\"profitability\":null,\"full_load_hours\":6919,\"position\":null,\"capacity\":1248.4960254160044,\"profit_per_mwh_electricity\":null},\"energy_power_ultra_supercritical_crude_oil\":{\"profitability\":null,\"full_load_hours\":3504,\"position\":null,\"capacity\":0.0,\"profit_per_mwh_electricity\":null},\"energy_power_ultra_supercritical_network_gas\":{\"profitability\":null,\"full_load_hours\":1388,\"position\":null,\"capacity\":1427.7959654178674,\"profit_per_mwh_electricity\":null}},\"future\":{\"energy_chp_combined_cycle_network_gas\":{\"profitability\":null,\"full_load_hours\":6000,\"position\":null,\"capacity\":1071.101692584,\"profit_per_mwh_electricity\":null},\"energy_chp_ultra_supercritical_coal\":{\"profitability\":null,\"full_load_hours\":8000,\"position\":null,\"capacity\":0.0,\"profit_per_mwh_electricity\":null},\"energy_power_combined_cycle_ccs_coal\":{\"profitability\":null,\"full_load_hours\":5972,\"position\":null,\"capacity\":0.0,\"profit_per_mwh_electricity\":null},\"[...]
- request: 
    method: get
    uri: http://etengine.dev/api/v3/scenarios/206160.json
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"76fd4bd6cd37c1cd68af6ecc0bf0c707\""
    body: 
      encoding: US-ASCII
      string: "{\"id\":206160,\"title\":\"API\",\"area_code\":\"nl\",\"start_year\":2011,\"end_year\":2030,\"url\":\"http://etengine.dev/api/v3/scenarios/206160\",\"ordering\":null,\"display_group\":null,\"source\":\"ETM\",\"template\":80,\"created_at\":\"2013-09-16T20:26:21+02:00\"}"
  recorded_at: Mon, 16 Sep 2013 18:26:22 GMT
recorded_with: VCR 2.4.0
