%h2 Notification details

%dl
  %dt Notification_nl
  %dd= @notification.notification_nl
  %dt Notification_en
  %dd= @notification.notification_en
  %dt Active
  %dd= @notification.active

= link_to 'edit', edit_admin_general_user_notification_path(@notification)
  